---
http_interactions:
- request:
    method: post
    uri: https://oauth2.googleapis.com/token
    body:
      encoding: ASCII-8BIT
      string: grant_type=refresh_token&refresh_token=<REFRESH TOKEN FOR TRACKING ACCOUNT>&client_id=<CLIENT
        ID>&client_secret=<CLIENT SECRET>
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "access_token": "<ACCESS TOKEN FOR TRACKING ACCOUNT>",
          "expires_in": 3600,
          "scope": "https://www.googleapis.com/auth/drive",
          "token_type": "Bearer"
        }
  recorded_at: Mon, 29 Oct 2018 16:07:11 GMT
- request:
    method: post
    uri: https://www.googleapis.com/drive/v3/files?fields=id,name,mimeType,parents,permissions,trashed,thumbnailLink,thumbnailVersion
    body:
      encoding: UTF-8
      string: '{"mimeType":"application/vnd.google-apps.folder","name":"Test @ 2018-10-29
        16:07:11 UTC","parents":["root"]}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <ACCESS TOKEN FOR TRACKING ACCOUNT>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "id": "1DaC44eOR6Mj1bctnYmrWLSv-hM2t7XBu",
         "name": "Test @ 2018-10-29 16:07:11 UTC",
         "mimeType": "application/vnd.google-apps.folder",
         "trashed": false,
         "parents": [
          "0AIeK5UAEPQfeUk9PVA"
         ],
         "thumbnailVersion": "0",
         "permissions": [
          {
           "kind": "drive#permission",
           "id": "11673017242486491425",
           "type": "user",
           "emailAddress": "<EMAIL ADDRESS FOR TRACKING ACCOUNT>",
           "role": "owner",
           "displayName": "Upshift One",
           "deleted": false
          }
         ]
        }
  recorded_at: Mon, 29 Oct 2018 16:07:12 GMT
[...]
- request:
    method: patch
    uri: https://www.googleapis.com/upload/drive/v3/files/16adIvjaP2WqdL-67EVs8lvrHuUCY1kxNMSJ8oan1Njg
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR TRACKING ACCOUNT>
      X-Goog-Upload-Protocol:
      - resumable
      X-Goog-Upload-Command:
      - start
      X-Goog-Upload-Header-Content-Length:
      - '16'
      X-Goog-Upload-Header-Content-Type:
      - application/octet-stream
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Goog-Upload-Status:
      - active
      X-Goog-Upload-Url:
      - https://www.googleapis.com/upload/drive/v3/files/16adIvjaP2WqdL-67EVs8lvrHuUCY1kxNMSJ8oan1Njg?upload_id=AEnB2Ur46_7WyPK1Wr53NQyPtlsGBPO9-ImjFni7w5U6pWFcVS4ksx8agtf5GdB2_mQYZDVL2Sj9cBZZzE93urQaUttHSF7Q9Q&upload_protocol=resumable
      X-Goog-Upload-Control-Url:
      - https://www.googleapis.com/upload/drive/v3/files/16adIvjaP2WqdL-67EVs8lvrHuUCY1kxNMSJ8oan1Njg?upload_id=AEnB2Ur46_7WyPK1Wr53NQyPtlsGBPO9-ImjFni7w5U6pWFcVS4ksx8agtf5GdB2_mQYZDVL2Sj9cBZZzE93urQaUttHSF7Q9Q&upload_protocol=resumable
      X-Goog-Upload-Chunk-Granularity:
      - '262144'
      X-Goog-Upload-Header-Vary:
      - Origin
      - X-Origin
      X-Goog-Upload-Header-X-Google-Backends:
      - oige202:4193
      X-Goog-Upload-Header-X-Google-Session-Info:
      - CLrLzJuGFRoCGAY6fgoeZHJpdmUtZ2Vub2Etc2VydmVyLWFwaWFyeS1wcm9kEgVkcml2ZRiDqMHn7wUiSDIwMTgxMjEwNDE5NS1pcDNwN2xrcWE1N29lYm84NTkwZXJtZ2E3MjBpMW5uaC5hcHBzLmdvb2dsZXVzZXJjb250ZW50LmNvbTDxDjDvDkqXARKDAXlhMjkuR2x4RkJoLW1HdnVyZ3lNWjhKZVRhbFlrY1R5SWwtNHdUQ0V1TExJNWxJSjgwcktHb0lGMkUzNGc2dVVpQTA5MkxrTEFoU3BGX3J1ckZvSXVlX3Z6WDBDYWk5YVlwNjFzcE83dFh2Z1I4UDdlZkdCQ3Y4cnJ2aVRMM25sZ1FBMAQ6DTEvMk0zUkd3d1ZsWn4
      X-Goog-Upload-Header-Cache-Control:
      - no-cache, no-store, max-age=0, must-revalidate
      X-Goog-Upload-Header-Pragma:
      - no-cache
      X-Goog-Upload-Header-Expires:
      - Mon, 01 Jan 1990 00:00:00 GMT
      X-Goog-Upload-Header-Date:
      - Mon, 29 Oct 2018 16:07:15 GMT
      Content-Type:
      - text/html; charset=UTF-8
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Mon, 29 Oct 2018 16:07:16 GMT
- request:
    method: post
    uri: https://www.googleapis.com/upload/drive/v3/files/16adIvjaP2WqdL-67EVs8lvrHuUCY1kxNMSJ8oan1Njg?upload_id=AEnB2Ur46_7WyPK1Wr53NQyPtlsGBPO9-ImjFni7w5U6pWFcVS4ksx8agtf5GdB2_mQYZDVL2Sj9cBZZzE93urQaUttHSF7Q9Q&upload_protocol=resumable
    body:
      encoding: UTF-8
      string: new file content
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR TRACKING ACCOUNT>
      X-Goog-Upload-Command:
      - upload, finalize
      X-Goog-Upload-Offset:
      - '0'
      Content-Type:
      - application/octet-stream
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Goog-Upload-Status:
      - final
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "drive#file",
         "id": "16adIvjaP2WqdL-67EVs8lvrHuUCY1kxNMSJ8oan1Njg",
         "name": "Test File",
         "mimeType": "application/vnd.google-apps.document"
        }
  recorded_at: Mon, 29 Oct 2018 16:07:17 GMT
- request:
    method: patch
    uri: https://www.googleapis.com/drive/v3/files/16adIvjaP2WqdL-67EVs8lvrHuUCY1kxNMSJ8oan1Njg?fields=id,name,mimeType,parents,permissions,trashed,thumbnailLink,thumbnailVersion
    body:
      encoding: UTF-8
      string: '{"trashed":"true"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <ACCESS TOKEN FOR TRACKING ACCOUNT>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "id": "16adIvjaP2WqdL-67EVs8lvrHuUCY1kxNMSJ8oan1Njg",
         "name": "Test File",
         "mimeType": "application/vnd.google-apps.document",
         "trashed": true,
         "parents": [
          "1DaC44eOR6Mj1bctnYmrWLSv-hM2t7XBu"
         ],
         "thumbnailLink": "https://docs.google.com/feeds/vt?gd=true&id=16adIvjaP2WqdL-67EVs8lvrHuUCY1kxNMSJ8oan1Njg&v=1&s=AMedNnoAAAAAW9dMWn6psMbDcxzok5V8zSJexqSUL9SZ&sz=s220",
         "thumbnailVersion": "1",
         "permissions": [
          {
           "kind": "drive#permission",
           "id": "11673017242486491425",
           "type": "user",
           "emailAddress": "<EMAIL ADDRESS FOR TRACKING ACCOUNT>",
           "role": "owner",
           "displayName": "Upshift One",
           "deleted": false
          }
         ]
        }
  recorded_at: Mon, 29 Oct 2018 16:07:22 GMT
[...]
- request:
    method: delete
    uri: https://www.googleapis.com/drive/v3/files/1DaC44eOR6Mj1bctnYmrWLSv-hM2t7XBu
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR TRACKING ACCOUNT>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 204
      message: No Content
    headers:
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Mon, 29 Oct 2018 16:07:24 GMT
recorded_with: VCR 4.0.0
