---
http_interactions:
- request:
    method: post
    uri: https://www.googleapis.com/oauth2/v4/token
    body:
      encoding: ASCII-8BIT
      string: grant_type=refresh_token&refresh_token=<REFRESH TOKEN FOR TRACKING ACCOUNT>&client_id=<CLIENT
        ID>&client_secret=<CLIENT SECRET>
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "access_token": "<ACCESS TOKEN FOR TRACKING ACCOUNT>",
         "token_type": "Bearer",
         "expires_in": 3600
        }
  recorded_at: Sun, 18 Mar 2018 20:41:00 GMT
- request:
    method: post
    uri: https://www.googleapis.com/drive/v3/files?fields=id,name,mimeType,parents,trashed,thumbnailLink,thumbnailVersion
    body:
      encoding: UTF-8
      string: '{"mimeType":"application/vnd.google-apps.folder","name":"Test @ 2018-03-18
        20:41:00 UTC","parents":["root"]}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <ACCESS TOKEN FOR TRACKING ACCOUNT>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "id": "1pCPt1CdvkkH4eStCopFGjiH1r0MOPG-R",
         "name": "Test @ 2018-03-18 20:41:00 UTC",
         "mimeType": "application/vnd.google-apps.folder",
         "trashed": false,
         "parents": [
          "0AIeK5UAEPQfeUk9PVA"
         ],
         "thumbnailVersion": "0"
        }
  recorded_at: Sun, 18 Mar 2018 20:41:01 GMT
[...]
- request:
    method: patch
    uri: https://www.googleapis.com/upload/drive/v3/files/1A90MwGttK_sBOUgTZwTmbs-VDYUvTkqQ1aQtUhX_uco
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR TRACKING ACCOUNT>
      X-Goog-Upload-Protocol:
      - resumable
      X-Goog-Upload-Command:
      - start
      X-Goog-Upload-Header-Content-Length:
      - '16'
      X-Goog-Upload-Header-Content-Type:
      - application/octet-stream
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Goog-Upload-Status:
      - active
      X-Goog-Upload-Url:
      - https://www.googleapis.com/upload/drive/v3/files/1A90MwGttK_sBOUgTZwTmbs-VDYUvTkqQ1aQtUhX_uco?upload_id=AEnB2UpbDDCqIEh9WNDQM9R0L7fNmyvqpH-hD3nvvTIBXYQ5yO9Jeg9r1S27e0Wkk9VMpM_DPUXz_9scvZ3qJoB6G0bD5hEEQg&upload_protocol=resumable
      X-Goog-Upload-Control-Url:
      - https://www.googleapis.com/upload/drive/v3/files/1A90MwGttK_sBOUgTZwTmbs-VDYUvTkqQ1aQtUhX_uco?upload_id=AEnB2UpbDDCqIEh9WNDQM9R0L7fNmyvqpH-hD3nvvTIBXYQ5yO9Jeg9r1S27e0Wkk9VMpM_DPUXz_9scvZ3qJoB6G0bD5hEEQg&upload_protocol=resumable
      X-Goog-Upload-Chunk-Granularity:
      - '262144'
      X-Goog-Upload-Header-Vary:
      - Origin
      - X-Origin
      X-Goog-Upload-Header-X-Google-Backends:
      - ioiw63:4500
      X-Goog-Upload-Header-X-Google-Session-Info:
      - CLrLzJuGFRoCGAY6bwoPZHJpdmUtcm9zeS1wcm9kEgVkcml2ZRiDqMHn7wUiSDIwMTgxMjEwNDE5NS1pcDNwN2xrcWE1N29lYm84NTkwZXJtZ2E3MjBpMW5uaC5hcHBzLmdvb2dsZXVzZXJjb250ZW50LmNvbTDxDjDvDkqYARKEAXlhMjkuR2wyQ0JXeUxTR21STDFDWHAxUXhENlB2VlFRV0dLbm9HaDNfUGNaNjdqZU1QVFF4VnZmQkZqZDhFeTRLdG1OUW8zREpMUUE0MURGbDZZckliNHlieVpiMkdFV01zUkJJNkd2UmNDVjRMeXFQYlQ1OVlPTGhuSldxTEtfQ0J3azAEOg0xLzdZYTRzRm02VnZ-
      X-Goog-Upload-Header-Cache-Control:
      - no-cache, no-store, max-age=0, must-revalidate
      X-Goog-Upload-Header-Pragma:
      - no-cache
      X-Goog-Upload-Header-Expires:
      - Mon, 01 Jan 1990 00:00:00 GMT
      X-Goog-Upload-Header-Date:
      - Sun, 18 Mar 2018 20:41:02 GMT
      Content-Type:
      - text/html; charset=UTF-8
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Sun, 18 Mar 2018 20:41:02 GMT
- request:
    method: post
    uri: https://www.googleapis.com/upload/drive/v3/files/1A90MwGttK_sBOUgTZwTmbs-VDYUvTkqQ1aQtUhX_uco?upload_id=AEnB2UpbDDCqIEh9WNDQM9R0L7fNmyvqpH-hD3nvvTIBXYQ5yO9Jeg9r1S27e0Wkk9VMpM_DPUXz_9scvZ3qJoB6G0bD5hEEQg&upload_protocol=resumable
    body:
      encoding: UTF-8
      string: new file content
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR TRACKING ACCOUNT>
      X-Goog-Upload-Command:
      - upload, finalize
      X-Goog-Upload-Offset:
      - '0'
      Content-Type:
      - application/octet-stream
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Goog-Upload-Status:
      - final
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "drive#file",
         "id": "1A90MwGttK_sBOUgTZwTmbs-VDYUvTkqQ1aQtUhX_uco",
         "name": "Test File",
         "mimeType": "application/vnd.google-apps.document"
        }
  recorded_at: Sun, 18 Mar 2018 20:41:03 GMT
- request:
    method: patch
    uri: https://www.googleapis.com/drive/v3/files/1A90MwGttK_sBOUgTZwTmbs-VDYUvTkqQ1aQtUhX_uco?fields=id,name,mimeType,parents,trashed,thumbnailLink,thumbnailVersion
    body:
      encoding: UTF-8
      string: '{"trashed":"true"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <ACCESS TOKEN FOR TRACKING ACCOUNT>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "id": "1A90MwGttK_sBOUgTZwTmbs-VDYUvTkqQ1aQtUhX_uco",
         "name": "Test File",
         "mimeType": "application/vnd.google-apps.document",
         "trashed": true,
         "parents": [
          "1pCPt1CdvkkH4eStCopFGjiH1r0MOPG-R"
         ],
         "thumbnailLink": "https://docs.google.com/feeds/vt?gd=true&id=1A90MwGttK_sBOUgTZwTmbs-VDYUvTkqQ1aQtUhX_uco&v=1&s=AMedNnoAAAAAWq7rBK1KBMiLOo9zGyoSw8Ofi7ABcfhc&sz=s220",
         "thumbnailVersion": "1"
        }
  recorded_at: Sun, 18 Mar 2018 20:41:08 GMT
[...]
- request:
    method: delete
    uri: https://www.googleapis.com/drive/v3/files/1pCPt1CdvkkH4eStCopFGjiH1r0MOPG-R
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR TRACKING ACCOUNT>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 204
      message: No Content
    headers:
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Sun, 18 Mar 2018 20:41:09 GMT
recorded_with: VCR 4.0.0
