---
http_interactions:
- request:
    method: post
    uri: https://www.googleapis.com/oauth2/v4/token
    body:
      encoding: ASCII-8BIT
      string: grant_type=refresh_token&refresh_token=<REFRESH TOKEN FOR TRACKING ACCOUNT>&client_id=<CLIENT
        ID>&client_secret=<CLIENT SECRET>
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "access_token": "<ACCESS TOKEN FOR TRACKING ACCOUNT>",
         "token_type": "Bearer",
         "expires_in": 3600
        }
  recorded_at: Sun, 18 Feb 2018 15:30:25 GMT
- request:
    method: post
    uri: https://www.googleapis.com/drive/v3/files?fields=id,name,mimeType,parents,trashed
    body:
      encoding: UTF-8
      string: '{"mimeType":"application/vnd.google-apps.folder","name":"Test @ 2018-02-18
        15:30:25 UTC","parents":["root"]}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <ACCESS TOKEN FOR TRACKING ACCOUNT>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "id": "1L4AsMm8qEpRlCbTAREbzL8l0sPCKaoAO",
         "name": "Test @ 2018-02-18 15:30:25 UTC",
         "mimeType": "application/vnd.google-apps.folder",
         "trashed": false,
         "parents": [
          "0AIeK5UAEPQfeUk9PVA"
         ]
        }
  recorded_at: Sun, 18 Feb 2018 15:30:25 GMT
[...]
- request:
    method: get
    uri: https://www.googleapis.com/drive/v3/files/1peJe8Ns9BoRetljHvFm1-JkXTolwMuhOwoKa9lJHMqk?fields=id,name,mimeType,parents,trashed
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR TRACKING ACCOUNT>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "id": "1peJe8Ns9BoRetljHvFm1-JkXTolwMuhOwoKa9lJHMqk",
         "name": "Test File",
         "mimeType": "application/vnd.google-apps.document",
         "trashed": false,
         "parents": [
          "1L4AsMm8qEpRlCbTAREbzL8l0sPCKaoAO"
         ]
        }
  recorded_at: Sun, 18 Feb 2018 15:30:26 GMT
- request:
    method: get
    uri: https://www.googleapis.com/drive/v3/files/1peJe8Ns9BoRetljHvFm1-JkXTolwMuhOwoKa9lJHMqk/revisions/head
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR TRACKING ACCOUNT>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "drive#revision",
         "id": "1",
         "mimeType": "application/vnd.google-apps.document",
         "modifiedTime": "2018-02-18T15:30:26.147Z"
        }
  recorded_at: Sun, 18 Feb 2018 15:30:27 GMT
- request:
    method: delete
    uri: https://www.googleapis.com/drive/v3/files/1L4AsMm8qEpRlCbTAREbzL8l0sPCKaoAO
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR TRACKING ACCOUNT>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 204
      message: No Content
    headers:
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Sun, 18 Feb 2018 15:30:27 GMT
recorded_with: VCR 4.0.0
