---
http_interactions:
- request:
    method: post
    uri: https://www.googleapis.com/oauth2/v4/token
    body:
      encoding: ASCII-8BIT
      string: grant_type=refresh_token&refresh_token=<REFRESH TOKEN FOR TRACKING ACCOUNT>&client_id=<CLIENT
        ID>&client_secret=<CLIENT SECRET>
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: |-
        {
          "access_token": "<ACCESS TOKEN FOR TRACKING ACCOUNT>",
          "expires_in": 3600,
          "scope": "https://www.googleapis.com/auth/drive",
          "token_type": "Bearer"
        }
  recorded_at: Thu, 18 Oct 2018 09:28:46 GMT
- request:
    method: post
    uri: https://www.googleapis.com/drive/v3/files?fields=id,name,mimeType,parents,permissions,trashed,thumbnailLink,thumbnailVersion
    body:
      encoding: UTF-8
      string: '{"mimeType":"application/vnd.google-apps.folder","name":"Test @ 2018-10-18
        09:28:46 UTC","parents":["root"]}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <ACCESS TOKEN FOR TRACKING ACCOUNT>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "id": "1ovpgigwpcP_tO-PEDXKmp6SohFmQ6RoG",
         "name": "Test @ 2018-10-18 09:28:46 UTC",
         "mimeType": "application/vnd.google-apps.folder",
         "trashed": false,
         "parents": [
          "0AIeK5UAEPQfeUk9PVA"
         ],
         "thumbnailVersion": "0",
         "permissions": [
          {
           "kind": "drive#permission",
           "id": "11673017242486491425",
           "type": "user",
           "emailAddress": "<EMAIL ADDRESS FOR TRACKING ACCOUNT>",
           "role": "owner",
           "displayName": "Upshift One",
           "deleted": false
          }
         ]
        }
  recorded_at: Thu, 18 Oct 2018 09:28:47 GMT
[...]
- request:
    method: patch
    uri: https://www.googleapis.com/upload/drive/v3/files/10equOmHWFLgXU2xJPe2io6UBzavKCUZARcRmWxag1fo
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR TRACKING ACCOUNT>
      X-Goog-Upload-Protocol:
      - resumable
      X-Goog-Upload-Command:
      - start
      X-Goog-Upload-Header-Content-Length:
      - '16'
      X-Goog-Upload-Header-Content-Type:
      - application/octet-stream
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Goog-Upload-Status:
      - active
      X-Goog-Upload-Url:
      - https://www.googleapis.com/upload/drive/v3/files/10equOmHWFLgXU2xJPe2io6UBzavKCUZARcRmWxag1fo?upload_id=AEnB2Upjsaq1o-HGrNpab42qMfcrrcfnH05cxeApASrMk6tNTPZN24rhrtuyokQmWK6oTG-V2rirAw8y0DGFT7vctErpA_J65IlkA_z0OLHSr8k9z3rH_2w&upload_protocol=resumable
      X-Goog-Upload-Control-Url:
      - https://www.googleapis.com/upload/drive/v3/files/10equOmHWFLgXU2xJPe2io6UBzavKCUZARcRmWxag1fo?upload_id=AEnB2Upjsaq1o-HGrNpab42qMfcrrcfnH05cxeApASrMk6tNTPZN24rhrtuyokQmWK6oTG-V2rirAw8y0DGFT7vctErpA_J65IlkA_z0OLHSr8k9z3rH_2w&upload_protocol=resumable
      X-Goog-Upload-Chunk-Granularity:
      - '262144'
      X-Goog-Upload-Header-Vary:
      - Origin
      - X-Origin
      X-Goog-Upload-Header-X-Google-Backends:
      - ioqk5:4131
      X-Goog-Upload-Header-X-Google-Session-Info:
      - CLrLzJuGFRoCGAY6fgoeZHJpdmUtZ2Vub2Etc2VydmVyLWFwaWFyeS1wcm9kEgVkcml2ZRiDqMHn7wUiSDIwMTgxMjEwNDE5NS1pcDNwN2xrcWE1N29lYm84NTkwZXJtZ2E3MjBpMW5uaC5hcHBzLmdvb2dsZXVzZXJjb250ZW50LmNvbTDxDjDvDkqVARKBAXlhMjkuR2xzNkJqWU5YYjVHZ21JWExzNzBmbnlsSWRxb2RETmJpdjZiVnV0Y2I5YkhDRU0tWk9ZcWZpSkxfVFdGY0tSNEVadDRFSWI4cEw3cnJZOXRlT3ZEeXM5M0hqRUdmOEpYVDRQZWdOUm9OX09oZkVDU0hHS0J1bkZ4UU4xaDAEOg0xLzJNM1JHd3dWbFp-
      X-Goog-Upload-Header-Cache-Control:
      - no-cache, no-store, max-age=0, must-revalidate
      X-Goog-Upload-Header-Pragma:
      - no-cache
      X-Goog-Upload-Header-Expires:
      - Mon, 01 Jan 1990 00:00:00 GMT
      X-Goog-Upload-Header-Date:
      - Thu, 18 Oct 2018 09:28:48 GMT
      Content-Type:
      - text/html; charset=UTF-8
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Thu, 18 Oct 2018 09:28:48 GMT
- request:
    method: post
    uri: https://www.googleapis.com/upload/drive/v3/files/10equOmHWFLgXU2xJPe2io6UBzavKCUZARcRmWxag1fo?upload_id=AEnB2Upjsaq1o-HGrNpab42qMfcrrcfnH05cxeApASrMk6tNTPZN24rhrtuyokQmWK6oTG-V2rirAw8y0DGFT7vctErpA_J65IlkA_z0OLHSr8k9z3rH_2w&upload_protocol=resumable
    body:
      encoding: UTF-8
      string: new file content
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR TRACKING ACCOUNT>
      X-Goog-Upload-Command:
      - upload, finalize
      X-Goog-Upload-Offset:
      - '0'
      Content-Type:
      - application/octet-stream
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Goog-Upload-Status:
      - final
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "drive#file",
         "id": "10equOmHWFLgXU2xJPe2io6UBzavKCUZARcRmWxag1fo",
         "name": "Test File",
         "mimeType": "application/vnd.google-apps.document"
        }
  recorded_at: Thu, 18 Oct 2018 09:28:49 GMT
- request:
    method: delete
    uri: https://www.googleapis.com/drive/v3/files/10equOmHWFLgXU2xJPe2io6UBzavKCUZARcRmWxag1fo
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR TRACKING ACCOUNT>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 204
      message: No Content
    headers:
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Thu, 18 Oct 2018 09:28:54 GMT
- request:
    method: get
    uri: https://www.googleapis.com/drive/v3/files/10equOmHWFLgXU2xJPe2io6UBzavKCUZARcRmWxag1fo?fields=id,name,mimeType,parents,permissions,trashed,thumbnailLink,thumbnailVersion
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR TRACKING ACCOUNT>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "error": {
          "errors": [
           {
            "domain": "global",
            "reason": "notFound",
            "message": "File not found: 10equOmHWFLgXU2xJPe2io6UBzavKCUZARcRmWxag1fo.",
            "locationType": "parameter",
            "location": "fileId"
           }
          ],
          "code": 404,
          "message": "File not found: 10equOmHWFLgXU2xJPe2io6UBzavKCUZARcRmWxag1fo."
         }
        }
  recorded_at: Thu, 18 Oct 2018 09:28:54 GMT
- request:
    method: delete
    uri: https://www.googleapis.com/drive/v3/files/1ovpgigwpcP_tO-PEDXKmp6SohFmQ6RoG
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR TRACKING ACCOUNT>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 204
      message: No Content
    headers:
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Thu, 18 Oct 2018 09:28:55 GMT
recorded_with: VCR 4.0.0
