---
http_interactions:
- request:
    method: post
    uri: https://oauth2.googleapis.com/token
    body:
      encoding: ASCII-8BIT
      string: grant_type=refresh_token&refresh_token=<REFRESH TOKEN FOR TRACKING ACCOUNT>&client_id=<CLIENT
        ID>&client_secret=<CLIENT SECRET>
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "access_token": "<ACCESS TOKEN FOR TRACKING ACCOUNT>",
          "expires_in": 3600,
          "scope": "https://www.googleapis.com/auth/drive",
          "token_type": "Bearer"
        }
  recorded_at: Thu, 17 Jan 2019 13:39:48 GMT
- request:
    method: post
    uri: https://www.googleapis.com/drive/v3/files?fields=id,name,mimeType,parents,permissions,trashed,thumbnailLink,thumbnailVersion
    body:
      encoding: UTF-8
      string: '{"mimeType":"application/vnd.google-apps.folder","name":"Test @ 2019-01-17
        13:39:48 UTC","parents":["root"]}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <ACCESS TOKEN FOR TRACKING ACCOUNT>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "id": "1EIDSL0Fvv72DHMeRaTLlY7wPL6OkwZDx",
         "name": "Test @ 2019-01-17 13:39:48 UTC",
         "mimeType": "application/vnd.google-apps.folder",
         "trashed": false,
         "parents": [
          "0AIeK5UAEPQfeUk9PVA"
         ],
         "thumbnailVersion": "0",
         "permissions": [
          {
           "kind": "drive#permission",
           "id": "11673017242486491425",
           "type": "user",
           "emailAddress": "<EMAIL ADDRESS FOR TRACKING ACCOUNT>",
           "role": "owner",
           "displayName": "Upshift One",
           "deleted": false
          }
         ]
        }
  recorded_at: Thu, 17 Jan 2019 13:39:48 GMT
[...]
- request:
    method: post
    uri: https://www.googleapis.com/drive/v3/files/1tsIhyT9kYnhb-St6B4v0x81XwqaolFhu/permissions?sendNotificationEmail=false
    body:
      encoding: UTF-8
      string: '{"emailAddress":"<EMAIL ADDRESS FOR USER ACCOUNT>","role":"reader","type":"user"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <ACCESS TOKEN FOR TRACKING ACCOUNT>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "drive#permission",
         "id": "13193959451567607887",
         "type": "user",
         "role": "reader"
        }
  recorded_at: Thu, 17 Jan 2019 13:39:52 GMT
- request:
    method: get
    uri: https://www.googleapis.com/drive/v3/files/1LK9WMA_B6NNZp1AeFeMhIYsu47lWSzBtVSwBxXHsxGk?fields=id,name,mimeType,parents,permissions,trashed,thumbnailLink,thumbnailVersion
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR TRACKING ACCOUNT>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "id": "1LK9WMA_B6NNZp1AeFeMhIYsu47lWSzBtVSwBxXHsxGk",
         "name": "original name",
         "mimeType": "application/vnd.google-apps.document",
         "trashed": false,
         "parents": [
          "1eaaTybY5zlTH29GhCHvPy2vZu4M3pcZv"
         ],
         "thumbnailVersion": "0",
         "permissions": [
          {
           "kind": "drive#permission",
           "id": "11673017242486491425",
           "type": "user",
           "emailAddress": "<EMAIL ADDRESS FOR TRACKING ACCOUNT>",
           "role": "owner",
           "displayName": "Upshift One",
           "deleted": false
          }
         ]
        }
  recorded_at: Thu, 17 Jan 2019 13:39:53 GMT
- request:
    method: get
    uri: https://www.googleapis.com/drive/v3/files/1LK9WMA_B6NNZp1AeFeMhIYsu47lWSzBtVSwBxXHsxGk/revisions/head
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR TRACKING ACCOUNT>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "drive#revision",
         "id": "1",
         "mimeType": "application/vnd.google-apps.document",
         "modifiedTime": "2019-01-17T13:39:50.258Z"
        }
  recorded_at: Thu, 17 Jan 2019 13:39:53 GMT
- request:
    method: post
    uri: https://www.googleapis.com/drive/v3/files/1LK9WMA_B6NNZp1AeFeMhIYsu47lWSzBtVSwBxXHsxGk/copy?fields=id,name,mimeType,parents,permissions,trashed,thumbnailLink,thumbnailVersion
    body:
      encoding: UTF-8
      string: '{"name":"original name","parents":["1tsIhyT9kYnhb-St6B4v0x81XwqaolFhu"]}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <ACCESS TOKEN FOR TRACKING ACCOUNT>
  response:
    status:
      code: 2[...]
- request:
    method: patch
    uri: https://www.googleapis.com/upload/drive/v3/files/1LK9WMA_B6NNZp1AeFeMhIYsu47lWSzBtVSwBxXHsxGk
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR TRACKING ACCOUNT>
      X-Goog-Upload-Protocol:
      - resumable
      X-Goog-Upload-Command:
      - start
      X-Goog-Upload-Header-Content-Length:
      - '11'
      X-Goog-Upload-Header-Content-Type:
      - application/octet-stream
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Goog-Upload-Status:
      - active
      X-Goog-Upload-Url:
      - https://www.googleapis.com/upload/drive/v3/files/1LK9WMA_B6NNZp1AeFeMhIYsu47lWSzBtVSwBxXHsxGk?upload_id=AEnB2UoLpSK2qW7TUvRa1SJfuPcoIYXUE4OLanC0AJ-7g-s4J_soZRmgTt2AedoVHLMhY_brgp-Zmh4txuY3nh30kbtXtTMU6A&upload_protocol=resumable
      X-Goog-Upload-Control-Url:
      - https://www.googleapis.com/upload/drive/v3/files/1LK9WMA_B6NNZp1AeFeMhIYsu47lWSzBtVSwBxXHsxGk?upload_id=AEnB2UoLpSK2qW7TUvRa1SJfuPcoIYXUE4OLanC0AJ-7g-s4J_soZRmgTt2AedoVHLMhY_brgp-Zmh4txuY3nh30kbtXtTMU6A&upload_protocol=resumable
      X-Goog-Upload-Chunk-Granularity:
      - '262144'
      X-Goog-Upload-Header-Vary:
      - Origin
      - X-Origin
      X-Goog-Upload-Header-X-Google-Backends:
      - ooai25:4446
      X-Goog-Upload-Header-X-Google-Session-Info:
      - CLrLzJuGFRoCGAY6fgoeZHJpdmUtZ2Vub2Etc2VydmVyLWFwaWFyeS1wcm9kEgVkcml2ZRiDqMHn7wUiSDIwMTgxMjEwNDE5NS1pcDNwN2xrcWE1N29lYm84NTkwZXJtZ2E3MjBpMW5uaC5hcHBzLmdvb2dsZXVzZXJjb250ZW50LmNvbTDxDjDvDkqYARKEAXlhMjkuR2wyVUJtSWVXdDhMaVlfR1VMbE52UFlQalFwRGQ2OUVET0JTczNqV0FEdG9MbTFUZXNOY0dnV2xzSUJObjZ4REtQVkQxUjJ6LW53ZGp0SzNzdWRMNW5nVHRiYU4tSVUza2RQOVh2TUp2bXZKbjhSZTZBR3ZMTWRESGpTbzBORTAEOg0xLzJNM1JHd3dWbFp-
      X-Goog-Upload-Header-Cache-Control:
      - no-cache, no-store, max-age=0, must-revalidate
      X-Goog-Upload-Header-Pragma:
      - no-cache
      X-Goog-Upload-Header-Expires:
      - Mon, 01 Jan 1990 00:00:00 GMT
      X-Goog-Upload-Header-Date:
      - Thu, 17 Jan 2019 13:39:55 GMT
      Content-Type:
      - text/html; charset=UTF-8
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Thu, 17 Jan 2019 13:39:55 GMT
- request:
    method: post
    uri: https://www.googleapis.com/upload/drive/v3/files/1LK9WMA_B6NNZp1AeFeMhIYsu47lWSzBtVSwBxXHsxGk?upload_id=AEnB2UoLpSK2qW7TUvRa1SJfuPcoIYXUE4OLanC0AJ-7g-s4J_soZRmgTt2AedoVHLMhY_brgp-Zmh4txuY3nh30kbtXtTMU6A&upload_protocol=resumable
    body:
      encoding: UTF-8
      string: new content
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR TRACKING ACCOUNT>
      X-Goog-Upload-Command:
      - upload, finalize
      X-Goog-Upload-Offset:
      - '0'
      Content-Type:
      - application/octet-stream
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Goog-Upload-Status:
      - final
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "drive#file",
         "id": "1LK9WMA_B6NNZp1AeFeMhIYsu47lWSzBtVSwBxXHsxGk",
         "name": "original name",
         "mimeType": "application/vnd.google-apps.document"
        }
  recorded_at: Thu, 17 Jan 2019 13:39:57 GMT
[...]
- request:
    method: post
    uri: https://www.googleapis.com/drive/v3/files/1ZWapcscuYUR_YuFOHPY9BXovNhOxB4JyJD6bQSGVu3c/copy?fields=id,name,mimeType,parents,permissions,trashed,thumbnailLink,thumbnailVersion
    body:
      encoding: UTF-8
      string: '{"name":"original name","parents":["1eaaTybY5zlTH29GhCHvPy2vZu4M3pcZv"]}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <ACCESS TOKEN FOR TRACKING ACCOUNT>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "id": "1lRyUH22VFQJoaA5mfupuf2W-bM0Nwan52J34mZ0BNjg",
         "name": "original name",
         "mimeType": "application/vnd.google-apps.document",
         "trashed": false,
         "parents": [
          "1eaaTybY5zlTH29GhCHvPy2vZu4M3pcZv"
         ],
         "thumbnailVersion": "0",
         "permissions": [
          {
           "kind": "drive#permission",
           "id": "11673017242486491425",
           "type": "user",
           "emailAddress": "<EMAIL ADDRESS FOR TRACKING ACCOUNT>",
           "role": "owner",
           "displayName": "Upshift One",
           "deleted": false
          }
         ]
        }
  recorded_at: Thu, 17 Jan 2019 13:40:01 GMT
- request:
    method: get
    uri: https://www.googleapis.com/drive/v3/files/1lRyUH22VFQJoaA5mfupuf2W-bM0Nwan52J34mZ0BNjg/revisions/head
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR TRACKING ACCOUNT>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "drive#revision",
         "id": "1",
         "mimeType": "application/vnd.google-apps.document",
         "modifiedTime": "2019-01-17T13:40:01.179Z"
        }
  recorded_at: Thu, 17 Jan 2019 13:40:02 GMT
- request:
    method: patch
    uri: https://www.googleapis.com/drive/v3/files/1LK9WMA_B6NNZp1AeFeMhIYsu47lWSzBtVSwBxXHsxGk?fields=id,name,mimeType,parents,permissions,trashed,thumbnailLink,thumbnailVersion&removeParents=1eaaTybY5zlTH29GhCHvPy2vZu4M3pcZv
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR TRACKING ACCOUNT>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "id": "1LK9WMA_B6NNZp1AeFeMhIYsu47lWSzBtVSwBxXHsxGk",
         "name": "original name",
         "mimeType": "application/vnd.google-apps.document",
         "trashed": false,
         "thumbnailLink": "https://docs.google.com/feeds/vt?gd=true&id=1LK9WMA_B6NNZp1AeFeMhIYsu47lWSzBtVSwBxXHsxGk&v=1&s=AMedNnoAAAAAXECh0s5mfph4cyRP6J--t1onlpaobeAL&sz=s220",
         "thumbnailVersion": "1",
         "permissions": [
          {
           "kind": "drive#permission",
           "id": "11673017242486491425",
           "type": "user",
           "emailAddress": "<EMAIL ADDRESS FOR TRACKING ACCOUNT>",
           "role": "owner",
           "displayName": "Upshift One",
           "deleted": false
          }
         ]
        }
  recorded_at: Thu, 17 Jan 2019 13:40:03 GMT
- request:
    method: get
    uri: https://www.googleapis.com/drive/v3/files/1lRyUH22VFQJoaA5mfupuf2W-bM0Nwan52J34mZ0BNjg?fields=id,name,mimeType,parents,permissions,trashed,thumbnailLink,thumbnailVersion
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR TRACKING ACCOUNT>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "id": "1lRyUH22VFQJoaA5mfupuf2W-bM0Nwan52J34mZ0BNjg",
         "name": "original name",
         "mimeType": "application/vnd.google-apps.document",
         "trashed": false,
         "parents": [
          "1eaaTybY5zlTH29GhCHvPy2vZu4M3pcZv"
         ],
         "thumbnailVersion": "0",
         "permissions": [
          {
           "kind": "drive#permission",
           "id": "11673017242486491425",
           "type": "user",
           "emailAddress": "<EMAIL ADDRESS FOR TRACKING ACCOUNT>",
           "role": "owner",
           "displayName": "Upshift One",
           "deleted": false
          }
         ]
        }
  recorded_at: Thu, 17 Jan 2019 13:40:03 GMT
[...]
- request:
    method: delete
    uri: https://www.googleapis.com/drive/v3/files/1EIDSL0Fvv72DHMeRaTLlY7wPL6OkwZDx
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR TRACKING ACCOUNT>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 204
      message: No Content
    headers:
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Thu, 17 Jan 2019 13:40:04 GMT
recorded_with: VCR 4.0.0
