---
http_interactions:
- request:
    method: post
    uri: https://www.googleapis.com/oauth2/v4/token
    body:
      encoding: ASCII-8BIT
      string: grant_type=refresh_token&refresh_token=<REFRESH TOKEN FOR TRACKING ACCOUNT>&client_id=<CLIENT
        ID>&client_secret=<CLIENT SECRET>
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "access_token": "<ACCESS TOKEN FOR TRACKING ACCOUNT>",
         "token_type": "Bearer",
         "expires_in": 3600
        }
  recorded_at: Tue, 06 Mar 2018 17:54:26 GMT
- request:
    method: post
    uri: https://www.googleapis.com/drive/v3/files?fields=id,name,mimeType,parents,trashed
    body:
      encoding: UTF-8
      string: '{"mimeType":"application/vnd.google-apps.folder","name":"Test @ 2018-03-06
        17:54:26 UTC","parents":["root"]}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <ACCESS TOKEN FOR TRACKING ACCOUNT>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "id": "1raHbF1mXT7QNF-LzcYi3Na_nvoaw7OH4",
         "name": "Test @ 2018-03-06 17:54:26 UTC",
         "mimeType": "application/vnd.google-apps.folder",
         "trashed": false,
         "parents": [
          "0AIeK5UAEPQfeUk9PVA"
         ]
        }
  recorded_at: Tue, 06 Mar 2018 17:54:27 GMT
[...]
- request:
    method: patch
    uri: https://www.googleapis.com/drive/v3/files/1__C-6RH-CJjHixDC-wmgJ0hZbB-SabjcO1Zv5gvwtUA?fields=id,name,mimeType,parents,trashed
    body:
      encoding: UTF-8
      string: '{"trashed":"true"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <ACCESS TOKEN FOR TRACKING ACCOUNT>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "id": "1__C-6RH-CJjHixDC-wmgJ0hZbB-SabjcO1Zv5gvwtUA",
         "name": "Test File",
         "mimeType": "application/vnd.google-apps.document",
         "trashed": true,
         "parents": [
          "1raHbF1mXT7QNF-LzcYi3Na_nvoaw7OH4"
         ]
        }
  recorded_at: Tue, 06 Mar 2018 17:54:29 GMT
[...]
- request:
    method: delete
    uri: https://www.googleapis.com/drive/v3/files/1raHbF1mXT7QNF-LzcYi3Na_nvoaw7OH4
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR TRACKING ACCOUNT>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 204
      message: No Content
    headers:
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 06 Mar 2018 17:54:30 GMT
recorded_with: VCR 4.0.0
