---
http_interactions:
- request:
    method: post
    uri: https://www.googleapis.com/oauth2/v4/token
    body:
      encoding: ASCII-8BIT
      string: grant_type=refresh_token&refresh_token=<REFRESH TOKEN FOR TRACKING ACCOUNT>&client_id=<CLIENT
        ID>&client_secret=<CLIENT SECRET>
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "access_token": "<ACCESS TOKEN FOR TRACKING ACCOUNT>",
         "token_type": "Bearer",
         "expires_in": 3600
        }
  recorded_at: Sat, 10 Mar 2018 03:20:04 GMT
[...]
- request:
    method: post
    uri: https://www.googleapis.com/drive/v3/files?fields=id,name,mimeType,parents,trashed
    body:
      encoding: UTF-8
      string: '{"mimeType":"application/vnd.google-apps.folder","name":"Test @ 2018-03-10
        03:20:05 UTC","parents":["root"]}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <ACCESS TOKEN FOR USER ACCOUNT>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "id": "1l1SPL3TPf2lyHxoCZ3ZF4K86q47qQirc",
         "name": "Test @ 2018-03-10 03:20:05 UTC",
         "mimeType": "application/vnd.google-apps.folder",
         "trashed": false,
         "parents": [
          "0AEIi2L68pCuiUk9PVA"
         ]
        }
  recorded_at: Sat, 10 Mar 2018 03:20:05 GMT
- request:
    method: post
    uri: https://www.googleapis.com/drive/v3/files/1l1SPL3TPf2lyHxoCZ3ZF4K86q47qQirc/permissions?sendNotificationEmail=false
    body:
      encoding: UTF-8
      string: '{"emailAddress":"<EMAIL ADDRESS FOR TRACKING ACCOUNT>","role":"writer","type":"user"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <ACCESS TOKEN FOR USER ACCOUNT>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "drive#permission",
         "id": "11673017242486491425",
         "type": "user",
         "role": "writer"
        }
  recorded_at: Sat, 10 Mar 2018 03:20:06 GMT
- request:
    method: get
    uri: https://www.googleapis.com/drive/v3/changes/startPageToken
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR TRACKING ACCOUNT>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "drive#startPageToken",
         "startPageToken": "6408"
        }
  recorded_at: Sat, 10 Mar 2018 03:20:06 GMT
[...]
- request:
    method: get
    uri: https://www.googleapis.com/drive/v3/files/1l1SPL3TPf2lyHxoCZ3ZF4K86q47qQirc?fields=id,name,mimeType,parents,trashed
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR TRACKING ACCOUNT>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "id": "1l1SPL3TPf2lyHxoCZ3ZF4K86q47qQirc",
         "name": "Test @ 2018-03-10 03:20:05 UTC",
         "mimeType": "application/vnd.google-apps.folder",
         "trashed": false
        }
  recorded_at: Sat, 10 Mar 2018 03:20:09 GMT
[...]
- request:
    method: get
    uri: https://www.googleapis.com/drive/v3/files/1l1SPL3TPf2lyHxoCZ3ZF4K86q47qQirc/revisions/head
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR TRACKING ACCOUNT>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 403
      message: Forbidden
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "error": {
          "errors": [
           {
            "domain": "global",
            "reason": "revisionsNotSupported",
            "message": "The file does not support revisions."
           }
          ],
          "code": 403,
          "message": "The file does not support revisions."
         }
        }
  recorded_at: Sat, 10 Mar 2018 03:20:10 GMT
- request:
    method: get
    uri: https://www.googleapis.com/drive/v3/files?fields=files/id,files/name,files/mimeType,files/parents,files/trashed&q=%271l1SPL3TPf2lyHxoCZ3ZF4K86q47qQirc%27%20in%20parents
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR TRACKING ACCOUNT>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "files": [
          {
           "id": "1JzDJcDBoYLDik_4yaeQFO8y6Bnw9ka7r",
           "name": "Folder",
           "mimeType": "application/vnd.google-apps.folder",
           "trashed": false,
           "parents": [
            "1l1SPL3TPf2lyHxoCZ3ZF4K86q47qQirc"
           ]
          }
         ]
        }
  recorded_at: Sat, 10 Mar 2018 03:20:10 GMT
- request:
    method: get
    uri: https://www.googleapis.com/drive/v3/files/1JzDJcDBoYLDik_4yaeQFO8y6Bnw9ka7r/revisions/head
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR TRACKING ACCOUNT>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 403
      message: Forbidden
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "error": {
          "errors": [
           {
            "domain": "global",
            "reason": "revisionsNotSupported",
            "message": "The file does not support revisions."
           }
          ],
          "code": 403,
          "message": "The file does not support revisions."
         }
        }
  recorded_at: Sat, 10 Mar 2018 03:20:10 GMT
- request:
    method: get
    uri: https://www.googleapis.com/drive/v3/files?fields=files/id,files/name,files/mimeType,files/parents,files/trashed&q=%271JzDJcDBoYLDik_4yaeQFO8y6Bnw9ka7r%27%20in%20parents
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR TRACKING ACCOUNT>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "files": [
          {
           "id": "1n31JNThigKUb6ogBnnADgoebBrPdeCH-VyipYT6SECg",
           "name": "File To Move",
           "mimeType": "application/vnd.google-apps.document",
           "trashed": false,
           "parents": [
            "1JzDJcDBoYLDik_4yaeQFO8y6Bnw9ka7r"
           ]
          }
         ]
        }
  recorded_at: Sat, 10 Mar 2018 03:20:10 GMT
- request:
    method: get
    uri: https://www.googleapis.com/drive/v3/files/1n31JNThigKUb6ogBnnADgoebBrPdeCH-VyipYT6SECg/revisions/head
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR TRACKING ACCOUNT>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "error": {
          "errors": [
           {
            "domain": "global",
            "reason": "notFound",
            "message": "Revision not found: head.",
            "locationType": "parameter",
            "location": "revisionId"
           }
          ],
          "code": 404,
          "message": "Revision not found: head."
         }
        }
  recorded_at: Sat, 10 Mar 2018 03:20:11 GMT
- request:
    method: patch
    uri: https://www.googleapis.com/drive/v3/files/1n31JNThigKUb6ogBnnADgoebBrPdeCH-VyipYT6SECg?addParents=1l1SPL3TPf2lyHxoCZ3ZF4K86q47qQirc&fields=id,name,mimeType,parents,trashed&removeParents=1JzDJcDBoYLDik_4yaeQFO8y6Bnw9ka7r
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR USER ACCOUNT>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "id": "1n31JNThigKUb6ogBnnADgoebBrPdeCH-VyipYT6SECg",
         "name": "File To Move",
         "mimeType": "application/vnd.google-apps.document",
         "trashed": false,
         "parents": [
          "1l1SPL3TPf2lyHxoCZ3ZF4K86q47qQirc"
         ]
        }
  recorded_at: Sat, 10 Mar 2018 03:20:12 GMT
- request:
    method: get
    uri: https://www.googleapis.com/drive/v3/changes?fields=nextPageToken,newStartPageToken,changes/fileId&pageSize=100&pageToken=6408
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR TRACKING ACCOUNT>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "newStartPageToken": "6413",
         "changes": [
          {
           "fileId": "1JzDJcDBoYLDik_4yaeQFO8y6Bnw9ka7r"
          },
          {
           "fileId": "1n31JNThigKUb6ogBnnADgoebBrPdeCH-VyipYT6SECg"
          },
          {
           "fileId": "1l1SPL3TPf2lyHxoCZ3ZF4K86q47qQirc"
          }
         ]
        }
  recorded_at: Sat, 10 Mar 2018 03:21:13 GMT
- request:
    method: get
    uri: https://www.googleapis.com/drive/v3/files/1JzDJcDBoYLDik_4yaeQFO8y6Bnw9ka7r?fields=id,name,mimeType,parents,trashed
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR TRACKING ACCOUNT>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "id": "1JzDJcDBoYLDik_4yaeQFO8y6Bnw9ka7r",
         "name": "Folder",
         "mimeType": "application/vnd.google-apps.folder",
         "trashed": false,
         "parents": [
          "1l1SPL3TPf2lyHxoCZ3ZF4K86q47qQirc"
         ]
        }
  recorded_at: Sat, 10 Mar 2018 03:21:13 GMT
[...]
- request:
    method: get
    uri: https://www.googleapis.com/drive/v3/files/1n31JNThigKUb6ogBnnADgoebBrPdeCH-VyipYT6SECg?fields=id,name,mimeType,parents,trashed
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR TRACKING ACCOUNT>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "id": "1n31JNThigKUb6ogBnnADgoebBrPdeCH-VyipYT6SECg",
         "name": "File To Move",
         "mimeType": "application/vnd.google-apps.document",
         "trashed": false,
         "parents": [
          "1l1SPL3TPf2lyHxoCZ3ZF4K86q47qQirc"
         ]
        }
  recorded_at: Sat, 10 Mar 2018 03:21:14 GMT
- request:
    method: get
    uri: https://www.googleapis.com/drive/v3/files/1n31JNThigKUb6ogBnnADgoebBrPdeCH-VyipYT6SECg/revisions/head
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR TRACKING ACCOUNT>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "drive#revision",
         "id": "1",
         "mimeType": "application/vnd.google-apps.document",
         "modifiedTime": "2018-03-10T03:20:08.387Z"
        }
  recorded_at: Sat, 10 Mar 2018 03:21:14 GMT
[...]
- request:
    method: delete
    uri: https://www.googleapis.com/drive/v3/files/1l1SPL3TPf2lyHxoCZ3ZF4K86q47qQirc
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR USER ACCOUNT>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 204
      message: No Content
    headers:
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Sat, 10 Mar 2018 03:21:16 GMT
recorded_with: VCR 4.0.0
