---
http_interactions:
- request:
    method: post
    uri: https://www.googleapis.com/oauth2/v4/token
    body:
      encoding: ASCII-8BIT
      string: grant_type=refresh_token&refresh_token=<REFRESH TOKEN FOR TRACKING ACCOUNT>&client_id=<CLIENT
        ID>&client_secret=<CLIENT SECRET>
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "access_token": "<ACCESS TOKEN FOR TRACKING ACCOUNT>",
         "token_type": "Bearer",
         "expires_in": 3600
        }
  recorded_at: Sat, 10 Mar 2018 03:15:21 GMT
[...]
- request:
    method: post
    uri: https://www.googleapis.com/drive/v3/files?fields=id,name,mimeType,parents,trashed
    body:
      encoding: UTF-8
      string: '{"mimeType":"application/vnd.google-apps.folder","name":"Test @ 2018-03-10
        03:15:22 UTC","parents":["root"]}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <ACCESS TOKEN FOR USER ACCOUNT>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "id": "1X1QOs5WATwGkaKSp_S3IfzKvjU19bKSK",
         "name": "Test @ 2018-03-10 03:15:22 UTC",
         "mimeType": "application/vnd.google-apps.folder",
         "trashed": false,
         "parents": [
          "0AEIi2L68pCuiUk9PVA"
         ]
        }
  recorded_at: Sat, 10 Mar 2018 03:15:22 GMT
- request:
    method: post
    uri: https://www.googleapis.com/drive/v3/files/1X1QOs5WATwGkaKSp_S3IfzKvjU19bKSK/permissions?sendNotificationEmail=false
    body:
      encoding: UTF-8
      string: '{"emailAddress":"<EMAIL ADDRESS FOR TRACKING ACCOUNT>","role":"writer","type":"user"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <ACCESS TOKEN FOR USER ACCOUNT>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "drive#permission",
         "id": "11673017242486491425",
         "type": "user",
         "role": "writer"
        }
  recorded_at: Sat, 10 Mar 2018 03:15:23 GMT
- request:
    method: get
    uri: https://www.googleapis.com/drive/v3/changes/startPageToken
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR TRACKING ACCOUNT>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "drive#startPageToken",
         "startPageToken": "6384"
        }
  recorded_at: Sat, 10 Mar 2018 03:15:23 GMT
[...]
- request:
    method: get
    uri: https://www.googleapis.com/drive/v3/files/1X1QOs5WATwGkaKSp_S3IfzKvjU19bKSK?fields=id,name,mimeType,parents,trashed
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR TRACKING ACCOUNT>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "id": "1X1QOs5WATwGkaKSp_S3IfzKvjU19bKSK",
         "name": "Test @ 2018-03-10 03:15:22 UTC",
         "mimeType": "application/vnd.google-apps.folder",
         "trashed": false
        }
  recorded_at: Sat, 10 Mar 2018 03:15:25 GMT
[...]
- request:
    method: get
    uri: https://www.googleapis.com/drive/v3/files/1X1QOs5WATwGkaKSp_S3IfzKvjU19bKSK/revisions/head
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR TRACKING ACCOUNT>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 403
      message: Forbidden
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "error": {
          "errors": [
           {
            "domain": "global",
            "reason": "revisionsNotSupported",
            "message": "The file does not support revisions."
           }
          ],
          "code": 403,
          "message": "The file does not support revisions."
         }
        }
  recorded_at: Sat, 10 Mar 2018 03:15:25 GMT
- request:
    method: get
    uri: https://www.googleapis.com/drive/v3/files?fields=files/id,files/name,files/mimeType,files/parents,files/trashed&q=%271X1QOs5WATwGkaKSp_S3IfzKvjU19bKSK%27%20in%20parents
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR TRACKING ACCOUNT>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "files": [
          {
           "id": "16MJ64HqUmybFja_YIj0hWfNt7HmeY3Fo_QELFFvBCLU",
           "name": "File",
           "mimeType": "application/vnd.google-apps.document",
           "trashed": false,
           "parents": [
            "1X1QOs5WATwGkaKSp_S3IfzKvjU19bKSK"
           ]
          }
         ]
        }
  recorded_at: Sat, 10 Mar 2018 03:15:25 GMT
- request:
    method: get
    uri: https://www.googleapis.com/drive/v3/files/16MJ64HqUmybFja_YIj0hWfNt7HmeY3Fo_QELFFvBCLU/revisions/head
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR TRACKING ACCOUNT>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "drive#revision",
         "id": "1",
         "mimeType": "application/vnd.google-apps.document",
         "modifiedTime": "2018-03-10T03:15:24.335Z"
        }
  recorded_at: Sat, 10 Mar 2018 03:15:26 GMT
- request:
    method: patch
    uri: https://www.googleapis.com/upload/drive/v3/files/16MJ64HqUmybFja_YIj0hWfNt7HmeY3Fo_QELFFvBCLU
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR USER ACCOUNT>
      X-Goog-Upload-Protocol:
      - resumable
      X-Goog-Upload-Command:
      - start
      X-Goog-Upload-Header-Content-Length:
      - '16'
      X-Goog-Upload-Header-Content-Type:
      - application/octet-stream
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Goog-Upload-Status:
      - active
      X-Goog-Upload-Url:
      - https://www.googleapis.com/upload/drive/v3/files/16MJ64HqUmybFja_YIj0hWfNt7HmeY3Fo_QELFFvBCLU?upload_id=AEnB2Uqr3n6gAGohrh2F4x9CYZR8jKm2utL1uKgd3-wHNJw3BW5c9auDWi8w-0quKHl37z10NlRjwJ3OSDHTRlR6kiDB0lr7hKUKbf8kc4s1BXedAjLHvxI&upload_protocol=resumable
      X-Goog-Upload-Control-Url:
      - https://www.googleapis.com/upload/drive/v3/files/16MJ64HqUmybFja_YIj0hWfNt7HmeY3Fo_QELFFvBCLU?upload_id=AEnB2Uqr3n6gAGohrh2F4x9CYZR8jKm2utL1uKgd3-wHNJw3BW5c9auDWi8w-0quKHl37z10NlRjwJ3OSDHTRlR6kiDB0lr7hKUKbf8kc4s1BXedAjLHvxI&upload_protocol=resumable
      X-Goog-Upload-Chunk-Granularity:
      - '262144'
      X-Goog-Upload-Header-Vary:
      - Origin
      - X-Origin
      X-Goog-Upload-Header-X-Google-Backends:
      - oiae66:4566
      X-Goog-Upload-Header-X-Google-Session-Info:
      - CKeBxoimHBoCGAY6bwoPZHJpdmUtcm9zeS1wcm9kEgVkcml2ZRiDqMHn7wUiSDIwMTgxMjEwNDE5NS1pcDNwN2xrcWE1N29lYm84NTkwZXJtZ2E3MjBpMW5uaC5hcHBzLmdvb2dsZXVzZXJjb250ZW50LmNvbTDxDjDvDkqYARKEAXlhMjkuR2wxNkJSYzUxcDhmRG9SSWZjWXF1aXpFU2o5UHNzV3FEbkpGc0hlVVh0aFVyY0t5SkdKQ1BwZEs1Y1JzQzF1czMtYzhSTmRVZGVianVEQkVlX1dPdWN5NUdiUnFJZzh6UXlDemJUYm56RDFVdFoxTzRjYm9RX2FTV1I5dXBkUTAEOg0xL1N4M0NoLWFKdTJ-
      X-Goog-Upload-Header-Cache-Control:
      - no-cache, no-store, max-age=0, must-revalidate
      X-Goog-Upload-Header-Pragma:
      - no-cache
      X-Goog-Upload-Header-Expires:
      - Mon, 01 Jan 1990 00:00:00 GMT
      X-Goog-Upload-Header-Date:
      - Sat, 10 Mar 2018 03:15:26 GMT
      Content-Type:
      - text/html; charset=UTF-8
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Sat, 10 Mar 2018 03:15:26 GMT
- request:
    method: post
    uri: https://www.googleapis.com/upload/drive/v3/files/16MJ64HqUmybFja_YIj0hWfNt7HmeY3Fo_QELFFvBCLU?upload_id=AEnB2Uqr3n6gAGohrh2F4x9CYZR8jKm2utL1uKgd3-wHNJw3BW5c9auDWi8w-0quKHl37z10NlRjwJ3OSDHTRlR6kiDB0lr7hKUKbf8kc4s1BXedAjLHvxI&upload_protocol=resumable
    body:
      encoding: UTF-8
      string: new file content
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR USER ACCOUNT>
      X-Goog-Upload-Command:
      - upload, finalize
      X-Goog-Upload-Offset:
      - '0'
      Content-Type:
      - application/octet-stream
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Goog-Upload-Status:
      - final
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "drive#file",
         "id": "16MJ64HqUmybFja_YIj0hWfNt7HmeY3Fo_QELFFvBCLU",
         "name": "File",
         "mimeType": "application/vnd.google-apps.document"
        }
  recorded_at: Sat, 10 Mar 2018 03:15:28 GMT
- request:
    method: get
    uri: https://www.googleapis.com/drive/v3/changes?fields=nextPageToken,newStartPageToken,changes/fileId&pageSize=100&pageToken=6384
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR TRACKING ACCOUNT>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "newStartPageToken": "6388",
         "changes": [
          {
           "fileId": "1X1QOs5WATwGkaKSp_S3IfzKvjU19bKSK"
          },
          {
           "fileId": "16MJ64HqUmybFja_YIj0hWfNt7HmeY3Fo_QELFFvBCLU"
          }
         ]
        }
  recorded_at: Sat, 10 Mar 2018 03:16:28 GMT
[...]
- request:
    method: get
    uri: https://www.googleapis.com/drive/v3/files/16MJ64HqUmybFja_YIj0hWfNt7HmeY3Fo_QELFFvBCLU?fields=id,name,mimeType,parents,trashed
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR TRACKING ACCOUNT>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "id": "16MJ64HqUmybFja_YIj0hWfNt7HmeY3Fo_QELFFvBCLU",
         "name": "File",
         "mimeType": "application/vnd.google-apps.document",
         "trashed": false,
         "parents": [
          "1X1QOs5WATwGkaKSp_S3IfzKvjU19bKSK"
         ]
        }
  recorded_at: Sat, 10 Mar 2018 03:16:28 GMT
[...]
- request:
    method: delete
    uri: https://www.googleapis.com/drive/v3/files/1X1QOs5WATwGkaKSp_S3IfzKvjU19bKSK
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR USER ACCOUNT>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 204
      message: No Content
    headers:
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Sat, 10 Mar 2018 03:16:30 GMT
recorded_with: VCR 4.0.0
