---
http_interactions:
- request:
    method: post
    uri: https://www.googleapis.com/oauth2/v4/token
    body:
      encoding: ASCII-8BIT
      string: grant_type=refresh_token&refresh_token=<REFRESH TOKEN FOR TRACKING ACCOUNT>&client_id=<CLIENT
        ID>&client_secret=<CLIENT SECRET>
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "access_token": "<ACCESS TOKEN FOR TRACKING ACCOUNT>",
         "token_type": "Bearer",
         "expires_in": 3600
        }
  recorded_at: Mon, 05 Mar 2018 20:28:31 GMT
[...]
- request:
    method: post
    uri: https://www.googleapis.com/drive/v3/files?fields=id,name,mimeType,parents,trashed
    body:
      encoding: UTF-8
      string: '{"mimeType":"application/vnd.google-apps.folder","name":"Test @ 2018-03-05
        20:28:31 UTC","parents":["root"]}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <ACCESS TOKEN FOR USER ACCOUNT>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "id": "1THtbtU7wG3gimifUnrcBgwei0pV6gMEn",
         "name": "Test @ 2018-03-05 20:28:31 UTC",
         "mimeType": "application/vnd.google-apps.folder",
         "trashed": false,
         "parents": [
          "0AEIi2L68pCuiUk9PVA"
         ]
        }
  recorded_at: Mon, 05 Mar 2018 20:28:32 GMT
- request:
    method: post
    uri: https://www.googleapis.com/drive/v3/files/1THtbtU7wG3gimifUnrcBgwei0pV6gMEn/permissions?sendNotificationEmail=false
    body:
      encoding: UTF-8
      string: '{"emailAddress":"<EMAIL ADDRESS FOR TRACKING ACCOUNT>","role":"writer","type":"user"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <ACCESS TOKEN FOR USER ACCOUNT>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "drive#permission",
         "id": "11673017242486491425",
         "type": "user",
         "role": "writer"
        }
  recorded_at: Mon, 05 Mar 2018 20:28:32 GMT
- request:
    method: get
    uri: https://www.googleapis.com/drive/v3/changes/startPageToken
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR TRACKING ACCOUNT>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "drive#startPageToken",
         "startPageToken": "5166"
        }
  recorded_at: Mon, 05 Mar 2018 20:28:33 GMT
[...]
- request:
    method: get
    uri: https://www.googleapis.com/drive/v3/files/1THtbtU7wG3gimifUnrcBgwei0pV6gMEn?fields=id,%20name,%20mimeType,%20version,%20modifiedTime
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR TRACKING ACCOUNT>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "id": "1THtbtU7wG3gimifUnrcBgwei0pV6gMEn",
         "name": "Test @ 2018-03-05 20:28:31 UTC",
         "mimeType": "application/vnd.google-apps.folder",
         "version": "3",
         "modifiedTime": "2018-03-05T20:28:32.313Z"
        }
  recorded_at: Mon, 05 Mar 2018 20:28:34 GMT
- request:
    method: get
    uri: https://www.googleapis.com/drive/v3/files/1THtbtU7wG3gimifUnrcBgwei0pV6gMEn?fields=id,name,mimeType,parents,trashed
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR TRACKING ACCOUNT>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "id": "1THtbtU7wG3gimifUnrcBgwei0pV6gMEn",
         "name": "Test @ 2018-03-05 20:28:31 UTC",
         "mimeType": "application/vnd.google-apps.folder",
         "trashed": false
        }
  recorded_at: Mon, 05 Mar 2018 20:28:34 GMT
- request:
    method: get
    uri: https://www.googleapis.com/drive/v3/files/1THtbtU7wG3gimifUnrcBgwei0pV6gMEn/revisions/head
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR TRACKING ACCOUNT>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 403
      message: Forbidden
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "error": {
          "errors": [
           {
            "domain": "global",
            "reason": "revisionsNotSupported",
            "message": "The file does not support revisions."
           }
          ],
          "code": 403,
          "message": "The file does not support revisions."
         }
        }
  recorded_at: Mon, 05 Mar 2018 20:28:34 GMT
- request:
    method: get
    uri: https://www.googleapis.com/drive/v3/files?fields=files/id,files/name,files/mimeType,files/parents,files/trashed&q=%271THtbtU7wG3gimifUnrcBgwei0pV6gMEn%27%20in%20parents
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR TRACKING ACCOUNT>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "files": [
          {
           "id": "1m97K4lIDnJXykeHlrnOybJn2kQef3hIu2a5Ubw508rY",
           "name": "File",
           "mimeType": "application/vnd.google-apps.document",
           "trashed": false,
           "parents": [
            "1THtbtU7wG3gimifUnrcBgwei0pV6gMEn"
           ]
          }
         ]
        }
  recorded_at: Mon, 05 Mar 2018 20:28:34 GMT
- request:
    method: get
    uri: https://www.googleapis.com/drive/v3/files/1m97K4lIDnJXykeHlrnOybJn2kQef3hIu2a5Ubw508rY/revisions/head
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR TRACKING ACCOUNT>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "error": {
          "errors": [
           {
            "domain": "global",
            "reason": "notFound",
            "message": "Revision not found: head.",
            "locationType": "parameter",
            "location": "revisionId"
           }
          ],
          "code": 404,
          "message": "Revision not found: head."
         }
        }
  recorded_at: Mon, 05 Mar 2018 20:28:35 GMT
- request:
    method: patch
    uri: https://www.googleapis.com/upload/drive/v3/files/1m97K4lIDnJXykeHlrnOybJn2kQef3hIu2a5Ubw508rY
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR USER ACCOUNT>
      X-Goog-Upload-Protocol:
      - resumable
      X-Goog-Upload-Command:
      - start
      X-Goog-Upload-Header-Content-Length:
      - '16'
      X-Goog-Upload-Header-Content-Type:
      - application/octet-stream
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Goog-Upload-Status:
      - active
      X-Goog-Upload-Url:
      - https://www.googleapis.com/upload/drive/v3/files/1m97K4lIDnJXykeHlrnOybJn2kQef3hIu2a5Ubw508rY?upload_id=AEnB2Up2w43MUHi540MnfwgTWxWIFYVSdQQvkmoRhQs9mSVHswmSKSEetzAfOBKw8OdNQiYRJ_JKQ4g6U1ubui_t_z4EszmVA_5t_k7Jkl10HHoMXejwvf4&upload_protocol=resumable
      X-Goog-Upload-Control-Url:
      - https://www.googleapis.com/upload/drive/v3/files/1m97K4lIDnJXykeHlrnOybJn2kQef3hIu2a5Ubw508rY?upload_id=AEnB2Up2w43MUHi540MnfwgTWxWIFYVSdQQvkmoRhQs9mSVHswmSKSEetzAfOBKw8OdNQiYRJ_JKQ4g6U1ubui_t_z4EszmVA_5t_k7Jkl10HHoMXejwvf4&upload_protocol=resumable
      X-Goog-Upload-Chunk-Granularity:
      - '262144'
      X-Goog-Upload-Header-Vary:
      - Origin
      - X-Origin
      X-Goog-Upload-Header-X-Google-Backends:
      - iodp63:4554
      X-Goog-Upload-Header-X-Google-Session-Info:
      - CKeBxoimHBoCGAY6bwoPZHJpdmUtcm9zeS1wcm9kEgVkcml2ZRiDqMHn7wUiSDIwMTgxMjEwNDE5NS1pcDNwN2xrcWE1N29lYm84NTkwZXJtZ2E3MjBpMW5uaC5hcHBzLmdvb2dsZXVzZXJjb250ZW50LmNvbTDxDjDvDkqYARKEAXlhMjkuR2wxMUJVVTRhLXRqYlZiRndIUXNxME9odjQ2M245bGh4ZkZzemFORFhLUE1vUXNlaXp3akVqODNBUURZWkNWMWgyVXlUeG15WDhodWRFcWpMeUp3U244UE9FdEI2UVJ4NUo3eDJyMnlUVm13a3ltdHVsSmZ2UzZra1BLd2NrVTAEOg0xL1N4M0NoLWFKdTJ-
      X-Goog-Upload-Header-Cache-Control:
      - no-cache, no-store, max-age=0, must-revalidate
      X-Goog-Upload-Header-Pragma:
      - no-cache
      X-Goog-Upload-Header-Expires:
      - Mon, 01 Jan 1990 00:00:00 GMT
      X-Goog-Upload-Header-Date:
      - Mon, 05 Mar 2018 20:28:35 GMT
      Content-Type:
      - text/html; charset=UTF-8
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Mon, 05 Mar 2018 20:28:35 GMT
- request:
    method: post
    uri: https://www.googleapis.com/upload/drive/v3/files/1m97K4lIDnJXykeHlrnOybJn2kQef3hIu2a5Ubw508rY?upload_id=AEnB2Up2w43MUHi540MnfwgTWxWIFYVSdQQvkmoRhQs9mSVHswmSKSEetzAfOBKw8OdNQiYRJ_JKQ4g6U1ubui_t_z4EszmVA_5t_k7Jkl10HHoMXejwvf4&upload_protocol=resumable
    body:
      encoding: UTF-8
      string: new file content
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR USER ACCOUNT>
      X-Goog-Upload-Command:
      - upload, finalize
      X-Goog-Upload-Offset:
      - '0'
      Content-Type:
      - application/octet-stream
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Goog-Upload-Status:
      - final
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "drive#file",
         "id": "1m97K4lIDnJXykeHlrnOybJn2kQef3hIu2a5Ubw508rY",
         "name": "File",
         "mimeType": "application/vnd.google-apps.document"
        }
  recorded_at: Mon, 05 Mar 2018 20:28:36 GMT
- request:
    method: get
    uri: https://www.googleapis.com/drive/v3/changes?fields=nextPageToken,newStartPageToken,changes/fileId&pageSize=100&pageToken=5166
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR TRACKING ACCOUNT>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "newStartPageToken": "5171",
         "changes": [
          {
           "fileId": "1wbAdm1TJd_7chKxC76xRehivl0Oj1p3loYmMxTar4WE"
          },
          {
           "fileId": "1THtbtU7wG3gimifUnrcBgwei0pV6gMEn"
          },
          {
           "fileId": "1m97K4lIDnJXykeHlrnOybJn2kQef3hIu2a5Ubw508rY"
          }
         ]
        }
  recorded_at: Mon, 05 Mar 2018 20:29:36 GMT
- request:
    method: get
    uri: https://www.googleapis.com/drive/v3/files/1wbAdm1TJd_7chKxC76xRehivl0Oj1p3loYmMxTar4WE?fields=id,name,mimeType,parents,trashed
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR TRACKING ACCOUNT>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "error": {
          "errors": [
           {
            "domain": "global",
            "reason": "notFound",
            "message": "File not found: 1wbAdm1TJd_7chKxC76xRehivl0Oj1p3loYmMxTar4WE.",
            "locationType": "parameter",
            "location": "fileId"
           }
          ],
          "code": 404,
          "message": "File not found: 1wbAdm1TJd_7chKxC76xRehivl0Oj1p3loYmMxTar4WE."
         }
        }
  recorded_at: Mon, 05 Mar 2018 20:29:36 GMT
[...]
- request:
    method: get
    uri: https://www.googleapis.com/drive/v3/files/1m97K4lIDnJXykeHlrnOybJn2kQef3hIu2a5Ubw508rY?fields=id,name,mimeType,parents,trashed
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR TRACKING ACCOUNT>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "id": "1m97K4lIDnJXykeHlrnOybJn2kQef3hIu2a5Ubw508rY",
         "name": "File",
         "mimeType": "application/vnd.google-apps.document",
         "trashed": false,
         "parents": [
          "1THtbtU7wG3gimifUnrcBgwei0pV6gMEn"
         ]
        }
  recorded_at: Mon, 05 Mar 2018 20:29:37 GMT
[...]
- request:
    method: delete
    uri: https://www.googleapis.com/drive/v3/files/1THtbtU7wG3gimifUnrcBgwei0pV6gMEn
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR USER ACCOUNT>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 204
      message: No Content
    headers:
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Mon, 05 Mar 2018 20:29:38 GMT
recorded_with: VCR 4.0.0
