---
http_interactions:
- request:
    method: post
    uri: https://www.googleapis.com/oauth2/v4/token
    body:
      encoding: ASCII-8BIT
      string: grant_type=refresh_token&refresh_token=<REFRESH TOKEN FOR TRACKING ACCOUNT>&client_id=<CLIENT
        ID>&client_secret=<CLIENT SECRET>
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "access_token": "<ACCESS TOKEN FOR TRACKING ACCOUNT>",
         "token_type": "Bearer",
         "expires_in": 3600
        }
  recorded_at: Tue, 06 Mar 2018 17:58:00 GMT
[...]
- request:
    method: post
    uri: https://www.googleapis.com/drive/v3/files?fields=id,name,mimeType,parents,trashed
    body:
      encoding: UTF-8
      string: '{"mimeType":"application/vnd.google-apps.folder","name":"Test @ 2018-03-06
        17:58:00 UTC","parents":["root"]}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <ACCESS TOKEN FOR USER ACCOUNT>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "id": "1z0QzEi4Ol55wCoechBC43ggT2iPltFhA",
         "name": "Test @ 2018-03-06 17:58:00 UTC",
         "mimeType": "application/vnd.google-apps.folder",
         "trashed": false,
         "parents": [
          "0AEIi2L68pCuiUk9PVA"
         ]
        }
  recorded_at: Tue, 06 Mar 2018 17:58:01 GMT
- request:
    method: post
    uri: https://www.googleapis.com/drive/v3/files/1z0QzEi4Ol55wCoechBC43ggT2iPltFhA/permissions?sendNotificationEmail=false
    body:
      encoding: UTF-8
      string: '{"emailAddress":"<EMAIL ADDRESS FOR TRACKING ACCOUNT>","role":"writer","type":"user"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <ACCESS TOKEN FOR USER ACCOUNT>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "drive#permission",
         "id": "11673017242486491425",
         "type": "user",
         "role": "writer"
        }
  recorded_at: Tue, 06 Mar 2018 17:58:02 GMT
- request:
    method: get
    uri: https://www.googleapis.com/drive/v3/changes/startPageToken
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR TRACKING ACCOUNT>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "drive#startPageToken",
         "startPageToken": "5512"
        }
  recorded_at: Tue, 06 Mar 2018 17:58:02 GMT
[...]
- request:
    method: get
    uri: https://www.googleapis.com/drive/v3/files/1z0QzEi4Ol55wCoechBC43ggT2iPltFhA?fields=id,%20name,%20mimeType,%20version,%20modifiedTime
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR TRACKING ACCOUNT>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "id": "1z0QzEi4Ol55wCoechBC43ggT2iPltFhA",
         "name": "Test @ 2018-03-06 17:58:00 UTC",
         "mimeType": "application/vnd.google-apps.folder",
         "version": "3",
         "modifiedTime": "2018-03-06T17:58:01.933Z"
        }
  recorded_at: Tue, 06 Mar 2018 17:58:04 GMT
- request:
    method: get
    uri: https://www.googleapis.com/drive/v3/files/1z0QzEi4Ol55wCoechBC43ggT2iPltFhA?fields=id,name,mimeType,parents,trashed
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR TRACKING ACCOUNT>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "id": "1z0QzEi4Ol55wCoechBC43ggT2iPltFhA",
         "name": "Test @ 2018-03-06 17:58:00 UTC",
         "mimeType": "application/vnd.google-apps.folder",
         "trashed": false
        }
  recorded_at: Tue, 06 Mar 2018 17:58:09 GMT
- request:
    method: get
    uri: https://www.googleapis.com/drive/v3/files/1z0QzEi4Ol55wCoechBC43ggT2iPltFhA/revisions/head
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR TRACKING ACCOUNT>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 403
      message: Forbidden
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "error": {
          "errors": [
           {
            "domain": "global",
            "reason": "revisionsNotSupported",
            "message": "The file does not support revisions."
           }
          ],
          "code": 403,
          "message": "The file does not support revisions."
         }
        }
  recorded_at: Tue, 06 Mar 2018 17:58:09 GMT
- request:
    method: get
    uri: https://www.googleapis.com/drive/v3/files?fields=files/id,files/name,files/mimeType,files/parents,files/trashed&q=%271z0QzEi4Ol55wCoechBC43ggT2iPltFhA%27%20in%20parents
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR TRACKING ACCOUNT>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "files": [
          {
           "id": "157Djya6R4TKv0f9jnzEdS_8Oq4IMF4S0o3GMhCnZqPI",
           "name": "File",
           "mimeType": "application/vnd.google-apps.document",
           "trashed": false,
           "parents": [
            "1z0QzEi4Ol55wCoechBC43ggT2iPltFhA"
           ]
          }
         ]
        }
  recorded_at: Tue, 06 Mar 2018 17:58:10 GMT
- request:
    method: get
    uri: https://www.googleapis.com/drive/v3/files/157Djya6R4TKv0f9jnzEdS_8Oq4IMF4S0o3GMhCnZqPI/revisions/head
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR TRACKING ACCOUNT>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "drive#revision",
         "id": "1",
         "mimeType": "application/vnd.google-apps.document",
         "modifiedTime": "2018-03-06T17:58:03.253Z"
        }
  recorded_at: Tue, 06 Mar 2018 17:58:10 GMT
- request:
    method: delete
    uri: https://www.googleapis.com/drive/v3/files/1z0QzEi4Ol55wCoechBC43ggT2iPltFhA
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR USER ACCOUNT>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 204
      message: No Content
    headers:
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 06 Mar 2018 17:58:10 GMT
- request:
    method: get
    uri: https://www.googleapis.com/drive/v3/changes?fields=nextPageToken,newStartPageToken,changes/fileId&pageSize=100&pageToken=5512
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR TRACKING ACCOUNT>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "newStartPageToken": "5515",
         "changes": [
          {
           "fileId": "1z0QzEi4Ol55wCoechBC43ggT2iPltFhA"
          },
          {
           "fileId": "157Djya6R4TKv0f9jnzEdS_8Oq4IMF4S0o3GMhCnZqPI"
          }
         ]
        }
  recorded_at: Tue, 06 Mar 2018 17:59:11 GMT
- request:
    method: get
    uri: https://www.googleapis.com/drive/v3/files/1z0QzEi4Ol55wCoechBC43ggT2iPltFhA?fields=id,name,mimeType,parents,trashed
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR TRACKING ACCOUNT>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "error": {
          "errors": [
           {
            "domain": "global",
            "reason": "notFound",
            "message": "File not found: 1z0QzEi4Ol55wCoechBC43ggT2iPltFhA.",
            "locationType": "parameter",
            "location": "fileId"
           }
          ],
          "code": 404,
          "message": "File not found: 1z0QzEi4Ol55wCoechBC43ggT2iPltFhA."
         }
        }
  recorded_at: Tue, 06 Mar 2018 17:59:11 GMT
- request:
    method: get
    uri: https://www.googleapis.com/drive/v3/files/157Djya6R4TKv0f9jnzEdS_8Oq4IMF4S0o3GMhCnZqPI?fields=id,name,mimeType,parents,trashed
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR TRACKING ACCOUNT>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "error": {
          "errors": [
           {
            "domain": "global",
            "reason": "notFound",
            "message": "File not found: 157Djya6R4TKv0f9jnzEdS_8Oq4IMF4S0o3GMhCnZqPI.",
            "locationType": "parameter",
            "location": "fileId"
           }
          ],
          "code": 404,
          "message": "File not found: 157Djya6R4TKv0f9jnzEdS_8Oq4IMF4S0o3GMhCnZqPI."
         }
        }
  recorded_at: Tue, 06 Mar 2018 17:59:11 GMT
recorded_with: VCR 4.0.0
