---
http_interactions:
- request:
    method: post
    uri: https://www.googleapis.com/oauth2/v4/token
    body:
      encoding: ASCII-8BIT
      string: grant_type=refresh_token&refresh_token=<REFRESH TOKEN FOR TRACKING ACCOUNT>&client_id=<CLIENT
        ID>&client_secret=<CLIENT SECRET>
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "access_token": "<ACCESS TOKEN FOR TRACKING ACCOUNT>",
         "token_type": "Bearer",
         "expires_in": 3600
        }
  recorded_at: Tue, 06 Mar 2018 18:03:25 GMT
[...]
- request:
    method: post
    uri: https://www.googleapis.com/drive/v3/files?fields=id,name,mimeType,parents,trashed
    body:
      encoding: UTF-8
      string: '{"mimeType":"application/vnd.google-apps.folder","name":"Test @ 2018-03-06
        18:03:26 UTC","parents":["root"]}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <ACCESS TOKEN FOR USER ACCOUNT>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "id": "1lE7ka_j1GDcLlpm4tMZ6UZgXG1Tu3DvP",
         "name": "Test @ 2018-03-06 18:03:26 UTC",
         "mimeType": "application/vnd.google-apps.folder",
         "trashed": false,
         "parents": [
          "0AEIi2L68pCuiUk9PVA"
         ]
        }
  recorded_at: Tue, 06 Mar 2018 18:03:26 GMT
- request:
    method: post
    uri: https://www.googleapis.com/drive/v3/files/1lE7ka_j1GDcLlpm4tMZ6UZgXG1Tu3DvP/permissions?sendNotificationEmail=false
    body:
      encoding: UTF-8
      string: '{"emailAddress":"<EMAIL ADDRESS FOR TRACKING ACCOUNT>","role":"writer","type":"user"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <ACCESS TOKEN FOR USER ACCOUNT>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "drive#permission",
         "id": "11673017242486491425",
         "type": "user",
         "role": "writer"
        }
  recorded_at: Tue, 06 Mar 2018 18:03:27 GMT
- request:
    method: get
    uri: https://www.googleapis.com/drive/v3/changes/startPageToken
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR TRACKING ACCOUNT>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "drive#startPageToken",
         "startPageToken": "5532"
        }
  recorded_at: Tue, 06 Mar 2018 18:03:28 GMT
[...]
- request:
    method: get
    uri: https://www.googleapis.com/drive/v3/files/1lE7ka_j1GDcLlpm4tMZ6UZgXG1Tu3DvP?fields=id,%20name,%20mimeType,%20version,%20modifiedTime
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR TRACKING ACCOUNT>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "id": "1lE7ka_j1GDcLlpm4tMZ6UZgXG1Tu3DvP",
         "name": "Test @ 2018-03-06 18:03:26 UTC",
         "mimeType": "application/vnd.google-apps.folder",
         "version": "2",
         "modifiedTime": "2018-03-06T18:03:26.838Z"
        }
  recorded_at: Tue, 06 Mar 2018 18:03:29 GMT
- request:
    method: get
    uri: https://www.googleapis.com/drive/v3/files/1lE7ka_j1GDcLlpm4tMZ6UZgXG1Tu3DvP?fields=id,name,mimeType,parents,trashed
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR TRACKING ACCOUNT>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "id": "1lE7ka_j1GDcLlpm4tMZ6UZgXG1Tu3DvP",
         "name": "Test @ 2018-03-06 18:03:26 UTC",
         "mimeType": "application/vnd.google-apps.folder",
         "trashed": false
        }
  recorded_at: Tue, 06 Mar 2018 18:03:30 GMT
- request:
    method: get
    uri: https://www.googleapis.com/drive/v3/files/1lE7ka_j1GDcLlpm4tMZ6UZgXG1Tu3DvP/revisions/head
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR TRACKING ACCOUNT>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 403
      message: Forbidden
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "error": {
          "errors": [
           {
            "domain": "global",
            "reason": "revisionsNotSupported",
            "message": "The file does not support revisions."
           }
          ],
          "code": 403,
          "message": "The file does not support revisions."
         }
        }
  recorded_at: Tue, 06 Mar 2018 18:03:30 GMT
- request:
    method: get
    uri: https://www.googleapis.com/drive/v3/files?fields=files/id,files/name,files/mimeType,files/parents,files/trashed&q=%271lE7ka_j1GDcLlpm4tMZ6UZgXG1Tu3DvP%27%20in%20parents
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR TRACKING ACCOUNT>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "files": [
          {
           "id": "1PJmssahx1JxEfK6k2AelL5-DAOQOZCb3",
           "name": "Folder",
           "mimeType": "application/vnd.google-apps.folder",
           "trashed": false,
           "parents": [
            "1lE7ka_j1GDcLlpm4tMZ6UZgXG1Tu3DvP"
           ]
          }
         ]
        }
  recorded_at: Tue, 06 Mar 2018 18:03:30 GMT
- request:
    method: get
    uri: https://www.googleapis.com/drive/v3/files/1PJmssahx1JxEfK6k2AelL5-DAOQOZCb3/revisions/head
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR TRACKING ACCOUNT>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 403
      message: Forbidden
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "error": {
          "errors": [
           {
            "domain": "global",
            "reason": "revisionsNotSupported",
            "message": "The file does not support revisions."
           }
          ],
          "code": 403,
          "message": "The file does not support revisions."
         }
        }
  recorded_at: Tue, 06 Mar 2018 18:03:30 GMT
- request:
    method: get
    uri: https://www.googleapis.com/drive/v3/files?fields=files/id,files/name,files/mimeType,files/parents,files/trashed&q=%271PJmssahx1JxEfK6k2AelL5-DAOQOZCb3%27%20in%20parents
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR TRACKING ACCOUNT>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "files": [
          {
           "id": "1S6f7CmMQjYuYf1E3kQFmLNpsky_VxUG64X828aYRdgk",
           "name": "File To Move",
           "mimeType": "application/vnd.google-apps.document",
           "trashed": false,
           "parents": [
            "1PJmssahx1JxEfK6k2AelL5-DAOQOZCb3"
           ]
          }
         ]
        }
  recorded_at: Tue, 06 Mar 2018 18:03:31 GMT
- request:
    method: get
    uri: https://www.googleapis.com/drive/v3/files/1S6f7CmMQjYuYf1E3kQFmLNpsky_VxUG64X828aYRdgk/revisions/head
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR TRACKING ACCOUNT>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "error": {
          "errors": [
           {
            "domain": "global",
            "reason": "notFound",
            "message": "Revision not found: head.",
            "locationType": "parameter",
            "location": "revisionId"
           }
          ],
          "code": 404,
          "message": "Revision not found: head."
         }
        }
  recorded_at: Tue, 06 Mar 2018 18:03:31 GMT
- request:
    method: patch
    uri: https://www.googleapis.com/drive/v3/files/1S6f7CmMQjYuYf1E3kQFmLNpsky_VxUG64X828aYRdgk?addParents=1lE7ka_j1GDcLlpm4tMZ6UZgXG1Tu3DvP&fields=id,name,mimeType,parents,trashed&removeParents=1PJmssahx1JxEfK6k2AelL5-DAOQOZCb3
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR USER ACCOUNT>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "id": "1S6f7CmMQjYuYf1E3kQFmLNpsky_VxUG64X828aYRdgk",
         "name": "File To Move",
         "mimeType": "application/vnd.google-apps.document",
         "trashed": false,
         "parents": [
          "1lE7ka_j1GDcLlpm4tMZ6UZgXG1Tu3DvP"
         ]
        }
  recorded_at: Tue, 06 Mar 2018 18:03:31 GMT
- request:
    method: get
    uri: https://www.googleapis.com/drive/v3/changes?fields=nextPageToken,newStartPageToken,changes/fileId&pageSize=100&pageToken=5532
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR TRACKING ACCOUNT>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "newStartPageToken": "5539",
         "changes": [
          {
           "fileId": "1nk6m9sZ2i_D3218sCDN2Qd272eZ4m77hIvlIM2WwEJ4"
          },
          {
           "fileId": "1PJmssahx1JxEfK6k2AelL5-DAOQOZCb3"
          },
          {
           "fileId": "1S6f7CmMQjYuYf1E3kQFmLNpsky_VxUG64X828aYRdgk"
          },
          {
           "fileId": "1lE7ka_j1GDcLlpm4tMZ6UZgXG1Tu3DvP"
          }
         ]
        }
  recorded_at: Tue, 06 Mar 2018 18:04:32 GMT
- request:
    method: get
    uri: https://www.googleapis.com/drive/v3/files/1nk6m9sZ2i_D3218sCDN2Qd272eZ4m77hIvlIM2WwEJ4?fields=id,name,mimeType,parents,trashed
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR TRACKING ACCOUNT>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "error": {
          "errors": [
           {
            "domain": "global",
            "reason": "notFound",
            "message": "File not found: 1nk6m9sZ2i_D3218sCDN2Qd272eZ4m77hIvlIM2WwEJ4.",
            "locationType": "parameter",
            "location": "fileId"
           }
          ],
          "code": 404,
          "message": "File not found: 1nk6m9sZ2i_D3218sCDN2Qd272eZ4m77hIvlIM2WwEJ4."
         }
        }
  recorded_at: Tue, 06 Mar 2018 18:04:32 GMT
- request:
    method: get
    uri: https://www.googleapis.com/drive/v3/files/1PJmssahx1JxEfK6k2AelL5-DAOQOZCb3?fields=id,name,mimeType,parents,trashed
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR TRACKING ACCOUNT>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "id": "1PJmssahx1JxEfK6k2AelL5-DAOQOZCb3",
         "name": "Folder",
         "mimeType": "application/vnd.google-apps.folder",
         "trashed": false,
         "parents": [
          "1lE7ka_j1GDcLlpm4tMZ6UZgXG1Tu3DvP"
         ]
        }
  recorded_at: Tue, 06 Mar 2018 18:04:32 GMT
[...]
- request:
    method: get
    uri: https://www.googleapis.com/drive/v3/files/1S6f7CmMQjYuYf1E3kQFmLNpsky_VxUG64X828aYRdgk?fields=id,name,mimeType,parents,trashed
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR TRACKING ACCOUNT>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "id": "1S6f7CmMQjYuYf1E3kQFmLNpsky_VxUG64X828aYRdgk",
         "name": "File To Move",
         "mimeType": "application/vnd.google-apps.document",
         "trashed": false,
         "parents": [
          "1lE7ka_j1GDcLlpm4tMZ6UZgXG1Tu3DvP"
         ]
        }
  recorded_at: Tue, 06 Mar 2018 18:04:34 GMT
[...]
- request:
    method: delete
    uri: https://www.googleapis.com/drive/v3/files/1lE7ka_j1GDcLlpm4tMZ6UZgXG1Tu3DvP
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR USER ACCOUNT>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 204
      message: No Content
    headers:
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 06 Mar 2018 18:04:35 GMT
recorded_with: VCR 4.0.0
