---
http_interactions:
- request:
    method: post
    uri: https://www.googleapis.com/oauth2/v4/token
    body:
      encoding: ASCII-8BIT
      string: grant_type=refresh_token&refresh_token=<REFRESH TOKEN FOR TRACKING ACCOUNT>&client_id=<CLIENT
        ID>&client_secret=<CLIENT SECRET>
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "access_token": "<ACCESS TOKEN FOR TRACKING ACCOUNT>",
         "token_type": "Bearer",
         "expires_in": 3600
        }
  recorded_at: Sat, 10 Mar 2018 03:17:43 GMT
[...]
- request:
    method: post
    uri: https://www.googleapis.com/drive/v3/files?fields=id,name,mimeType,parents,trashed
    body:
      encoding: UTF-8
      string: '{"mimeType":"application/vnd.google-apps.folder","name":"Test @ 2018-03-10
        03:17:44 UTC","parents":["root"]}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <ACCESS TOKEN FOR USER ACCOUNT>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "id": "1agwPqeL5Wy7newXkbnTmRcaRGh8UWMe1",
         "name": "Test @ 2018-03-10 03:17:44 UTC",
         "mimeType": "application/vnd.google-apps.folder",
         "trashed": false,
         "parents": [
          "0AEIi2L68pCuiUk9PVA"
         ]
        }
  recorded_at: Sat, 10 Mar 2018 03:17:45 GMT
- request:
    method: post
    uri: https://www.googleapis.com/drive/v3/files/1agwPqeL5Wy7newXkbnTmRcaRGh8UWMe1/permissions?sendNotificationEmail=false
    body:
      encoding: UTF-8
      string: '{"emailAddress":"<EMAIL ADDRESS FOR TRACKING ACCOUNT>","role":"writer","type":"user"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <ACCESS TOKEN FOR USER ACCOUNT>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "drive#permission",
         "id": "11673017242486491425",
         "type": "user",
         "role": "writer"
        }
  recorded_at: Sat, 10 Mar 2018 03:17:46 GMT
- request:
    method: get
    uri: https://www.googleapis.com/drive/v3/changes/startPageToken
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR TRACKING ACCOUNT>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "drive#startPageToken",
         "startPageToken": "6397"
        }
  recorded_at: Sat, 10 Mar 2018 03:17:46 GMT
[...]
- request:
    method: get
    uri: https://www.googleapis.com/drive/v3/files/1agwPqeL5Wy7newXkbnTmRcaRGh8UWMe1?fields=id,name,mimeType,parents,trashed
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR TRACKING ACCOUNT>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "id": "1agwPqeL5Wy7newXkbnTmRcaRGh8UWMe1",
         "name": "Test @ 2018-03-10 03:17:44 UTC",
         "mimeType": "application/vnd.google-apps.folder",
         "trashed": false
        }
  recorded_at: Sat, 10 Mar 2018 03:17:48 GMT
[...]
- request:
    method: get
    uri: https://www.googleapis.com/drive/v3/files/1agwPqeL5Wy7newXkbnTmRcaRGh8UWMe1/revisions/head
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR TRACKING ACCOUNT>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 403
      message: Forbidden
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "error": {
          "errors": [
           {
            "domain": "global",
            "reason": "revisionsNotSupported",
            "message": "The file does not support revisions."
           }
          ],
          "code": 403,
          "message": "The file does not support revisions."
         }
        }
  recorded_at: Sat, 10 Mar 2018 03:17:49 GMT
- request:
    method: get
    uri: https://www.googleapis.com/drive/v3/files?fields=files/id,files/name,files/mimeType,files/parents,files/trashed&q=%271agwPqeL5Wy7newXkbnTmRcaRGh8UWMe1%27%20in%20parents
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR TRACKING ACCOUNT>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "files": [
          {
           "id": "1PRr3fLsx-qUjqjjNhQRbUuKloeqcgBzlAZFHIrr5PCI",
           "name": "File",
           "mimeType": "application/vnd.google-apps.document",
           "trashed": false,
           "parents": [
            "1agwPqeL5Wy7newXkbnTmRcaRGh8UWMe1"
           ]
          }
         ]
        }
  recorded_at: Sat, 10 Mar 2018 03:17:49 GMT
- request:
    method: get
    uri: https://www.googleapis.com/drive/v3/files/1PRr3fLsx-qUjqjjNhQRbUuKloeqcgBzlAZFHIrr5PCI/revisions/head
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR TRACKING ACCOUNT>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "drive#revision",
         "id": "1",
         "mimeType": "application/vnd.google-apps.document",
         "modifiedTime": "2018-03-10T03:17:47.000Z"
        }
  recorded_at: Sat, 10 Mar 2018 03:17:50 GMT
- request:
    method: get
    uri: https://www.googleapis.com/drive/v3/files/1PRr3fLsx-qUjqjjNhQRbUuKloeqcgBzlAZFHIrr5PCI/permissions?fields=permissions/id,%20permissions/emailAddress
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR USER ACCOUNT>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "permissions": [
          {
           "id": "13193959451567607887",
           "emailAddress": "<EMAIL ADDRESS FOR USER ACCOUNT>"
          },
          {
           "id": "11673017242486491425",
           "emailAddress": "<EMAIL ADDRESS FOR TRACKING ACCOUNT>"
          }
         ]
        }
  recorded_at: Sat, 10 Mar 2018 03:17:50 GMT
- request:
    method: delete
    uri: https://www.googleapis.com/drive/v3/files/1PRr3fLsx-qUjqjjNhQRbUuKloeqcgBzlAZFHIrr5PCI/permissions/11673017242486491425
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR USER ACCOUNT>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 204
      message: No Content
    headers:
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Sat, 10 Mar 2018 03:17:51 GMT
- request:
    method: get
    uri: https://www.googleapis.com/drive/v3/changes?fields=nextPageToken,newStartPageToken,changes/fileId&pageSize=100&pageToken=6397
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR TRACKING ACCOUNT>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "newStartPageToken": "6400",
         "changes": [
          {
           "fileId": "1agwPqeL5Wy7newXkbnTmRcaRGh8UWMe1"
          },
          {
           "fileId": "1PRr3fLsx-qUjqjjNhQRbUuKloeqcgBzlAZFHIrr5PCI"
          }
         ]
        }
  recorded_at: Sat, 10 Mar 2018 03:18:51 GMT
[...]
- request:
    method: get
    uri: https://www.googleapis.com/drive/v3/files/1PRr3fLsx-qUjqjjNhQRbUuKloeqcgBzlAZFHIrr5PCI?fields=id,name,mimeType,parents,trashed
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR TRACKING ACCOUNT>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "error": {
          "errors": [
           {
            "domain": "global",
            "reason": "notFound",
            "message": "File not found: 1PRr3fLsx-qUjqjjNhQRbUuKloeqcgBzlAZFHIrr5PCI.",
            "locationType": "parameter",
            "location": "fileId"
           }
          ],
          "code": 404,
          "message": "File not found: 1PRr3fLsx-qUjqjjNhQRbUuKloeqcgBzlAZFHIrr5PCI."
         }
        }
  recorded_at: Sat, 10 Mar 2018 03:18:52 GMT
- request:
    method: delete
    uri: https://www.googleapis.com/drive/v3/files/1agwPqeL5Wy7newXkbnTmRcaRGh8UWMe1
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR USER ACCOUNT>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 204
      message: No Content
    headers:
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Sat, 10 Mar 2018 03:18:53 GMT
recorded_with: VCR 4.0.0
