---
http_interactions:
- request:
    method: post
    uri: https://www.googleapis.com/oauth2/v4/token
    body:
      encoding: ASCII-8BIT
      string: grant_type=refresh_token&refresh_token=<REFRESH TOKEN FOR TRACKING ACCOUNT>&client_id=<CLIENT
        ID>&client_secret=<CLIENT SECRET>
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "access_token": "<ACCESS TOKEN FOR TRACKING ACCOUNT>",
         "token_type": "Bearer",
         "expires_in": 3600
        }
  recorded_at: Sun, 18 Mar 2018 21:35:06 GMT
[...]
- request:
    method: post
    uri: https://www.googleapis.com/drive/v3/files?fields=id,name,mimeType,parents,trashed,thumbnailLink,thumbnailVersion
    body:
      encoding: UTF-8
      string: '{"mimeType":"application/vnd.google-apps.folder","name":"Test @ 2018-03-18
        21:35:06 UTC","parents":["root"]}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <ACCESS TOKEN FOR USER ACCOUNT>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "id": "1va2AYQgUaTsOAa8qDqCCLrMZmibtFQd0",
         "name": "Test @ 2018-03-18 21:35:06 UTC",
         "mimeType": "application/vnd.google-apps.folder",
         "trashed": false,
         "parents": [
          "0AEIi2L68pCuiUk9PVA"
         ],
         "thumbnailVersion": "0"
        }
  recorded_at: Sun, 18 Mar 2018 21:35:07 GMT
- request:
    method: post
    uri: https://www.googleapis.com/drive/v3/files/1va2AYQgUaTsOAa8qDqCCLrMZmibtFQd0/permissions?sendNotificationEmail=false
    body:
      encoding: UTF-8
      string: '{"emailAddress":"<EMAIL ADDRESS FOR TRACKING ACCOUNT>","role":"writer","type":"user"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <ACCESS TOKEN FOR USER ACCOUNT>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "drive#permission",
         "id": "11673017242486491425",
         "type": "user",
         "role": "writer"
        }
  recorded_at: Sun, 18 Mar 2018 21:35:08 GMT
- request:
    method: get
    uri: https://www.googleapis.com/drive/v3/changes/startPageToken
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR TRACKING ACCOUNT>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "drive#startPageToken",
         "startPageToken": "7185"
        }
  recorded_at: Sun, 18 Mar 2018 21:35:08 GMT
[...]
- request:
    method: get
    uri: https://www.googleapis.com/drive/v3/files/1va2AYQgUaTsOAa8qDqCCLrMZmibtFQd0?fields=id,name,mimeType,parents,trashed,thumbnailLink,thumbnailVersion
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR TRACKING ACCOUNT>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "id": "1va2AYQgUaTsOAa8qDqCCLrMZmibtFQd0",
         "name": "Test @ 2018-03-18 21:35:06 UTC",
         "mimeType": "application/vnd.google-apps.folder",
         "trashed": false,
         "thumbnailVersion": "0"
        }
  recorded_at: Sun, 18 Mar 2018 21:35:09 GMT
- request:
    method: get
    uri: https://www.googleapis.com/drive/v3/files/1va2AYQgUaTsOAa8qDqCCLrMZmibtFQd0/revisions/head
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR TRACKING ACCOUNT>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 403
      message: Forbidden
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "error": {
          "errors": [
           {
            "domain": "global",
            "reason": "revisionsNotSupported",
            "message": "The file does not support revisions."
           }
          ],
          "code": 403,
          "message": "The file does not support revisions."
         }
        }
  recorded_at: Sun, 18 Mar 2018 21:35:09 GMT
- request:
    method: get
    uri: https://www.googleapis.com/drive/v3/files?fields=files/id,files/name,files/mimeType,files/parents,files/trashed,files/thumbnailLink,files/thumbnailVersion&q=%271va2AYQgUaTsOAa8qDqCCLrMZmibtFQd0%27%20in%20parents
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR TRACKING ACCOUNT>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "files": [
          {
           "id": "13yxgeTVJvnNbER4bzUo-LEHMAKbAgw7sHqvOgPIzd3M",
           "name": "File To Move",
           "mimeType": "application/vnd.google-apps.document",
           "trashed": false,
           "parents": [
            "1va2AYQgUaTsOAa8qDqCCLrMZmibtFQd0"
           ],
           "thumbnailVersion": "0"
          }
         ]
        }
  recorded_at: Sun, 18 Mar 2018 21:35:10 GMT
- request:
    method: get
    uri: https://www.googleapis.com/drive/v3/files/13yxgeTVJvnNbER4bzUo-LEHMAKbAgw7sHqvOgPIzd3M/revisions/head
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR TRACKING ACCOUNT>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "drive#revision",
         "id": "1",
         "mimeType": "application/vnd.google-apps.document",
         "modifiedTime": "2018-03-18T21:35:08.629Z"
        }
  recorded_at: Sun, 18 Mar 2018 21:35:13 GMT
[...]
- request:
    method: patch
    uri: https://www.googleapis.com/drive/v3/files/13yxgeTVJvnNbER4bzUo-LEHMAKbAgw7sHqvOgPIzd3M?addParents=15OYxl2aVDaBnblr2I1Z4csgjzFK4rlb4&fields=id,name,mimeType,parents,trashed,thumbnailLink,thumbnailVersion&removeParents=1va2AYQgUaTsOAa8qDqCCLrMZmibtFQd0
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR USER ACCOUNT>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "id": "13yxgeTVJvnNbER4bzUo-LEHMAKbAgw7sHqvOgPIzd3M",
         "name": "File To Move",
         "mimeType": "application/vnd.google-apps.document",
         "trashed": false,
         "parents": [
          "15OYxl2aVDaBnblr2I1Z4csgjzFK4rlb4"
         ],
         "thumbnailLink": "https://docs.google.com/feeds/vt?gd=true&id=13yxgeTVJvnNbER4bzUo-LEHMAKbAgw7sHqvOgPIzd3M&v=1&s=AMedNnoAAAAAWq73ssLQpIbItoqHQVkopnVNhnXo5E4u&sz=s220",
         "thumbnailVersion": "1"
        }
  recorded_at: Sun, 18 Mar 2018 21:35:14 GMT
- request:
    method: get
    uri: https://www.googleapis.com/drive/v3/changes?fields=nextPageToken,newStartPageToken,changes/fileId&pageSize=100&pageToken=7185
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR TRACKING ACCOUNT>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "newStartPageToken": "7189",
         "changes": [
          {
           "fileId": "1va2AYQgUaTsOAa8qDqCCLrMZmibtFQd0"
          },
          {
           "fileId": "13yxgeTVJvnNbER4bzUo-LEHMAKbAgw7sHqvOgPIzd3M"
          }
         ]
        }
  recorded_at: Sun, 18 Mar 2018 21:36:14 GMT
[...]
- request:
    method: get
    uri: https://www.googleapis.com/drive/v3/files/13yxgeTVJvnNbER4bzUo-LEHMAKbAgw7sHqvOgPIzd3M?fields=id,name,mimeType,parents,trashed,thumbnailLink,thumbnailVersion
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR TRACKING ACCOUNT>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "error": {
          "errors": [
           {
            "domain": "global",
            "reason": "notFound",
            "message": "File not found: 13yxgeTVJvnNbER4bzUo-LEHMAKbAgw7sHqvOgPIzd3M.",
            "locationType": "parameter",
            "location": "fileId"
           }
          ],
          "code": 404,
          "message": "File not found: 13yxgeTVJvnNbER4bzUo-LEHMAKbAgw7sHqvOgPIzd3M."
         }
        }
  recorded_at: Sun, 18 Mar 2018 21:36:15 GMT
- request:
    method: delete
    uri: https://www.googleapis.com/drive/v3/files/15OYxl2aVDaBnblr2I1Z4csgjzFK4rlb4
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR USER ACCOUNT>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 204
      message: No Content
    headers:
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Sun, 18 Mar 2018 21:36:16 GMT
- request:
    method: delete
    uri: https://www.googleapis.com/drive/v3/files/1va2AYQgUaTsOAa8qDqCCLrMZmibtFQd0
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR USER ACCOUNT>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 204
      message: No Content
    headers:
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Sun, 18 Mar 2018 21:36:16 GMT
recorded_with: VCR 4.0.0
