---
http_interactions:
- request:
    method: post
    uri: https://www.googleapis.com/oauth2/v4/token
    body:
      encoding: ASCII-8BIT
      string: grant_type=refresh_token&refresh_token=<REFRESH TOKEN FOR TRACKING ACCOUNT>&client_id=<CLIENT
        ID>&client_secret=<CLIENT SECRET>
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "access_token": "<ACCESS TOKEN FOR TRACKING ACCOUNT>",
         "token_type": "Bearer",
         "expires_in": 3600
        }
  recorded_at: Tue, 06 Mar 2018 18:05:48 GMT
[...]
- request:
    method: post
    uri: https://www.googleapis.com/drive/v3/files?fields=id,name,mimeType,parents,trashed
    body:
      encoding: UTF-8
      string: '{"mimeType":"application/vnd.google-apps.folder","name":"Test @ 2018-03-06
        18:05:49 UTC","parents":["root"]}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <ACCESS TOKEN FOR USER ACCOUNT>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "id": "1rv7RzpDLW2WbQn0NzzDFP5AMhf5l5IQK",
         "name": "Test @ 2018-03-06 18:05:49 UTC",
         "mimeType": "application/vnd.google-apps.folder",
         "trashed": false,
         "parents": [
          "0AEIi2L68pCuiUk9PVA"
         ]
        }
  recorded_at: Tue, 06 Mar 2018 18:05:49 GMT
- request:
    method: post
    uri: https://www.googleapis.com/drive/v3/files/1rv7RzpDLW2WbQn0NzzDFP5AMhf5l5IQK/permissions?sendNotificationEmail=false
    body:
      encoding: UTF-8
      string: '{"emailAddress":"<EMAIL ADDRESS FOR TRACKING ACCOUNT>","role":"writer","type":"user"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <ACCESS TOKEN FOR USER ACCOUNT>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "drive#permission",
         "id": "11673017242486491425",
         "type": "user",
         "role": "writer"
        }
  recorded_at: Tue, 06 Mar 2018 18:05:50 GMT
- request:
    method: get
    uri: https://www.googleapis.com/drive/v3/changes/startPageToken
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR TRACKING ACCOUNT>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "drive#startPageToken",
         "startPageToken": "5549"
        }
  recorded_at: Tue, 06 Mar 2018 18:05:50 GMT
[...]
- request:
    method: get
    uri: https://www.googleapis.com/drive/v3/files/1rv7RzpDLW2WbQn0NzzDFP5AMhf5l5IQK?fields=id,%20name,%20mimeType,%20version,%20modifiedTime
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR TRACKING ACCOUNT>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "id": "1rv7RzpDLW2WbQn0NzzDFP5AMhf5l5IQK",
         "name": "Test @ 2018-03-06 18:05:49 UTC",
         "mimeType": "application/vnd.google-apps.folder",
         "version": "3",
         "modifiedTime": "2018-03-06T18:05:49.855Z"
        }
  recorded_at: Tue, 06 Mar 2018 18:05:51 GMT
- request:
    method: get
    uri: https://www.googleapis.com/drive/v3/files/1rv7RzpDLW2WbQn0NzzDFP5AMhf5l5IQK?fields=id,name,mimeType,parents,trashed
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR TRACKING ACCOUNT>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "id": "1rv7RzpDLW2WbQn0NzzDFP5AMhf5l5IQK",
         "name": "Test @ 2018-03-06 18:05:49 UTC",
         "mimeType": "application/vnd.google-apps.folder",
         "trashed": false
        }
  recorded_at: Tue, 06 Mar 2018 18:05:51 GMT
- request:
    method: get
    uri: https://www.googleapis.com/drive/v3/files/1rv7RzpDLW2WbQn0NzzDFP5AMhf5l5IQK/revisions/head
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR TRACKING ACCOUNT>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 403
      message: Forbidden
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "error": {
          "errors": [
           {
            "domain": "global",
            "reason": "revisionsNotSupported",
            "message": "The file does not support revisions."
           }
          ],
          "code": 403,
          "message": "The file does not support revisions."
         }
        }
  recorded_at: Tue, 06 Mar 2018 18:05:52 GMT
- request:
    method: get
    uri: https://www.googleapis.com/drive/v3/files?fields=files/id,files/name,files/mimeType,files/parents,files/trashed&q=%271rv7RzpDLW2WbQn0NzzDFP5AMhf5l5IQK%27%20in%20parents
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR TRACKING ACCOUNT>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "files": [
          {
           "id": "18fh-tPXWN8mRmPAWf67oaZLoGGWewtIISPbeWVngrzo",
           "name": "File",
           "mimeType": "application/vnd.google-apps.document",
           "trashed": false,
           "parents": [
            "1rv7RzpDLW2WbQn0NzzDFP5AMhf5l5IQK"
           ]
          }
         ]
        }
  recorded_at: Tue, 06 Mar 2018 18:05:52 GMT
- request:
    method: get
    uri: https://www.googleapis.com/drive/v3/files/18fh-tPXWN8mRmPAWf67oaZLoGGWewtIISPbeWVngrzo/revisions/head
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR TRACKING ACCOUNT>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "error": {
          "errors": [
           {
            "domain": "global",
            "reason": "notFound",
            "message": "Revision not found: head.",
            "locationType": "parameter",
            "location": "revisionId"
           }
          ],
          "code": 404,
          "message": "Revision not found: head."
         }
        }
  recorded_at: Tue, 06 Mar 2018 18:05:52 GMT
- request:
    method: patch
    uri: https://www.googleapis.com/drive/v3/files/18fh-tPXWN8mRmPAWf67oaZLoGGWewtIISPbeWVngrzo?fields=id,name,mimeType,parents,trashed
    body:
      encoding: UTF-8
      string: '{"name":"New File Name"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <ACCESS TOKEN FOR USER ACCOUNT>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "id": "18fh-tPXWN8mRmPAWf67oaZLoGGWewtIISPbeWVngrzo",
         "name": "New File Name",
         "mimeType": "application/vnd.google-apps.document",
         "trashed": false,
         "parents": [
          "1rv7RzpDLW2WbQn0NzzDFP5AMhf5l5IQK"
         ]
        }
  recorded_at: Tue, 06 Mar 2018 18:05:53 GMT
- request:
    method: get
    uri: https://www.googleapis.com/drive/v3/changes?fields=nextPageToken,newStartPageToken,changes/fileId&pageSize=100&pageToken=5549
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR TRACKING ACCOUNT>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "newStartPageToken": "5552",
         "changes": [
          {
           "fileId": "1rv7RzpDLW2WbQn0NzzDFP5AMhf5l5IQK"
          },
          {
           "fileId": "18fh-tPXWN8mRmPAWf67oaZLoGGWewtIISPbeWVngrzo"
          }
         ]
        }
  recorded_at: Tue, 06 Mar 2018 18:06:53 GMT
[...]
- request:
    method: delete
    uri: https://www.googleapis.com/drive/v3/files/1rv7RzpDLW2WbQn0NzzDFP5AMhf5l5IQK
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR USER ACCOUNT>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 204
      message: No Content
    headers:
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 06 Mar 2018 18:06:55 GMT
recorded_with: VCR 4.0.0
