---
http_interactions:
- request:
    method: post
    uri: https://www.googleapis.com/oauth2/v4/token
    body:
      encoding: ASCII-8BIT
      string: grant_type=refresh_token&refresh_token=<REFRESH TOKEN FOR TRACKING ACCOUNT>&client_id=<CLIENT
        ID>&client_secret=<CLIENT SECRET>
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: |-
        {
          "access_token": "<ACCESS TOKEN FOR TRACKING ACCOUNT>",
          "expires_in": 3600,
          "scope": "https://www.googleapis.com/auth/drive",
          "token_type": "Bearer"
        }
  recorded_at: Thu, 18 Oct 2018 09:33:01 GMT
[...]
- request:
    method: post
    uri: https://www.googleapis.com/drive/v3/files?fields=id,name,mimeType,parents,permissions,trashed,thumbnailLink,thumbnailVersion
    body:
      encoding: UTF-8
      string: '{"mimeType":"application/vnd.google-apps.folder","name":"Test @ 2018-10-18
        09:33:02 UTC","parents":["root"]}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <ACCESS TOKEN FOR USER ACCOUNT>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "id": "1r0ohY5rrq4YgZ_PiO2RU6HXs_How5zg1",
         "name": "Test @ 2018-10-18 09:33:02 UTC",
         "mimeType": "application/vnd.google-apps.folder",
         "trashed": false,
         "parents": [
          "0AEIi2L68pCuiUk9PVA"
         ],
         "thumbnailVersion": "0",
         "permissions": [
          {
           "kind": "drive#permission",
           "id": "13193959451567607887",
           "type": "user",
           "emailAddress": "<EMAIL ADDRESS FOR USER ACCOUNT>",
           "role": "owner",
           "displayName": "Testuser Upshift One",
           "deleted": false
          }
         ]
        }
  recorded_at: Thu, 18 Oct 2018 09:33:02 GMT
- request:
    method: post
    uri: https://www.googleapis.com/drive/v3/files/1r0ohY5rrq4YgZ_PiO2RU6HXs_How5zg1/permissions?sendNotificationEmail=false
    body:
      encoding: UTF-8
      string: '{"emailAddress":"<EMAIL ADDRESS FOR TRACKING ACCOUNT>","role":"writer","type":"user"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <ACCESS TOKEN FOR USER ACCOUNT>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "drive#permission",
         "id": "11673017242486491425",
         "type": "user",
         "role": "writer"
        }
  recorded_at: Thu, 18 Oct 2018 09:33:03 GMT
- request:
    method: get
    uri: https://www.googleapis.com/drive/v3/changes/startPageToken
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR TRACKING ACCOUNT>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "drive#startPageToken",
         "startPageToken": "9342"
        }
  recorded_at: Thu, 18 Oct 2018 09:33:03 GMT
[...]
- request:
    method: get
    uri: https://www.googleapis.com/drive/v3/files/1r0ohY5rrq4YgZ_PiO2RU6HXs_How5zg1?fields=id,name,mimeType,parents,permissions,trashed,thumbnailLink,thumbnailVersion
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR TRACKING ACCOUNT>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "id": "1r0ohY5rrq4YgZ_PiO2RU6HXs_How5zg1",
         "name": "Test @ 2018-10-18 09:33:02 UTC",
         "mimeType": "application/vnd.google-apps.folder",
         "trashed": false,
         "thumbnailVersion": "0",
         "permissions": [
          {
           "kind": "drive#permission",
           "id": "11673017242486491425",
           "type": "user",
           "emailAddress": "<EMAIL ADDRESS FOR TRACKING ACCOUNT>",
           "role": "writer",
           "displayName": "Upshift One",
           "deleted": false
          },
          {
           "kind": "drive#permission",
           "id": "13193959451567607887",
           "type": "user",
           "emailAddress": "<EMAIL ADDRESS FOR USER ACCOUNT>",
           "role": "owner",
           "displayName": "Testuser Upshift One",
           "deleted": false
          }
         ]
        }
  recorded_at: Thu, 18 Oct 2018 09:33:05 GMT
- request:
    method: get
    uri: https://www.googleapis.com/drive/v3/files/1r0ohY5rrq4YgZ_PiO2RU6HXs_How5zg1/revisions/head
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR TRACKING ACCOUNT>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 403
      message: Forbidden
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "error": {
          "errors": [
           {
            "domain": "global",
            "reason": "revisionsNotSupported",
            "message": "The file does not support revisions."
           }
          ],
          "code": 403,
          "message": "The file does not support revisions."
         }
        }
  recorded_at: Thu, 18 Oct 2018 09:33:05 GMT
- request:
    method: get
    uri: https://www.googleapis.com/drive/v3/files?fields=files/id,files/name,files/mimeType,files/parents,files/permissions,files/trashed,files/thumbnailLink,files/thumbnailVersion&q=%271r0ohY5rrq4YgZ_PiO2RU6HXs_How5zg1%27%20in%20parents
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR TRACKING ACCOUNT>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "files": [
          {
           "id": "1ufHkbm8FPkEvOCUHOh2amIT-8hyFOnC56OWwyHP2EF8",
           "name": "File",
           "mimeType": "application/vnd.google-apps.document",
           "trashed": false,
           "parents": [
            "1r0ohY5rrq4YgZ_PiO2RU6HXs_How5zg1"
           ],
           "thumbnailVersion": "0",
           "permissions": [
            {
             "kind": "drive#permission",
             "id": "11673017242486491425",
             "type": "user",
             "emailAddress": "<EMAIL ADDRESS FOR TRACKING ACCOUNT>",
             "role": "writer",
             "displayName": "Upshift One",
             "deleted": false
            },
            {
             "kind": "drive#permission",
             "id": "13193959451567607887",
             "type": "user",
             "emailAddress": "<EMAIL ADDRESS FOR USER ACCOUNT>",
             "role": "owner",
             "displayName": "Testuser Upshift One",
             "deleted": false
            }
           ]
          }
         ]
        }
  recorded_at: Thu, 18 Oct 2018 09:33:05 GMT
- request:
    method: get
    uri: https://www.googleapis.com/drive/v3/files/1ufHkbm8FPkEvOCUHOh2amIT-8hyFOnC56OWwyHP2EF8/revisions/head
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR TRACKING ACCOUNT>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "drive#revision",
         "id": "1",
         "mimeType": "application/vnd.google-apps.document",
         "modifiedTime": "2018-10-18T09:33:04.042Z"
        }
  recorded_at: Thu, 18 Oct 2018 09:33:05 GMT
- request:
    method: get
    uri: https://www.googleapis.com/drive/v3/files/1ufHkbm8FPkEvOCUHOh2amIT-8hyFOnC56OWwyHP2EF8/permissions?fields=permissions/id,%20permissions/emailAddress
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR USER ACCOUNT>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "permissions": [
          {
           "id": "11673017242486491425",
           "emailAddress": "<EMAIL ADDRESS FOR TRACKING ACCOUNT>"
          },
          {
           "id": "13193959451567607887",
           "emailAddress": "<EMAIL ADDRESS FOR USER ACCOUNT>"
          }
         ]
        }
  recorded_at: Thu, 18 Oct 2018 09:33:06 GMT
- request:
    method: delete
    uri: https://www.googleapis.com/drive/v3/files/1ufHkbm8FPkEvOCUHOh2amIT-8hyFOnC56OWwyHP2EF8/permissions/11673017242486491425
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR USER ACCOUNT>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 204
      message: No Content
    headers:
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Thu, 18 Oct 2018 09:33:06 GMT
- request:
    method: get
    uri: https://www.googleapis.com/drive/v3/changes?fields=nextPageToken,newStartPageToken,changes/fileId&pageSize=100&pageToken=9342
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR TRACKING ACCOUNT>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "newStartPageToken": "9345",
         "changes": [
          {
           "fileId": "1r0ohY5rrq4YgZ_PiO2RU6HXs_How5zg1"
          },
          {
           "fileId": "1ufHkbm8FPkEvOCUHOh2amIT-8hyFOnC56OWwyHP2EF8"
          }
         ]
        }
  recorded_at: Thu, 18 Oct 2018 09:34:07 GMT
[...]
- request:
    method: get
    uri: https://www.googleapis.com/drive/v3/files/1ufHkbm8FPkEvOCUHOh2amIT-8hyFOnC56OWwyHP2EF8?fields=id,name,mimeType,parents,permissions,trashed,thumbnailLink,thumbnailVersion
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR TRACKING ACCOUNT>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "error": {
          "errors": [
           {
            "domain": "global",
            "reason": "notFound",
            "message": "File not found: 1ufHkbm8FPkEvOCUHOh2amIT-8hyFOnC56OWwyHP2EF8.",
            "locationType": "parameter",
            "location": "fileId"
           }
          ],
          "code": 404,
          "message": "File not found: 1ufHkbm8FPkEvOCUHOh2amIT-8hyFOnC56OWwyHP2EF8."
         }
        }
  recorded_at: Thu, 18 Oct 2018 09:34:07 GMT
- request:
    method: delete
    uri: https://www.googleapis.com/drive/v3/files/1r0ohY5rrq4YgZ_PiO2RU6HXs_How5zg1
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR USER ACCOUNT>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 204
      message: No Content
    headers:
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Thu, 18 Oct 2018 09:34:08 GMT
recorded_with: VCR 4.0.0
