---
http_interactions:
- request:
    method: post
    uri: https://www.googleapis.com/oauth2/v4/token
    body:
      encoding: ASCII-8BIT
      string: grant_type=refresh_token&refresh_token=<REFRESH TOKEN FOR TRACKING ACCOUNT>&client_id=<CLIENT
        ID>&client_secret=<CLIENT SECRET>
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "access_token": "<ACCESS TOKEN FOR TRACKING ACCOUNT>",
         "token_type": "Bearer",
         "expires_in": 3600
        }
  recorded_at: Mon, 05 Mar 2018 20:24:04 GMT
[...]
- request:
    method: post
    uri: https://www.googleapis.com/drive/v3/files?fields=id,name,mimeType,parents,trashed
    body:
      encoding: UTF-8
      string: '{"mimeType":"application/vnd.google-apps.folder","name":"Test @ 2018-03-05
        20:24:04 UTC","parents":["root"]}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <ACCESS TOKEN FOR USER ACCOUNT>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "id": "1K42JKVWp6EDhpB-5v8YAW4HInWrbb6fs",
         "name": "Test @ 2018-03-05 20:24:04 UTC",
         "mimeType": "application/vnd.google-apps.folder",
         "trashed": false,
         "parents": [
          "0AEIi2L68pCuiUk9PVA"
         ]
        }
  recorded_at: Mon, 05 Mar 2018 20:24:05 GMT
- request:
    method: post
    uri: https://www.googleapis.com/drive/v3/files/1K42JKVWp6EDhpB-5v8YAW4HInWrbb6fs/permissions?sendNotificationEmail=false
    body:
      encoding: UTF-8
      string: '{"emailAddress":"<EMAIL ADDRESS FOR TRACKING ACCOUNT>","role":"writer","type":"user"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <ACCESS TOKEN FOR USER ACCOUNT>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "drive#permission",
         "id": "11673017242486491425",
         "type": "user",
         "role": "writer"
        }
  recorded_at: Mon, 05 Mar 2018 20:24:06 GMT
- request:
    method: get
    uri: https://www.googleapis.com/drive/v3/changes/startPageToken
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR TRACKING ACCOUNT>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "drive#startPageToken",
         "startPageToken": "5141"
        }
  recorded_at: Mon, 05 Mar 2018 20:24:06 GMT
[...]
- request:
    method: get
    uri: https://www.googleapis.com/drive/v3/files/1K42JKVWp6EDhpB-5v8YAW4HInWrbb6fs?fields=id,%20name,%20mimeType,%20version,%20modifiedTime
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR TRACKING ACCOUNT>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "id": "1K42JKVWp6EDhpB-5v8YAW4HInWrbb6fs",
         "name": "Test @ 2018-03-05 20:24:04 UTC",
         "mimeType": "application/vnd.google-apps.folder",
         "version": "3",
         "modifiedTime": "2018-03-05T20:24:05.669Z"
        }
  recorded_at: Mon, 05 Mar 2018 20:24:07 GMT
- request:
    method: get
    uri: https://www.googleapis.com/drive/v3/files/1K42JKVWp6EDhpB-5v8YAW4HInWrbb6fs?fields=id,name,mimeType,parents,trashed
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR TRACKING ACCOUNT>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "id": "1K42JKVWp6EDhpB-5v8YAW4HInWrbb6fs",
         "name": "Test @ 2018-03-05 20:24:04 UTC",
         "mimeType": "application/vnd.google-apps.folder",
         "trashed": false
        }
  recorded_at: Mon, 05 Mar 2018 20:24:07 GMT
- request:
    method: get
    uri: https://www.googleapis.com/drive/v3/files/1K42JKVWp6EDhpB-5v8YAW4HInWrbb6fs/revisions/head
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR TRACKING ACCOUNT>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 403
      message: Forbidden
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "error": {
          "errors": [
           {
            "domain": "global",
            "reason": "revisionsNotSupported",
            "message": "The file does not support revisions."
           }
          ],
          "code": 403,
          "message": "The file does not support revisions."
         }
        }
  recorded_at: Mon, 05 Mar 2018 20:24:08 GMT
- request:
    method: get
    uri: https://www.googleapis.com/drive/v3/files?fields=files/id,files/name,files/mimeType,files/parents,files/trashed&q=%271K42JKVWp6EDhpB-5v8YAW4HInWrbb6fs%27%20in%20parents
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR TRACKING ACCOUNT>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "files": [
          {
           "id": "1oprMmq7jO1-g2uEDcGW9eWGnhNYrIWAbCAhk6zVPK14",
           "name": "File To Move",
           "mimeType": "application/vnd.google-apps.document",
           "trashed": false,
           "parents": [
            "1K42JKVWp6EDhpB-5v8YAW4HInWrbb6fs"
           ]
          }
         ]
        }
  recorded_at: Mon, 05 Mar 2018 20:24:08 GMT
- request:
    method: get
    uri: https://www.googleapis.com/drive/v3/files/1oprMmq7jO1-g2uEDcGW9eWGnhNYrIWAbCAhk6zVPK14/revisions/head
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR TRACKING ACCOUNT>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "error": {
          "errors": [
           {
            "domain": "global",
            "reason": "notFound",
            "message": "Revision not found: head.",
            "locationType": "parameter",
            "location": "revisionId"
           }
          ],
          "code": 404,
          "message": "Revision not found: head."
         }
        }
  recorded_at: Mon, 05 Mar 2018 20:24:08 GMT
- request:
    method: patch
    uri: https://www.googleapis.com/drive/v3/files/1oprMmq7jO1-g2uEDcGW9eWGnhNYrIWAbCAhk6zVPK14?addParents=root&fields=id,name,mimeType,parents,trashed&removeParents=1K42JKVWp6EDhpB-5v8YAW4HInWrbb6fs
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR USER ACCOUNT>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "id": "1oprMmq7jO1-g2uEDcGW9eWGnhNYrIWAbCAhk6zVPK14",
         "name": "File To Move",
         "mimeType": "application/vnd.google-apps.document",
         "trashed": false,
         "parents": [
          "0AEIi2L68pCuiUk9PVA"
         ]
        }
  recorded_at: Mon, 05 Mar 2018 20:24:09 GMT
- request:
    method: get
    uri: https://www.googleapis.com/drive/v3/changes?fields=nextPageToken,newStartPageToken,changes/fileId&pageSize=100&pageToken=5141
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR TRACKING ACCOUNT>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "newStartPageToken": "5144",
         "changes": [
          {
           "fileId": "1K42JKVWp6EDhpB-5v8YAW4HInWrbb6fs"
          },
          {
           "fileId": "1oprMmq7jO1-g2uEDcGW9eWGnhNYrIWAbCAhk6zVPK14"
          }
         ]
        }
  recorded_at: Mon, 05 Mar 2018 20:25:09 GMT
[...]
- request:
    method: get
    uri: https://www.googleapis.com/drive/v3/files/1oprMmq7jO1-g2uEDcGW9eWGnhNYrIWAbCAhk6zVPK14?fields=id,name,mimeType,parents,trashed
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR TRACKING ACCOUNT>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "error": {
          "errors": [
           {
            "domain": "global",
            "reason": "notFound",
            "message": "File not found: 1oprMmq7jO1-g2uEDcGW9eWGnhNYrIWAbCAhk6zVPK14.",
            "locationType": "parameter",
            "location": "fileId"
           }
          ],
          "code": 404,
          "message": "File not found: 1oprMmq7jO1-g2uEDcGW9eWGnhNYrIWAbCAhk6zVPK14."
         }
        }
  recorded_at: Mon, 05 Mar 2018 20:25:09 GMT
- request:
    method: delete
    uri: https://www.googleapis.com/drive/v3/files/1oprMmq7jO1-g2uEDcGW9eWGnhNYrIWAbCAhk6zVPK14
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR USER ACCOUNT>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 204
      message: No Content
    headers:
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Mon, 05 Mar 2018 20:25:10 GMT
- request:
    method: delete
    uri: https://www.googleapis.com/drive/v3/files/1K42JKVWp6EDhpB-5v8YAW4HInWrbb6fs
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR USER ACCOUNT>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 204
      message: No Content
    headers:
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Mon, 05 Mar 2018 20:25:10 GMT
recorded_with: VCR 4.0.0
