---
http_interactions:
- request:
    method: post
    uri: https://www.googleapis.com/oauth2/v4/token
    body:
      encoding: ASCII-8BIT
      string: grant_type=refresh_token&refresh_token=<REFRESH TOKEN FOR TRACKING ACCOUNT>&client_id=<CLIENT
        ID>&client_secret=<CLIENT SECRET>
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "access_token": "<ACCESS TOKEN FOR TRACKING ACCOUNT>",
         "token_type": "Bearer",
         "expires_in": 3600
        }
  recorded_at: Wed, 07 Feb 2018 06:45:47 GMT
[...]
- request:
    method: post
    uri: https://www.googleapis.com/drive/v3/files?fields=id,name,mimeType,parents
    body:
      encoding: UTF-8
      string: '{"mimeType":"application/vnd.google-apps.folder","name":"Test @ 2018-02-07
        06:45:49 UTC","parents":["root"]}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <ACCESS TOKEN FOR USER ACCOUNT>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "id": "1DDJyO08w0lKG5ihTztxHKippZlD8Pilk",
         "name": "Test @ 2018-02-07 06:45:49 UTC",
         "mimeType": "application/vnd.google-apps.folder",
         "parents": [
          "0AEIi2L68pCuiUk9PVA"
         ]
        }
  recorded_at: Wed, 07 Feb 2018 06:45:49 GMT
- request:
    method: post
    uri: https://www.googleapis.com/drive/v3/files/1DDJyO08w0lKG5ihTztxHKippZlD8Pilk/permissions?sendNotificationEmail=false
    body:
      encoding: UTF-8
      string: '{"emailAddress":"<EMAIL ADDRESS FOR TRACKING ACCOUNT>","role":"reader","type":"user"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <ACCESS TOKEN FOR USER ACCOUNT>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "drive#permission",
         "id": "11673017242486491425",
         "type": "user",
         "role": "reader"
        }
  recorded_at: Wed, 07 Feb 2018 06:45:50 GMT
- request:
    method: get
    uri: https://www.googleapis.com/drive/v3/changes/startPageToken
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR TRACKING ACCOUNT>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "drive#startPageToken",
         "startPageToken": "1761"
        }
  recorded_at: Wed, 07 Feb 2018 06:45:50 GMT
[...]
- request:
    method: get
    uri: https://www.googleapis.com/drive/v3/files/1DDJyO08w0lKG5ihTztxHKippZlD8Pilk?fields=id,%20name,%20mimeType,%20version,%20modifiedTime
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR TRACKING ACCOUNT>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "id": "1DDJyO08w0lKG5ihTztxHKippZlD8Pilk",
         "name": "Test @ 2018-02-07 06:45:49 UTC",
         "mimeType": "application/vnd.google-apps.folder",
         "version": "3",
         "modifiedTime": "2018-02-07T06:45:50.252Z"
        }
  recorded_at: Wed, 07 Feb 2018 06:45:51 GMT
[...]
- request:
    method: get
    uri: https://www.googleapis.com/drive/v3/files?fields=files/id,%20files/version,%20files/mimeType,%20files/name,%20files/modifiedTime&q=%271DDJyO08w0lKG5ihTztxHKippZlD8Pilk%27%20in%20parents
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR TRACKING ACCOUNT>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "files": [
          {
           "id": "1eC__c1kBlfDoYnpqbUS8FCgkuGeatmi9OrZuihF1TTw",
           "name": "File",
           "mimeType": "application/vnd.google-apps.document",
           "version": "2",
           "modifiedTime": "2018-02-07T06:45:50.776Z"
          }
         ]
        }
  recorded_at: Wed, 07 Feb 2018 06:45:52 GMT
- request:
    method: patch
    uri: https://www.googleapis.com/upload/drive/v3/files/1eC__c1kBlfDoYnpqbUS8FCgkuGeatmi9OrZuihF1TTw
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR USER ACCOUNT>
      X-Goog-Upload-Protocol:
      - resumable
      X-Goog-Upload-Command:
      - start
      X-Goog-Upload-Header-Content-Length:
      - '16'
      X-Goog-Upload-Header-Content-Type:
      - application/octet-stream
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Goog-Upload-Status:
      - active
      X-Goog-Upload-Url:
      - https://www.googleapis.com/upload/drive/v3/files/1eC__c1kBlfDoYnpqbUS8FCgkuGeatmi9OrZuihF1TTw?upload_id=AEnB2Up2DZLGq-3JSmIwGQlF2x2cAsozmEiTUHZlVABclg5ZhGbfE4-vvphIF2R8bBp-4vhtbtaI7HJCMHKaXYrOPk3wYvqxTQ&upload_protocol=resumable
      X-Goog-Upload-Control-Url:
      - https://www.googleapis.com/upload/drive/v3/files/1eC__c1kBlfDoYnpqbUS8FCgkuGeatmi9OrZuihF1TTw?upload_id=AEnB2Up2DZLGq-3JSmIwGQlF2x2cAsozmEiTUHZlVABclg5ZhGbfE4-vvphIF2R8bBp-4vhtbtaI7HJCMHKaXYrOPk3wYvqxTQ&upload_protocol=resumable
      X-Goog-Upload-Chunk-Granularity:
      - '262144'
      X-Goog-Upload-Header-Vary:
      - Origin
      - X-Origin
      X-Goog-Upload-Header-X-Google-Backends:
      - oten18:4683
      X-Goog-Upload-Header-X-Google-Session-Info:
      - CKeBxoimHBoCGAY6bwoPZHJpdmUtcm9zeS1wcm9kEgVkcml2ZRiDqMHn7wUiSDIwMTgxMjEwNDE5NS1pcDNwN2xrcWE1N29lYm84NTkwZXJtZ2E3MjBpMW5uaC5hcHBzLmdvb2dsZXVzZXJjb250ZW50LmNvbTDxDjDvDkqXARKDAXlhMjkuR2x4YUJTcHNJUEI2REpiSmVhWVB3blBzTjZPdG82cXhubkI2TG1Wd3Z2QVhwdTI3azJ0Z1pBVUt5d0w4aVFmZG5lMTlvVzNobTVRSFUzcUQ2NWxmNjlMUV9ocFhsUXNNSGVKRzJqdmhfQ09ZT2hnQU80czB4UjF5RkJaNnBRMAQ6DTEvU3gzQ2gtYUp1Mn4
      X-Goog-Upload-Header-Cache-Control:
      - no-cache, no-store, max-age=0, must-revalidate
      X-Goog-Upload-Header-Pragma:
      - no-cache
      X-Goog-Upload-Header-Expires:
      - Mon, 01 Jan 1990 00:00:00 GMT
      X-Goog-Upload-Header-Date:
      - Wed, 07 Feb 2018 06:45:52 GMT
      Content-Type:
      - text/html; charset=UTF-8
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Wed, 07 Feb 2018 06:45:52 GMT
- request:
    method: post
    uri: https://www.googleapis.com/upload/drive/v3/files/1eC__c1kBlfDoYnpqbUS8FCgkuGeatmi9OrZuihF1TTw?upload_id=AEnB2Up2DZLGq-3JSmIwGQlF2x2cAsozmEiTUHZlVABclg5ZhGbfE4-vvphIF2R8bBp-4vhtbtaI7HJCMHKaXYrOPk3wYvqxTQ&upload_protocol=resumable
    body:
      encoding: UTF-8
      string: new file content
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR USER ACCOUNT>
      X-Goog-Upload-Command:
      - upload, finalize
      X-Goog-Upload-Offset:
      - '0'
      Content-Type:
      - application/octet-stream
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Goog-Upload-Status:
      - final
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "drive#file",
         "id": "1eC__c1kBlfDoYnpqbUS8FCgkuGeatmi9OrZuihF1TTw",
         "name": "File",
         "mimeType": "application/vnd.google-apps.document"
        }
  recorded_at: Wed, 07 Feb 2018 06:45:53 GMT
- request:
    method: get
    uri: https://www.googleapis.com/drive/v3/changes?fields=nextPageToken,%20newStartPageToken,%20changes/type,%20changes/fileId,%20changes/file/mimeType,%20changes/file/version,%20changes/file/name,%20changes/file/modifiedTime,%20changes/file/parents,%20changes/removed,%20changes/file/trashed&pageSize=100&pageToken=1761
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR TRACKING ACCOUNT>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "newStartPageToken": "1764",
         "changes": [
          {
           "type": "file",
           "removed": false,
           "fileId": "1DDJyO08w0lKG5ihTztxHKippZlD8Pilk",
           "file": {
            "name": "Test @ 2018-02-07 06:45:49 UTC",
            "mimeType": "application/vnd.google-apps.folder",
            "trashed": false,
            "version": "3",
            "modifiedTime": "2018-02-07T06:45:50.252Z"
           }
          },
          {
           "type": "file",
           "removed": false,
           "fileId": "1eC__c1kBlfDoYnpqbUS8FCgkuGeatmi9OrZuihF1TTw",
           "file": {
            "name": "File",
            "mimeType": "application/vnd.google-apps.document",
            "trashed": false,
            "parents": [
             "1DDJyO08w0lKG5ihTztxHKippZlD8Pilk"
            ],
            "version": "4",
            "modifiedTime": "2018-02-07T06:45:51.227Z"
           }
          }
         ]
        }
  recorded_at: Wed, 07 Feb 2018 06:46:53 GMT
- request:
    method: delete
    uri: https://www.googleapis.com/drive/v3/files/1DDJyO08w0lKG5ihTztxHKippZlD8Pilk
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR USER ACCOUNT>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 204
      message: No Content
    headers:
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Wed, 07 Feb 2018 06:46:54 GMT
recorded_with: VCR 4.0.0
