---
http_interactions:
- request:
    method: post
    uri: https://www.googleapis.com/oauth2/v4/token
    body:
      encoding: ASCII-8BIT
      string: grant_type=refresh_token&refresh_token=<REFRESH TOKEN FOR TRACKING ACCOUNT>&client_id=<CLIENT
        ID>&client_secret=<CLIENT SECRET>
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "access_token": "<ACCESS TOKEN FOR TRACKING ACCOUNT>",
         "token_type": "Bearer",
         "expires_in": 3600
        }
  recorded_at: Wed, 07 Feb 2018 04:03:52 GMT
[...]
- request:
    method: post
    uri: https://www.googleapis.com/drive/v3/files?fields=id,name,mimeType,parents
    body:
      encoding: UTF-8
      string: '{"mimeType":"application/vnd.google-apps.folder","name":"Test @ 2018-02-07
        04:03:53 UTC","parents":["root"]}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <ACCESS TOKEN FOR USER ACCOUNT>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "id": "1WbhbukfVTzHkgx-NXhHB3vcguKFAEFt4",
         "name": "Test @ 2018-02-07 04:03:53 UTC",
         "mimeType": "application/vnd.google-apps.folder",
         "parents": [
          "0AEIi2L68pCuiUk9PVA"
         ]
        }
  recorded_at: Wed, 07 Feb 2018 04:03:53 GMT
- request:
    method: post
    uri: https://www.googleapis.com/drive/v3/files/1WbhbukfVTzHkgx-NXhHB3vcguKFAEFt4/permissions?sendNotificationEmail=false
    body:
      encoding: UTF-8
      string: '{"emailAddress":"test.upshift.one@gmail.com","role":"reader","type":"user"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <ACCESS TOKEN FOR USER ACCOUNT>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "drive#permission",
         "id": "11673017242486491425",
         "type": "user",
         "role": "reader"
        }
  recorded_at: Wed, 07 Feb 2018 04:03:53 GMT
- request:
    method: get
    uri: https://www.googleapis.com/drive/v3/changes/startPageToken
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR TRACKING ACCOUNT>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "drive#startPageToken",
         "startPageToken": "1722"
        }
  recorded_at: Wed, 07 Feb 2018 04:03:54 GMT
[...]
- request:
    method: get
    uri: https://www.googleapis.com/drive/v3/files/1WbhbukfVTzHkgx-NXhHB3vcguKFAEFt4?fields=id,%20name,%20mimeType,%20version,%20modifiedTime
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR TRACKING ACCOUNT>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "id": "1WbhbukfVTzHkgx-NXhHB3vcguKFAEFt4",
         "name": "Test @ 2018-02-07 04:03:53 UTC",
         "mimeType": "application/vnd.google-apps.folder",
         "version": "3",
         "modifiedTime": "2018-02-07T04:03:53.687Z"
        }
  recorded_at: Wed, 07 Feb 2018 04:03:55 GMT
[...]
- request:
    method: get
    uri: https://www.googleapis.com/drive/v3/files?fields=files/id,%20files/version,%20files/mimeType,%20files/name,%20files/modifiedTime&q=%271WbhbukfVTzHkgx-NXhHB3vcguKFAEFt4%27%20in%20parents
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR TRACKING ACCOUNT>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "files": [
          {
           "id": "1TBh7hBUsyLG613J7SETmQhNf3in6z4fJtPORU1JdvtQ",
           "name": "File",
           "mimeType": "application/vnd.google-apps.document",
           "version": "2",
           "modifiedTime": "2018-02-07T04:03:54.216Z"
          }
         ]
        }
  recorded_at: Wed, 07 Feb 2018 04:03:55 GMT
- request:
    method: patch
    uri: https://www.googleapis.com/drive/v3/files/1TBh7hBUsyLG613J7SETmQhNf3in6z4fJtPORU1JdvtQ?fields=id,name,mimeType,parents
    body:
      encoding: UTF-8
      string: '{"name":"New File Name"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <ACCESS TOKEN FOR USER ACCOUNT>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "id": "1TBh7hBUsyLG613J7SETmQhNf3in6z4fJtPORU1JdvtQ",
         "name": "New File Name",
         "mimeType": "application/vnd.google-apps.document",
         "parents": [
          "1WbhbukfVTzHkgx-NXhHB3vcguKFAEFt4"
         ]
        }
  recorded_at: Wed, 07 Feb 2018 04:03:55 GMT
- request:
    method: get
    uri: https://www.googleapis.com/drive/v3/changes?fields=nextPageToken,%20newStartPageToken,%20changes/type,%20changes/fileId,%20changes/file/mimeType,%20changes/file/version,%20changes/file/name,%20changes/file/modifiedTime,%20changes/file/parents,%20changes/removed,%20changes/file/trashed&pageSize=100&pageToken=1722
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR TRACKING ACCOUNT>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "newStartPageToken": "1728",
         "changes": [
          {
           "type": "file",
           "removed": true,
           "fileId": "1GgMMLwKyPpMyibnQSIne-xih4Hn6WuyiGDzE0SWoko0"
          },
          {
           "type": "file",
           "removed": true,
           "fileId": "1QJMsVmEyf7JYJBYZAHRM4cc7MZhsaO2X"
          },
          {
           "type": "file",
           "removed": false,
           "fileId": "1WbhbukfVTzHkgx-NXhHB3vcguKFAEFt4",
           "file": {
            "name": "Test @ 2018-02-07 04:03:53 UTC",
            "mimeType": "application/vnd.google-apps.folder",
            "trashed": false,
            "version": "3",
            "modifiedTime": "2018-02-07T04:03:53.687Z"
           }
          },
          {
           "type": "file",
           "removed": false,
           "fileId": "1TBh7hBUsyLG613J7SETmQhNf3in6z4fJtPORU1JdvtQ",
           "file": {
            "name": "New File Name",
            "mimeType": "application/vnd.google-apps.document",
            "trashed": false,
            "parents": [
             "1WbhbukfVTzHkgx-NXhHB3vcguKFAEFt4"
            ],
            "version": "4",
            "modifiedTime": "2018-02-07T04:03:54.670Z"
           }
          }
         ]
        }
  recorded_at: Wed, 07 Feb 2018 04:04:56 GMT
- request:
    method: delete
    uri: https://www.googleapis.com/drive/v3/files/1WbhbukfVTzHkgx-NXhHB3vcguKFAEFt4
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR USER ACCOUNT>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 204
      message: No Content
    headers:
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Wed, 07 Feb 2018 04:04:56 GMT
recorded_with: VCR 4.0.0
