---
http_interactions:
- request:
    method: post
    uri: https://www.googleapis.com/oauth2/v4/token
    body:
      encoding: ASCII-8BIT
      string: grant_type=refresh_token&refresh_token=<REFRESH TOKEN FOR TRACKING ACCOUNT>&client_id=<CLIENT
        ID>&client_secret=<CLIENT SECRET>
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "access_token": "<ACCESS TOKEN FOR TRACKING ACCOUNT>",
         "token_type": "Bearer",
         "expires_in": 3600
        }
  recorded_at: Tue, 06 Mar 2018 19:57:54 GMT
[...]
- request:
    method: post
    uri: https://www.googleapis.com/drive/v3/files?fields=id,name,mimeType,parents,trashed
    body:
      encoding: UTF-8
      string: '{"mimeType":"application/vnd.google-apps.folder","name":"Test @ 2018-03-06
        19:57:54 UTC","parents":["root"]}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <ACCESS TOKEN FOR USER ACCOUNT>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "id": "1zArXgBrSiTrCtu-VztdHUx0A9VZHlX7t",
         "name": "Test @ 2018-03-06 19:57:54 UTC",
         "mimeType": "application/vnd.google-apps.folder",
         "trashed": false,
         "parents": [
          "0AEIi2L68pCuiUk9PVA"
         ]
        }
  recorded_at: Tue, 06 Mar 2018 19:57:55 GMT
- request:
    method: post
    uri: https://www.googleapis.com/drive/v3/files/1zArXgBrSiTrCtu-VztdHUx0A9VZHlX7t/permissions?sendNotificationEmail=false
    body:
      encoding: UTF-8
      string: '{"emailAddress":"<EMAIL ADDRESS FOR TRACKING ACCOUNT>","role":"writer","type":"user"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <ACCESS TOKEN FOR USER ACCOUNT>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "drive#permission",
         "id": "11673017242486491425",
         "type": "user",
         "role": "writer"
        }
  recorded_at: Tue, 06 Mar 2018 19:57:55 GMT
- request:
    method: get
    uri: https://www.googleapis.com/drive/v3/changes/startPageToken
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR TRACKING ACCOUNT>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "drive#startPageToken",
         "startPageToken": "5996"
        }
  recorded_at: Tue, 06 Mar 2018 19:57:56 GMT
[...]
- request:
    method: get
    uri: https://www.googleapis.com/drive/v3/files/1zArXgBrSiTrCtu-VztdHUx0A9VZHlX7t?fields=id,name,mimeType,parents,trashed
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR TRACKING ACCOUNT>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "id": "1zArXgBrSiTrCtu-VztdHUx0A9VZHlX7t",
         "name": "Test @ 2018-03-06 19:57:54 UTC",
         "mimeType": "application/vnd.google-apps.folder",
         "trashed": false
        }
  recorded_at: Tue, 06 Mar 2018 19:57:57 GMT
[...]
- request:
    method: get
    uri: https://www.googleapis.com/drive/v3/files/1zArXgBrSiTrCtu-VztdHUx0A9VZHlX7t/revisions/head
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR TRACKING ACCOUNT>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 403
      message: Forbidden
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "error": {
          "errors": [
           {
            "domain": "global",
            "reason": "revisionsNotSupported",
            "message": "The file does not support revisions."
           }
          ],
          "code": 403,
          "message": "The file does not support revisions."
         }
        }
  recorded_at: Tue, 06 Mar 2018 19:57:58 GMT
- request:
    method: get
    uri: https://www.googleapis.com/drive/v3/files?fields=files/id,files/name,files/mimeType,files/parents,files/trashed&q=%271zArXgBrSiTrCtu-VztdHUx0A9VZHlX7t%27%20in%20parents
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR TRACKING ACCOUNT>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "files": [
          {
           "id": "1vl91Bi2A9r3b4a6u70SJVq8yFbDSuyUnRfpwAW42gds",
           "name": "File To Move",
           "mimeType": "application/vnd.google-apps.document",
           "trashed": false,
           "parents": [
            "1zArXgBrSiTrCtu-VztdHUx0A9VZHlX7t"
           ]
          }
         ]
        }
  recorded_at: Tue, 06 Mar 2018 19:57:58 GMT
- request:
    method: get
    uri: https://www.googleapis.com/drive/v3/files/1vl91Bi2A9r3b4a6u70SJVq8yFbDSuyUnRfpwAW42gds/revisions/head
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR TRACKING ACCOUNT>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "drive#revision",
         "id": "1",
         "mimeType": "application/vnd.google-apps.document",
         "modifiedTime": "2018-03-06T19:57:56.403Z"
        }
  recorded_at: Tue, 06 Mar 2018 19:57:58 GMT
- request:
    method: patch
    uri: https://www.googleapis.com/drive/v3/files/1vl91Bi2A9r3b4a6u70SJVq8yFbDSuyUnRfpwAW42gds?addParents=root&fields=id,name,mimeType,parents,trashed&removeParents=1zArXgBrSiTrCtu-VztdHUx0A9VZHlX7t
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR USER ACCOUNT>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "id": "1vl91Bi2A9r3b4a6u70SJVq8yFbDSuyUnRfpwAW42gds",
         "name": "File To Move",
         "mimeType": "application/vnd.google-apps.document",
         "trashed": false,
         "parents": [
          "0AEIi2L68pCuiUk9PVA"
         ]
        }
  recorded_at: Tue, 06 Mar 2018 19:57:59 GMT
- request:
    method: get
    uri: https://www.googleapis.com/drive/v3/changes?fields=nextPageToken,newStartPageToken,changes/fileId&pageSize=100&pageToken=5996
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR TRACKING ACCOUNT>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "newStartPageToken": "5999",
         "changes": [
          {
           "fileId": "1zArXgBrSiTrCtu-VztdHUx0A9VZHlX7t"
          },
          {
           "fileId": "1vl91Bi2A9r3b4a6u70SJVq8yFbDSuyUnRfpwAW42gds"
          }
         ]
        }
  recorded_at: Tue, 06 Mar 2018 19:58:59 GMT
[...]
- request:
    method: get
    uri: https://www.googleapis.com/drive/v3/files/1vl91Bi2A9r3b4a6u70SJVq8yFbDSuyUnRfpwAW42gds?fields=id,name,mimeType,parents,trashed
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR TRACKING ACCOUNT>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "error": {
          "errors": [
           {
            "domain": "global",
            "reason": "notFound",
            "message": "File not found: 1vl91Bi2A9r3b4a6u70SJVq8yFbDSuyUnRfpwAW42gds.",
            "locationType": "parameter",
            "location": "fileId"
           }
          ],
          "code": 404,
          "message": "File not found: 1vl91Bi2A9r3b4a6u70SJVq8yFbDSuyUnRfpwAW42gds."
         }
        }
  recorded_at: Tue, 06 Mar 2018 19:59:00 GMT
- request:
    method: delete
    uri: https://www.googleapis.com/drive/v3/files/1vl91Bi2A9r3b4a6u70SJVq8yFbDSuyUnRfpwAW42gds
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR USER ACCOUNT>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 204
      message: No Content
    headers:
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 06 Mar 2018 19:59:00 GMT
- request:
    method: delete
    uri: https://www.googleapis.com/drive/v3/files/1zArXgBrSiTrCtu-VztdHUx0A9VZHlX7t
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR USER ACCOUNT>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 204
      message: No Content
    headers:
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 06 Mar 2018 19:59:01 GMT
recorded_with: VCR 4.0.0
