---
http_interactions:
- request:
    method: post
    uri: https://www.googleapis.com/oauth2/v4/token
    body:
      encoding: ASCII-8BIT
      string: grant_type=refresh_token&refresh_token=<REFRESH TOKEN FOR TRACKING ACCOUNT>&client_id=<CLIENT
        ID>&client_secret=<CLIENT SECRET>
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "access_token": "<ACCESS TOKEN FOR TRACKING ACCOUNT>",
         "token_type": "Bearer",
         "expires_in": 3600
        }
  recorded_at: Tue, 06 Mar 2018 19:59:01 GMT
[...]
- request:
    method: post
    uri: https://www.googleapis.com/drive/v3/files?fields=id,name,mimeType,parents,trashed
    body:
      encoding: UTF-8
      string: '{"mimeType":"application/vnd.google-apps.folder","name":"Test @ 2018-03-06
        19:59:01 UTC","parents":["root"]}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <ACCESS TOKEN FOR USER ACCOUNT>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "id": "1y32APWwOpqbSNVhKMGLfVSdxAG6unr75",
         "name": "Test @ 2018-03-06 19:59:01 UTC",
         "mimeType": "application/vnd.google-apps.folder",
         "trashed": false,
         "parents": [
          "0AEIi2L68pCuiUk9PVA"
         ]
        }
  recorded_at: Tue, 06 Mar 2018 19:59:02 GMT
- request:
    method: post
    uri: https://www.googleapis.com/drive/v3/files/1y32APWwOpqbSNVhKMGLfVSdxAG6unr75/permissions?sendNotificationEmail=false
    body:
      encoding: UTF-8
      string: '{"emailAddress":"<EMAIL ADDRESS FOR TRACKING ACCOUNT>","role":"writer","type":"user"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <ACCESS TOKEN FOR USER ACCOUNT>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "drive#permission",
         "id": "11673017242486491425",
         "type": "user",
         "role": "writer"
        }
  recorded_at: Tue, 06 Mar 2018 19:59:02 GMT
- request:
    method: get
    uri: https://www.googleapis.com/drive/v3/changes/startPageToken
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR TRACKING ACCOUNT>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "drive#startPageToken",
         "startPageToken": "6001"
        }
  recorded_at: Tue, 06 Mar 2018 19:59:02 GMT
- request:
    method: get
    uri: https://www.googleapis.com/drive/v3/files/1y32APWwOpqbSNVhKMGLfVSdxAG6unr75?fields=id,name,mimeType,parents,trashed
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR TRACKING ACCOUNT>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "id": "1y32APWwOpqbSNVhKMGLfVSdxAG6unr75",
         "name": "Test @ 2018-03-06 19:59:01 UTC",
         "mimeType": "application/vnd.google-apps.folder",
         "trashed": false
        }
  recorded_at: Tue, 06 Mar 2018 19:59:03 GMT
[...]
- request:
    method: get
    uri: https://www.googleapis.com/drive/v3/files/1y32APWwOpqbSNVhKMGLfVSdxAG6unr75/revisions/head
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR TRACKING ACCOUNT>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 403
      message: Forbidden
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "error": {
          "errors": [
           {
            "domain": "global",
            "reason": "revisionsNotSupported",
            "message": "The file does not support revisions."
           }
          ],
          "code": 403,
          "message": "The file does not support revisions."
         }
        }
  recorded_at: Tue, 06 Mar 2018 19:59:03 GMT
- request:
    method: get
    uri: https://www.googleapis.com/drive/v3/files?fields=files/id,files/name,files/mimeType,files/parents,files/trashed&q=%271y32APWwOpqbSNVhKMGLfVSdxAG6unr75%27%20in%20parents
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR TRACKING ACCOUNT>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "files": []
        }
  recorded_at: Tue, 06 Mar 2018 19:59:03 GMT
[...]
- request:
    method: get
    uri: https://www.googleapis.com/drive/v3/changes?fields=nextPageToken,newStartPageToken,changes/fileId&pageSize=100&pageToken=6001
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR TRACKING ACCOUNT>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "newStartPageToken": "6004",
         "changes": [
          {
           "fileId": "1vtTnzBpXj3FApL29s09O0DrFCrpwnO0ZseDFnfX5_pU"
          },
          {
           "fileId": "1y32APWwOpqbSNVhKMGLfVSdxAG6unr75"
          }
         ]
        }
  recorded_at: Tue, 06 Mar 2018 20:00:05 GMT
- request:
    method: get
    uri: https://www.googleapis.com/drive/v3/files/1vtTnzBpXj3FApL29s09O0DrFCrpwnO0ZseDFnfX5_pU?fields=id,name,mimeType,parents,trashed
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR TRACKING ACCOUNT>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "id": "1vtTnzBpXj3FApL29s09O0DrFCrpwnO0ZseDFnfX5_pU",
         "name": "My New File",
         "mimeType": "application/vnd.google-apps.document",
         "trashed": false,
         "parents": [
          "1y32APWwOpqbSNVhKMGLfVSdxAG6unr75"
         ]
        }
  recorded_at: Tue, 06 Mar 2018 20:00:05 GMT
- request:
    method: get
    uri: https://www.googleapis.com/drive/v3/files/1vtTnzBpXj3FApL29s09O0DrFCrpwnO0ZseDFnfX5_pU/revisions/head
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR TRACKING ACCOUNT>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "drive#revision",
         "id": "1",
         "mimeType": "application/vnd.google-apps.document",
         "modifiedTime": "2018-03-06T19:59:04.070Z"
        }
  recorded_at: Tue, 06 Mar 2018 20:00:05 GMT
[...]
- request:
    method: delete
    uri: https://www.googleapis.com/drive/v3/files/1y32APWwOpqbSNVhKMGLfVSdxAG6unr75
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR USER ACCOUNT>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 204
      message: No Content
    headers:
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 06 Mar 2018 20:00:06 GMT
recorded_with: VCR 4.0.0
