---
http_interactions:
- request:
    method: post
    uri: https://www.googleapis.com/oauth2/v4/token
    body:
      encoding: ASCII-8BIT
      string: grant_type=refresh_token&refresh_token=<REFRESH TOKEN FOR TRACKING ACCOUNT>&client_id=<CLIENT
        ID>&client_secret=<CLIENT SECRET>
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "access_token": "<ACCESS TOKEN FOR TRACKING ACCOUNT>",
         "token_type": "Bearer",
         "expires_in": 3600
        }
  recorded_at: Wed, 07 Feb 2018 06:54:45 GMT
[...]
- request:
    method: post
    uri: https://www.googleapis.com/drive/v3/files?fields=id,name,mimeType,parents
    body:
      encoding: UTF-8
      string: '{"mimeType":"application/vnd.google-apps.folder","name":"Test @ 2018-02-07
        06:54:45 UTC","parents":["root"]}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <ACCESS TOKEN FOR USER ACCOUNT>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "id": "1QrY44n_swNasDKZ4lZ0oZA3uABumXEQZ",
         "name": "Test @ 2018-02-07 06:54:45 UTC",
         "mimeType": "application/vnd.google-apps.folder",
         "parents": [
          "0AEIi2L68pCuiUk9PVA"
         ]
        }
  recorded_at: Wed, 07 Feb 2018 06:54:46 GMT
- request:
    method: post
    uri: https://www.googleapis.com/drive/v3/files/1QrY44n_swNasDKZ4lZ0oZA3uABumXEQZ/permissions?sendNotificationEmail=false
    body:
      encoding: UTF-8
      string: '{"emailAddress":"<EMAIL ADDRESS FOR TRACKING ACCOUNT>","role":"reader","type":"user"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <ACCESS TOKEN FOR USER ACCOUNT>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "drive#permission",
         "id": "11673017242486491425",
         "type": "user",
         "role": "reader"
        }
  recorded_at: Wed, 07 Feb 2018 06:54:47 GMT
- request:
    method: get
    uri: https://www.googleapis.com/drive/v3/changes/startPageToken
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR TRACKING ACCOUNT>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "drive#startPageToken",
         "startPageToken": "1807"
        }
  recorded_at: Wed, 07 Feb 2018 06:54:47 GMT
[...]
- request:
    method: get
    uri: https://www.googleapis.com/drive/v3/files/1QrY44n_swNasDKZ4lZ0oZA3uABumXEQZ?fields=id,%20name,%20mimeType,%20version,%20modifiedTime
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR TRACKING ACCOUNT>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "id": "1QrY44n_swNasDKZ4lZ0oZA3uABumXEQZ",
         "name": "Test @ 2018-02-07 06:54:45 UTC",
         "mimeType": "application/vnd.google-apps.folder",
         "version": "3",
         "modifiedTime": "2018-02-07T06:54:46.867Z"
        }
  recorded_at: Wed, 07 Feb 2018 06:54:48 GMT
[...]
- request:
    method: get
    uri: https://www.googleapis.com/drive/v3/files?fields=files/id,%20files/version,%20files/mimeType,%20files/name,%20files/modifiedTime&q=%271QrY44n_swNasDKZ4lZ0oZA3uABumXEQZ%27%20in%20parents
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR TRACKING ACCOUNT>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "files": [
          {
           "id": "1Xc81KU5ioiejP9LZIIwUuw7mMJ9hMZJVkJZs4PO0d-s",
           "name": "File",
           "mimeType": "application/vnd.google-apps.document",
           "version": "2",
           "modifiedTime": "2018-02-07T06:54:47.547Z"
          }
         ]
        }
  recorded_at: Wed, 07 Feb 2018 06:54:48 GMT
- request:
    method: patch
    uri: https://www.googleapis.com/drive/v3/files/1Xc81KU5ioiejP9LZIIwUuw7mMJ9hMZJVkJZs4PO0d-s?fields=id,name,mimeType,parents
    body:
      encoding: UTF-8
      string: '{"name":"New File Name"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <ACCESS TOKEN FOR USER ACCOUNT>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "id": "1Xc81KU5ioiejP9LZIIwUuw7mMJ9hMZJVkJZs4PO0d-s",
         "name": "New File Name",
         "mimeType": "application/vnd.google-apps.document",
         "parents": [
          "1QrY44n_swNasDKZ4lZ0oZA3uABumXEQZ"
         ]
        }
  recorded_at: Wed, 07 Feb 2018 06:54:49 GMT
- request:
    method: get
    uri: https://www.googleapis.com/drive/v3/changes?fields=nextPageToken,%20newStartPageToken,%20changes/type,%20changes/fileId,%20changes/file/mimeType,%20changes/file/version,%20changes/file/name,%20changes/file/modifiedTime,%20changes/file/parents,%20changes/removed,%20changes/file/trashed&pageSize=100&pageToken=1807
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR TRACKING ACCOUNT>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "newStartPageToken": "1810",
         "changes": [
          {
           "type": "file",
           "removed": false,
           "fileId": "1QrY44n_swNasDKZ4lZ0oZA3uABumXEQZ",
           "file": {
            "name": "Test @ 2018-02-07 06:54:45 UTC",
            "mimeType": "application/vnd.google-apps.folder",
            "trashed": false,
            "version": "3",
            "modifiedTime": "2018-02-07T06:54:46.867Z"
           }
          },
          {
           "type": "file",
           "removed": false,
           "fileId": "1Xc81KU5ioiejP9LZIIwUuw7mMJ9hMZJVkJZs4PO0d-s",
           "file": {
            "name": "New File Name",
            "mimeType": "application/vnd.google-apps.document",
            "trashed": false,
            "parents": [
             "1QrY44n_swNasDKZ4lZ0oZA3uABumXEQZ"
            ],
            "version": "4",
            "modifiedTime": "2018-02-07T06:54:47.920Z"
           }
          }
         ]
        }
  recorded_at: Wed, 07 Feb 2018 06:55:49 GMT
- request:
    method: delete
    uri: https://www.googleapis.com/drive/v3/files/1QrY44n_swNasDKZ4lZ0oZA3uABumXEQZ
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR USER ACCOUNT>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 204
      message: No Content
    headers:
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Wed, 07 Feb 2018 06:55:51 GMT
recorded_with: VCR 4.0.0
