---
http_interactions:
- request:
    method: post
    uri: https://www.googleapis.com/oauth2/v4/token
    body:
      encoding: ASCII-8BIT
      string: grant_type=refresh_token&refresh_token=<REFRESH TOKEN FOR TRACKING ACCOUNT>&client_id=<CLIENT
        ID>&client_secret=<CLIENT SECRET>
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "access_token": "<ACCESS TOKEN FOR TRACKING ACCOUNT>",
         "token_type": "Bearer",
         "expires_in": 3600
        }
  recorded_at: Wed, 07 Feb 2018 04:04:57 GMT
[...]
- request:
    method: post
    uri: https://www.googleapis.com/drive/v3/files?fields=id,name,mimeType,parents
    body:
      encoding: UTF-8
      string: '{"mimeType":"application/vnd.google-apps.folder","name":"Test @ 2018-02-07
        04:04:58 UTC","parents":["root"]}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <ACCESS TOKEN FOR USER ACCOUNT>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "id": "1tk890q6l2G0S6W2d3DqyIMV4PE0u3HDn",
         "name": "Test @ 2018-02-07 04:04:58 UTC",
         "mimeType": "application/vnd.google-apps.folder",
         "parents": [
          "0AEIi2L68pCuiUk9PVA"
         ]
        }
  recorded_at: Wed, 07 Feb 2018 04:04:59 GMT
- request:
    method: post
    uri: https://www.googleapis.com/drive/v3/files/1tk890q6l2G0S6W2d3DqyIMV4PE0u3HDn/permissions?sendNotificationEmail=false
    body:
      encoding: UTF-8
      string: '{"emailAddress":"test.upshift.one@gmail.com","role":"reader","type":"user"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <ACCESS TOKEN FOR USER ACCOUNT>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "drive#permission",
         "id": "11673017242486491425",
         "type": "user",
         "role": "reader"
        }
  recorded_at: Wed, 07 Feb 2018 04:04:59 GMT
- request:
    method: get
    uri: https://www.googleapis.com/drive/v3/changes/startPageToken
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR TRACKING ACCOUNT>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "drive#startPageToken",
         "startPageToken": "1731"
        }
  recorded_at: Wed, 07 Feb 2018 04:05:00 GMT
[...]
- request:
    method: get
    uri: https://www.googleapis.com/drive/v3/files/1tk890q6l2G0S6W2d3DqyIMV4PE0u3HDn?fields=id,%20name,%20mimeType,%20version,%20modifiedTime
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR TRACKING ACCOUNT>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "id": "1tk890q6l2G0S6W2d3DqyIMV4PE0u3HDn",
         "name": "Test @ 2018-02-07 04:04:58 UTC",
         "mimeType": "application/vnd.google-apps.folder",
         "version": "3",
         "modifiedTime": "2018-02-07T04:04:59.395Z"
        }
  recorded_at: Wed, 07 Feb 2018 04:05:01 GMT
[...]
- request:
    method: get
    uri: https://www.googleapis.com/drive/v3/files?fields=files/id,%20files/version,%20files/mimeType,%20files/name,%20files/modifiedTime&q=%271tk890q6l2G0S6W2d3DqyIMV4PE0u3HDn%27%20in%20parents
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR TRACKING ACCOUNT>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "files": [
          {
           "id": "1RxfR6TQMx7KDmQ1BoMwBvDIPMYh9vG3oSYz6QbiFiCE",
           "name": "File",
           "mimeType": "application/vnd.google-apps.document",
           "version": "2",
           "modifiedTime": "2018-02-07T04:05:00.310Z"
          }
         ]
        }
  recorded_at: Wed, 07 Feb 2018 04:05:01 GMT
- request:
    method: patch
    uri: https://www.googleapis.com/upload/drive/v3/files/1RxfR6TQMx7KDmQ1BoMwBvDIPMYh9vG3oSYz6QbiFiCE
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR USER ACCOUNT>
      X-Goog-Upload-Protocol:
      - resumable
      X-Goog-Upload-Command:
      - start
      X-Goog-Upload-Header-Content-Length:
      - '16'
      X-Goog-Upload-Header-Content-Type:
      - application/octet-stream
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Goog-Upload-Status:
      - active
      X-Goog-Upload-Url:
      - https://www.googleapis.com/upload/drive/v3/files/1RxfR6TQMx7KDmQ1BoMwBvDIPMYh9vG3oSYz6QbiFiCE?upload_id=AEnB2UqeDi_t7yY9oLq6u_vZ3QDBDY5uk8tLdIy5gSsUYJ85fqqC1q44fkKMakAqXk8ay4ImyFHOuOrFHDyZq7adt95tZV2iMA&upload_protocol=resumable
      X-Goog-Upload-Control-Url:
      - https://www.googleapis.com/upload/drive/v3/files/1RxfR6TQMx7KDmQ1BoMwBvDIPMYh9vG3oSYz6QbiFiCE?upload_id=AEnB2UqeDi_t7yY9oLq6u_vZ3QDBDY5uk8tLdIy5gSsUYJ85fqqC1q44fkKMakAqXk8ay4ImyFHOuOrFHDyZq7adt95tZV2iMA&upload_protocol=resumable
      X-Goog-Upload-Chunk-Granularity:
      - '262144'
      X-Goog-Upload-Header-Vary:
      - Origin
      - X-Origin
      X-Goog-Upload-Header-X-Google-Backends:
      - otfv32:4879
      X-Goog-Upload-Header-X-Google-Session-Info:
      - CKeBxoimHBoCGAY6bwoPZHJpdmUtcm9zeS1wcm9kEgVkcml2ZRiDqMHn7wUiSDIwMTgxMjEwNDE5NS1pcDNwN2xrcWE1N29lYm84NTkwZXJtZ2E3MjBpMW5uaC5hcHBzLmdvb2dsZXVzZXJjb250ZW50LmNvbTDxDjDvDkqXARKDAXlhMjkuR2x4YUJVb0RuU09VcFNLb1lFYmpVUFZDaXpzRmpuVkRfb1RzdkFwZy1QOUxWMnpVRWNtWGdhTUxpdHpIOFRYOUsxRFkwUEdDcERBRGJxX3A4dVlLWTBxTXlUdDdKVExKUTRGTmN2bDlxV2J3aDBEc1pqcDUyMUVLdjJMUVBBMAQ6DTEvU3gzQ2gtYUp1Mn4
      X-Goog-Upload-Header-Cache-Control:
      - no-cache, no-store, max-age=0, must-revalidate
      X-Goog-Upload-Header-Pragma:
      - no-cache
      X-Goog-Upload-Header-Expires:
      - Mon, 01 Jan 1990 00:00:00 GMT
      X-Goog-Upload-Header-Date:
      - Wed, 07 Feb 2018 04:05:01 GMT
      Content-Type:
      - text/html; charset=UTF-8
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Wed, 07 Feb 2018 04:05:01 GMT
- request:
    method: post
    uri: https://www.googleapis.com/upload/drive/v3/files/1RxfR6TQMx7KDmQ1BoMwBvDIPMYh9vG3oSYz6QbiFiCE?upload_id=AEnB2UqeDi_t7yY9oLq6u_vZ3QDBDY5uk8tLdIy5gSsUYJ85fqqC1q44fkKMakAqXk8ay4ImyFHOuOrFHDyZq7adt95tZV2iMA&upload_protocol=resumable
    body:
      encoding: UTF-8
      string: new file content
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR USER ACCOUNT>
      X-Goog-Upload-Command:
      - upload, finalize
      X-Goog-Upload-Offset:
      - '0'
      Content-Type:
      - application/octet-stream
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Goog-Upload-Status:
      - final
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "drive#file",
         "id": "1RxfR6TQMx7KDmQ1BoMwBvDIPMYh9vG3oSYz6QbiFiCE",
         "name": "File",
         "mimeType": "application/vnd.google-apps.document"
        }
  recorded_at: Wed, 07 Feb 2018 04:05:02 GMT
- request:
    method: get
    uri: https://www.googleapis.com/drive/v3/changes?fields=nextPageToken,%20newStartPageToken,%20changes/type,%20changes/fileId,%20changes/file/mimeType,%20changes/file/version,%20changes/file/name,%20changes/file/modifiedTime,%20changes/file/parents,%20changes/removed,%20changes/file/trashed&pageSize=100&pageToken=1731
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR TRACKING ACCOUNT>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "newStartPageToken": "1734",
         "changes": [
          {
           "type": "file",
           "removed": false,
           "fileId": "1tk890q6l2G0S6W2d3DqyIMV4PE0u3HDn",
           "file": {
            "name": "Test @ 2018-02-07 04:04:58 UTC",
            "mimeType": "application/vnd.google-apps.folder",
            "trashed": false,
            "version": "3",
            "modifiedTime": "2018-02-07T04:04:59.395Z"
           }
          },
          {
           "type": "file",
           "removed": false,
           "fileId": "1RxfR6TQMx7KDmQ1BoMwBvDIPMYh9vG3oSYz6QbiFiCE",
           "file": {
            "name": "File",
            "mimeType": "application/vnd.google-apps.document",
            "trashed": false,
            "parents": [
             "1tk890q6l2G0S6W2d3DqyIMV4PE0u3HDn"
            ],
            "version": "4",
            "modifiedTime": "2018-02-07T04:05:00.779Z"
           }
          }
         ]
        }
  recorded_at: Wed, 07 Feb 2018 04:06:02 GMT
- request:
    method: delete
    uri: https://www.googleapis.com/drive/v3/files/1tk890q6l2G0S6W2d3DqyIMV4PE0u3HDn
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR USER ACCOUNT>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 204
      message: No Content
    headers:
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Wed, 07 Feb 2018 04:06:03 GMT
recorded_with: VCR 4.0.0
