---
http_interactions:
- request:
    method: post
    uri: https://www.googleapis.com/oauth2/v4/token
    body:
      encoding: ASCII-8BIT
      string: grant_type=refresh_token&refresh_token=<REFRESH TOKEN FOR TRACKING ACCOUNT>&client_id=<CLIENT
        ID>&client_secret=<CLIENT SECRET>
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "access_token": "<ACCESS TOKEN FOR TRACKING ACCOUNT>",
         "token_type": "Bearer",
         "expires_in": 3600
        }
  recorded_at: Tue, 06 Mar 2018 19:55:35 GMT
[...]
- request:
    method: post
    uri: https://www.googleapis.com/drive/v3/files?fields=id,name,mimeType,parents,trashed
    body:
      encoding: UTF-8
      string: '{"mimeType":"application/vnd.google-apps.folder","name":"Test @ 2018-03-06
        19:55:35 UTC","parents":["root"]}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <ACCESS TOKEN FOR USER ACCOUNT>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "id": "1_tqA0Ajt_1Fn-oJq-cb3k6u2WjApMaXj",
         "name": "Test @ 2018-03-06 19:55:35 UTC",
         "mimeType": "application/vnd.google-apps.folder",
         "trashed": false,
         "parents": [
          "0AEIi2L68pCuiUk9PVA"
         ]
        }
  recorded_at: Tue, 06 Mar 2018 19:55:36 GMT
- request:
    method: post
    uri: https://www.googleapis.com/drive/v3/files/1_tqA0Ajt_1Fn-oJq-cb3k6u2WjApMaXj/permissions?sendNotificationEmail=false
    body:
      encoding: UTF-8
      string: '{"emailAddress":"<EMAIL ADDRESS FOR TRACKING ACCOUNT>","role":"writer","type":"user"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <ACCESS TOKEN FOR USER ACCOUNT>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "drive#permission",
         "id": "11673017242486491425",
         "type": "user",
         "role": "writer"
        }
  recorded_at: Tue, 06 Mar 2018 19:55:37 GMT
- request:
    method: get
    uri: https://www.googleapis.com/drive/v3/changes/startPageToken
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR TRACKING ACCOUNT>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "drive#startPageToken",
         "startPageToken": "5985"
        }
  recorded_at: Tue, 06 Mar 2018 19:55:37 GMT
[...]
- request:
    method: get
    uri: https://www.googleapis.com/drive/v3/files/1_tqA0Ajt_1Fn-oJq-cb3k6u2WjApMaXj?fields=id,name,mimeType,parents,trashed
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR TRACKING ACCOUNT>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "id": "1_tqA0Ajt_1Fn-oJq-cb3k6u2WjApMaXj",
         "name": "Test @ 2018-03-06 19:55:35 UTC",
         "mimeType": "application/vnd.google-apps.folder",
         "trashed": false
        }
  recorded_at: Tue, 06 Mar 2018 19:55:38 GMT
[...]
- request:
    method: get
    uri: https://www.googleapis.com/drive/v3/files/1_tqA0Ajt_1Fn-oJq-cb3k6u2WjApMaXj/revisions/head
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR TRACKING ACCOUNT>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 403
      message: Forbidden
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "error": {
          "errors": [
           {
            "domain": "global",
            "reason": "revisionsNotSupported",
            "message": "The file does not support revisions."
           }
          ],
          "code": 403,
          "message": "The file does not support revisions."
         }
        }
  recorded_at: Tue, 06 Mar 2018 19:55:39 GMT
- request:
    method: get
    uri: https://www.googleapis.com/drive/v3/files?fields=files/id,files/name,files/mimeType,files/parents,files/trashed&q=%271_tqA0Ajt_1Fn-oJq-cb3k6u2WjApMaXj%27%20in%20parents
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR TRACKING ACCOUNT>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "files": [
          {
           "id": "1n1mAvEzoiRs7Ieizncy5qwltL_F8PhDSOOXigTd4Oek",
           "name": "File",
           "mimeType": "application/vnd.google-apps.document",
           "trashed": false,
           "parents": [
            "1_tqA0Ajt_1Fn-oJq-cb3k6u2WjApMaXj"
           ]
          }
         ]
        }
  recorded_at: Tue, 06 Mar 2018 19:55:39 GMT
- request:
    method: get
    uri: https://www.googleapis.com/drive/v3/files/1n1mAvEzoiRs7Ieizncy5qwltL_F8PhDSOOXigTd4Oek/revisions/head
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR TRACKING ACCOUNT>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "error": {
          "errors": [
           {
            "domain": "global",
            "reason": "notFound",
            "message": "Revision not found: head.",
            "locationType": "parameter",
            "location": "revisionId"
           }
          ],
          "code": 404,
          "message": "Revision not found: head."
         }
        }
  recorded_at: Tue, 06 Mar 2018 19:55:40 GMT
- request:
    method: patch
    uri: https://www.googleapis.com/upload/drive/v3/files/1n1mAvEzoiRs7Ieizncy5qwltL_F8PhDSOOXigTd4Oek
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR USER ACCOUNT>
      X-Goog-Upload-Protocol:
      - resumable
      X-Goog-Upload-Command:
      - start
      X-Goog-Upload-Header-Content-Length:
      - '16'
      X-Goog-Upload-Header-Content-Type:
      - application/octet-stream
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Goog-Upload-Status:
      - active
      X-Goog-Upload-Url:
      - https://www.googleapis.com/upload/drive/v3/files/1n1mAvEzoiRs7Ieizncy5qwltL_F8PhDSOOXigTd4Oek?upload_id=AEnB2UoHwgDFHzyLVNXEGLgornsQVIdIjbkNIU1_knHL1PLbp5rNiDXXw7YFg1zXc2FL17hpEtLUDVnNl2bCWHHA2vrNFbTWuh6twtkjdjMLeBaA8tDtU0g&upload_protocol=resumable
      X-Goog-Upload-Control-Url:
      - https://www.googleapis.com/upload/drive/v3/files/1n1mAvEzoiRs7Ieizncy5qwltL_F8PhDSOOXigTd4Oek?upload_id=AEnB2UoHwgDFHzyLVNXEGLgornsQVIdIjbkNIU1_knHL1PLbp5rNiDXXw7YFg1zXc2FL17hpEtLUDVnNl2bCWHHA2vrNFbTWuh6twtkjdjMLeBaA8tDtU0g&upload_protocol=resumable
      X-Goog-Upload-Chunk-Granularity:
      - '262144'
      X-Goog-Upload-Header-Vary:
      - Origin
      - X-Origin
      X-Goog-Upload-Header-X-Google-Backends:
      - iodl13:4895
      X-Goog-Upload-Header-X-Google-Session-Info:
      - CKeBxoimHBoCGAY6bwoPZHJpdmUtcm9zeS1wcm9kEgVkcml2ZRiDqMHn7wUiSDIwMTgxMjEwNDE5NS1pcDNwN2xrcWE1N29lYm84NTkwZXJtZ2E3MjBpMW5uaC5hcHBzLmdvb2dsZXVzZXJjb250ZW50LmNvbTDxDjDvDkqYARKEAXlhMjkuR2wxMkJTeGYzRE1vR0dSQ1FId2xRajBDMlY5UExLbWV5eFhYekNVWXNSUk0ySWN3aHktWWQ2OTFLbkxSR2ViSHUxRVl3MFA3NEJpSDhaQWpwbFFQYlhhUmgySm9BajNFVVlLR3llNGM4WTdHRTd2UmZiYkdscjVhU3REanptNDAEOg0xL1N4M0NoLWFKdTJ-
      X-Goog-Upload-Header-Cache-Control:
      - no-cache, no-store, max-age=0, must-revalidate
      X-Goog-Upload-Header-Pragma:
      - no-cache
      X-Goog-Upload-Header-Expires:
      - Mon, 01 Jan 1990 00:00:00 GMT
      X-Goog-Upload-Header-Date:
      - Tue, 06 Mar 2018 19:55:40 GMT
      Content-Type:
      - text/html; charset=UTF-8
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 06 Mar 2018 19:55:40 GMT
- request:
    method: post
    uri: https://www.googleapis.com/upload/drive/v3/files/1n1mAvEzoiRs7Ieizncy5qwltL_F8PhDSOOXigTd4Oek?upload_id=AEnB2UoHwgDFHzyLVNXEGLgornsQVIdIjbkNIU1_knHL1PLbp5rNiDXXw7YFg1zXc2FL17hpEtLUDVnNl2bCWHHA2vrNFbTWuh6twtkjdjMLeBaA8tDtU0g&upload_protocol=resumable
    body:
      encoding: UTF-8
      string: new file content
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR USER ACCOUNT>
      X-Goog-Upload-Command:
      - upload, finalize
      X-Goog-Upload-Offset:
      - '0'
      Content-Type:
      - application/octet-stream
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Goog-Upload-Status:
      - final
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "drive#file",
         "id": "1n1mAvEzoiRs7Ieizncy5qwltL_F8PhDSOOXigTd4Oek",
         "name": "File",
         "mimeType": "application/vnd.google-apps.document"
        }
  recorded_at: Tue, 06 Mar 2018 19:55:41 GMT
- request:
    method: get
    uri: https://www.googleapis.com/drive/v3/changes?fields=nextPageToken,newStartPageToken,changes/fileId&pageSize=100&pageToken=5985
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR TRACKING ACCOUNT>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "newStartPageToken": "5988",
         "changes": [
          {
           "fileId": "1_tqA0Ajt_1Fn-oJq-cb3k6u2WjApMaXj"
          },
          {
           "fileId": "1n1mAvEzoiRs7Ieizncy5qwltL_F8PhDSOOXigTd4Oek"
          }
         ]
        }
  recorded_at: Tue, 06 Mar 2018 19:56:42 GMT
[...]
- request:
    method: get
    uri: https://www.googleapis.com/drive/v3/files/1n1mAvEzoiRs7Ieizncy5qwltL_F8PhDSOOXigTd4Oek?fields=id,name,mimeType,parents,trashed
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR TRACKING ACCOUNT>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "id": "1n1mAvEzoiRs7Ieizncy5qwltL_F8PhDSOOXigTd4Oek",
         "name": "File",
         "mimeType": "application/vnd.google-apps.document",
         "trashed": false,
         "parents": [
          "1_tqA0Ajt_1Fn-oJq-cb3k6u2WjApMaXj"
         ]
        }
  recorded_at: Tue, 06 Mar 2018 19:56:42 GMT
- request:
    method: get
    uri: https://www.googleapis.com/drive/v3/files/1n1mAvEzoiRs7Ieizncy5qwltL_F8PhDSOOXigTd4Oek/revisions/head
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR TRACKING ACCOUNT>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "drive#revision",
         "id": "3",
         "mimeType": "application/vnd.google-apps.document",
         "modifiedTime": "2018-03-06T19:55:41.208Z"
        }
  recorded_at: Tue, 06 Mar 2018 19:56:42 GMT
- request:
    method: delete
    uri: https://www.googleapis.com/drive/v3/files/1_tqA0Ajt_1Fn-oJq-cb3k6u2WjApMaXj
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR USER ACCOUNT>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 204
      message: No Content
    headers:
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 06 Mar 2018 19:56:43 GMT
recorded_with: VCR 4.0.0
