---
http_interactions:
- request:
    method: post
    uri: https://www.googleapis.com/oauth2/v4/token
    body:
      encoding: ASCII-8BIT
      string: grant_type=refresh_token&refresh_token=<REFRESH TOKEN FOR TRACKING ACCOUNT>&client_id=<CLIENT
        ID>&client_secret=<CLIENT SECRET>
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "access_token": "<ACCESS TOKEN FOR TRACKING ACCOUNT>",
         "token_type": "Bearer",
         "expires_in": 3600
        }
  recorded_at: Mon, 05 Mar 2018 20:30:44 GMT
[...]
- request:
    method: post
    uri: https://www.googleapis.com/drive/v3/files?fields=id,name,mimeType,parents,trashed
    body:
      encoding: UTF-8
      string: '{"mimeType":"application/vnd.google-apps.folder","name":"Test @ 2018-03-05
        20:30:44 UTC","parents":["root"]}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <ACCESS TOKEN FOR USER ACCOUNT>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "id": "15KDFEwGy5m7PxVNN4WrJfFMH-JxbgI-1",
         "name": "Test @ 2018-03-05 20:30:44 UTC",
         "mimeType": "application/vnd.google-apps.folder",
         "trashed": false,
         "parents": [
          "0AEIi2L68pCuiUk9PVA"
         ]
        }
  recorded_at: Mon, 05 Mar 2018 20:30:45 GMT
- request:
    method: post
    uri: https://www.googleapis.com/drive/v3/files/15KDFEwGy5m7PxVNN4WrJfFMH-JxbgI-1/permissions?sendNotificationEmail=false
    body:
      encoding: UTF-8
      string: '{"emailAddress":"<EMAIL ADDRESS FOR TRACKING ACCOUNT>","role":"writer","type":"user"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <ACCESS TOKEN FOR USER ACCOUNT>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "drive#permission",
         "id": "11673017242486491425",
         "type": "user",
         "role": "writer"
        }
  recorded_at: Mon, 05 Mar 2018 20:30:46 GMT
- request:
    method: get
    uri: https://www.googleapis.com/drive/v3/changes/startPageToken
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR TRACKING ACCOUNT>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "drive#startPageToken",
         "startPageToken": "5178"
        }
  recorded_at: Mon, 05 Mar 2018 20:30:46 GMT
[...]
- request:
    method: get
    uri: https://www.googleapis.com/drive/v3/files/15KDFEwGy5m7PxVNN4WrJfFMH-JxbgI-1?fields=id,%20name,%20mimeType,%20version,%20modifiedTime
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR TRACKING ACCOUNT>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "id": "15KDFEwGy5m7PxVNN4WrJfFMH-JxbgI-1",
         "name": "Test @ 2018-03-05 20:30:44 UTC",
         "mimeType": "application/vnd.google-apps.folder",
         "version": "3",
         "modifiedTime": "2018-03-05T20:30:45.630Z"
        }
  recorded_at: Mon, 05 Mar 2018 20:30:47 GMT
- request:
    method: get
    uri: https://www.googleapis.com/drive/v3/files/15KDFEwGy5m7PxVNN4WrJfFMH-JxbgI-1?fields=id,name,mimeType,parents,trashed
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR TRACKING ACCOUNT>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "id": "15KDFEwGy5m7PxVNN4WrJfFMH-JxbgI-1",
         "name": "Test @ 2018-03-05 20:30:44 UTC",
         "mimeType": "application/vnd.google-apps.folder",
         "trashed": false
        }
  recorded_at: Mon, 05 Mar 2018 20:30:47 GMT
- request:
    method: get
    uri: https://www.googleapis.com/drive/v3/files/15KDFEwGy5m7PxVNN4WrJfFMH-JxbgI-1/revisions/head
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR TRACKING ACCOUNT>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 403
      message: Forbidden
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "error": {
          "errors": [
           {
            "domain": "global",
            "reason": "revisionsNotSupported",
            "message": "The file does not support revisions."
           }
          ],
          "code": 403,
          "message": "The file does not support revisions."
         }
        }
  recorded_at: Mon, 05 Mar 2018 20:30:47 GMT
- request:
    method: get
    uri: https://www.googleapis.com/drive/v3/files?fields=files/id,files/name,files/mimeType,files/parents,files/trashed&q=%2715KDFEwGy5m7PxVNN4WrJfFMH-JxbgI-1%27%20in%20parents
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR TRACKING ACCOUNT>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "files": [
          {
           "id": "1P2peEGQ1H2-P34kzcpqkFaruFjs-utpHeAdBPslbjn0",
           "name": "File",
           "mimeType": "application/vnd.google-apps.document",
           "trashed": false,
           "parents": [
            "15KDFEwGy5m7PxVNN4WrJfFMH-JxbgI-1"
           ]
          }
         ]
        }
  recorded_at: Mon, 05 Mar 2018 20:30:48 GMT
- request:
    method: get
    uri: https://www.googleapis.com/drive/v3/files/1P2peEGQ1H2-P34kzcpqkFaruFjs-utpHeAdBPslbjn0/revisions/head
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR TRACKING ACCOUNT>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "error": {
          "errors": [
           {
            "domain": "global",
            "reason": "notFound",
            "message": "Revision not found: head.",
            "locationType": "parameter",
            "location": "revisionId"
           }
          ],
          "code": 404,
          "message": "Revision not found: head."
         }
        }
  recorded_at: Mon, 05 Mar 2018 20:30:48 GMT
- request:
    method: get
    uri: https://www.googleapis.com/drive/v3/files/1P2peEGQ1H2-P34kzcpqkFaruFjs-utpHeAdBPslbjn0/permissions?fields=permissions/id,%20permissions/emailAddress
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR USER ACCOUNT>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "permissions": [
          {
           "id": "13193959451567607887",
           "emailAddress": "<EMAIL ADDRESS FOR USER ACCOUNT>"
          },
          {
           "id": "11673017242486491425",
           "emailAddress": "<EMAIL ADDRESS FOR TRACKING ACCOUNT>"
          }
         ]
        }
  recorded_at: Mon, 05 Mar 2018 20:30:48 GMT
- request:
    method: delete
    uri: https://www.googleapis.com/drive/v3/files/1P2peEGQ1H2-P34kzcpqkFaruFjs-utpHeAdBPslbjn0/permissions/11673017242486491425
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR USER ACCOUNT>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 204
      message: No Content
    headers:
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Mon, 05 Mar 2018 20:30:49 GMT
- request:
    method: get
    uri: https://www.googleapis.com/drive/v3/changes?fields=nextPageToken,newStartPageToken,changes/fileId&pageSize=100&pageToken=5178
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR TRACKING ACCOUNT>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "newStartPageToken": "5181",
         "changes": [
          {
           "fileId": "1P2peEGQ1H2-P34kzcpqkFaruFjs-utpHeAdBPslbjn0"
          },
          {
           "fileId": "15KDFEwGy5m7PxVNN4WrJfFMH-JxbgI-1"
          }
         ]
        }
  recorded_at: Mon, 05 Mar 2018 20:31:49 GMT
- request:
    method: get
    uri: https://www.googleapis.com/drive/v3/files/1P2peEGQ1H2-P34kzcpqkFaruFjs-utpHeAdBPslbjn0?fields=id,name,mimeType,parents,trashed
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR TRACKING ACCOUNT>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "error": {
          "errors": [
           {
            "domain": "global",
            "reason": "notFound",
            "message": "File not found: 1P2peEGQ1H2-P34kzcpqkFaruFjs-utpHeAdBPslbjn0.",
            "locationType": "parameter",
            "location": "fileId"
           }
          ],
          "code": 404,
          "message": "File not found: 1P2peEGQ1H2-P34kzcpqkFaruFjs-utpHeAdBPslbjn0."
         }
        }
  recorded_at: Mon, 05 Mar 2018 20:31:49 GMT
[...]
- request:
    method: delete
    uri: https://www.googleapis.com/drive/v3/files/15KDFEwGy5m7PxVNN4WrJfFMH-JxbgI-1
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR USER ACCOUNT>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 204
      message: No Content
    headers:
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Mon, 05 Mar 2018 20:31:50 GMT
recorded_with: VCR 4.0.0
