---
http_interactions:
- request:
    method: post
    uri: https://www.googleapis.com/oauth2/v4/token
    body:
      encoding: ASCII-8BIT
      string: grant_type=refresh_token&refresh_token=<REFRESH TOKEN FOR TRACKING ACCOUNT>&client_id=<CLIENT
        ID>&client_secret=<CLIENT SECRET>
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "access_token": "<ACCESS TOKEN FOR TRACKING ACCOUNT>",
         "token_type": "Bearer",
         "expires_in": 3600
        }
  recorded_at: Tue, 06 Mar 2018 18:00:33 GMT
[...]
- request:
    method: post
    uri: https://www.googleapis.com/drive/v3/files?fields=id,name,mimeType,parents,trashed
    body:
      encoding: UTF-8
      string: '{"mimeType":"application/vnd.google-apps.folder","name":"Test @ 2018-03-06
        18:00:33 UTC","parents":["root"]}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <ACCESS TOKEN FOR USER ACCOUNT>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "id": "1VygWrp0vzjEU6CG-Wm2HMe9TMvcROYCR",
         "name": "Test @ 2018-03-06 18:00:33 UTC",
         "mimeType": "application/vnd.google-apps.folder",
         "trashed": false,
         "parents": [
          "0AEIi2L68pCuiUk9PVA"
         ]
        }
  recorded_at: Tue, 06 Mar 2018 18:01:08 GMT
- request:
    method: post
    uri: https://www.googleapis.com/drive/v3/files/1VygWrp0vzjEU6CG-Wm2HMe9TMvcROYCR/permissions?sendNotificationEmail=false
    body:
      encoding: UTF-8
      string: '{"emailAddress":"<EMAIL ADDRESS FOR TRACKING ACCOUNT>","role":"writer","type":"user"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <ACCESS TOKEN FOR USER ACCOUNT>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "drive#permission",
         "id": "11673017242486491425",
         "type": "user",
         "role": "writer"
        }
  recorded_at: Tue, 06 Mar 2018 18:01:09 GMT
- request:
    method: get
    uri: https://www.googleapis.com/drive/v3/changes/startPageToken
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR TRACKING ACCOUNT>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "drive#startPageToken",
         "startPageToken": "5519"
        }
  recorded_at: Tue, 06 Mar 2018 18:01:10 GMT
[...]
- request:
    method: get
    uri: https://www.googleapis.com/drive/v3/files/1VygWrp0vzjEU6CG-Wm2HMe9TMvcROYCR?fields=id,%20name,%20mimeType,%20version,%20modifiedTime
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR TRACKING ACCOUNT>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "id": "1VygWrp0vzjEU6CG-Wm2HMe9TMvcROYCR",
         "name": "Test @ 2018-03-06 18:00:33 UTC",
         "mimeType": "application/vnd.google-apps.folder",
         "version": "3",
         "modifiedTime": "2018-03-06T18:01:09.305Z"
        }
  recorded_at: Tue, 06 Mar 2018 18:01:11 GMT
- request:
    method: get
    uri: https://www.googleapis.com/drive/v3/files/1VygWrp0vzjEU6CG-Wm2HMe9TMvcROYCR?fields=id,name,mimeType,parents,trashed
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR TRACKING ACCOUNT>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "id": "1VygWrp0vzjEU6CG-Wm2HMe9TMvcROYCR",
         "name": "Test @ 2018-03-06 18:00:33 UTC",
         "mimeType": "application/vnd.google-apps.folder",
         "trashed": false
        }
  recorded_at: Tue, 06 Mar 2018 18:01:11 GMT
- request:
    method: get
    uri: https://www.googleapis.com/drive/v3/files/1VygWrp0vzjEU6CG-Wm2HMe9TMvcROYCR/revisions/head
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR TRACKING ACCOUNT>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 403
      message: Forbidden
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "error": {
          "errors": [
           {
            "domain": "global",
            "reason": "revisionsNotSupported",
            "message": "The file does not support revisions."
           }
          ],
          "code": 403,
          "message": "The file does not support revisions."
         }
        }
  recorded_at: Tue, 06 Mar 2018 18:01:12 GMT
- request:
    method: get
    uri: https://www.googleapis.com/drive/v3/files?fields=files/id,files/name,files/mimeType,files/parents,files/trashed&q=%271VygWrp0vzjEU6CG-Wm2HMe9TMvcROYCR%27%20in%20parents
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR TRACKING ACCOUNT>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "files": [
          {
           "id": "1rTXWeX54daFUpf0KO0UPEq6zSbj-YCvKTytFLSCroEI",
           "name": "File To Move",
           "mimeType": "application/vnd.google-apps.document",
           "trashed": false,
           "parents": [
            "1VygWrp0vzjEU6CG-Wm2HMe9TMvcROYCR"
           ]
          }
         ]
        }
  recorded_at: Tue, 06 Mar 2018 18:01:12 GMT
- request:
    method: get
    uri: https://www.googleapis.com/drive/v3/files/1rTXWeX54daFUpf0KO0UPEq6zSbj-YCvKTytFLSCroEI/revisions/head
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR TRACKING ACCOUNT>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "drive#revision",
         "id": "1",
         "mimeType": "application/vnd.google-apps.document",
         "modifiedTime": "2018-03-06T18:01:10.710Z"
        }
  recorded_at: Tue, 06 Mar 2018 18:01:12 GMT
- request:
    method: patch
    uri: https://www.googleapis.com/drive/v3/files/1rTXWeX54daFUpf0KO0UPEq6zSbj-YCvKTytFLSCroEI?addParents=root&fields=id,name,mimeType,parents,trashed&removeParents=1VygWrp0vzjEU6CG-Wm2HMe9TMvcROYCR
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR USER ACCOUNT>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "id": "1rTXWeX54daFUpf0KO0UPEq6zSbj-YCvKTytFLSCroEI",
         "name": "File To Move",
         "mimeType": "application/vnd.google-apps.document",
         "trashed": false,
         "parents": [
          "0AEIi2L68pCuiUk9PVA"
         ]
        }
  recorded_at: Tue, 06 Mar 2018 18:01:13 GMT
- request:
    method: get
    uri: https://www.googleapis.com/drive/v3/changes?fields=nextPageToken,newStartPageToken,changes/fileId&pageSize=100&pageToken=5519
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR TRACKING ACCOUNT>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "newStartPageToken": "5525",
         "changes": [
          {
           "fileId": "1_QQ_JgfXuIjjri8_KOgoGQ9JgBY5qo7i"
          },
          {
           "fileId": "1Lj1MC4yREOXCnYaXi-y-EqN84VM6j6rtVFiX4HYVtQg"
          },
          {
           "fileId": "1VygWrp0vzjEU6CG-Wm2HMe9TMvcROYCR"
          },
          {
           "fileId": "1rTXWeX54daFUpf0KO0UPEq6zSbj-YCvKTytFLSCroEI"
          }
         ]
        }
  recorded_at: Tue, 06 Mar 2018 18:02:14 GMT
- request:
    method: get
    uri: https://www.googleapis.com/drive/v3/files/1_QQ_JgfXuIjjri8_KOgoGQ9JgBY5qo7i?fields=id,name,mimeType,parents,trashed
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR TRACKING ACCOUNT>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "error": {
          "errors": [
           {
            "domain": "global",
            "reason": "notFound",
            "message": "File not found: 1_QQ_JgfXuIjjri8_KOgoGQ9JgBY5qo7i.",
            "locationType": "parameter",
            "location": "fileId"
           }
          ],
          "code": 404,
          "message": "File not found: 1_QQ_JgfXuIjjri8_KOgoGQ9JgBY5qo7i."
         }
        }
  recorded_at: Tue, 06 Mar 2018 18:02:15 GMT
- request:
    method: get
    uri: https://www.googleapis.com/drive/v3/files/1Lj1MC4yREOXCnYaXi-y-EqN84VM6j6rtVFiX4HYVtQg?fields=id,name,mimeType,parents,trashed
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR TRACKING ACCOUNT>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "error": {
          "errors": [
           {
            "domain": "global",
            "reason": "notFound",
            "message": "File not found: 1Lj1MC4yREOXCnYaXi-y-EqN84VM6j6rtVFiX4HYVtQg.",
            "locationType": "parameter",
            "location": "fileId"
           }
          ],
          "code": 404,
          "message": "File not found: 1Lj1MC4yREOXCnYaXi-y-EqN84VM6j6rtVFiX4HYVtQg."
         }
        }
  recorded_at: Tue, 06 Mar 2018 18:02:15 GMT
[...]
- request:
    method: get
    uri: https://www.googleapis.com/drive/v3/files/1rTXWeX54daFUpf0KO0UPEq6zSbj-YCvKTytFLSCroEI?fields=id,name,mimeType,parents,trashed
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR TRACKING ACCOUNT>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "error": {
          "errors": [
           {
            "domain": "global",
            "reason": "notFound",
            "message": "File not found: 1rTXWeX54daFUpf0KO0UPEq6zSbj-YCvKTytFLSCroEI.",
            "locationType": "parameter",
            "location": "fileId"
           }
          ],
          "code": 404,
          "message": "File not found: 1rTXWeX54daFUpf0KO0UPEq6zSbj-YCvKTytFLSCroEI."
         }
        }
  recorded_at: Tue, 06 Mar 2018 18:02:17 GMT
- request:
    method: delete
    uri: https://www.googleapis.com/drive/v3/files/1rTXWeX54daFUpf0KO0UPEq6zSbj-YCvKTytFLSCroEI
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR USER ACCOUNT>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 204
      message: No Content
    headers:
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 06 Mar 2018 18:02:18 GMT
- request:
    method: delete
    uri: https://www.googleapis.com/drive/v3/files/1VygWrp0vzjEU6CG-Wm2HMe9TMvcROYCR
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR USER ACCOUNT>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 204
      message: No Content
    headers:
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 06 Mar 2018 18:02:18 GMT
recorded_with: VCR 4.0.0
