---
http_interactions:
- request:
    method: post
    uri: https://www.googleapis.com/oauth2/v4/token
    body:
      encoding: ASCII-8BIT
      string: grant_type=refresh_token&refresh_token=<REFRESH TOKEN FOR TRACKING ACCOUNT>&client_id=<CLIENT
        ID>&client_secret=<CLIENT SECRET>
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "access_token": "<ACCESS TOKEN FOR TRACKING ACCOUNT>",
         "token_type": "Bearer",
         "expires_in": 3600
        }
  recorded_at: Tue, 06 Mar 2018 17:56:50 GMT
[...]
- request:
    method: post
    uri: https://www.googleapis.com/drive/v3/files?fields=id,name,mimeType,parents,trashed
    body:
      encoding: UTF-8
      string: '{"mimeType":"application/vnd.google-apps.folder","name":"Test @ 2018-03-06
        17:56:51 UTC","parents":["root"]}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <ACCESS TOKEN FOR USER ACCOUNT>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "id": "1i-IqGAoUJb_NBZNHLy3nAwVrYWaiTuSH",
         "name": "Test @ 2018-03-06 17:56:51 UTC",
         "mimeType": "application/vnd.google-apps.folder",
         "trashed": false,
         "parents": [
          "0AEIi2L68pCuiUk9PVA"
         ]
        }
  recorded_at: Tue, 06 Mar 2018 17:56:52 GMT
- request:
    method: post
    uri: https://www.googleapis.com/drive/v3/files/1i-IqGAoUJb_NBZNHLy3nAwVrYWaiTuSH/permissions?sendNotificationEmail=false
    body:
      encoding: UTF-8
      string: '{"emailAddress":"<EMAIL ADDRESS FOR TRACKING ACCOUNT>","role":"writer","type":"user"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <ACCESS TOKEN FOR USER ACCOUNT>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "drive#permission",
         "id": "11673017242486491425",
         "type": "user",
         "role": "writer"
        }
  recorded_at: Tue, 06 Mar 2018 17:56:52 GMT
- request:
    method: get
    uri: https://www.googleapis.com/drive/v3/changes/startPageToken
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR TRACKING ACCOUNT>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "drive#startPageToken",
         "startPageToken": "5507"
        }
  recorded_at: Tue, 06 Mar 2018 17:56:53 GMT
[...]
- request:
    method: get
    uri: https://www.googleapis.com/drive/v3/files/1i-IqGAoUJb_NBZNHLy3nAwVrYWaiTuSH?fields=id,%20name,%20mimeType,%20version,%20modifiedTime
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR TRACKING ACCOUNT>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "id": "1i-IqGAoUJb_NBZNHLy3nAwVrYWaiTuSH",
         "name": "Test @ 2018-03-06 17:56:51 UTC",
         "mimeType": "application/vnd.google-apps.folder",
         "version": "3",
         "modifiedTime": "2018-03-06T17:56:52.574Z"
        }
  recorded_at: Tue, 06 Mar 2018 17:56:54 GMT
- request:
    method: get
    uri: https://www.googleapis.com/drive/v3/files/1i-IqGAoUJb_NBZNHLy3nAwVrYWaiTuSH?fields=id,name,mimeType,parents,trashed
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR TRACKING ACCOUNT>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "id": "1i-IqGAoUJb_NBZNHLy3nAwVrYWaiTuSH",
         "name": "Test @ 2018-03-06 17:56:51 UTC",
         "mimeType": "application/vnd.google-apps.folder",
         "trashed": false
        }
  recorded_at: Tue, 06 Mar 2018 17:56:54 GMT
- request:
    method: get
    uri: https://www.googleapis.com/drive/v3/files/1i-IqGAoUJb_NBZNHLy3nAwVrYWaiTuSH/revisions/head
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR TRACKING ACCOUNT>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 403
      message: Forbidden
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "error": {
          "errors": [
           {
            "domain": "global",
            "reason": "revisionsNotSupported",
            "message": "The file does not support revisions."
           }
          ],
          "code": 403,
          "message": "The file does not support revisions."
         }
        }
  recorded_at: Tue, 06 Mar 2018 17:56:55 GMT
- request:
    method: get
    uri: https://www.googleapis.com/drive/v3/files?fields=files/id,files/name,files/mimeType,files/parents,files/trashed&q=%271i-IqGAoUJb_NBZNHLy3nAwVrYWaiTuSH%27%20in%20parents
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR TRACKING ACCOUNT>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "files": [
          {
           "id": "1CCmG6ICAl9h45j6FZr2V8hu2NIIJtNC7OtvU4w7lOKY",
           "name": "File",
           "mimeType": "application/vnd.google-apps.document",
           "trashed": false,
           "parents": [
            "1i-IqGAoUJb_NBZNHLy3nAwVrYWaiTuSH"
           ]
          }
         ]
        }
  recorded_at: Tue, 06 Mar 2018 17:56:55 GMT
- request:
    method: get
    uri: https://www.googleapis.com/drive/v3/files/1CCmG6ICAl9h45j6FZr2V8hu2NIIJtNC7OtvU4w7lOKY/revisions/head
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR TRACKING ACCOUNT>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "drive#revision",
         "id": "1",
         "mimeType": "application/vnd.google-apps.document",
         "modifiedTime": "2018-03-06T17:56:53.662Z"
        }
  recorded_at: Tue, 06 Mar 2018 17:56:56 GMT
- request:
    method: get
    uri: https://www.googleapis.com/drive/v3/files/1CCmG6ICAl9h45j6FZr2V8hu2NIIJtNC7OtvU4w7lOKY/permissions?fields=permissions/id,%20permissions/emailAddress
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR USER ACCOUNT>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "permissions": [
          {
           "id": "13193959451567607887",
           "emailAddress": "<EMAIL ADDRESS FOR USER ACCOUNT>"
          },
          {
           "id": "11673017242486491425",
           "emailAddress": "<EMAIL ADDRESS FOR TRACKING ACCOUNT>"
          }
         ]
        }
  recorded_at: Tue, 06 Mar 2018 17:56:56 GMT
- request:
    method: delete
    uri: https://www.googleapis.com/drive/v3/files/1CCmG6ICAl9h45j6FZr2V8hu2NIIJtNC7OtvU4w7lOKY/permissions/11673017242486491425
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR USER ACCOUNT>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 204
      message: No Content
    headers:
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 06 Mar 2018 17:56:57 GMT
- request:
    method: get
    uri: https://www.googleapis.com/drive/v3/changes?fields=nextPageToken,newStartPageToken,changes/fileId&pageSize=100&pageToken=5507
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR TRACKING ACCOUNT>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "newStartPageToken": "5510",
         "changes": [
          {
           "fileId": "1CCmG6ICAl9h45j6FZr2V8hu2NIIJtNC7OtvU4w7lOKY"
          },
          {
           "fileId": "1i-IqGAoUJb_NBZNHLy3nAwVrYWaiTuSH"
          }
         ]
        }
  recorded_at: Tue, 06 Mar 2018 17:57:57 GMT
- request:
    method: get
    uri: https://www.googleapis.com/drive/v3/files/1CCmG6ICAl9h45j6FZr2V8hu2NIIJtNC7OtvU4w7lOKY?fields=id,name,mimeType,parents,trashed
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR TRACKING ACCOUNT>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "error": {
          "errors": [
           {
            "domain": "global",
            "reason": "notFound",
            "message": "File not found: 1CCmG6ICAl9h45j6FZr2V8hu2NIIJtNC7OtvU4w7lOKY.",
            "locationType": "parameter",
            "location": "fileId"
           }
          ],
          "code": 404,
          "message": "File not found: 1CCmG6ICAl9h45j6FZr2V8hu2NIIJtNC7OtvU4w7lOKY."
         }
        }
  recorded_at: Tue, 06 Mar 2018 17:57:58 GMT
[...]
- request:
    method: delete
    uri: https://www.googleapis.com/drive/v3/files/1i-IqGAoUJb_NBZNHLy3nAwVrYWaiTuSH
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR USER ACCOUNT>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 204
      message: No Content
    headers:
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 06 Mar 2018 17:57:59 GMT
recorded_with: VCR 4.0.0
