---
http_interactions:
- request:
    method: post
    uri: https://www.googleapis.com/oauth2/v4/token
    body:
      encoding: ASCII-8BIT
      string: grant_type=refresh_token&refresh_token=<REFRESH TOKEN FOR TRACKING ACCOUNT>&client_id=<CLIENT
        ID>&client_secret=<CLIENT SECRET>
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "access_token": "<ACCESS TOKEN FOR TRACKING ACCOUNT>",
         "token_type": "Bearer",
         "expires_in": 3600
        }
  recorded_at: Wed, 07 Feb 2018 06:46:55 GMT
[...]
- request:
    method: post
    uri: https://www.googleapis.com/drive/v3/files?fields=id,name,mimeType,parents
    body:
      encoding: UTF-8
      string: '{"mimeType":"application/vnd.google-apps.folder","name":"Test @ 2018-02-07
        06:46:55 UTC","parents":["root"]}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <ACCESS TOKEN FOR USER ACCOUNT>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "id": "1UwyuJZYkgk6KobWqaN7plwGzAXAeOl98",
         "name": "Test @ 2018-02-07 06:46:55 UTC",
         "mimeType": "application/vnd.google-apps.folder",
         "parents": [
          "0AEIi2L68pCuiUk9PVA"
         ]
        }
  recorded_at: Wed, 07 Feb 2018 06:46:56 GMT
- request:
    method: post
    uri: https://www.googleapis.com/drive/v3/files/1UwyuJZYkgk6KobWqaN7plwGzAXAeOl98/permissions?sendNotificationEmail=false
    body:
      encoding: UTF-8
      string: '{"emailAddress":"<EMAIL ADDRESS FOR TRACKING ACCOUNT>","role":"reader","type":"user"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <ACCESS TOKEN FOR USER ACCOUNT>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "drive#permission",
         "id": "11673017242486491425",
         "type": "user",
         "role": "reader"
        }
  recorded_at: Wed, 07 Feb 2018 06:46:57 GMT
- request:
    method: get
    uri: https://www.googleapis.com/drive/v3/changes/startPageToken
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR TRACKING ACCOUNT>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "drive#startPageToken",
         "startPageToken": "1767"
        }
  recorded_at: Wed, 07 Feb 2018 06:46:57 GMT
[...]
- request:
    method: get
    uri: https://www.googleapis.com/drive/v3/files/1UwyuJZYkgk6KobWqaN7plwGzAXAeOl98?fields=id,%20name,%20mimeType,%20version,%20modifiedTime
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR TRACKING ACCOUNT>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "id": "1UwyuJZYkgk6KobWqaN7plwGzAXAeOl98",
         "name": "Test @ 2018-02-07 06:46:55 UTC",
         "mimeType": "application/vnd.google-apps.folder",
         "version": "3",
         "modifiedTime": "2018-02-07T06:46:56.871Z"
        }
  recorded_at: Wed, 07 Feb 2018 06:46:58 GMT
[...]
- request:
    method: get
    uri: https://www.googleapis.com/drive/v3/files?fields=files/id,%20files/version,%20files/mimeType,%20files/name,%20files/modifiedTime&q=%271UwyuJZYkgk6KobWqaN7plwGzAXAeOl98%27%20in%20parents
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR TRACKING ACCOUNT>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "files": [
          {
           "id": "1XOfPjYPUHyHUQY-sA9ud4oandTFxOQ0FaRMeHLvElXc",
           "name": "File To Delete",
           "mimeType": "application/vnd.google-apps.document",
           "version": "2",
           "modifiedTime": "2018-02-07T06:46:57.470Z"
          }
         ]
        }
  recorded_at: Wed, 07 Feb 2018 06:46:59 GMT
- request:
    method: delete
    uri: https://www.googleapis.com/drive/v3/files/1XOfPjYPUHyHUQY-sA9ud4oandTFxOQ0FaRMeHLvElXc
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR USER ACCOUNT>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 204
      message: No Content
    headers:
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Wed, 07 Feb 2018 06:47:00 GMT
- request:
    method: get
    uri: https://www.googleapis.com/drive/v3/changes?fields=nextPageToken,%20newStartPageToken,%20changes/type,%20changes/fileId,%20changes/file/mimeType,%20changes/file/version,%20changes/file/name,%20changes/file/modifiedTime,%20changes/file/parents,%20changes/removed,%20changes/file/trashed&pageSize=100&pageToken=1767
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR TRACKING ACCOUNT>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "newStartPageToken": "1770",
         "changes": [
          {
           "type": "file",
           "removed": true,
           "fileId": "1XOfPjYPUHyHUQY-sA9ud4oandTFxOQ0FaRMeHLvElXc"
          },
          {
           "type": "file",
           "removed": false,
           "fileId": "1UwyuJZYkgk6KobWqaN7plwGzAXAeOl98",
           "file": {
            "name": "Test @ 2018-02-07 06:46:55 UTC",
            "mimeType": "application/vnd.google-apps.folder",
            "trashed": false,
            "version": "3",
            "modifiedTime": "2018-02-07T06:46:56.871Z"
           }
          }
         ]
        }
  recorded_at: Wed, 07 Feb 2018 06:48:00 GMT
- request:
    method: delete
    uri: https://www.googleapis.com/drive/v3/files/1UwyuJZYkgk6KobWqaN7plwGzAXAeOl98
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR USER ACCOUNT>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 204
      message: No Content
    headers:
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Wed, 07 Feb 2018 06:48:01 GMT
recorded_with: VCR 4.0.0
