---
http_interactions:
- request:
    method: post
    uri: https://www.googleapis.com/oauth2/v4/token
    body:
      encoding: ASCII-8BIT
      string: grant_type=refresh_token&refresh_token=<REFRESH TOKEN FOR TRACKING ACCOUNT>&client_id=<CLIENT
        ID>&client_secret=<CLIENT SECRET>
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "access_token": "<ACCESS TOKEN FOR TRACKING ACCOUNT>",
         "token_type": "Bearer",
         "expires_in": 3600
        }
  recorded_at: Mon, 05 Mar 2018 20:29:38 GMT
[...]
- request:
    method: post
    uri: https://www.googleapis.com/drive/v3/files?fields=id,name,mimeType,parents,trashed
    body:
      encoding: UTF-8
      string: '{"mimeType":"application/vnd.google-apps.folder","name":"Test @ 2018-03-05
        20:29:38 UTC","parents":["root"]}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <ACCESS TOKEN FOR USER ACCOUNT>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "id": "1w7I8Bdw0DZUY3SNrqjoVKeQVcNmbpH2w",
         "name": "Test @ 2018-03-05 20:29:38 UTC",
         "mimeType": "application/vnd.google-apps.folder",
         "trashed": false,
         "parents": [
          "0AEIi2L68pCuiUk9PVA"
         ]
        }
  recorded_at: Mon, 05 Mar 2018 20:29:39 GMT
- request:
    method: post
    uri: https://www.googleapis.com/drive/v3/files/1w7I8Bdw0DZUY3SNrqjoVKeQVcNmbpH2w/permissions?sendNotificationEmail=false
    body:
      encoding: UTF-8
      string: '{"emailAddress":"<EMAIL ADDRESS FOR TRACKING ACCOUNT>","role":"writer","type":"user"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <ACCESS TOKEN FOR USER ACCOUNT>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "drive#permission",
         "id": "11673017242486491425",
         "type": "user",
         "role": "writer"
        }
  recorded_at: Mon, 05 Mar 2018 20:29:40 GMT
- request:
    method: get
    uri: https://www.googleapis.com/drive/v3/changes/startPageToken
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR TRACKING ACCOUNT>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "drive#startPageToken",
         "startPageToken": "5174"
        }
  recorded_at: Mon, 05 Mar 2018 20:29:40 GMT
[...]
- request:
    method: get
    uri: https://www.googleapis.com/drive/v3/files/1w7I8Bdw0DZUY3SNrqjoVKeQVcNmbpH2w?fields=id,%20name,%20mimeType,%20version,%20modifiedTime
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR TRACKING ACCOUNT>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "id": "1w7I8Bdw0DZUY3SNrqjoVKeQVcNmbpH2w",
         "name": "Test @ 2018-03-05 20:29:38 UTC",
         "mimeType": "application/vnd.google-apps.folder",
         "version": "3",
         "modifiedTime": "2018-03-05T20:29:39.852Z"
        }
  recorded_at: Mon, 05 Mar 2018 20:29:41 GMT
- request:
    method: get
    uri: https://www.googleapis.com/drive/v3/files/1w7I8Bdw0DZUY3SNrqjoVKeQVcNmbpH2w?fields=id,name,mimeType,parents,trashed
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR TRACKING ACCOUNT>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "id": "1w7I8Bdw0DZUY3SNrqjoVKeQVcNmbpH2w",
         "name": "Test @ 2018-03-05 20:29:38 UTC",
         "mimeType": "application/vnd.google-apps.folder",
         "trashed": false
        }
  recorded_at: Mon, 05 Mar 2018 20:29:42 GMT
- request:
    method: get
    uri: https://www.googleapis.com/drive/v3/files/1w7I8Bdw0DZUY3SNrqjoVKeQVcNmbpH2w/revisions/head
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR TRACKING ACCOUNT>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 403
      message: Forbidden
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "error": {
          "errors": [
           {
            "domain": "global",
            "reason": "revisionsNotSupported",
            "message": "The file does not support revisions."
           }
          ],
          "code": 403,
          "message": "The file does not support revisions."
         }
        }
  recorded_at: Mon, 05 Mar 2018 20:29:42 GMT
- request:
    method: get
    uri: https://www.googleapis.com/drive/v3/files?fields=files/id,files/name,files/mimeType,files/parents,files/trashed&q=%271w7I8Bdw0DZUY3SNrqjoVKeQVcNmbpH2w%27%20in%20parents
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR TRACKING ACCOUNT>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "files": [
          {
           "id": "1G_LnkvgCCWipNZRSaA-UaElx8l068OsRLnRy-WSoclg",
           "name": "File",
           "mimeType": "application/vnd.google-apps.document",
           "trashed": false,
           "parents": [
            "1w7I8Bdw0DZUY3SNrqjoVKeQVcNmbpH2w"
           ]
          }
         ]
        }
  recorded_at: Mon, 05 Mar 2018 20:29:42 GMT
- request:
    method: get
    uri: https://www.googleapis.com/drive/v3/files/1G_LnkvgCCWipNZRSaA-UaElx8l068OsRLnRy-WSoclg/revisions/head
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR TRACKING ACCOUNT>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "error": {
          "errors": [
           {
            "domain": "global",
            "reason": "notFound",
            "message": "Revision not found: head.",
            "locationType": "parameter",
            "location": "revisionId"
           }
          ],
          "code": 404,
          "message": "Revision not found: head."
         }
        }
  recorded_at: Mon, 05 Mar 2018 20:29:43 GMT
- request:
    method: delete
    uri: https://www.googleapis.com/drive/v3/files/1w7I8Bdw0DZUY3SNrqjoVKeQVcNmbpH2w
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR USER ACCOUNT>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 204
      message: No Content
    headers:
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Mon, 05 Mar 2018 20:29:43 GMT
- request:
    method: get
    uri: https://www.googleapis.com/drive/v3/changes?fields=nextPageToken,newStartPageToken,changes/fileId&pageSize=100&pageToken=5174
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR TRACKING ACCOUNT>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "newStartPageToken": "5177",
         "changes": [
          {
           "fileId": "1w7I8Bdw0DZUY3SNrqjoVKeQVcNmbpH2w"
          },
          {
           "fileId": "1G_LnkvgCCWipNZRSaA-UaElx8l068OsRLnRy-WSoclg"
          }
         ]
        }
  recorded_at: Mon, 05 Mar 2018 20:30:44 GMT
[...]
- request:
    method: get
    uri: https://www.googleapis.com/drive/v3/files/1G_LnkvgCCWipNZRSaA-UaElx8l068OsRLnRy-WSoclg?fields=id,name,mimeType,parents,trashed
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR TRACKING ACCOUNT>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "error": {
          "errors": [
           {
            "domain": "global",
            "reason": "notFound",
            "message": "File not found: 1G_LnkvgCCWipNZRSaA-UaElx8l068OsRLnRy-WSoclg.",
            "locationType": "parameter",
            "location": "fileId"
           }
          ],
          "code": 404,
          "message": "File not found: 1G_LnkvgCCWipNZRSaA-UaElx8l068OsRLnRy-WSoclg."
         }
        }
  recorded_at: Mon, 05 Mar 2018 20:30:44 GMT
recorded_with: VCR 4.0.0
