---
http_interactions:
- request:
    method: post
    uri: https://www.googleapis.com/oauth2/v4/token
    body:
      encoding: ASCII-8BIT
      string: grant_type=refresh_token&refresh_token=<REFRESH TOKEN FOR TRACKING ACCOUNT>&client_id=<CLIENT
        ID>&client_secret=<CLIENT SECRET>
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "access_token": "<ACCESS TOKEN FOR TRACKING ACCOUNT>",
         "token_type": "Bearer",
         "expires_in": 3600
        }
  recorded_at: Sat, 10 Mar 2018 03:18:55 GMT
[...]
- request:
    method: post
    uri: https://www.googleapis.com/drive/v3/files?fields=id,name,mimeType,parents,trashed
    body:
      encoding: UTF-8
      string: '{"mimeType":"application/vnd.google-apps.folder","name":"Test @ 2018-03-10
        03:18:55 UTC","parents":["root"]}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <ACCESS TOKEN FOR USER ACCOUNT>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "id": "1Qwb0p6zf47cvF3tRfWxYjgcL68qHdGLX",
         "name": "Test @ 2018-03-10 03:18:55 UTC",
         "mimeType": "application/vnd.google-apps.folder",
         "trashed": false,
         "parents": [
          "0AEIi2L68pCuiUk9PVA"
         ]
        }
  recorded_at: Sat, 10 Mar 2018 03:18:56 GMT
- request:
    method: post
    uri: https://www.googleapis.com/drive/v3/files/1Qwb0p6zf47cvF3tRfWxYjgcL68qHdGLX/permissions?sendNotificationEmail=false
    body:
      encoding: UTF-8
      string: '{"emailAddress":"<EMAIL ADDRESS FOR TRACKING ACCOUNT>","role":"writer","type":"user"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <ACCESS TOKEN FOR USER ACCOUNT>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "drive#permission",
         "id": "11673017242486491425",
         "type": "user",
         "role": "writer"
        }
  recorded_at: Sat, 10 Mar 2018 03:18:57 GMT
- request:
    method: get
    uri: https://www.googleapis.com/drive/v3/changes/startPageToken
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR TRACKING ACCOUNT>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "drive#startPageToken",
         "startPageToken": "6402"
        }
  recorded_at: Sat, 10 Mar 2018 03:18:57 GMT
[...]
- request:
    method: get
    uri: https://www.googleapis.com/drive/v3/files/1Qwb0p6zf47cvF3tRfWxYjgcL68qHdGLX?fields=id,name,mimeType,parents,trashed
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR TRACKING ACCOUNT>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "id": "1Qwb0p6zf47cvF3tRfWxYjgcL68qHdGLX",
         "name": "Test @ 2018-03-10 03:18:55 UTC",
         "mimeType": "application/vnd.google-apps.folder",
         "trashed": false
        }
  recorded_at: Sat, 10 Mar 2018 03:18:58 GMT
[...]
- request:
    method: get
    uri: https://www.googleapis.com/drive/v3/files/1Qwb0p6zf47cvF3tRfWxYjgcL68qHdGLX/revisions/head
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR TRACKING ACCOUNT>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 403
      message: Forbidden
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "error": {
          "errors": [
           {
            "domain": "global",
            "reason": "revisionsNotSupported",
            "message": "The file does not support revisions."
           }
          ],
          "code": 403,
          "message": "The file does not support revisions."
         }
        }
  recorded_at: Sat, 10 Mar 2018 03:18:59 GMT
- request:
    method: get
    uri: https://www.googleapis.com/drive/v3/files?fields=files/id,files/name,files/mimeType,files/parents,files/trashed&q=%271Qwb0p6zf47cvF3tRfWxYjgcL68qHdGLX%27%20in%20parents
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR TRACKING ACCOUNT>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "files": [
          {
           "id": "127L__kO8yAdNz21BFlvc-8HsCHc8LP23W7naNV2hRog",
           "name": "File To Move",
           "mimeType": "application/vnd.google-apps.document",
           "trashed": false,
           "parents": [
            "1Qwb0p6zf47cvF3tRfWxYjgcL68qHdGLX"
           ]
          }
         ]
        }
  recorded_at: Sat, 10 Mar 2018 03:18:59 GMT
- request:
    method: get
    uri: https://www.googleapis.com/drive/v3/files/127L__kO8yAdNz21BFlvc-8HsCHc8LP23W7naNV2hRog/revisions/head
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR TRACKING ACCOUNT>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "drive#revision",
         "id": "1",
         "mimeType": "application/vnd.google-apps.document",
         "modifiedTime": "2018-03-10T03:18:57.941Z"
        }
  recorded_at: Sat, 10 Mar 2018 03:18:59 GMT
[...]
- request:
    method: patch
    uri: https://www.googleapis.com/drive/v3/files/127L__kO8yAdNz21BFlvc-8HsCHc8LP23W7naNV2hRog?addParents=1PcZrxbnxDgKMBcS8bpECrjk4R9mXKJMT&fields=id,name,mimeType,parents,trashed&removeParents=1Qwb0p6zf47cvF3tRfWxYjgcL68qHdGLX
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR USER ACCOUNT>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "id": "127L__kO8yAdNz21BFlvc-8HsCHc8LP23W7naNV2hRog",
         "name": "File To Move",
         "mimeType": "application/vnd.google-apps.document",
         "trashed": false,
         "parents": [
          "1PcZrxbnxDgKMBcS8bpECrjk4R9mXKJMT"
         ]
        }
  recorded_at: Sat, 10 Mar 2018 03:19:02 GMT
- request:
    method: get
    uri: https://www.googleapis.com/drive/v3/changes?fields=nextPageToken,newStartPageToken,changes/fileId&pageSize=100&pageToken=6402
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR TRACKING ACCOUNT>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "newStartPageToken": "6405",
         "changes": [
          {
           "fileId": "1Qwb0p6zf47cvF3tRfWxYjgcL68qHdGLX"
          },
          {
           "fileId": "127L__kO8yAdNz21BFlvc-8HsCHc8LP23W7naNV2hRog"
          }
         ]
        }
  recorded_at: Sat, 10 Mar 2018 03:20:02 GMT
[...]
- request:
    method: get
    uri: https://www.googleapis.com/drive/v3/files/127L__kO8yAdNz21BFlvc-8HsCHc8LP23W7naNV2hRog?fields=id,name,mimeType,parents,trashed
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR TRACKING ACCOUNT>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "error": {
          "errors": [
           {
            "domain": "global",
            "reason": "notFound",
            "message": "File not found: 127L__kO8yAdNz21BFlvc-8HsCHc8LP23W7naNV2hRog.",
            "locationType": "parameter",
            "location": "fileId"
           }
          ],
          "code": 404,
          "message": "File not found: 127L__kO8yAdNz21BFlvc-8HsCHc8LP23W7naNV2hRog."
         }
        }
  recorded_at: Sat, 10 Mar 2018 03:20:03 GMT
- request:
    method: delete
    uri: https://www.googleapis.com/drive/v3/files/1PcZrxbnxDgKMBcS8bpECrjk4R9mXKJMT
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR USER ACCOUNT>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 204
      message: No Content
    headers:
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Sat, 10 Mar 2018 03:20:03 GMT
- request:
    method: delete
    uri: https://www.googleapis.com/drive/v3/files/1Qwb0p6zf47cvF3tRfWxYjgcL68qHdGLX
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR USER ACCOUNT>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 204
      message: No Content
    headers:
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Sat, 10 Mar 2018 03:20:04 GMT
recorded_with: VCR 4.0.0
