---
http_interactions:
- request:
    method: post
    uri: https://www.googleapis.com/oauth2/v4/token
    body:
      encoding: ASCII-8BIT
      string: grant_type=refresh_token&refresh_token=<REFRESH TOKEN FOR TRACKING ACCOUNT>&client_id=<CLIENT
        ID>&client_secret=<CLIENT SECRET>
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "access_token": "<ACCESS TOKEN FOR TRACKING ACCOUNT>",
         "token_type": "Bearer",
         "expires_in": 3600
        }
  recorded_at: Tue, 06 Mar 2018 18:04:35 GMT
[...]
- request:
    method: post
    uri: https://www.googleapis.com/drive/v3/files?fields=id,name,mimeType,parents,trashed
    body:
      encoding: UTF-8
      string: '{"mimeType":"application/vnd.google-apps.folder","name":"Test @ 2018-03-06
        18:04:36 UTC","parents":["root"]}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <ACCESS TOKEN FOR USER ACCOUNT>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "id": "1JwkWtzXYITQaB30D3XXmlYTIEHkZEHLk",
         "name": "Test @ 2018-03-06 18:04:36 UTC",
         "mimeType": "application/vnd.google-apps.folder",
         "trashed": false,
         "parents": [
          "0AEIi2L68pCuiUk9PVA"
         ]
        }
  recorded_at: Tue, 06 Mar 2018 18:04:36 GMT
- request:
    method: post
    uri: https://www.googleapis.com/drive/v3/files/1JwkWtzXYITQaB30D3XXmlYTIEHkZEHLk/permissions?sendNotificationEmail=false
    body:
      encoding: UTF-8
      string: '{"emailAddress":"<EMAIL ADDRESS FOR TRACKING ACCOUNT>","role":"writer","type":"user"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <ACCESS TOKEN FOR USER ACCOUNT>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "drive#permission",
         "id": "11673017242486491425",
         "type": "user",
         "role": "writer"
        }
  recorded_at: Tue, 06 Mar 2018 18:04:37 GMT
- request:
    method: get
    uri: https://www.googleapis.com/drive/v3/changes/startPageToken
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR TRACKING ACCOUNT>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "drive#startPageToken",
         "startPageToken": "5540"
        }
  recorded_at: Tue, 06 Mar 2018 18:04:37 GMT
[...]
- request:
    method: get
    uri: https://www.googleapis.com/drive/v3/files/1JwkWtzXYITQaB30D3XXmlYTIEHkZEHLk?fields=id,%20name,%20mimeType,%20version,%20modifiedTime
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR TRACKING ACCOUNT>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "id": "1JwkWtzXYITQaB30D3XXmlYTIEHkZEHLk",
         "name": "Test @ 2018-03-06 18:04:36 UTC",
         "mimeType": "application/vnd.google-apps.folder",
         "version": "3",
         "modifiedTime": "2018-03-06T18:04:36.860Z"
        }
  recorded_at: Tue, 06 Mar 2018 18:04:39 GMT
- request:
    method: get
    uri: https://www.googleapis.com/drive/v3/files/1JwkWtzXYITQaB30D3XXmlYTIEHkZEHLk?fields=id,name,mimeType,parents,trashed
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR TRACKING ACCOUNT>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "id": "1JwkWtzXYITQaB30D3XXmlYTIEHkZEHLk",
         "name": "Test @ 2018-03-06 18:04:36 UTC",
         "mimeType": "application/vnd.google-apps.folder",
         "trashed": false
        }
  recorded_at: Tue, 06 Mar 2018 18:04:39 GMT
- request:
    method: get
    uri: https://www.googleapis.com/drive/v3/files/1JwkWtzXYITQaB30D3XXmlYTIEHkZEHLk/revisions/head
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR TRACKING ACCOUNT>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 403
      message: Forbidden
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "error": {
          "errors": [
           {
            "domain": "global",
            "reason": "revisionsNotSupported",
            "message": "The file does not support revisions."
           }
          ],
          "code": 403,
          "message": "The file does not support revisions."
         }
        }
  recorded_at: Tue, 06 Mar 2018 18:04:39 GMT
- request:
    method: get
    uri: https://www.googleapis.com/drive/v3/files?fields=files/id,files/name,files/mimeType,files/parents,files/trashed&q=%271JwkWtzXYITQaB30D3XXmlYTIEHkZEHLk%27%20in%20parents
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR TRACKING ACCOUNT>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "files": [
          {
           "id": "1E1_a1dl01zY_hBy4mlpZ0MWXUE4LzmppHwxOLKijm2I",
           "name": "File",
           "mimeType": "application/vnd.google-apps.document",
           "trashed": false,
           "parents": [
            "1JwkWtzXYITQaB30D3XXmlYTIEHkZEHLk"
           ]
          }
         ]
        }
  recorded_at: Tue, 06 Mar 2018 18:04:39 GMT
- request:
    method: get
    uri: https://www.googleapis.com/drive/v3/files/1E1_a1dl01zY_hBy4mlpZ0MWXUE4LzmppHwxOLKijm2I/revisions/head
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR TRACKING ACCOUNT>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "drive#revision",
         "id": "1",
         "mimeType": "application/vnd.google-apps.document",
         "modifiedTime": "2018-03-06T18:04:37.946Z"
        }
  recorded_at: Tue, 06 Mar 2018 18:04:39 GMT
- request:
    method: patch
    uri: https://www.googleapis.com/upload/drive/v3/files/1E1_a1dl01zY_hBy4mlpZ0MWXUE4LzmppHwxOLKijm2I
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR USER ACCOUNT>
      X-Goog-Upload-Protocol:
      - resumable
      X-Goog-Upload-Command:
      - start
      X-Goog-Upload-Header-Content-Length:
      - '16'
      X-Goog-Upload-Header-Content-Type:
      - application/octet-stream
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Goog-Upload-Status:
      - active
      X-Goog-Upload-Url:
      - https://www.googleapis.com/upload/drive/v3/files/1E1_a1dl01zY_hBy4mlpZ0MWXUE4LzmppHwxOLKijm2I?upload_id=AEnB2UqdPk2VEfgiCBO2qiB9IWuIUVzQGEfSm2SuSru3sGNVdQVDO_AnKosUOKT4JzMs3lXcijhgiFOp0UiCRsF0mYIAFt5BxFlS9nKTkvkn61xjWXYoyzY&upload_protocol=resumable
      X-Goog-Upload-Control-Url:
      - https://www.googleapis.com/upload/drive/v3/files/1E1_a1dl01zY_hBy4mlpZ0MWXUE4LzmppHwxOLKijm2I?upload_id=AEnB2UqdPk2VEfgiCBO2qiB9IWuIUVzQGEfSm2SuSru3sGNVdQVDO_AnKosUOKT4JzMs3lXcijhgiFOp0UiCRsF0mYIAFt5BxFlS9nKTkvkn61xjWXYoyzY&upload_protocol=resumable
      X-Goog-Upload-Chunk-Granularity:
      - '262144'
      X-Goog-Upload-Header-Vary:
      - Origin
      - X-Origin
      X-Goog-Upload-Header-X-Google-Backends:
      - iois103:4714
      X-Goog-Upload-Header-X-Google-Session-Info:
      - CKeBxoimHBoCGAY6bwoPZHJpdmUtcm9zeS1wcm9kEgVkcml2ZRiDqMHn7wUiSDIwMTgxMjEwNDE5NS1pcDNwN2xrcWE1N29lYm84NTkwZXJtZ2E3MjBpMW5uaC5hcHBzLmdvb2dsZXVzZXJjb250ZW50LmNvbTDxDjDvDkqYARKEAXlhMjkuR2wxMkJiTzMyWXdkUWlPbFJaNnJUczdTTlJLb0N3LWpnc0pnM3Q5U0tUUlBVS3JQcUJaOHdURFdXUHFQbzlHQXZaRzVISlBkV3ZwWWxETFNnTXY4S0FBUXZwa3kzRFdJVE9PZ1gxNlBRWEt5UkVXOTAtazFnMTV1U3ZHTXZnVTAEOg0xL1N4M0NoLWFKdTJ-
      X-Goog-Upload-Header-Cache-Control:
      - no-cache, no-store, max-age=0, must-revalidate
      X-Goog-Upload-Header-Pragma:
      - no-cache
      X-Goog-Upload-Header-Expires:
      - Mon, 01 Jan 1990 00:00:00 GMT
      X-Goog-Upload-Header-Date:
      - Tue, 06 Mar 2018 18:04:40 GMT
      Content-Type:
      - text/html; charset=UTF-8
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 06 Mar 2018 18:04:40 GMT
- request:
    method: post
    uri: https://www.googleapis.com/upload/drive/v3/files/1E1_a1dl01zY_hBy4mlpZ0MWXUE4LzmppHwxOLKijm2I?upload_id=AEnB2UqdPk2VEfgiCBO2qiB9IWuIUVzQGEfSm2SuSru3sGNVdQVDO_AnKosUOKT4JzMs3lXcijhgiFOp0UiCRsF0mYIAFt5BxFlS9nKTkvkn61xjWXYoyzY&upload_protocol=resumable
    body:
      encoding: UTF-8
      string: new file content
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR USER ACCOUNT>
      X-Goog-Upload-Command:
      - upload, finalize
      X-Goog-Upload-Offset:
      - '0'
      Content-Type:
      - application/octet-stream
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Goog-Upload-Status:
      - final
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "drive#file",
         "id": "1E1_a1dl01zY_hBy4mlpZ0MWXUE4LzmppHwxOLKijm2I",
         "name": "File",
         "mimeType": "application/vnd.google-apps.document"
        }
  recorded_at: Tue, 06 Mar 2018 18:04:42 GMT
- request:
    method: get
    uri: https://www.googleapis.com/drive/v3/changes?fields=nextPageToken,newStartPageToken,changes/fileId&pageSize=100&pageToken=5540
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR TRACKING ACCOUNT>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "newStartPageToken": "5546",
         "changes": [
          {
           "fileId": "1S6f7CmMQjYuYf1E3kQFmLNpsky_VxUG64X828aYRdgk"
          },
          {
           "fileId": "1PJmssahx1JxEfK6k2AelL5-DAOQOZCb3"
          },
          {
           "fileId": "1JwkWtzXYITQaB30D3XXmlYTIEHkZEHLk"
          },
          {
           "fileId": "1E1_a1dl01zY_hBy4mlpZ0MWXUE4LzmppHwxOLKijm2I"
          }
         ]
        }
  recorded_at: Tue, 06 Mar 2018 18:05:43 GMT
- request:
    method: get
    uri: https://www.googleapis.com/drive/v3/files/1S6f7CmMQjYuYf1E3kQFmLNpsky_VxUG64X828aYRdgk?fields=id,name,mimeType,parents,trashed
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR TRACKING ACCOUNT>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "error": {
          "errors": [
           {
            "domain": "global",
            "reason": "notFound",
            "message": "File not found: 1S6f7CmMQjYuYf1E3kQFmLNpsky_VxUG64X828aYRdgk.",
            "locationType": "parameter",
            "location": "fileId"
           }
          ],
          "code": 404,
          "message": "File not found: 1S6f7CmMQjYuYf1E3kQFmLNpsky_VxUG64X828aYRdgk."
         }
        }
  recorded_at: Tue, 06 Mar 2018 18:05:46 GMT
- request:
    method: get
    uri: https://www.googleapis.com/drive/v3/files/1PJmssahx1JxEfK6k2AelL5-DAOQOZCb3?fields=id,name,mimeType,parents,trashed
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR TRACKING ACCOUNT>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "error": {
          "errors": [
           {
            "domain": "global",
            "reason": "notFound",
            "message": "File not found: 1PJmssahx1JxEfK6k2AelL5-DAOQOZCb3.",
            "locationType": "parameter",
            "location": "fileId"
           }
          ],
          "code": 404,
          "message": "File not found: 1PJmssahx1JxEfK6k2AelL5-DAOQOZCb3."
         }
        }
  recorded_at: Tue, 06 Mar 2018 18:05:46 GMT
[...]
- request:
    method: get
    uri: https://www.googleapis.com/drive/v3/files/1E1_a1dl01zY_hBy4mlpZ0MWXUE4LzmppHwxOLKijm2I?fields=id,name,mimeType,parents,trashed
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR TRACKING ACCOUNT>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "id": "1E1_a1dl01zY_hBy4mlpZ0MWXUE4LzmppHwxOLKijm2I",
         "name": "File",
         "mimeType": "application/vnd.google-apps.document",
         "trashed": false,
         "parents": [
          "1JwkWtzXYITQaB30D3XXmlYTIEHkZEHLk"
         ]
        }
  recorded_at: Tue, 06 Mar 2018 18:05:47 GMT
[...]
- request:
    method: delete
    uri: https://www.googleapis.com/drive/v3/files/1JwkWtzXYITQaB30D3XXmlYTIEHkZEHLk
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR USER ACCOUNT>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 204
      message: No Content
    headers:
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 06 Mar 2018 18:05:48 GMT
recorded_with: VCR 4.0.0
