---
http_interactions:
- request:
    method: post
    uri: https://www.googleapis.com/oauth2/v4/token
    body:
      encoding: ASCII-8BIT
      string: grant_type=refresh_token&refresh_token=<REFRESH TOKEN FOR TRACKING ACCOUNT>&client_id=<CLIENT
        ID>&client_secret=<CLIENT SECRET>
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "access_token": "<ACCESS TOKEN FOR TRACKING ACCOUNT>",
         "token_type": "Bearer",
         "expires_in": 3600
        }
  recorded_at: Wed, 07 Feb 2018 03:57:21 GMT
[...]
- request:
    method: post
    uri: https://www.googleapis.com/drive/v3/files?fields=id,name,mimeType,parents
    body:
      encoding: UTF-8
      string: '{"mimeType":"application/vnd.google-apps.folder","name":"Test @ 2018-02-07
        03:57:21 UTC","parents":["root"]}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <ACCESS TOKEN FOR USER ACCOUNT>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "id": "17SGKWc47eGAr2QiiZnT8cKL6Xgo0VcEI",
         "name": "Test @ 2018-02-07 03:57:21 UTC",
         "mimeType": "application/vnd.google-apps.folder",
         "parents": [
          "0AEIi2L68pCuiUk9PVA"
         ]
        }
  recorded_at: Wed, 07 Feb 2018 03:57:22 GMT
- request:
    method: post
    uri: https://www.googleapis.com/drive/v3/files/17SGKWc47eGAr2QiiZnT8cKL6Xgo0VcEI/permissions?sendNotificationEmail=false
    body:
      encoding: UTF-8
      string: '{"emailAddress":"test.upshift.one@gmail.com","role":"reader","type":"user"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <ACCESS TOKEN FOR USER ACCOUNT>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "drive#permission",
         "id": "11673017242486491425",
         "type": "user",
         "role": "reader"
        }
  recorded_at: Wed, 07 Feb 2018 03:57:23 GMT
- request:
    method: get
    uri: https://www.googleapis.com/drive/v3/changes/startPageToken
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR TRACKING ACCOUNT>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "drive#startPageToken",
         "startPageToken": "1691"
        }
  recorded_at: Wed, 07 Feb 2018 03:57:23 GMT
[...]
- request:
    method: get
    uri: https://www.googleapis.com/drive/v3/files/17SGKWc47eGAr2QiiZnT8cKL6Xgo0VcEI?fields=id,%20name,%20mimeType,%20version,%20modifiedTime
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR TRACKING ACCOUNT>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "id": "17SGKWc47eGAr2QiiZnT8cKL6Xgo0VcEI",
         "name": "Test @ 2018-02-07 03:57:21 UTC",
         "mimeType": "application/vnd.google-apps.folder",
         "version": "2",
         "modifiedTime": "2018-02-07T03:57:22.578Z"
        }
  recorded_at: Wed, 07 Feb 2018 03:57:25 GMT
[...]
- request:
    method: get
    uri: https://www.googleapis.com/drive/v3/files?fields=files/id,%20files/version,%20files/mimeType,%20files/name,%20files/modifiedTime&q=%2717SGKWc47eGAr2QiiZnT8cKL6Xgo0VcEI%27%20in%20parents
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR TRACKING ACCOUNT>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "files": [
          {
           "id": "12wx42ZX-Xu-gJoBvtlebWB3J6UQgaXfW",
           "name": "Folder",
           "mimeType": "application/vnd.google-apps.folder",
           "version": "2",
           "modifiedTime": "2018-02-07T03:57:23.527Z"
          }
         ]
        }
  recorded_at: Wed, 07 Feb 2018 03:57:25 GMT
- request:
    method: get
    uri: https://www.googleapis.com/drive/v3/files?fields=files/id,%20files/version,%20files/mimeType,%20files/name,%20files/modifiedTime&q=%2712wx42ZX-Xu-gJoBvtlebWB3J6UQgaXfW%27%20in%20parents
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR TRACKING ACCOUNT>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "files": [
          {
           "id": "1m4YNJ2hiGOUY2AJQTB1eKioSP6CL7e3DcFqyRXyufnw",
           "name": "File To Move",
           "mimeType": "application/vnd.google-apps.document",
           "version": "2",
           "modifiedTime": "2018-02-07T03:57:24.016Z"
          }
         ]
        }
  recorded_at: Wed, 07 Feb 2018 03:57:25 GMT
- request:
    method: patch
    uri: https://www.googleapis.com/drive/v3/files/1m4YNJ2hiGOUY2AJQTB1eKioSP6CL7e3DcFqyRXyufnw?addParents=17SGKWc47eGAr2QiiZnT8cKL6Xgo0VcEI&fields=id,name,mimeType,parents&removeParents=12wx42ZX-Xu-gJoBvtlebWB3J6UQgaXfW
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR USER ACCOUNT>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "id": "1m4YNJ2hiGOUY2AJQTB1eKioSP6CL7e3DcFqyRXyufnw",
         "name": "File To Move",
         "mimeType": "application/vnd.google-apps.document",
         "parents": [
          "17SGKWc47eGAr2QiiZnT8cKL6Xgo0VcEI"
         ]
        }
  recorded_at: Wed, 07 Feb 2018 03:57:25 GMT
- request:
    method: get
    uri: https://www.googleapis.com/drive/v3/changes?fields=nextPageToken,%20newStartPageToken,%20changes/type,%20changes/fileId,%20changes/file/mimeType,%20changes/file/version,%20changes/file/name,%20changes/file/modifiedTime,%20changes/file/parents,%20changes/removed,%20changes/file/trashed&pageSize=100&pageToken=1691
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR TRACKING ACCOUNT>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "newStartPageToken": "1696",
         "changes": [
          {
           "type": "file",
           "removed": false,
           "fileId": "12wx42ZX-Xu-gJoBvtlebWB3J6UQgaXfW",
           "file": {
            "name": "Folder",
            "mimeType": "application/vnd.google-apps.folder",
            "trashed": false,
            "parents": [
             "17SGKWc47eGAr2QiiZnT8cKL6Xgo0VcEI"
            ],
            "version": "2",
            "modifiedTime": "2018-02-07T03:57:23.527Z"
           }
          },
          {
           "type": "file",
           "removed": false,
           "fileId": "1m4YNJ2hiGOUY2AJQTB1eKioSP6CL7e3DcFqyRXyufnw",
           "file": {
            "name": "File To Move",
            "mimeType": "application/vnd.google-apps.document",
            "trashed": false,
            "parents": [
             "17SGKWc47eGAr2QiiZnT8cKL6Xgo0VcEI"
            ],
            "version": "4",
            "modifiedTime": "2018-02-07T03:57:24.393Z"
           }
          },
          {
           "type": "file",
           "removed": false,
           "fileId": "17SGKWc47eGAr2QiiZnT8cKL6Xgo0VcEI",
           "file": {
            "name": "Test @ 2018-02-07 03:57:21 UTC",
            "mimeType": "application/vnd.google-apps.folder",
            "trashed": false,
            "version": "3",
            "modifiedTime": "2018-02-07T03:57:22.578Z"
           }
          }
         ]
        }
  recorded_at: Wed, 07 Feb 2018 03:58:26 GMT
- request:
    method: delete
    uri: https://www.googleapis.com/drive/v3/files/17SGKWc47eGAr2QiiZnT8cKL6Xgo0VcEI
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR USER ACCOUNT>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 204
      message: No Content
    headers:
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Wed, 07 Feb 2018 03:58:27 GMT
recorded_with: VCR 4.0.0
