---
http_interactions:
- request:
    method: post
    uri: https://www.googleapis.com/oauth2/v4/token
    body:
      encoding: ASCII-8BIT
      string: grant_type=refresh_token&refresh_token=<REFRESH TOKEN FOR TRACKING ACCOUNT>&client_id=<CLIENT
        ID>&client_secret=<CLIENT SECRET>
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "access_token": "<ACCESS TOKEN FOR TRACKING ACCOUNT>",
         "token_type": "Bearer",
         "expires_in": 3600
        }
  recorded_at: Mon, 05 Mar 2018 20:21:49 GMT
[...]
- request:
    method: post
    uri: https://www.googleapis.com/drive/v3/files?fields=id,name,mimeType,parents,trashed
    body:
      encoding: UTF-8
      string: '{"mimeType":"application/vnd.google-apps.folder","name":"Test @ 2018-03-05
        20:21:50 UTC","parents":["root"]}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <ACCESS TOKEN FOR USER ACCOUNT>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "id": "1eyCM8fVo6gFDXJxt-axGsuG369ZE1f8S",
         "name": "Test @ 2018-03-05 20:21:50 UTC",
         "mimeType": "application/vnd.google-apps.folder",
         "trashed": false,
         "parents": [
          "0AEIi2L68pCuiUk9PVA"
         ]
        }
  recorded_at: Mon, 05 Mar 2018 20:21:51 GMT
- request:
    method: post
    uri: https://www.googleapis.com/drive/v3/files/1eyCM8fVo6gFDXJxt-axGsuG369ZE1f8S/permissions?sendNotificationEmail=false
    body:
      encoding: UTF-8
      string: '{"emailAddress":"<EMAIL ADDRESS FOR TRACKING ACCOUNT>","role":"writer","type":"user"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <ACCESS TOKEN FOR USER ACCOUNT>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "drive#permission",
         "id": "11673017242486491425",
         "type": "user",
         "role": "writer"
        }
  recorded_at: Mon, 05 Mar 2018 20:21:52 GMT
- request:
    method: get
    uri: https://www.googleapis.com/drive/v3/changes/startPageToken
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR TRACKING ACCOUNT>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "drive#startPageToken",
         "startPageToken": "5129"
        }
  recorded_at: Mon, 05 Mar 2018 20:21:52 GMT
[...]
- request:
    method: get
    uri: https://www.googleapis.com/drive/v3/files/1eyCM8fVo6gFDXJxt-axGsuG369ZE1f8S?fields=id,%20name,%20mimeType,%20version,%20modifiedTime
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR TRACKING ACCOUNT>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "id": "1eyCM8fVo6gFDXJxt-axGsuG369ZE1f8S",
         "name": "Test @ 2018-03-05 20:21:50 UTC",
         "mimeType": "application/vnd.google-apps.folder",
         "version": "3",
         "modifiedTime": "2018-03-05T20:21:51.572Z"
        }
  recorded_at: Mon, 05 Mar 2018 20:21:53 GMT
- request:
    method: get
    uri: https://www.googleapis.com/drive/v3/files/1eyCM8fVo6gFDXJxt-axGsuG369ZE1f8S?fields=id,name,mimeType,parents,trashed
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR TRACKING ACCOUNT>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "id": "1eyCM8fVo6gFDXJxt-axGsuG369ZE1f8S",
         "name": "Test @ 2018-03-05 20:21:50 UTC",
         "mimeType": "application/vnd.google-apps.folder",
         "trashed": false
        }
  recorded_at: Mon, 05 Mar 2018 20:21:54 GMT
- request:
    method: get
    uri: https://www.googleapis.com/drive/v3/files/1eyCM8fVo6gFDXJxt-axGsuG369ZE1f8S/revisions/head
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR TRACKING ACCOUNT>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 403
      message: Forbidden
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "error": {
          "errors": [
           {
            "domain": "global",
            "reason": "revisionsNotSupported",
            "message": "The file does not support revisions."
           }
          ],
          "code": 403,
          "message": "The file does not support revisions."
         }
        }
  recorded_at: Mon, 05 Mar 2018 20:21:54 GMT
- request:
    method: get
    uri: https://www.googleapis.com/drive/v3/files?fields=files/id,files/name,files/mimeType,files/parents,files/trashed&q=%271eyCM8fVo6gFDXJxt-axGsuG369ZE1f8S%27%20in%20parents
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR TRACKING ACCOUNT>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "files": [
          {
           "id": "1XKhHI8zWD0NcM5G93wc8uEjkag2s03SvPHcAkr9e5aM",
           "name": "File To Move",
           "mimeType": "application/vnd.google-apps.document",
           "trashed": false,
           "parents": [
            "1eyCM8fVo6gFDXJxt-axGsuG369ZE1f8S"
           ]
          }
         ]
        }
  recorded_at: Mon, 05 Mar 2018 20:21:55 GMT
- request:
    method: get
    uri: https://www.googleapis.com/drive/v3/files/1XKhHI8zWD0NcM5G93wc8uEjkag2s03SvPHcAkr9e5aM/revisions/head
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR TRACKING ACCOUNT>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "drive#revision",
         "id": "1",
         "mimeType": "application/vnd.google-apps.document",
         "modifiedTime": "2018-03-05T20:21:52.470Z"
        }
  recorded_at: Mon, 05 Mar 2018 20:21:55 GMT
[...]
- request:
    method: patch
    uri: https://www.googleapis.com/drive/v3/files/1XKhHI8zWD0NcM5G93wc8uEjkag2s03SvPHcAkr9e5aM?addParents=1OZy2ECfM67CyFMQq3gMgyWSbXTfa1bLy&fields=id,name,mimeType,parents,trashed&removeParents=1eyCM8fVo6gFDXJxt-axGsuG369ZE1f8S
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR USER ACCOUNT>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "id": "1XKhHI8zWD0NcM5G93wc8uEjkag2s03SvPHcAkr9e5aM",
         "name": "File To Move",
         "mimeType": "application/vnd.google-apps.document",
         "trashed": false,
         "parents": [
          "1OZy2ECfM67CyFMQq3gMgyWSbXTfa1bLy"
         ]
        }
  recorded_at: Mon, 05 Mar 2018 20:21:56 GMT
- request:
    method: get
    uri: https://www.googleapis.com/drive/v3/changes?fields=nextPageToken,newStartPageToken,changes/fileId&pageSize=100&pageToken=5129
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR TRACKING ACCOUNT>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "newStartPageToken": "5132",
         "changes": [
          {
           "fileId": "1eyCM8fVo6gFDXJxt-axGsuG369ZE1f8S"
          },
          {
           "fileId": "1XKhHI8zWD0NcM5G93wc8uEjkag2s03SvPHcAkr9e5aM"
          }
         ]
        }
  recorded_at: Mon, 05 Mar 2018 20:22:56 GMT
[...]
- request:
    method: get
    uri: https://www.googleapis.com/drive/v3/files/1XKhHI8zWD0NcM5G93wc8uEjkag2s03SvPHcAkr9e5aM?fields=id,name,mimeType,parents,trashed
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR TRACKING ACCOUNT>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "error": {
          "errors": [
           {
            "domain": "global",
            "reason": "notFound",
            "message": "File not found: 1XKhHI8zWD0NcM5G93wc8uEjkag2s03SvPHcAkr9e5aM.",
            "locationType": "parameter",
            "location": "fileId"
           }
          ],
          "code": 404,
          "message": "File not found: 1XKhHI8zWD0NcM5G93wc8uEjkag2s03SvPHcAkr9e5aM."
         }
        }
  recorded_at: Mon, 05 Mar 2018 20:22:57 GMT
- request:
    method: delete
    uri: https://www.googleapis.com/drive/v3/files/1OZy2ECfM67CyFMQq3gMgyWSbXTfa1bLy
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR USER ACCOUNT>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 204
      message: No Content
    headers:
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Mon, 05 Mar 2018 20:22:57 GMT
- request:
    method: delete
    uri: https://www.googleapis.com/drive/v3/files/1eyCM8fVo6gFDXJxt-axGsuG369ZE1f8S
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR USER ACCOUNT>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 204
      message: No Content
    headers:
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Mon, 05 Mar 2018 20:22:58 GMT
recorded_with: VCR 4.0.0
