---
http_interactions:
- request:
    method: post
    uri: https://www.googleapis.com/oauth2/v4/token
    body:
      encoding: ASCII-8BIT
      string: grant_type=refresh_token&refresh_token=<REFRESH TOKEN FOR TRACKING ACCOUNT>&client_id=<CLIENT
        ID>&client_secret=<CLIENT SECRET>
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "access_token": "<ACCESS TOKEN FOR TRACKING ACCOUNT>",
         "token_type": "Bearer",
         "expires_in": 3600
        }
  recorded_at: Sun, 11 Feb 2018 14:49:57 GMT
[...]
- request:
    method: post
    uri: https://www.googleapis.com/drive/v3/files?fields=id,name,mimeType,parents,trashed
    body:
      encoding: UTF-8
      string: '{"mimeType":"application/vnd.google-apps.folder","name":"Test @ 2018-02-11
        14:49:57 UTC","parents":["root"]}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <ACCESS TOKEN FOR USER ACCOUNT>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "id": "1Wq1qU4JQvFaHOMud2CGIIwgqfaL0BMdk",
         "name": "Test @ 2018-02-11 14:49:57 UTC",
         "mimeType": "application/vnd.google-apps.folder",
         "trashed": false,
         "parents": [
          "0AEIi2L68pCuiUk9PVA"
         ]
        }
  recorded_at: Sun, 11 Feb 2018 14:49:58 GMT
- request:
    method: post
    uri: https://www.googleapis.com/drive/v3/files/1Wq1qU4JQvFaHOMud2CGIIwgqfaL0BMdk/permissions?sendNotificationEmail=false
    body:
      encoding: UTF-8
      string: '{"emailAddress":"<EMAIL ADDRESS FOR TRACKING ACCOUNT>","role":"reader","type":"user"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <ACCESS TOKEN FOR USER ACCOUNT>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "drive#permission",
         "id": "11673017242486491425",
         "type": "user",
         "role": "reader"
        }
  recorded_at: Sun, 11 Feb 2018 14:49:58 GMT
- request:
    method: get
    uri: https://www.googleapis.com/drive/v3/changes/startPageToken
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR TRACKING ACCOUNT>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "drive#startPageToken",
         "startPageToken": "2064"
        }
  recorded_at: Sun, 11 Feb 2018 14:49:58 GMT
[...]
- request:
    method: get
    uri: https://www.googleapis.com/drive/v3/files/1Wq1qU4JQvFaHOMud2CGIIwgqfaL0BMdk?fields=id,%20name,%20mimeType,%20version,%20modifiedTime
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR TRACKING ACCOUNT>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "id": "1Wq1qU4JQvFaHOMud2CGIIwgqfaL0BMdk",
         "name": "Test @ 2018-02-11 14:49:57 UTC",
         "mimeType": "application/vnd.google-apps.folder",
         "version": "2",
         "modifiedTime": "2018-02-11T14:49:58.375Z"
        }
  recorded_at: Sun, 11 Feb 2018 14:50:00 GMT
[...]
- request:
    method: get
    uri: https://www.googleapis.com/drive/v3/files?fields=files/id,%20files/version,%20files/mimeType,%20files/name,%20files/modifiedTime&q=%271Wq1qU4JQvFaHOMud2CGIIwgqfaL0BMdk%27%20in%20parents
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR TRACKING ACCOUNT>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "files": [
          {
           "id": "1vbP-9TODTK7NPu_Y71tFJ0Ss6yN_ditu",
           "name": "Folder",
           "mimeType": "application/vnd.google-apps.folder",
           "version": "2",
           "modifiedTime": "2018-02-11T14:49:58.886Z"
          }
         ]
        }
  recorded_at: Sun, 11 Feb 2018 14:50:00 GMT
- request:
    method: get
    uri: https://www.googleapis.com/drive/v3/files?fields=files/id,%20files/version,%20files/mimeType,%20files/name,%20files/modifiedTime&q=%271vbP-9TODTK7NPu_Y71tFJ0Ss6yN_ditu%27%20in%20parents
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR TRACKING ACCOUNT>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "files": [
          {
           "id": "1or50suwiVgE_t7Y20eeT3LIScCTsq5ytjhZFEVs9PWE",
           "name": "File To Move",
           "mimeType": "application/vnd.google-apps.document",
           "version": "2",
           "modifiedTime": "2018-02-11T14:49:59.361Z"
          }
         ]
        }
  recorded_at: Sun, 11 Feb 2018 14:50:00 GMT
- request:
    method: patch
    uri: https://www.googleapis.com/drive/v3/files/1or50suwiVgE_t7Y20eeT3LIScCTsq5ytjhZFEVs9PWE?addParents=1Wq1qU4JQvFaHOMud2CGIIwgqfaL0BMdk&fields=id,name,mimeType,parents,trashed&removeParents=1vbP-9TODTK7NPu_Y71tFJ0Ss6yN_ditu
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR USER ACCOUNT>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "id": "1or50suwiVgE_t7Y20eeT3LIScCTsq5ytjhZFEVs9PWE",
         "name": "File To Move",
         "mimeType": "application/vnd.google-apps.document",
         "trashed": false,
         "parents": [
          "1Wq1qU4JQvFaHOMud2CGIIwgqfaL0BMdk"
         ]
        }
  recorded_at: Sun, 11 Feb 2018 14:50:01 GMT
- request:
    method: get
    uri: https://www.googleapis.com/drive/v3/changes?fields=nextPageToken,%20newStartPageToken,%20changes/type,%20changes/fileId,%20changes/file/mimeType,%20changes/file/version,%20changes/file/name,%20changes/file/modifiedTime,%20changes/file/parents,%20changes/removed,%20changes/file/trashed&pageSize=100&pageToken=2064
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR TRACKING ACCOUNT>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "newStartPageToken": "2069",
         "changes": [
          {
           "type": "file",
           "removed": false,
           "fileId": "1vbP-9TODTK7NPu_Y71tFJ0Ss6yN_ditu",
           "file": {
            "name": "Folder",
            "mimeType": "application/vnd.google-apps.folder",
            "trashed": false,
            "parents": [
             "1Wq1qU4JQvFaHOMud2CGIIwgqfaL0BMdk"
            ],
            "version": "2",
            "modifiedTime": "2018-02-11T14:49:58.886Z"
           }
          },
          {
           "type": "file",
           "removed": false,
           "fileId": "1or50suwiVgE_t7Y20eeT3LIScCTsq5ytjhZFEVs9PWE",
           "file": {
            "name": "File To Move",
            "mimeType": "application/vnd.google-apps.document",
            "trashed": false,
            "parents": [
             "1Wq1qU4JQvFaHOMud2CGIIwgqfaL0BMdk"
            ],
            "version": "4",
            "modifiedTime": "2018-02-11T14:49:59.801Z"
           }
          },
          {
           "type": "file",
           "removed": false,
           "fileId": "1Wq1qU4JQvFaHOMud2CGIIwgqfaL0BMdk",
           "file": {
            "name": "Test @ 2018-02-11 14:49:57 UTC",
            "mimeType": "application/vnd.google-apps.folder",
            "trashed": false,
            "version": "3",
            "modifiedTime": "2018-02-11T14:49:58.375Z"
           }
          }
         ]
        }
  recorded_at: Sun, 11 Feb 2018 14:51:01 GMT
- request:
    method: delete
    uri: https://www.googleapis.com/drive/v3/files/1Wq1qU4JQvFaHOMud2CGIIwgqfaL0BMdk
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR USER ACCOUNT>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 204
      message: No Content
    headers:
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Sun, 11 Feb 2018 14:51:02 GMT
recorded_with: VCR 4.0.0
