---
http_interactions:
- request:
    method: post
    uri: https://www.googleapis.com/oauth2/v4/token
    body:
      encoding: ASCII-8BIT
      string: grant_type=refresh_token&refresh_token=<REFRESH TOKEN FOR TRACKING ACCOUNT>&client_id=<CLIENT
        ID>&client_secret=<CLIENT SECRET>
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: |-
        {
          "access_token": "<ACCESS TOKEN FOR TRACKING ACCOUNT>",
          "expires_in": 3600,
          "scope": "https://www.googleapis.com/auth/drive",
          "token_type": "Bearer"
        }
  recorded_at: Thu, 18 Oct 2018 09:28:55 GMT
- request:
    method: post
    uri: https://www.googleapis.com/drive/v3/files?fields=id,name,mimeType,parents,permissions,trashed,thumbnailLink,thumbnailVersion
    body:
      encoding: UTF-8
      string: '{"mimeType":"application/vnd.google-apps.folder","name":"Test @ 2018-10-18
        09:28:55 UTC","parents":["root"]}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <ACCESS TOKEN FOR TRACKING ACCOUNT>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "id": "1ELaox2d6TO_QUtav5hf3aNLE3CnWY5N-",
         "name": "Test @ 2018-10-18 09:28:55 UTC",
         "mimeType": "application/vnd.google-apps.folder",
         "trashed": false,
         "parents": [
          "0AIeK5UAEPQfeUk9PVA"
         ],
         "thumbnailVersion": "0",
         "permissions": [
          {
           "kind": "drive#permission",
           "id": "11673017242486491425",
           "type": "user",
           "emailAddress": "<EMAIL ADDRESS FOR TRACKING ACCOUNT>",
           "role": "owner",
           "displayName": "Upshift One",
           "deleted": false
          }
         ]
        }
  recorded_at: Thu, 18 Oct 2018 09:28:55 GMT
[...]
- request:
    method: patch
    uri: https://www.googleapis.com/upload/drive/v3/files/1szi3IHcjdyylNrrIxCVy2flQQwGEksGPy4f7NHkHjwc
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR TRACKING ACCOUNT>
      X-Goog-Upload-Protocol:
      - resumable
      X-Goog-Upload-Command:
      - start
      X-Goog-Upload-Header-Content-Length:
      - '16'
      X-Goog-Upload-Header-Content-Type:
      - application/octet-stream
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Goog-Upload-Status:
      - active
      X-Goog-Upload-Url:
      - https://www.googleapis.com/upload/drive/v3/files/1szi3IHcjdyylNrrIxCVy2flQQwGEksGPy4f7NHkHjwc?upload_id=AEnB2UrfFEZdPtZGmwy-7o7n0u99-blEL3Fkgm63eO3JjYTgP-m_X0XmH5UO711O-R3GgTce4ngPdtzX915hk8IiMLOpMgopqghu332VWK8kpvYq6YZd8UY&upload_protocol=resumable
      X-Goog-Upload-Control-Url:
      - https://www.googleapis.com/upload/drive/v3/files/1szi3IHcjdyylNrrIxCVy2flQQwGEksGPy4f7NHkHjwc?upload_id=AEnB2UrfFEZdPtZGmwy-7o7n0u99-blEL3Fkgm63eO3JjYTgP-m_X0XmH5UO711O-R3GgTce4ngPdtzX915hk8IiMLOpMgopqghu332VWK8kpvYq6YZd8UY&upload_protocol=resumable
      X-Goog-Upload-Chunk-Granularity:
      - '262144'
      X-Goog-Upload-Header-Vary:
      - Origin
      - X-Origin
      X-Goog-Upload-Header-X-Google-Backends:
      - ioaf5:4402
      X-Goog-Upload-Header-X-Google-Session-Info:
      - CLrLzJuGFRoCGAY6fgoeZHJpdmUtZ2Vub2Etc2VydmVyLWFwaWFyeS1wcm9kEgVkcml2ZRiDqMHn7wUiSDIwMTgxMjEwNDE5NS1pcDNwN2xrcWE1N29lYm84NTkwZXJtZ2E3MjBpMW5uaC5hcHBzLmdvb2dsZXVzZXJjb250ZW50LmNvbTDxDjDvDkqVARKBAXlhMjkuR2xzNkJ0eVNoeXR2dFlISTN5S25zblJKdG1wZldOTDZMckRjVmp5aHkxSzZOY0NHaUVXWi1Gb3FPRUlFTTRxdHgyNnc0SDRENjZLYldRd1Z5NHR0YW12SGlHeHByOHpCUkxWOHBCS013aU5JR0swenZYemhCLXNlT251eDAEOg0xLzJNM1JHd3dWbFp-
      X-Goog-Upload-Header-Cache-Control:
      - no-cache, no-store, max-age=0, must-revalidate
      X-Goog-Upload-Header-Pragma:
      - no-cache
      X-Goog-Upload-Header-Expires:
      - Mon, 01 Jan 1990 00:00:00 GMT
      X-Goog-Upload-Header-Date:
      - Thu, 18 Oct 2018 09:28:56 GMT
      Content-Type:
      - text/html; charset=UTF-8
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Thu, 18 Oct 2018 09:28:57 GMT
- request:
    method: post
    uri: https://www.googleapis.com/upload/drive/v3/files/1szi3IHcjdyylNrrIxCVy2flQQwGEksGPy4f7NHkHjwc?upload_id=AEnB2UrfFEZdPtZGmwy-7o7n0u99-blEL3Fkgm63eO3JjYTgP-m_X0XmH5UO711O-R3GgTce4ngPdtzX915hk8IiMLOpMgopqghu332VWK8kpvYq6YZd8UY&upload_protocol=resumable
    body:
      encoding: UTF-8
      string: new file content
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR TRACKING ACCOUNT>
      X-Goog-Upload-Command:
      - upload, finalize
      X-Goog-Upload-Offset:
      - '0'
      Content-Type:
      - application/octet-stream
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Goog-Upload-Status:
      - final
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "drive#file",
         "id": "1szi3IHcjdyylNrrIxCVy2flQQwGEksGPy4f7NHkHjwc",
         "name": "Test File",
         "mimeType": "application/vnd.google-apps.document"
        }
  recorded_at: Thu, 18 Oct 2018 09:28:58 GMT
- request:
    method: patch
    uri: https://www.googleapis.com/drive/v3/files/1szi3IHcjdyylNrrIxCVy2flQQwGEksGPy4f7NHkHjwc?fields=id,name,mimeType,parents,permissions,trashed,thumbnailLink,thumbnailVersion
    body:
      encoding: UTF-8
      string: '{"trashed":"true"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <ACCESS TOKEN FOR TRACKING ACCOUNT>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "id": "1szi3IHcjdyylNrrIxCVy2flQQwGEksGPy4f7NHkHjwc",
         "name": "Test File",
         "mimeType": "application/vnd.google-apps.document",
         "trashed": true,
         "parents": [
          "1ELaox2d6TO_QUtav5hf3aNLE3CnWY5N-"
         ],
         "thumbnailLink": "https://docs.google.com/feeds/vt?gd=true&id=1szi3IHcjdyylNrrIxCVy2flQQwGEksGPy4f7NHkHjwc&v=1&s=AMedNnoAAAAAW8hugCMVHT5q93Z9eT9tvU56bqBY2t4w&sz=s220",
         "thumbnailVersion": "1",
         "permissions": [
          {
           "kind": "drive#permission",
           "id": "11673017242486491425",
           "type": "user",
           "emailAddress": "<EMAIL ADDRESS FOR TRACKING ACCOUNT>",
           "role": "owner",
           "displayName": "Upshift One",
           "deleted": false
          }
         ]
        }
  recorded_at: Thu, 18 Oct 2018 09:29:04 GMT
[...]
- request:
    method: delete
    uri: https://www.googleapis.com/drive/v3/files/1ELaox2d6TO_QUtav5hf3aNLE3CnWY5N-
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR TRACKING ACCOUNT>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 204
      message: No Content
    headers:
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Thu, 18 Oct 2018 09:29:04 GMT
recorded_with: VCR 4.0.0
