---
http_interactions:
- request:
    method: delete
    uri: https://www.googleapis.com/drive/v3/files/1kVcC0qvwgRkgYPdqehpLCzMjyhMc_892
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR TRACKING ACCOUNT>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 204
      message: No Content
    headers:
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Sat, 17 Feb 2018 16:09:27 GMT
- request:
    method: patch
    uri: https://www.googleapis.com/upload/drive/v3/files/1KGwQH5e5Zz5vCynkYi1L3EoSbyVflrDZq68nuPBjEEI
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR TRACKING ACCOUNT>
      X-Goog-Upload-Protocol:
      - resumable
      X-Goog-Upload-Command:
      - start
      X-Goog-Upload-Header-Content-Length:
      - '16'
      X-Goog-Upload-Header-Content-Type:
      - application/octet-stream
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Goog-Upload-Status:
      - active
      X-Goog-Upload-Url:
      - https://www.googleapis.com/upload/drive/v3/files/1KGwQH5e5Zz5vCynkYi1L3EoSbyVflrDZq68nuPBjEEI?upload_id=AEnB2UqHJz2QV4K4BIpE4PlQMvFx1QbYtomv9dvreKqY1Ie9b3cjyWrA9GWGInmraT2DrcYqbOsjDb7KslUou7-a3LKZ6wkKjjkTc0h6mJ6ZRsInWgXvdXI&upload_protocol=resumable
      X-Goog-Upload-Control-Url:
      - https://www.googleapis.com/upload/drive/v3/files/1KGwQH5e5Zz5vCynkYi1L3EoSbyVflrDZq68nuPBjEEI?upload_id=AEnB2UqHJz2QV4K4BIpE4PlQMvFx1QbYtomv9dvreKqY1Ie9b3cjyWrA9GWGInmraT2DrcYqbOsjDb7KslUou7-a3LKZ6wkKjjkTc0h6mJ6ZRsInWgXvdXI&upload_protocol=resumable
      X-Goog-Upload-Chunk-Granularity:
      - '262144'
      X-Goog-Upload-Header-Vary:
      - Origin
      - X-Origin
      X-Goog-Upload-Header-X-Google-Backends:
      - ota63:4602
      X-Goog-Upload-Header-X-Google-Session-Info:
      - CLrLzJuGFRoCGAY6bwoPZHJpdmUtcm9zeS1wcm9kEgVkcml2ZRiDqMHn7wUiSDIwMTgxMjEwNDE5NS1pcDNwN2xrcWE1N29lYm84NTkwZXJtZ2E3MjBpMW5uaC5hcHBzLmdvb2dsZXVzZXJjb250ZW50LmNvbTDxDjDvDkqXARKDAXlhMjkuR2x4bEJlaDFVNXlreWhmMEt0eHJJZFZyWmRtbHVvLS1TbzR0b3FEbFdJeW9jUE11ZlBxSmZ1THdXNThrbngwenQ4NnE3cnFGSnl3VnpEdDYxWURzemY5Vm9TVjhqa3BRaExvRFB0WjdxRHBlMHU5dVpMTkRzWVdYYk42UmxBMAQ6DTEvN1lhNHNGbTZWdn4
      X-Goog-Upload-Header-Cache-Control:
      - no-cache, no-store, max-age=0, must-revalidate
      X-Goog-Upload-Header-Pragma:
      - no-cache
      X-Goog-Upload-Header-Expires:
      - Mon, 01 Jan 1990 00:00:00 GMT
      X-Goog-Upload-Header-Date:
      - Sat, 17 Feb 2018 16:10:36 GMT
      Content-Type:
      - text/html; charset=UTF-8
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Sat, 17 Feb 2018 16:10:36 GMT
- request:
    method: post
    uri: https://www.googleapis.com/upload/drive/v3/files/1KGwQH5e5Zz5vCynkYi1L3EoSbyVflrDZq68nuPBjEEI?upload_id=AEnB2UqHJz2QV4K4BIpE4PlQMvFx1QbYtomv9dvreKqY1Ie9b3cjyWrA9GWGInmraT2DrcYqbOsjDb7KslUou7-a3LKZ6wkKjjkTc0h6mJ6ZRsInWgXvdXI&upload_protocol=resumable
    body:
      encoding: UTF-8
      string: new file content
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR TRACKING ACCOUNT>
      X-Goog-Upload-Command:
      - upload, finalize
      X-Goog-Upload-Offset:
      - '0'
      Content-Type:
      - application/octet-stream
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Goog-Upload-Status:
      - final
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "drive#file",
         "id": "1KGwQH5e5Zz5vCynkYi1L3EoSbyVflrDZq68nuPBjEEI",
         "name": "Test File",
         "mimeType": "application/vnd.google-apps.document"
        }
  recorded_at: Sat, 17 Feb 2018 16:10:36 GMT
- request:
    method: delete
    uri: https://www.googleapis.com/drive/v3/files/1UCx2_2goH6TQHLP6dmDbT2yuL7AYSo8k
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR TRACKING ACCOUNT>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 204
      message: No Content
    headers:
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Sat, 17 Feb 2018 16:10:37 GMT
- request:
    method: patch
    uri: https://www.googleapis.com/upload/drive/v3/files/1hlNNWA-CeX5_di5ogtD52KkEzOZXW6ucwMdWkIOHXEc
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR TRACKING ACCOUNT>
      X-Goog-Upload-Protocol:
      - resumable
      X-Goog-Upload-Command:
      - start
      X-Goog-Upload-Header-Content-Length:
      - '16'
      X-Goog-Upload-Header-Content-Type:
      - application/octet-stream
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Goog-Upload-Status:
      - active
      X-Goog-Upload-Url:
      - https://www.googleapis.com/upload/drive/v3/files/1hlNNWA-CeX5_di5ogtD52KkEzOZXW6ucwMdWkIOHXEc?upload_id=AEnB2Ur1vDMFxAYLYwetlpRx9iHyJPRCb3bbhksw8nenCDRPAEIqmWRnMSCSWYJ8v6TqKOPywYLQj0GvvZmyfx9fvfnOyC_ottc1JS9owUAUkMjKMCo347o&upload_protocol=resumable
      X-Goog-Upload-Control-Url:
      - https://www.googleapis.com/upload/drive/v3/files/1hlNNWA-CeX5_di5ogtD52KkEzOZXW6ucwMdWkIOHXEc?upload_id=AEnB2Ur1vDMFxAYLYwetlpRx9iHyJPRCb3bbhksw8nenCDRPAEIqmWRnMSCSWYJ8v6TqKOPywYLQj0GvvZmyfx9fvfnOyC_ottc1JS9owUAUkMjKMCo347o&upload_protocol=resumable
      X-Goog-Upload-Chunk-Granularity:
      - '262144'
      X-Goog-Upload-Header-Vary:
      - Origin
      - X-Origin
      X-Goog-Upload-Header-X-Google-Backends:
      - otdl44:4848
      X-Goog-Upload-Header-X-Google-Session-Info:
      - CLrLzJuGFRoCGAY6bwoPZHJpdmUtcm9zeS1wcm9kEgVkcml2ZRiDqMHn7wUiSDIwMTgxMjEwNDE5NS1pcDNwN2xrcWE1N29lYm84NTkwZXJtZ2E3MjBpMW5uaC5hcHBzLmdvb2dsZXVzZXJjb250ZW50LmNvbTDxDjDvDkqXARKDAXlhMjkuR2x4bEJTNVBiNG9XcFpLX21Rb3VydEM4Y3lKcWJPa0NXZUtGcWdMcktUUElmQy1LOGlCVmFFVF9jTWxWZjFmSU1rU1h5bG9TNXhVZ2hMa1p4ZWVpZ0JLMzF2UEVXY01uSHpqRW1YWUVQc244X2ZzY1Job3dJa1ZhMVR5LTB3MAQ6DTEvN1lhNHNGbTZWdn4
      X-Goog-Upload-Header-Cache-Control:
      - no-cache, no-store, max-age=0, must-revalidate
      X-Goog-Upload-Header-Pragma:
      - no-cache
      X-Goog-Upload-Header-Expires:
      - Mon, 01 Jan 1990 00:00:00 GMT
      X-Goog-Upload-Header-Date:
      - Sat, 17 Feb 2018 16:10:54 GMT
      Content-Type:
      - text/html; charset=UTF-8
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Sat, 17 Feb 2018 16:10:55 GMT
- request:
    method: post
    uri: https://www.googleapis.com/upload/drive/v3/files/1hlNNWA-CeX5_di5ogtD52KkEzOZXW6ucwMdWkIOHXEc?upload_id=AEnB2Ur1vDMFxAYLYwetlpRx9iHyJPRCb3bbhksw8nenCDRPAEIqmWRnMSCSWYJ8v6TqKOPywYLQj0GvvZmyfx9fvfnOyC_ottc1JS9owUAUkMjKMCo347o&upload_protocol=resumable
    body:
      encoding: UTF-8
      string: new file content
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR TRACKING ACCOUNT>
      X-Goog-Upload-Command:
      - upload, finalize
      X-Goog-Upload-Offset:
      - '0'
      Content-Type:
      - application/octet-stream
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Goog-Upload-Status:
      - final
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "drive#file",
         "id": "1hlNNWA-CeX5_di5ogtD52KkEzOZXW6ucwMdWkIOHXEc",
         "name": "Test File",
         "mimeType": "application/vnd.google-apps.document"
        }
  recorded_at: Sat, 17 Feb 2018 16:10:55 GMT
- request:
    method: get
    uri: https://www.googleapis.com/drive/v3/files/1hlNNWA-CeX5_di5ogtD52KkEzOZXW6ucwMdWkIOHXEc/revisions/head
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR TRACKING ACCOUNT>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "drive#revision",
         "id": "3",
         "mimeType": "application/vnd.google-apps.document",
         "modifiedTime": "2018-02-17T16:10:55.540Z"
        }
  recorded_at: Sat, 17 Feb 2018 16:10:56 GMT
- request:
    method: delete
    uri: https://www.googleapis.com/drive/v3/files/1KB1eD-dUNQCxhf4tn5FcUJ_76enxqpIm
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR TRACKING ACCOUNT>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 204
      message: No Content
    headers:
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Sat, 17 Feb 2018 16:10:56 GMT
- request:
    method: patch
    uri: https://www.googleapis.com/upload/drive/v3/files/1AdH62TkpTojRWXQUuqQ0CRoUxz_PpxrSNc6uwWBOom0
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR TRACKING ACCOUNT>
      X-Goog-Upload-Protocol:
      - resumable
      X-Goog-Upload-Command:
      - start
      X-Goog-Upload-Header-Content-Length:
      - '16'
      X-Goog-Upload-Header-Content-Type:
      - application/octet-stream
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Goog-Upload-Status:
      - active
      X-Goog-Upload-Url:
      - https://www.googleapis.com/upload/drive/v3/files/1AdH62TkpTojRWXQUuqQ0CRoUxz_PpxrSNc6uwWBOom0?upload_id=AEnB2Upt9JwVeYLzOFeFfbmo8LTbt6mrMOYtcOkoUYHSFJPf2CEFyYAHqyIwNGES7zqr6q_rPmoGQyTaN1gdytn_cWS9KH-_HKrcGotnd6A6BMQmoV08WRA&upload_protocol=resumable
      X-Goog-Upload-Control-Url:
      - https://www.googleapis.com/upload/drive/v3/files/1AdH62TkpTojRWXQUuqQ0CRoUxz_PpxrSNc6uwWBOom0?upload_id=AEnB2Upt9JwVeYLzOFeFfbmo8LTbt6mrMOYtcOkoUYHSFJPf2CEFyYAHqyIwNGES7zqr6q_rPmoGQyTaN1gdytn_cWS9KH-_HKrcGotnd6A6BMQmoV08WRA&upload_protocol=resumable
      X-Goog-Upload-Chunk-Granularity:
      - '262144'
      X-Goog-Upload-Header-Vary:
      - Origin
      - X-Origin
      X-Goog-Upload-Header-X-Google-Backends:
      - otdm29:4828
      X-Goog-Upload-Header-X-Google-Session-Info:
      - CLrLzJuGFRoCGAY6bwoPZHJpdmUtcm9zeS1wcm9kEgVkcml2ZRiDqMHn7wUiSDIwMTgxMjEwNDE5NS1pcDNwN2xrcWE1N29lYm84NTkwZXJtZ2E3MjBpMW5uaC5hcHBzLmdvb2dsZXVzZXJjb250ZW50LmNvbTDxDjDvDkqXARKDAXlhMjkuR2x4bEJRTmRkUm9TNHE3YTc4dFd1U2o4TTgwVVRWR2VvUDhzYlZmb2YxNXNjeXVUb3V5NVN6cGFXTEFIWnMyeVRTSlc1UWNRUkdmTkdaQkRFa2UzSzV4TGRhenpDUW56ZHlzbE1idmNpWEtKYmRud3dVeVZvNEtKeDhGLVF3MAQ6DTEvN1lhNHNGbTZWdn4
      X-Goog-Upload-Header-Cache-Control:
      - no-cache, no-store, max-age=0, must-revalidate
      X-Goog-Upload-Header-Pragma:
      - no-cache
      X-Goog-Upload-Header-Expires:
      - Mon, 01 Jan 1990 00:00:00 GMT
      X-Goog-Upload-Header-Date:
      - Sat, 17 Feb 2018 16:11:10 GMT
      Content-Type:
      - text/html; charset=UTF-8
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Sat, 17 Feb 2018 16:11:10 GMT
- request:
    method: post
    uri: https://www.googleapis.com/upload/drive/v3/files/1AdH62TkpTojRWXQUuqQ0CRoUxz_PpxrSNc6uwWBOom0?upload_id=AEnB2Upt9JwVeYLzOFeFfbmo8LTbt6mrMOYtcOkoUYHSFJPf2CEFyYAHqyIwNGES7zqr6q_rPmoGQyTaN1gdytn_cWS9KH-_HKrcGotnd6A6BMQmoV08WRA&upload_protocol=resumable
    body:
      encoding: UTF-8
      string: new file content
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR TRACKING ACCOUNT>
      X-Goog-Upload-Command:
      - upload, finalize
      X-Goog-Upload-Offset:
      - '0'
      Content-Type:
      - application/octet-stream
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Goog-Upload-Status:
      - final
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "drive#file",
         "id": "1AdH62TkpTojRWXQUuqQ0CRoUxz_PpxrSNc6uwWBOom0",
         "name": "Test File",
         "mimeType": "application/vnd.google-apps.document"
        }
  recorded_at: Sat, 17 Feb 2018 16:11:10 GMT
- request:
    method: get
    uri: https://www.googleapis.com/drive/v3/files/1AdH62TkpTojRWXQUuqQ0CRoUxz_PpxrSNc6uwWBOom0/revisions/head
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR TRACKING ACCOUNT>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "drive#revision",
         "id": "3",
         "mimeType": "application/vnd.google-apps.document",
         "modifiedTime": "2018-02-17T16:11:10.532Z"
        }
  recorded_at: Sat, 17 Feb 2018 16:11:11 GMT
- request:
    method: delete
    uri: https://www.googleapis.com/drive/v3/files/1ZxSSBFEMnhuZ7d4F7r51D_W0UHRVEilV
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR TRACKING ACCOUNT>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 204
      message: No Content
    headers:
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Sat, 17 Feb 2018 16:11:11 GMT
- request:
    method: post
    uri: https://www.googleapis.com/oauth2/v4/token
    body:
      encoding: ASCII-8BIT
      string: grant_type=refresh_token&refresh_token=<REFRESH TOKEN FOR TRACKING ACCOUNT>&client_id=<CLIENT
        ID>&client_secret=<CLIENT SECRET>
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "access_token": "<ACCESS TOKEN FOR TRACKING ACCOUNT>",
         "token_type": "Bearer",
         "expires_in": 3600
        }
  recorded_at: Sat, 17 Feb 2018 16:11:53 GMT
- request:
    method: post
    uri: https://www.googleapis.com/drive/v3/files?fields=id,name,mimeType,parents,trashed
    body:
      encoding: UTF-8
      string: '{"mimeType":"application/vnd.google-apps.folder","name":"Test @ 2018-02-17
        16:11:53 UTC","parents":["root"]}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <ACCESS TOKEN FOR TRACKING ACCOUNT>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "id": "1bZrobA02y4yl0W4VEkfST4N8GEpNol55",
         "name": "Test @ 2018-02-17 16:11:53 UTC",
         "mimeType": "application/vnd.google-apps.folder",
         "trashed": false,
         "parents": [
          "0AIeK5UAEPQfeUk9PVA"
         ]
        }
  recorded_at: Sat, 17 Feb 2018 16:11:53 GMT
[...]
- request:
    method: patch
    uri: https://www.googleapis.com/upload/drive/v3/files/1FAOOYdt4ysFkkecLJrFMsZtbTdBP5_AagEE0UiPIfJY
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR TRACKING ACCOUNT>
      X-Goog-Upload-Protocol:
      - resumable
      X-Goog-Upload-Command:
      - start
      X-Goog-Upload-Header-Content-Length:
      - '16'
      X-Goog-Upload-Header-Content-Type:
      - application/octet-stream
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Goog-Upload-Status:
      - active
      X-Goog-Upload-Url:
      - https://www.googleapis.com/upload/drive/v3/files/1FAOOYdt4ysFkkecLJrFMsZtbTdBP5_AagEE0UiPIfJY?upload_id=AEnB2UpMBLKvNYs_9LS_BxDDKR4-b-H62UsUlpGdSFl2OHxLK-0W18rXS6qU6g6EgsotHmWTYsXkpkEqTnbHBYeusbfqTjiSZ_eYgZye7XVrInr6xOeyV0s&upload_protocol=resumable
      X-Goog-Upload-Control-Url:
      - https://www.googleapis.com/upload/drive/v3/files/1FAOOYdt4ysFkkecLJrFMsZtbTdBP5_AagEE0UiPIfJY?upload_id=AEnB2UpMBLKvNYs_9LS_BxDDKR4-b-H62UsUlpGdSFl2OHxLK-0W18rXS6qU6g6EgsotHmWTYsXkpkEqTnbHBYeusbfqTjiSZ_eYgZye7XVrInr6xOeyV0s&upload_protocol=resumable
      X-Goog-Upload-Chunk-Granularity:
      - '262144'
      X-Goog-Upload-Header-Vary:
      - Origin
      - X-Origin
      X-Goog-Upload-Header-X-Google-Backends:
      - otdd34:4585
      X-Goog-Upload-Header-X-Google-Session-Info:
      - CLrLzJuGFRoCGAY6bwoPZHJpdmUtcm9zeS1wcm9kEgVkcml2ZRiDqMHn7wUiSDIwMTgxMjEwNDE5NS1pcDNwN2xrcWE1N29lYm84NTkwZXJtZ2E3MjBpMW5uaC5hcHBzLmdvb2dsZXVzZXJjb250ZW50LmNvbTDxDjDvDkqXARKDAXlhMjkuR2x4bEJWZUxQREpVbnZYWWY5R1V2ak5VWjFLOEN6TG5pY2ZSR2gzTFZaYmJ3bnpScFMtMWNtSjZLUG51TUF4YVJYX25VZHVqU1BNcmxxY2lLWm5kanlrNHF3ZnM4M1VCalhyTC1FT19KQ2p5NW56eWZaelZtbEp5NGI2VnFnMAQ6DTEvN1lhNHNGbTZWdn4
      X-Goog-Upload-Header-Cache-Control:
      - no-cache, no-store, max-age=0, must-revalidate
      X-Goog-Upload-Header-Pragma:
      - no-cache
      X-Goog-Upload-Header-Expires:
      - Mon, 01 Jan 1990 00:00:00 GMT
      X-Goog-Upload-Header-Date:
      - Sat, 17 Feb 2018 16:11:54 GMT
      Content-Type:
      - text/html; charset=UTF-8
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Sat, 17 Feb 2018 16:11:54 GMT
- request:
    method: post
    uri: https://www.googleapis.com/upload/drive/v3/files/1FAOOYdt4ysFkkecLJrFMsZtbTdBP5_AagEE0UiPIfJY?upload_id=AEnB2UpMBLKvNYs_9LS_BxDDKR4-b-H62UsUlpGdSFl2OHxLK-0W18rXS6qU6g6EgsotHmWTYsXkpkEqTnbHBYeusbfqTjiSZ_eYgZye7XVrInr6xOeyV0s&upload_protocol=resumable
    body:
      encoding: UTF-8
      string: new file content
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR TRACKING ACCOUNT>
      X-Goog-Upload-Command:
      - upload, finalize
      X-Goog-Upload-Offset:
      - '0'
      Content-Type:
      - application/octet-stream
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Goog-Upload-Status:
      - final
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "drive#file",
         "id": "1FAOOYdt4ysFkkecLJrFMsZtbTdBP5_AagEE0UiPIfJY",
         "name": "Test File",
         "mimeType": "application/vnd.google-apps.document"
        }
  recorded_at: Sat, 17 Feb 2018 16:11:55 GMT
- request:
    method: get
    uri: https://www.googleapis.com/drive/v3/files/1FAOOYdt4ysFkkecLJrFMsZtbTdBP5_AagEE0UiPIfJY/revisions/head
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR TRACKING ACCOUNT>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "drive#revision",
         "id": "3",
         "mimeType": "application/vnd.google-apps.document",
         "modifiedTime": "2018-02-17T16:11:54.734Z"
        }
  recorded_at: Sat, 17 Feb 2018 16:11:55 GMT
- request:
    method: delete
    uri: https://www.googleapis.com/drive/v3/files/1bZrobA02y4yl0W4VEkfST4N8GEpNol55
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR TRACKING ACCOUNT>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 204
      message: No Content
    headers:
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Sat, 17 Feb 2018 16:11:55 GMT
recorded_with: VCR 4.0.0
