---
http_interactions:
- request:
    method: post
    uri: https://www.googleapis.com/oauth2/v4/token
    body:
      encoding: ASCII-8BIT
      string: grant_type=refresh_token&refresh_token=<REFRESH TOKEN FOR TRACKING ACCOUNT>&client_id=<CLIENT
        ID>&client_secret=<CLIENT SECRET>
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "access_token": "<ACCESS TOKEN FOR TRACKING ACCOUNT>",
         "token_type": "Bearer",
         "expires_in": 3600
        }
  recorded_at: Sun, 18 Feb 2018 19:37:52 GMT
- request:
    method: post
    uri: https://www.googleapis.com/drive/v3/files?fields=id,name,mimeType,parents,trashed
    body:
      encoding: UTF-8
      string: '{"mimeType":"application/vnd.google-apps.folder","name":"Test @ 2018-02-18
        19:37:52 UTC","parents":["root"]}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <ACCESS TOKEN FOR TRACKING ACCOUNT>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "id": "1y2Vv2OQX_BuoJsogzM78aWz7juA2P07c",
         "name": "Test @ 2018-02-18 19:37:52 UTC",
         "mimeType": "application/vnd.google-apps.folder",
         "trashed": false,
         "parents": [
          "0AIeK5UAEPQfeUk9PVA"
         ]
        }
  recorded_at: Sun, 18 Feb 2018 19:37:52 GMT
[...]
- request:
    method: patch
    uri: https://www.googleapis.com/upload/drive/v3/files/13-H8COEvVzeY63Ztx6riGWVrd3Y0KhvaK0xEztvYWF0
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR TRACKING ACCOUNT>
      X-Goog-Upload-Protocol:
      - resumable
      X-Goog-Upload-Command:
      - start
      X-Goog-Upload-Header-Content-Length:
      - '16'
      X-Goog-Upload-Header-Content-Type:
      - application/octet-stream
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Goog-Upload-Status:
      - active
      X-Goog-Upload-Url:
      - https://www.googleapis.com/upload/drive/v3/files/13-H8COEvVzeY63Ztx6riGWVrd3Y0KhvaK0xEztvYWF0?upload_id=AEnB2UpKIMpqRPfxLoq232zZimtA6ZwyqoKbMone-Rfymc0bKQHe5qJ4iJuEUrbEr35mEci4Gok2UKl24afFr5fSiEF63MCfDVTNx4Lf1Ab0jFbrX8HQAYk&upload_protocol=resumable
      X-Goog-Upload-Control-Url:
      - https://www.googleapis.com/upload/drive/v3/files/13-H8COEvVzeY63Ztx6riGWVrd3Y0KhvaK0xEztvYWF0?upload_id=AEnB2UpKIMpqRPfxLoq232zZimtA6ZwyqoKbMone-Rfymc0bKQHe5qJ4iJuEUrbEr35mEci4Gok2UKl24afFr5fSiEF63MCfDVTNx4Lf1Ab0jFbrX8HQAYk&upload_protocol=resumable
      X-Goog-Upload-Chunk-Granularity:
      - '262144'
      X-Goog-Upload-Header-Vary:
      - Origin
      - X-Origin
      X-Goog-Upload-Header-X-Google-Backends:
      - otdt52:4648
      X-Goog-Upload-Header-X-Google-Session-Info:
      - CLrLzJuGFRoCGAY6bwoPZHJpdmUtcm9zeS1wcm9kEgVkcml2ZRiDqMHn7wUiSDIwMTgxMjEwNDE5NS1pcDNwN2xrcWE1N29lYm84NTkwZXJtZ2E3MjBpMW5uaC5hcHBzLmdvb2dsZXVzZXJjb250ZW50LmNvbTDxDjDvDkqXARKDAXlhMjkuR2x4bUJaa3lKOEc4RGY5dndna080R2dCeFRKeS13dE9ERm5PQXFzdy1MS1haZk5UanVYb2kwbFBwR3JINFc1Z1NZMk0wZXBuTHJHSUhXLWF5UkZvVGI3VVprZXVjdFY0Y3dGMXlwRk10YXhBaHpoMUdHTE16VVR5dS1GZjRnMAQ6DTEvN1lhNHNGbTZWdn4
      X-Goog-Upload-Header-Cache-Control:
      - no-cache, no-store, max-age=0, must-revalidate
      X-Goog-Upload-Header-Pragma:
      - no-cache
      X-Goog-Upload-Header-Expires:
      - Mon, 01 Jan 1990 00:00:00 GMT
      X-Goog-Upload-Header-Date:
      - Sun, 18 Feb 2018 19:37:53 GMT
      Content-Type:
      - text/html; charset=UTF-8
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Sun, 18 Feb 2018 19:37:54 GMT
- request:
    method: post
    uri: https://www.googleapis.com/upload/drive/v3/files/13-H8COEvVzeY63Ztx6riGWVrd3Y0KhvaK0xEztvYWF0?upload_id=AEnB2UpKIMpqRPfxLoq232zZimtA6ZwyqoKbMone-Rfymc0bKQHe5qJ4iJuEUrbEr35mEci4Gok2UKl24afFr5fSiEF63MCfDVTNx4Lf1Ab0jFbrX8HQAYk&upload_protocol=resumable
    body:
      encoding: UTF-8
      string: new file content
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR TRACKING ACCOUNT>
      X-Goog-Upload-Command:
      - upload, finalize
      X-Goog-Upload-Offset:
      - '0'
      Content-Type:
      - application/octet-stream
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Goog-Upload-Status:
      - final
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "drive#file",
         "id": "13-H8COEvVzeY63Ztx6riGWVrd3Y0KhvaK0xEztvYWF0",
         "name": "Test File",
         "mimeType": "application/vnd.google-apps.document"
        }
  recorded_at: Sun, 18 Feb 2018 19:37:54 GMT
- request:
    method: get
    uri: https://www.googleapis.com/drive/v3/files/13-H8COEvVzeY63Ztx6riGWVrd3Y0KhvaK0xEztvYWF0?fields=id,name,mimeType,parents,trashed
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR TRACKING ACCOUNT>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "id": "13-H8COEvVzeY63Ztx6riGWVrd3Y0KhvaK0xEztvYWF0",
         "name": "Test File",
         "mimeType": "application/vnd.google-apps.document",
         "trashed": false,
         "parents": [
          "1y2Vv2OQX_BuoJsogzM78aWz7juA2P07c"
         ]
        }
  recorded_at: Sun, 18 Feb 2018 19:37:54 GMT
- request:
    method: get
    uri: https://www.googleapis.com/drive/v3/files/13-H8COEvVzeY63Ztx6riGWVrd3Y0KhvaK0xEztvYWF0/revisions/head
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR TRACKING ACCOUNT>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "drive#revision",
         "id": "3",
         "mimeType": "application/vnd.google-apps.document",
         "modifiedTime": "2018-02-18T19:37:54.319Z"
        }
  recorded_at: Sun, 18 Feb 2018 19:37:55 GMT
- request:
    method: delete
    uri: https://www.googleapis.com/drive/v3/files/1y2Vv2OQX_BuoJsogzM78aWz7juA2P07c
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR TRACKING ACCOUNT>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 204
      message: No Content
    headers:
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Sun, 18 Feb 2018 19:37:55 GMT
recorded_with: VCR 4.0.0
