---
http_interactions:
- request:
    method: post
    uri: https://www.googleapis.com/oauth2/v4/token
    body:
      encoding: ASCII-8BIT
      string: grant_type=refresh_token&refresh_token=<REFRESH TOKEN FOR TRACKING ACCOUNT>&client_id=<CLIENT
        ID>&client_secret=<CLIENT SECRET>
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "access_token": "<ACCESS TOKEN FOR TRACKING ACCOUNT>",
         "token_type": "Bearer",
         "expires_in": 3600
        }
  recorded_at: Tue, 06 Mar 2018 17:54:55 GMT
- request:
    method: post
    uri: https://www.googleapis.com/drive/v3/files?fields=id,name,mimeType,parents,trashed
    body:
      encoding: UTF-8
      string: '{"mimeType":"application/vnd.google-apps.folder","name":"Test @ 2018-03-06
        17:54:55 UTC","parents":["root"]}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <ACCESS TOKEN FOR TRACKING ACCOUNT>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "id": "1XOpVOQ5Kw6fMaEJV2Y9JP_tYxMwxtefJ",
         "name": "Test @ 2018-03-06 17:54:55 UTC",
         "mimeType": "application/vnd.google-apps.folder",
         "trashed": false,
         "parents": [
          "0AIeK5UAEPQfeUk9PVA"
         ]
        }
  recorded_at: Tue, 06 Mar 2018 17:54:56 GMT
[...]
- request:
    method: patch
    uri: https://www.googleapis.com/upload/drive/v3/files/1H3vhtYkQk3RM_MvfbNmdBdv6R8mVZHfLS8Xv1pdBmZI
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR TRACKING ACCOUNT>
      X-Goog-Upload-Protocol:
      - resumable
      X-Goog-Upload-Command:
      - start
      X-Goog-Upload-Header-Content-Length:
      - '16'
      X-Goog-Upload-Header-Content-Type:
      - application/octet-stream
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Goog-Upload-Status:
      - active
      X-Goog-Upload-Url:
      - https://www.googleapis.com/upload/drive/v3/files/1H3vhtYkQk3RM_MvfbNmdBdv6R8mVZHfLS8Xv1pdBmZI?upload_id=AEnB2UqFdsq_BQlVsipEem-9SgDSuuOU_vB9EY23XCwQZhZW5sYRHJ8oFqhvq8sGlVlVEX8kdH6sQADRtpoMtlFNh_TxAUhlaWYvQXD-UK6CzR44BMbCSEE&upload_protocol=resumable
      X-Goog-Upload-Control-Url:
      - https://www.googleapis.com/upload/drive/v3/files/1H3vhtYkQk3RM_MvfbNmdBdv6R8mVZHfLS8Xv1pdBmZI?upload_id=AEnB2UqFdsq_BQlVsipEem-9SgDSuuOU_vB9EY23XCwQZhZW5sYRHJ8oFqhvq8sGlVlVEX8kdH6sQADRtpoMtlFNh_TxAUhlaWYvQXD-UK6CzR44BMbCSEE&upload_protocol=resumable
      X-Goog-Upload-Chunk-Granularity:
      - '262144'
      X-Goog-Upload-Header-Vary:
      - Origin
      - X-Origin
      X-Goog-Upload-Header-X-Google-Backends:
      - iocl15:4502
      X-Goog-Upload-Header-X-Google-Session-Info:
      - CLrLzJuGFRoCGAY6bwoPZHJpdmUtcm9zeS1wcm9kEgVkcml2ZRiDqMHn7wUiSDIwMTgxMjEwNDE5NS1pcDNwN2xrcWE1N29lYm84NTkwZXJtZ2E3MjBpMW5uaC5hcHBzLmdvb2dsZXVzZXJjb250ZW50LmNvbTDxDjDvDkqYARKEAXlhMjkuR2wxMkJaRk5VSXZOX29JcVRkMm5EMW9YOGZpYjhUbmFmOTZsQ1AwdUtuWkRZd0M2RlpDd1Y1RDdJWVJiTFlyR1QzVmJIM09Da2wtdi16eWd4T1d3aV82OEFiUXVBZjItWml1anRYV0VuRkpibnY4MUMzU09fYzVUVHR4YWVmZzAEOg0xLzdZYTRzRm02VnZ-
      X-Goog-Upload-Header-Cache-Control:
      - no-cache, no-store, max-age=0, must-revalidate
      X-Goog-Upload-Header-Pragma:
      - no-cache
      X-Goog-Upload-Header-Expires:
      - Mon, 01 Jan 1990 00:00:00 GMT
      X-Goog-Upload-Header-Date:
      - Tue, 06 Mar 2018 17:54:57 GMT
      Content-Type:
      - text/html; charset=UTF-8
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 06 Mar 2018 17:54:58 GMT
- request:
    method: post
    uri: https://www.googleapis.com/upload/drive/v3/files/1H3vhtYkQk3RM_MvfbNmdBdv6R8mVZHfLS8Xv1pdBmZI?upload_id=AEnB2UqFdsq_BQlVsipEem-9SgDSuuOU_vB9EY23XCwQZhZW5sYRHJ8oFqhvq8sGlVlVEX8kdH6sQADRtpoMtlFNh_TxAUhlaWYvQXD-UK6CzR44BMbCSEE&upload_protocol=resumable
    body:
      encoding: UTF-8
      string: new file content
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR TRACKING ACCOUNT>
      X-Goog-Upload-Command:
      - upload, finalize
      X-Goog-Upload-Offset:
      - '0'
      Content-Type:
      - application/octet-stream
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Goog-Upload-Status:
      - final
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "drive#file",
         "id": "1H3vhtYkQk3RM_MvfbNmdBdv6R8mVZHfLS8Xv1pdBmZI",
         "name": "Test File",
         "mimeType": "application/vnd.google-apps.document"
        }
  recorded_at: Tue, 06 Mar 2018 17:54:58 GMT
- request:
    method: get
    uri: https://www.googleapis.com/drive/v3/files/1H3vhtYkQk3RM_MvfbNmdBdv6R8mVZHfLS8Xv1pdBmZI?fields=id,name,mimeType,parents,trashed
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR TRACKING ACCOUNT>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "id": "1H3vhtYkQk3RM_MvfbNmdBdv6R8mVZHfLS8Xv1pdBmZI",
         "name": "Test File",
         "mimeType": "application/vnd.google-apps.document",
         "trashed": false,
         "parents": [
          "1XOpVOQ5Kw6fMaEJV2Y9JP_tYxMwxtefJ"
         ]
        }
  recorded_at: Tue, 06 Mar 2018 17:54:59 GMT
- request:
    method: get
    uri: https://www.googleapis.com/drive/v3/files/1H3vhtYkQk3RM_MvfbNmdBdv6R8mVZHfLS8Xv1pdBmZI/revisions/head
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR TRACKING ACCOUNT>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "drive#revision",
         "id": "3",
         "mimeType": "application/vnd.google-apps.document",
         "modifiedTime": "2018-03-06T17:54:58.492Z"
        }
  recorded_at: Tue, 06 Mar 2018 17:54:59 GMT
- request:
    method: delete
    uri: https://www.googleapis.com/drive/v3/files/1XOpVOQ5Kw6fMaEJV2Y9JP_tYxMwxtefJ
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR TRACKING ACCOUNT>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 204
      message: No Content
    headers:
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 06 Mar 2018 17:54:59 GMT
recorded_with: VCR 4.0.0
