---
http_interactions:
- request:
    method: post
    uri: https://www.googleapis.com/oauth2/v4/token
    body:
      encoding: ASCII-8BIT
      string: grant_type=refresh_token&refresh_token=<REFRESH TOKEN FOR TRACKING ACCOUNT>&client_id=<CLIENT
        ID>&client_secret=<CLIENT SECRET>
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: |-
        {
          "access_token": "<ACCESS TOKEN FOR TRACKING ACCOUNT>",
          "expires_in": 3600,
          "scope": "https://www.googleapis.com/auth/drive",
          "token_type": "Bearer"
        }
  recorded_at: Fri, 19 Oct 2018 06:53:56 GMT
- request:
    method: post
    uri: https://www.googleapis.com/drive/v3/files?fields=id,name,mimeType,parents,permissions,trashed,thumbnailLink,thumbnailVersion
    body:
      encoding: UTF-8
      string: '{"mimeType":"application/vnd.google-apps.folder","name":"Test @ 2018-10-19
        06:53:56 UTC","parents":["root"]}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <ACCESS TOKEN FOR TRACKING ACCOUNT>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "id": "10v2O--5pECSwXO7HZBJdWd5oy8U4Da04",
         "name": "Test @ 2018-10-19 06:53:56 UTC",
         "mimeType": "application/vnd.google-apps.folder",
         "trashed": false,
         "parents": [
          "0AIeK5UAEPQfeUk9PVA"
         ],
         "thumbnailVersion": "0",
         "permissions": [
          {
           "kind": "drive#permission",
           "id": "11673017242486491425",
           "type": "user",
           "emailAddress": "<EMAIL ADDRESS FOR TRACKING ACCOUNT>",
           "role": "owner",
           "displayName": "Upshift One",
           "deleted": false
          }
         ]
        }
  recorded_at: Fri, 19 Oct 2018 06:53:57 GMT
[...]
- request:
    method: patch
    uri: https://www.googleapis.com/upload/drive/v3/files/1GY0zKhzYohYhp2wc3e9saVrkqoG9ghnriwJ4SEHI8E8
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR TRACKING ACCOUNT>
      X-Goog-Upload-Protocol:
      - resumable
      X-Goog-Upload-Command:
      - start
      X-Goog-Upload-Header-Content-Length:
      - '16'
      X-Goog-Upload-Header-Content-Type:
      - application/octet-stream
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Goog-Upload-Status:
      - active
      X-Goog-Upload-Url:
      - https://www.googleapis.com/upload/drive/v3/files/1GY0zKhzYohYhp2wc3e9saVrkqoG9ghnriwJ4SEHI8E8?upload_id=AEnB2UqKc6PUn-3iV2GUmi4jhop-jOKOmgapeVR6df5TnPkvTOC8qYM8HZXXfAmlNwTeU8vS6DRRUcn7o_WTsEVvbCAVlSuxDQ&upload_protocol=resumable
      X-Goog-Upload-Control-Url:
      - https://www.googleapis.com/upload/drive/v3/files/1GY0zKhzYohYhp2wc3e9saVrkqoG9ghnriwJ4SEHI8E8?upload_id=AEnB2UqKc6PUn-3iV2GUmi4jhop-jOKOmgapeVR6df5TnPkvTOC8qYM8HZXXfAmlNwTeU8vS6DRRUcn7o_WTsEVvbCAVlSuxDQ&upload_protocol=resumable
      X-Goog-Upload-Chunk-Granularity:
      - '262144'
      X-Goog-Upload-Header-Vary:
      - Origin
      - X-Origin
      X-Goog-Upload-Header-X-Google-Backends:
      - iofo123:4357
      X-Goog-Upload-Header-X-Google-Session-Info:
      - CLrLzJuGFRoCGAY6fgoeZHJpdmUtZ2Vub2Etc2VydmVyLWFwaWFyeS1wcm9kEgVkcml2ZRiDqMHn7wUiSDIwMTgxMjEwNDE5NS1pcDNwN2xrcWE1N29lYm84NTkwZXJtZ2E3MjBpMW5uaC5hcHBzLmdvb2dsZXVzZXJjb250ZW50LmNvbTDxDjDvDkqXARKDAXlhMjkuR2x3N0JpY2l1Z1VKRTBzQzRvbjRYVzlHNnFjVUdVTnNISmJHN2NzQmhxTW9wbU0yTTQtdE55Skd2VUNoSDZSVExHckdjbExqVS1JT0EwOTVJeWJOemdSNTl3Zk90MWpJYXQ4bHpCTkpVcG42bl9OaXY1bHpRakxEaTV1X1J3MAQ6DTEvMk0zUkd3d1ZsWn4
      X-Goog-Upload-Header-Cache-Control:
      - no-cache, no-store, max-age=0, must-revalidate
      X-Goog-Upload-Header-Pragma:
      - no-cache
      X-Goog-Upload-Header-Expires:
      - Mon, 01 Jan 1990 00:00:00 GMT
      X-Goog-Upload-Header-Date:
      - Fri, 19 Oct 2018 06:53:59 GMT
      Content-Type:
      - text/html; charset=UTF-8
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Fri, 19 Oct 2018 06:54:00 GMT
- request:
    method: post
    uri: https://www.googleapis.com/upload/drive/v3/files/1GY0zKhzYohYhp2wc3e9saVrkqoG9ghnriwJ4SEHI8E8?upload_id=AEnB2UqKc6PUn-3iV2GUmi4jhop-jOKOmgapeVR6df5TnPkvTOC8qYM8HZXXfAmlNwTeU8vS6DRRUcn7o_WTsEVvbCAVlSuxDQ&upload_protocol=resumable
    body:
      encoding: UTF-8
      string: new file content
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR TRACKING ACCOUNT>
      X-Goog-Upload-Command:
      - upload, finalize
      X-Goog-Upload-Offset:
      - '0'
      Content-Type:
      - application/octet-stream
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Goog-Upload-Status:
      - final
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "drive#file",
         "id": "1GY0zKhzYohYhp2wc3e9saVrkqoG9ghnriwJ4SEHI8E8",
         "name": "Test File",
         "mimeType": "application/vnd.google-apps.document"
        }
  recorded_at: Fri, 19 Oct 2018 06:54:01 GMT
- request:
    method: get
    uri: https://www.googleapis.com/drive/v3/files/1GY0zKhzYohYhp2wc3e9saVrkqoG9ghnriwJ4SEHI8E8?fields=id,name,mimeType,parents,permissions,trashed,thumbnailLink,thumbnailVersion
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR TRACKING ACCOUNT>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "id": "1GY0zKhzYohYhp2wc3e9saVrkqoG9ghnriwJ4SEHI8E8",
         "name": "Test File",
         "mimeType": "application/vnd.google-apps.document",
         "trashed": false,
         "parents": [
          "10v2O--5pECSwXO7HZBJdWd5oy8U4Da04"
         ],
         "thumbnailLink": "https://docs.google.com/feeds/vt?gd=true&id=1GY0zKhzYohYhp2wc3e9saVrkqoG9ghnriwJ4SEHI8E8&v=1&s=AMedNnoAAAAAW8mbqc1N3qqzN-GHAfGPydr0pJoTw83u&sz=s220",
         "thumbnailVersion": "1",
         "permissions": [
          {
           "kind": "drive#permission",
           "id": "11673017242486491425",
           "type": "user",
           "emailAddress": "<EMAIL ADDRESS FOR TRACKING ACCOUNT>",
           "role": "owner",
           "displayName": "Upshift One",
           "deleted": false
          }
         ]
        }
  recorded_at: Fri, 19 Oct 2018 06:54:01 GMT
- request:
    method: get
    uri: https://www.googleapis.com/drive/v3/files/1GY0zKhzYohYhp2wc3e9saVrkqoG9ghnriwJ4SEHI8E8/revisions/head
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR TRACKING ACCOUNT>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "drive#revision",
         "id": "3",
         "mimeType": "application/vnd.google-apps.document",
         "modifiedTime": "2018-10-19T06:54:00.357Z"
        }
  recorded_at: Fri, 19 Oct 2018 06:54:01 GMT
- request:
    method: delete
    uri: https://www.googleapis.com/drive/v3/files/10v2O--5pECSwXO7HZBJdWd5oy8U4Da04
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR TRACKING ACCOUNT>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 204
      message: No Content
    headers:
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Fri, 19 Oct 2018 06:54:02 GMT
recorded_with: VCR 4.0.0
