---
http_interactions:
- request:
    method: post
    uri: https://oauth2.googleapis.com/token
    body:
      encoding: ASCII-8BIT
      string: grant_type=refresh_token&refresh_token=<REFRESH TOKEN FOR TRACKING ACCOUNT>&client_id=<CLIENT
        ID>&client_secret=<CLIENT SECRET>
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "access_token": "<ACCESS TOKEN FOR TRACKING ACCOUNT>",
          "expires_in": 3600,
          "scope": "https://www.googleapis.com/auth/drive",
          "token_type": "Bearer"
        }
  recorded_at: Thu, 17 Jan 2019 13:52:02 GMT
- request:
    method: post
    uri: https://www.googleapis.com/drive/v3/files?fields=id,name,mimeType,parents,permissions,trashed,thumbnailLink,thumbnailVersion
    body:
      encoding: UTF-8
      string: '{"mimeType":"application/vnd.google-apps.folder","name":"Test @ 2019-01-17
        13:52:02 UTC","parents":["root"]}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <ACCESS TOKEN FOR TRACKING ACCOUNT>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "id": "1noUiInV-7C-PDGEeNwJV3eSYn1ZDgOwY",
         "name": "Test @ 2019-01-17 13:52:02 UTC",
         "mimeType": "application/vnd.google-apps.folder",
         "trashed": false,
         "parents": [
          "0AIeK5UAEPQfeUk9PVA"
         ],
         "thumbnailVersion": "0",
         "permissions": [
          {
           "kind": "drive#permission",
           "id": "11673017242486491425",
           "type": "user",
           "emailAddress": "<EMAIL ADDRESS FOR TRACKING ACCOUNT>",
           "role": "owner",
           "displayName": "Upshift One",
           "deleted": false
          }
         ]
        }
  recorded_at: Thu, 17 Jan 2019 13:52:03 GMT
[...]
- request:
    method: patch
    uri: https://www.googleapis.com/upload/drive/v3/files/14MKkQTHyQHdhoo6XDY21x3e3jhuu3R3CjwXR-RBWmSo
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR TRACKING ACCOUNT>
      X-Goog-Upload-Protocol:
      - resumable
      X-Goog-Upload-Command:
      - start
      X-Goog-Upload-Header-Content-Length:
      - '16'
      X-Goog-Upload-Header-Content-Type:
      - application/octet-stream
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Goog-Upload-Status:
      - active
      X-Goog-Upload-Url:
      - https://www.googleapis.com/upload/drive/v3/files/14MKkQTHyQHdhoo6XDY21x3e3jhuu3R3CjwXR-RBWmSo?upload_id=AEnB2UptM69iTMJ-y4w9f-FU7IQ0OrImC9Z3wAU6mnYP4pF64uMdB0DSVJ7PDlGwTWYZV3oSwgw8QlPRRqfu5SwS58GB-7wLl1FGB4ZOALK1h_44tuGqjQU&upload_protocol=resumable
      X-Goog-Upload-Control-Url:
      - https://www.googleapis.com/upload/drive/v3/files/14MKkQTHyQHdhoo6XDY21x3e3jhuu3R3CjwXR-RBWmSo?upload_id=AEnB2UptM69iTMJ-y4w9f-FU7IQ0OrImC9Z3wAU6mnYP4pF64uMdB0DSVJ7PDlGwTWYZV3oSwgw8QlPRRqfu5SwS58GB-7wLl1FGB4ZOALK1h_44tuGqjQU&upload_protocol=resumable
      X-Goog-Upload-Chunk-Granularity:
      - '262144'
      X-Goog-Upload-Header-Vary:
      - Origin
      - X-Origin
      X-Goog-Upload-Header-X-Google-Backends:
      - oik23:4139
      X-Goog-Upload-Header-X-Google-Session-Info:
      - CLrLzJuGFRoCGAY6fgoeZHJpdmUtZ2Vub2Etc2VydmVyLWFwaWFyeS1wcm9kEgVkcml2ZRiDqMHn7wUiSDIwMTgxMjEwNDE5NS1pcDNwN2xrcWE1N29lYm84NTkwZXJtZ2E3MjBpMW5uaC5hcHBzLmdvb2dsZXVzZXJjb250ZW50LmNvbTDxDjDvDkqYARKEAXlhMjkuR2wyVUJqeVFSRFJEbjdtalZxOGRJMFlFRUk2Q216ZU4wUkpyNl9qZEtxQ2FjSERTZW15Q29KLTdJMVdLZ0pFakVHa1VXUWwxN1NSN0tiemdHQ2c3V1d4S0ZSb1ZMeFE2Vl94M0ZWS1lUSkYzMnpEVjlyeG1yZVVMZ2Y2a1lRWTAEOg0xLzJNM1JHd3dWbFp-
      X-Goog-Upload-Header-Cache-Control:
      - no-cache, no-store, max-age=0, must-revalidate
      X-Goog-Upload-Header-Pragma:
      - no-cache
      X-Goog-Upload-Header-Expires:
      - Mon, 01 Jan 1990 00:00:00 GMT
      X-Goog-Upload-Header-Date:
      - Thu, 17 Jan 2019 13:52:05 GMT
      Content-Type:
      - text/html; charset=UTF-8
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Thu, 17 Jan 2019 13:52:05 GMT
- request:
    method: post
    uri: https://www.googleapis.com/upload/drive/v3/files/14MKkQTHyQHdhoo6XDY21x3e3jhuu3R3CjwXR-RBWmSo?upload_id=AEnB2UptM69iTMJ-y4w9f-FU7IQ0OrImC9Z3wAU6mnYP4pF64uMdB0DSVJ7PDlGwTWYZV3oSwgw8QlPRRqfu5SwS58GB-7wLl1FGB4ZOALK1h_44tuGqjQU&upload_protocol=resumable
    body:
      encoding: UTF-8
      string: new file content
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR TRACKING ACCOUNT>
      X-Goog-Upload-Command:
      - upload, finalize
      X-Goog-Upload-Offset:
      - '0'
      Content-Type:
      - application/octet-stream
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Goog-Upload-Status:
      - final
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "drive#file",
         "id": "14MKkQTHyQHdhoo6XDY21x3e3jhuu3R3CjwXR-RBWmSo",
         "name": "Test File",
         "mimeType": "application/vnd.google-apps.document"
        }
  recorded_at: Thu, 17 Jan 2019 13:52:06 GMT
- request:
    method: get
    uri: https://www.googleapis.com/drive/v3/files/14MKkQTHyQHdhoo6XDY21x3e3jhuu3R3CjwXR-RBWmSo?fields=id,name,mimeType,parents,permissions,trashed,thumbnailLink,thumbnailVersion
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR TRACKING ACCOUNT>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "id": "14MKkQTHyQHdhoo6XDY21x3e3jhuu3R3CjwXR-RBWmSo",
         "name": "Test File",
         "mimeType": "application/vnd.google-apps.document",
         "trashed": false,
         "parents": [
          "1noUiInV-7C-PDGEeNwJV3eSYn1ZDgOwY"
         ],
         "thumbnailVersion": "0",
         "permissions": [
          {
           "kind": "drive#permission",
           "id": "11673017242486491425",
           "type": "user",
           "emailAddress": "<EMAIL ADDRESS FOR TRACKING ACCOUNT>",
           "role": "owner",
           "displayName": "Upshift One",
           "deleted": false
          }
         ]
        }
  recorded_at: Thu, 17 Jan 2019 13:52:06 GMT
- request:
    method: get
    uri: https://www.googleapis.com/drive/v3/files/14MKkQTHyQHdhoo6XDY21x3e3jhuu3R3CjwXR-RBWmSo/revisions/head
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR TRACKING ACCOUNT>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "drive#revision",
         "id": "3",
         "mimeType": "application/vnd.google-apps.document",
         "modifiedTime": "2019-01-17T13:52:05.954Z"
        }
  recorded_at: Thu, 17 Jan 2019 13:52:07 GMT
- request:
    method: delete
    uri: https://www.googleapis.com/drive/v3/files/1noUiInV-7C-PDGEeNwJV3eSYn1ZDgOwY
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR TRACKING ACCOUNT>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 204
      message: No Content
    headers:
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Thu, 17 Jan 2019 13:52:08 GMT
recorded_with: VCR 4.0.0
