---
http_interactions:
- request:
    method: post
    uri: https://oauth2.googleapis.com/token
    body:
      encoding: ASCII-8BIT
      string: grant_type=refresh_token&refresh_token=<REFRESH TOKEN FOR TRACKING ACCOUNT>&client_id=<CLIENT
        ID>&client_secret=<CLIENT SECRET>
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "access_token": "<ACCESS TOKEN FOR TRACKING ACCOUNT>",
          "expires_in": 3600,
          "scope": "https://www.googleapis.com/auth/drive",
          "token_type": "Bearer"
        }
  recorded_at: Thu, 08 Nov 2018 17:21:37 GMT
- request:
    method: post
    uri: https://www.googleapis.com/drive/v3/files?fields=id,name,mimeType,parents,permissions,trashed,thumbnailLink,thumbnailVersion
    body:
      encoding: UTF-8
      string: '{"mimeType":"application/vnd.google-apps.folder","name":"Test @ 2018-11-08
        17:21:37 UTC","parents":["root"]}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <ACCESS TOKEN FOR TRACKING ACCOUNT>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "id": "1a2KFmWHilPUO7OyK17gl8d7f-ei3nFel",
         "name": "Test @ 2018-11-08 17:21:37 UTC",
         "mimeType": "application/vnd.google-apps.folder",
         "trashed": false,
         "parents": [
          "0AIeK5UAEPQfeUk9PVA"
         ],
         "thumbnailVersion": "0",
         "permissions": [
          {
           "kind": "drive#permission",
           "id": "11673017242486491425",
           "type": "user",
           "emailAddress": "<EMAIL ADDRESS FOR TRACKING ACCOUNT>",
           "role": "owner",
           "displayName": "Upshift One",
           "deleted": false
          }
         ]
        }
  recorded_at: Thu, 08 Nov 2018 17:21:38 GMT
[...]
- request:
    method: patch
    uri: https://www.googleapis.com/upload/drive/v3/files/18EAsqukrbCXtsBkU6wBcS2q4cB9eoV5XAjnazXt86B0
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR TRACKING ACCOUNT>
      X-Goog-Upload-Protocol:
      - resumable
      X-Goog-Upload-Command:
      - start
      X-Goog-Upload-Header-Content-Length:
      - '16'
      X-Goog-Upload-Header-Content-Type:
      - application/octet-stream
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Goog-Upload-Status:
      - active
      X-Goog-Upload-Url:
      - https://www.googleapis.com/upload/drive/v3/files/18EAsqukrbCXtsBkU6wBcS2q4cB9eoV5XAjnazXt86B0?upload_id=AEnB2UopF2sbKis7gMppYR5KeOe8RW7p0l9LT4U2t0Ls_CGMEw-OTyHNmnFLrqq1TA629R3QqmtHwMA9gFLPwGdL_sd7PDDm_Q&upload_protocol=resumable
      X-Goog-Upload-Control-Url:
      - https://www.googleapis.com/upload/drive/v3/files/18EAsqukrbCXtsBkU6wBcS2q4cB9eoV5XAjnazXt86B0?upload_id=AEnB2UopF2sbKis7gMppYR5KeOe8RW7p0l9LT4U2t0Ls_CGMEw-OTyHNmnFLrqq1TA629R3QqmtHwMA9gFLPwGdL_sd7PDDm_Q&upload_protocol=resumable
      X-Goog-Upload-Chunk-Granularity:
      - '262144'
      X-Goog-Upload-Header-Vary:
      - Origin
      - X-Origin
      X-Goog-Upload-Header-X-Google-Backends:
      - ooez24:4105
      X-Goog-Upload-Header-X-Google-Session-Info:
      - CLrLzJuGFRoCGAY6fgoeZHJpdmUtZ2Vub2Etc2VydmVyLWFwaWFyeS1wcm9kEgVkcml2ZRiDqMHn7wUiSDIwMTgxMjEwNDE5NS1pcDNwN2xrcWE1N29lYm84NTkwZXJtZ2E3MjBpMW5uaC5hcHBzLmdvb2dsZXVzZXJjb250ZW50LmNvbTDxDjDvDkqXARKDAXlhMjkuR2x4T0JrSkswV1IyLVhmbS15b1lEQ19QWU5hQ2Jfam1PeTB6RFkyeHhGeVVUVHdoYTFRQ0tNMENPb0pOWVBCX2dmeW56c0NfelVxRFRTcmxhS1dpMlQ5WW0wTGdOTTBVS3NvZFVkYzlqejRaeU5Hd2x0QlVxblNscjVNTlNnMAQ6DTEvMk0zUkd3d1ZsWn4
      X-Goog-Upload-Header-Cache-Control:
      - no-cache, no-store, max-age=0, must-revalidate
      X-Goog-Upload-Header-Pragma:
      - no-cache
      X-Goog-Upload-Header-Expires:
      - Mon, 01 Jan 1990 00:00:00 GMT
      X-Goog-Upload-Header-Date:
      - Thu, 08 Nov 2018 17:21:40 GMT
      Content-Type:
      - text/html; charset=UTF-8
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Thu, 08 Nov 2018 17:21:40 GMT
- request:
    method: post
    uri: https://www.googleapis.com/upload/drive/v3/files/18EAsqukrbCXtsBkU6wBcS2q4cB9eoV5XAjnazXt86B0?upload_id=AEnB2UopF2sbKis7gMppYR5KeOe8RW7p0l9LT4U2t0Ls_CGMEw-OTyHNmnFLrqq1TA629R3QqmtHwMA9gFLPwGdL_sd7PDDm_Q&upload_protocol=resumable
    body:
      encoding: UTF-8
      string: new file content
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR TRACKING ACCOUNT>
      X-Goog-Upload-Command:
      - upload, finalize
      X-Goog-Upload-Offset:
      - '0'
      Content-Type:
      - application/octet-stream
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Goog-Upload-Status:
      - final
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "drive#file",
         "id": "18EAsqukrbCXtsBkU6wBcS2q4cB9eoV5XAjnazXt86B0",
         "name": "Test File",
         "mimeType": "application/vnd.google-apps.document"
        }
  recorded_at: Thu, 08 Nov 2018 17:21:41 GMT
- request:
    method: get
    uri: https://www.googleapis.com/drive/v3/files/18EAsqukrbCXtsBkU6wBcS2q4cB9eoV5XAjnazXt86B0?fields=id,name,mimeType,parents,permissions,trashed,thumbnailLink,thumbnailVersion
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR TRACKING ACCOUNT>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "id": "18EAsqukrbCXtsBkU6wBcS2q4cB9eoV5XAjnazXt86B0",
         "name": "Test File",
         "mimeType": "application/vnd.google-apps.document",
         "trashed": false,
         "parents": [
          "1a2KFmWHilPUO7OyK17gl8d7f-ei3nFel"
         ],
         "thumbnailVersion": "0",
         "permissions": [
          {
           "kind": "drive#permission",
           "id": "11673017242486491425",
           "type": "user",
           "emailAddress": "<EMAIL ADDRESS FOR TRACKING ACCOUNT>",
           "role": "owner",
           "displayName": "Upshift One",
           "deleted": false
          }
         ]
        }
  recorded_at: Thu, 08 Nov 2018 17:21:41 GMT
- request:
    method: get
    uri: https://www.googleapis.com/drive/v3/files/18EAsqukrbCXtsBkU6wBcS2q4cB9eoV5XAjnazXt86B0/revisions/head
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR TRACKING ACCOUNT>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "drive#revision",
         "id": "3",
         "mimeType": "application/vnd.google-apps.document",
         "modifiedTime": "2018-11-08T17:21:40.828Z"
        }
  recorded_at: Thu, 08 Nov 2018 17:21:42 GMT
- request:
    method: delete
    uri: https://www.googleapis.com/drive/v3/files/1a2KFmWHilPUO7OyK17gl8d7f-ei3nFel
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR TRACKING ACCOUNT>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 204
      message: No Content
    headers:
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Thu, 08 Nov 2018 17:21:42 GMT
recorded_with: VCR 4.0.0
