---
http_interactions:
- request:
    method: post
    uri: https://oauth2.googleapis.com/token
    body:
      encoding: ASCII-8BIT
      string: grant_type=refresh_token&refresh_token=<REFRESH TOKEN FOR TRACKING ACCOUNT>&client_id=<CLIENT
        ID>&client_secret=<CLIENT SECRET>
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "access_token": "<ACCESS TOKEN FOR TRACKING ACCOUNT>",
          "expires_in": 3600,
          "scope": "https://www.googleapis.com/auth/drive",
          "token_type": "Bearer"
        }
  recorded_at: Thu, 17 Jan 2019 13:51:39 GMT
- request:
    method: post
    uri: https://www.googleapis.com/drive/v3/files?fields=id,name,mimeType,parents,permissions,trashed,thumbnailLink,thumbnailVersion
    body:
      encoding: UTF-8
      string: '{"mimeType":"application/vnd.google-apps.folder","name":"Test @ 2019-01-17
        13:51:39 UTC","parents":["root"]}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <ACCESS TOKEN FOR TRACKING ACCOUNT>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "id": "1OU6g5iHyftjkEsedmCwH46Ixok_0-f6V",
         "name": "Test @ 2019-01-17 13:51:39 UTC",
         "mimeType": "application/vnd.google-apps.folder",
         "trashed": false,
         "parents": [
          "0AIeK5UAEPQfeUk9PVA"
         ],
         "thumbnailVersion": "0",
         "permissions": [
          {
           "kind": "drive#permission",
           "id": "11673017242486491425",
           "type": "user",
           "emailAddress": "<EMAIL ADDRESS FOR TRACKING ACCOUNT>",
           "role": "owner",
           "displayName": "Upshift One",
           "deleted": false
          }
         ]
        }
  recorded_at: Thu, 17 Jan 2019 13:51:40 GMT
[...]
- request:
    method: post
    uri: https://www.googleapis.com/drive/v3/files/1JixBBWpFQwCnkHgYbEl3wpdWxOG2tQWJAYrNkJLqElU/permissions?sendNotificationEmail=false
    body:
      encoding: UTF-8
      string: '{"emailAddress":"<EMAIL ADDRESS FOR USER ACCOUNT>","role":"reader","type":"user"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <ACCESS TOKEN FOR TRACKING ACCOUNT>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "drive#permission",
         "id": "13193959451567607887",
         "type": "user",
         "role": "reader"
        }
  recorded_at: Thu, 17 Jan 2019 13:51:43 GMT
[...]
- request:
    method: get
    uri: https://www.googleapis.com/drive/v3/files/1JixBBWpFQwCnkHgYbEl3wpdWxOG2tQWJAYrNkJLqElU?fields=capabilities
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR USER ACCOUNT>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "capabilities": {
          "canAddChildren": false,
          "canChangeCopyRequiresWriterPermission": false,
          "canChangeViewersCanCopyContent": false,
          "canComment": false,
          "canCopy": true,
          "canDelete": false,
          "canDownload": true,
          "canEdit": false,
          "canListChildren": false,
          "canMoveItemIntoTeamDrive": false,
          "canReadRevisions": false,
          "canRemoveChildren": false,
          "canRename": false,
          "canShare": false,
          "canTrash": false,
          "canUntrash": false
         }
        }
  recorded_at: Thu, 17 Jan 2019 13:51:43 GMT
- request:
    method: delete
    uri: https://www.googleapis.com/drive/v3/files/1OU6g5iHyftjkEsedmCwH46Ixok_0-f6V
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR TRACKING ACCOUNT>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 204
      message: No Content
    headers:
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Thu, 17 Jan 2019 13:51:44 GMT
recorded_with: VCR 4.0.0
