---
http_interactions:
- request:
    method: post
    uri: https://www.googleapis.com/oauth2/v4/token
    body:
      encoding: ASCII-8BIT
      string: grant_type=refresh_token&refresh_token=<REFRESH TOKEN FOR TRACKING ACCOUNT>&client_id=<CLIENT
        ID>&client_secret=<CLIENT SECRET>
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "access_token": "<ACCESS TOKEN FOR TRACKING ACCOUNT>",
         "token_type": "Bearer",
         "expires_in": 3600
        }
  recorded_at: Tue, 06 Mar 2018 19:41:03 GMT
[...]
- request:
    method: post
    uri: https://www.googleapis.com/drive/v3/files?fields=id,name,mimeType,parents,trashed
    body:
      encoding: UTF-8
      string: '{"mimeType":"application/vnd.google-apps.folder","name":"Test @ 2018-03-06
        19:41:04 UTC","parents":["root"]}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <ACCESS TOKEN FOR USER ACCOUNT>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "id": "1kdgik-yT0Xg9kzQCityRhsgjlER81p6v",
         "name": "Test @ 2018-03-06 19:41:04 UTC",
         "mimeType": "application/vnd.google-apps.folder",
         "trashed": false,
         "parents": [
          "0AEIi2L68pCuiUk9PVA"
         ]
        }
  recorded_at: Tue, 06 Mar 2018 19:41:04 GMT
- request:
    method: post
    uri: https://www.googleapis.com/drive/v3/files/1kdgik-yT0Xg9kzQCityRhsgjlER81p6v/permissions?sendNotificationEmail=false
    body:
      encoding: UTF-8
      string: '{"emailAddress":"<EMAIL ADDRESS FOR TRACKING ACCOUNT>","role":"reader","type":"user"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <ACCESS TOKEN FOR USER ACCOUNT>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "drive#permission",
         "id": "11673017242486491425",
         "type": "user",
         "role": "reader"
        }
  recorded_at: Tue, 06 Mar 2018 19:41:05 GMT
[...]
- request:
    method: get
    uri: https://www.googleapis.com/drive/v3/files/1GV0H8rm2gJYPVNrc6nZ22o4zp6iBHrq_?fields=id,name,mimeType,parents,trashed
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR TRACKING ACCOUNT>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "id": "1GV0H8rm2gJYPVNrc6nZ22o4zp6iBHrq_",
         "name": "Test File",
         "mimeType": "application/vnd.google-apps.folder",
         "trashed": false,
         "parents": [
          "1kdgik-yT0Xg9kzQCityRhsgjlER81p6v"
         ]
        }
  recorded_at: Tue, 06 Mar 2018 19:41:06 GMT
- request:
    method: delete
    uri: https://www.googleapis.com/drive/v3/files/1kdgik-yT0Xg9kzQCityRhsgjlER81p6v
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR USER ACCOUNT>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 204
      message: No Content
    headers:
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 06 Mar 2018 19:41:07 GMT
recorded_with: VCR 4.0.0
