---
http_interactions:
- request:
    method: post
    uri: https://www.googleapis.com/oauth2/v4/token
    body:
      encoding: ASCII-8BIT
      string: grant_type=refresh_token&refresh_token=<REFRESH TOKEN FOR TRACKING ACCOUNT>&client_id=<CLIENT
        ID>&client_secret=<CLIENT SECRET>
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "access_token": "<ACCESS TOKEN FOR TRACKING ACCOUNT>",
         "token_type": "Bearer",
         "expires_in": 3600
        }
  recorded_at: Wed, 07 Mar 2018 23:12:09 GMT
[...]
- request:
    method: post
    uri: https://www.googleapis.com/drive/v3/files?fields=id,name,mimeType,parents,trashed
    body:
      encoding: UTF-8
      string: '{"mimeType":"application/vnd.google-apps.folder","name":"Test @ 2018-03-07
        23:12:10 UTC","parents":["root"]}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <ACCESS TOKEN FOR USER ACCOUNT>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "id": "1PR2b_V1DidUNEOElKcuLs0kavlUVNVVt",
         "name": "Test @ 2018-03-07 23:12:10 UTC",
         "mimeType": "application/vnd.google-apps.folder",
         "trashed": false,
         "parents": [
          "0AEIi2L68pCuiUk9PVA"
         ]
        }
  recorded_at: Wed, 07 Mar 2018 23:12:10 GMT
- request:
    method: post
    uri: https://www.googleapis.com/drive/v3/files/1PR2b_V1DidUNEOElKcuLs0kavlUVNVVt/permissions?sendNotificationEmail=false
    body:
      encoding: UTF-8
      string: '{"emailAddress":"<EMAIL ADDRESS FOR TRACKING ACCOUNT>","role":"writer","type":"user"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <ACCESS TOKEN FOR USER ACCOUNT>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "drive#permission",
         "id": "11673017242486491425",
         "type": "user",
         "role": "writer"
        }
  recorded_at: Wed, 07 Mar 2018 23:12:11 GMT
[...]
- request:
    method: get
    uri: https://www.googleapis.com/drive/v3/files/1PR2b_V1DidUNEOElKcuLs0kavlUVNVVt?fields=id,name,mimeType,parents,trashed
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR TRACKING ACCOUNT>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "id": "1PR2b_V1DidUNEOElKcuLs0kavlUVNVVt",
         "name": "Test @ 2018-03-07 23:12:10 UTC",
         "mimeType": "application/vnd.google-apps.folder",
         "trashed": false
        }
  recorded_at: Wed, 07 Mar 2018 23:12:14 GMT
[...]
- request:
    method: get
    uri: https://www.googleapis.com/drive/v3/files/1PR2b_V1DidUNEOElKcuLs0kavlUVNVVt/revisions/head
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR TRACKING ACCOUNT>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 403
      message: Forbidden
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "error": {
          "errors": [
           {
            "domain": "global",
            "reason": "revisionsNotSupported",
            "message": "The file does not support revisions."
           }
          ],
          "code": 403,
          "message": "The file does not support revisions."
         }
        }
  recorded_at: Wed, 07 Mar 2018 23:12:14 GMT
- request:
    method: get
    uri: https://www.googleapis.com/drive/v3/files?fields=files/id,files/name,files/mimeType,files/parents,files/trashed&q=%271PR2b_V1DidUNEOElKcuLs0kavlUVNVVt%27%20in%20parents
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR TRACKING ACCOUNT>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "files": [
          {
           "id": "1ytAR_KsJ4POhagIKIKlOnMMwNS2dfyVKL7f7Ms6YTQo",
           "name": "Doc XYZ",
           "mimeType": "application/vnd.google-apps.document",
           "trashed": false,
           "parents": [
            "1PR2b_V1DidUNEOElKcuLs0kavlUVNVVt"
           ]
          },
          {
           "id": "1QK4yJVsu2h4A2qu-c9btgz1XmtoXoxFc",
           "name": "Folder",
           "mimeType": "application/vnd.google-apps.folder",
           "trashed": false,
           "parents": [
            "1PR2b_V1DidUNEOElKcuLs0kavlUVNVVt"
           ]
          }
         ]
        }
  recorded_at: Wed, 07 Mar 2018 23:12:15 GMT
- request:
    method: get
    uri: https://www.googleapis.com/drive/v3/files/1ytAR_KsJ4POhagIKIKlOnMMwNS2dfyVKL7f7Ms6YTQo/revisions/head
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR TRACKING ACCOUNT>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "drive#revision",
         "id": "1",
         "mimeType": "application/vnd.google-apps.document",
         "modifiedTime": "2018-03-07T23:12:13.557Z"
        }
  recorded_at: Wed, 07 Mar 2018 23:12:15 GMT
- request:
    method: get
    uri: https://www.googleapis.com/drive/v3/files/1QK4yJVsu2h4A2qu-c9btgz1XmtoXoxFc/revisions/head
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR TRACKING ACCOUNT>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 403
      message: Forbidden
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "error": {
          "errors": [
           {
            "domain": "global",
            "reason": "revisionsNotSupported",
            "message": "The file does not support revisions."
           }
          ],
          "code": 403,
          "message": "The file does not support revisions."
         }
        }
  recorded_at: Wed, 07 Mar 2018 23:12:15 GMT
- request:
    method: get
    uri: https://www.googleapis.com/drive/v3/files?fields=files/id,files/name,files/mimeType,files/parents,files/trashed&q=%271QK4yJVsu2h4A2qu-c9btgz1XmtoXoxFc%27%20in%20parents
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR TRACKING ACCOUNT>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "files": []
        }
  recorded_at: Wed, 07 Mar 2018 23:12:15 GMT
- request:
    method: patch
    uri: https://www.googleapis.com/drive/v3/files/1ytAR_KsJ4POhagIKIKlOnMMwNS2dfyVKL7f7Ms6YTQo?fields=id,name,mimeType,parents,trashed
    body:
      encoding: UTF-8
      string: '{"name":"Doc ABC"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <ACCESS TOKEN FOR USER ACCOUNT>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "id": "1ytAR_KsJ4POhagIKIKlOnMMwNS2dfyVKL7f7Ms6YTQo",
         "name": "Doc ABC",
         "mimeType": "application/vnd.google-apps.document",
         "trashed": false,
         "parents": [
          "1PR2b_V1DidUNEOElKcuLs0kavlUVNVVt"
         ]
        }
  recorded_at: Wed, 07 Mar 2018 23:12:16 GMT
- request:
    method: patch
    uri: https://www.googleapis.com/drive/v3/files/1ytAR_KsJ4POhagIKIKlOnMMwNS2dfyVKL7f7Ms6YTQo?addParents=1QK4yJVsu2h4A2qu-c9btgz1XmtoXoxFc&fields=id,name,mimeType,parents,trashed&removeParents=1PR2b_V1DidUNEOElKcuLs0kavlUVNVVt
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR USER ACCOUNT>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "id": "1ytAR_KsJ4POhagIKIKlOnMMwNS2dfyVKL7f7Ms6YTQo",
         "name": "Doc ABC",
         "mimeType": "application/vnd.google-apps.document",
         "trashed": false,
         "parents": [
          "1QK4yJVsu2h4A2qu-c9btgz1XmtoXoxFc"
         ]
        }
  recorded_at: Wed, 07 Mar 2018 23:12:17 GMT
- request:
    method: patch
    uri: https://www.googleapis.com/upload/drive/v3/files/1ytAR_KsJ4POhagIKIKlOnMMwNS2dfyVKL7f7Ms6YTQo
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR USER ACCOUNT>
      X-Goog-Upload-Protocol:
      - resumable
      X-Goog-Upload-Command:
      - start
      X-Goog-Upload-Header-Content-Length:
      - '16'
      X-Goog-Upload-Header-Content-Type:
      - application/octet-stream
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Goog-Upload-Status:
      - active
      X-Goog-Upload-Url:
      - https://www.googleapis.com/upload/drive/v3/files/1ytAR_KsJ4POhagIKIKlOnMMwNS2dfyVKL7f7Ms6YTQo?upload_id=AEnB2Up-t2nm8ZoCVRUA--C5_1ADoBvJqFCtOtPP1K31zdKiD5Gb1J9UJ5PzEIqw8r6Yo7hIRKmszihovN3WEZu5toTj4zqWlEIyfBVNclLE0UjH33gPCdU&upload_protocol=resumable
      X-Goog-Upload-Control-Url:
      - https://www.googleapis.com/upload/drive/v3/files/1ytAR_KsJ4POhagIKIKlOnMMwNS2dfyVKL7f7Ms6YTQo?upload_id=AEnB2Up-t2nm8ZoCVRUA--C5_1ADoBvJqFCtOtPP1K31zdKiD5Gb1J9UJ5PzEIqw8r6Yo7hIRKmszihovN3WEZu5toTj4zqWlEIyfBVNclLE0UjH33gPCdU&upload_protocol=resumable
      X-Goog-Upload-Chunk-Granularity:
      - '262144'
      X-Goog-Upload-Header-Vary:
      - Origin
      - X-Origin
      X-Goog-Upload-Header-X-Google-Backends:
      - iow187:4555
      X-Goog-Upload-Header-X-Google-Session-Info:
      - CKeBxoimHBoCGAY6bwoPZHJpdmUtcm9zeS1wcm9kEgVkcml2ZRiDqMHn7wUiSDIwMTgxMjEwNDE5NS1pcDNwN2xrcWE1N29lYm84NTkwZXJtZ2E3MjBpMW5uaC5hcHBzLmdvb2dsZXVzZXJjb250ZW50LmNvbTDxDjDvDkqYARKEAXlhMjkuR2wxM0JiRGNqdmhRcm5qSWRMQXFxdWpSQzhQVm5Kb2JDTGdUajJHREYyZTV6cVhUYXZZLUFsZnpaaEJwalVrOGJDMVJ4eXkxcDNSZkxoTGR3cXp2aXZoaWZTQzRwYU02aXNqclA5UmxkelV6Nk55VXRfYWtTdjNheWZOOENfNDAEOg0xL1N4M0NoLWFKdTJ-
      X-Goog-Upload-Header-Cache-Control:
      - no-cache, no-store, max-age=0, must-revalidate
      X-Goog-Upload-Header-Pragma:
      - no-cache
      X-Goog-Upload-Header-Expires:
      - Mon, 01 Jan 1990 00:00:00 GMT
      X-Goog-Upload-Header-Date:
      - Wed, 07 Mar 2018 23:12:17 GMT
      Content-Type:
      - text/html; charset=UTF-8
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Wed, 07 Mar 2018 23:12:17 GMT
- request:
    method: post
    uri: https://www.googleapis.com/upload/drive/v3/files/1ytAR_KsJ4POhagIKIKlOnMMwNS2dfyVKL7f7Ms6YTQo?upload_id=AEnB2Up-t2nm8ZoCVRUA--C5_1ADoBvJqFCtOtPP1K31zdKiD5Gb1J9UJ5PzEIqw8r6Yo7hIRKmszihovN3WEZu5toTj4zqWlEIyfBVNclLE0UjH33gPCdU&upload_protocol=resumable
    body:
      encoding: UTF-8
      string: new file content
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR USER ACCOUNT>
      X-Goog-Upload-Command:
      - upload, finalize
      X-Goog-Upload-Offset:
      - '0'
      Content-Type:
      - application/octet-stream
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Goog-Upload-Status:
      - final
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "drive#file",
         "id": "1ytAR_KsJ4POhagIKIKlOnMMwNS2dfyVKL7f7Ms6YTQo",
         "name": "Doc ABC",
         "mimeType": "application/vnd.google-apps.document"
        }
  recorded_at: Wed, 07 Mar 2018 23:12:18 GMT
[...]
- request:
    method: delete
    uri: https://www.googleapis.com/drive/v3/files/1PR2b_V1DidUNEOElKcuLs0kavlUVNVVt
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR USER ACCOUNT>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 204
      message: No Content
    headers:
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Wed, 07 Mar 2018 23:12:19 GMT
recorded_with: VCR 4.0.0
