---
http_interactions:
- request:
    method: get
    uri: https://www.googleapis.com/drive/v3/files/1TbNzzKJRv4RbG3_l7D5VXZjFjIV5n5iWl-VtB3oMdYk?fields=id,name,mimeType,parents
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <AUTHORIZATION TOKEN FOR TRACKING ACCOUNT>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "id": "1TbNzzKJRv4RbG3_l7D5VXZjFjIV5n5iWl-VtB3oMdYk",
         "name": "Test File",
         "mimeType": "application/vnd.google-apps.document",
         "parents": [
          "1TFAQS-SG-pte5bQjngMBPF4wO9XrYKen"
         ]
        }
  recorded_at: Sun, 04 Feb 2018 22:45:25 GMT
- request:
    method: delete
    uri: https://www.googleapis.com/drive/v3/files/1TFAQS-SG-pte5bQjngMBPF4wO9XrYKen
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <AUTHORIZATION TOKEN FOR TRACKING ACCOUNT>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 204
      message: No Content
    headers:
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Sun, 04 Feb 2018 22:45:25 GMT
- request:
    method: get
    uri: https://www.googleapis.com/drive/v3/files/1SDnD7Dj2c6HsvRxreYAjsRkGaD5GKa11CMnki9FmEQE?fields=id,name,mimeType,parents
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <AUTHORIZATION TOKEN FOR TRACKING ACCOUNT>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "id": "1SDnD7Dj2c6HsvRxreYAjsRkGaD5GKa11CMnki9FmEQE",
         "name": "Test File",
         "mimeType": "application/vnd.google-apps.document",
         "parents": [
          "100T1FbeE3K2Az7FCj1cXo97nuEVG_mcU"
         ]
        }
  recorded_at: Sun, 04 Feb 2018 22:49:14 GMT
- request:
    method: delete
    uri: https://www.googleapis.com/drive/v3/files/100T1FbeE3K2Az7FCj1cXo97nuEVG_mcU
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <AUTHORIZATION TOKEN FOR TRACKING ACCOUNT>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 204
      message: No Content
    headers:
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Sun, 04 Feb 2018 22:49:14 GMT
- request:
    method: post
    uri: https://www.googleapis.com/drive/v3/files?fields=id,name,mimeType,parents
    body:
      encoding: UTF-8
      string: '{"mimeType":"application/vnd.google-apps.folder","name":"Test @ 2018-02-04
        22:49:25 UTC"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <AUTHORIZATION TOKEN FOR TRACKING ACCOUNT>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "id": "13HqwqvmAARYi1B-3iPgLUhRIiQ4mP7KF",
         "name": "Test @ 2018-02-04 22:49:25 UTC",
         "mimeType": "application/vnd.google-apps.folder",
         "parents": [
          "0AIeK5UAEPQfeUk9PVA"
         ]
        }
  recorded_at: Sun, 04 Feb 2018 22:49:25 GMT
[...]
- request:
    method: get
    uri: https://www.googleapis.com/drive/v3/files/1G19SzitoI-PC6VmMBZeO2wQKUtTWAXnDE0xdCSxQ_So?fields=id,name,mimeType,parents
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <AUTHORIZATION TOKEN FOR TRACKING ACCOUNT>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "id": "1G19SzitoI-PC6VmMBZeO2wQKUtTWAXnDE0xdCSxQ_So",
         "name": "Test File",
         "mimeType": "application/vnd.google-apps.document",
         "parents": [
          "13HqwqvmAARYi1B-3iPgLUhRIiQ4mP7KF"
         ]
        }
  recorded_at: Sun, 04 Feb 2018 22:49:26 GMT
- request:
    method: delete
    uri: https://www.googleapis.com/drive/v3/files/13HqwqvmAARYi1B-3iPgLUhRIiQ4mP7KF
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <AUTHORIZATION TOKEN FOR TRACKING ACCOUNT>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 204
      message: No Content
    headers:
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Sun, 04 Feb 2018 22:49:27 GMT
recorded_with: VCR 4.0.0
