---
http_interactions:
- request:
    method: get
    uri: https://www.googleapis.com/drive/v3/files/1STDWJ2AUZ6YeWnAV0eNqB3yFG0WJsWUJc15QmvMjerU?fields=id,name,mimeType,parents
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <AUTHORIZATION TOKEN FOR TRACKING ACCOUNT>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "id": "1STDWJ2AUZ6YeWnAV0eNqB3yFG0WJsWUJc15QmvMjerU",
         "name": "Test File",
         "mimeType": "application/vnd.google-apps.document",
         "parents": [
          "16itDWAMZBIRVwmoUCXxTcMJDSXidBEpD"
         ]
        }
  recorded_at: Sun, 04 Feb 2018 22:45:23 GMT
- request:
    method: delete
    uri: https://www.googleapis.com/drive/v3/files/16itDWAMZBIRVwmoUCXxTcMJDSXidBEpD
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <AUTHORIZATION TOKEN FOR TRACKING ACCOUNT>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 204
      message: No Content
    headers:
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Sun, 04 Feb 2018 22:45:23 GMT
- request:
    method: get
    uri: https://www.googleapis.com/drive/v3/files/1q6eNHWl9bUapszDVlzd8OzXuea3ONWcMdet6LH8kuWQ?fields=id,name,mimeType,parents
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <AUTHORIZATION TOKEN FOR TRACKING ACCOUNT>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "id": "1q6eNHWl9bUapszDVlzd8OzXuea3ONWcMdet6LH8kuWQ",
         "name": "Test File",
         "mimeType": "application/vnd.google-apps.document",
         "parents": [
          "1quBXe2KvMRj2akNti_f-JEiekJ7nAKBq"
         ]
        }
  recorded_at: Sun, 04 Feb 2018 22:49:13 GMT
- request:
    method: delete
    uri: https://www.googleapis.com/drive/v3/files/1quBXe2KvMRj2akNti_f-JEiekJ7nAKBq
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <AUTHORIZATION TOKEN FOR TRACKING ACCOUNT>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 204
      message: No Content
    headers:
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Sun, 04 Feb 2018 22:49:13 GMT
- request:
    method: post
    uri: https://www.googleapis.com/drive/v3/files?fields=id,name,mimeType,parents
    body:
      encoding: UTF-8
      string: '{"mimeType":"application/vnd.google-apps.folder","name":"Test @ 2018-02-04
        22:49:24 UTC"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <AUTHORIZATION TOKEN FOR TRACKING ACCOUNT>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "id": "164KW3kC0ILq4NRi4ACO-Nm_hzBBTjXCb",
         "name": "Test @ 2018-02-04 22:49:24 UTC",
         "mimeType": "application/vnd.google-apps.folder",
         "parents": [
          "0AIeK5UAEPQfeUk9PVA"
         ]
        }
  recorded_at: Sun, 04 Feb 2018 22:49:24 GMT
[...]
- request:
    method: get
    uri: https://www.googleapis.com/drive/v3/files/1B6YdC6_IZLNsbky7QiskwGANleFwT_7ZaK6oAR57V7Y?fields=id,name,mimeType,parents
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <AUTHORIZATION TOKEN FOR TRACKING ACCOUNT>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "id": "1B6YdC6_IZLNsbky7QiskwGANleFwT_7ZaK6oAR57V7Y",
         "name": "Test File",
         "mimeType": "application/vnd.google-apps.document",
         "parents": [
          "164KW3kC0ILq4NRi4ACO-Nm_hzBBTjXCb"
         ]
        }
  recorded_at: Sun, 04 Feb 2018 22:49:25 GMT
- request:
    method: delete
    uri: https://www.googleapis.com/drive/v3/files/164KW3kC0ILq4NRi4ACO-Nm_hzBBTjXCb
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <AUTHORIZATION TOKEN FOR TRACKING ACCOUNT>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 204
      message: No Content
    headers:
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Sun, 04 Feb 2018 22:49:25 GMT
recorded_with: VCR 4.0.0
