// Responsive banners shared between various views

// The user's profile banner
.profile-banner,
.project-banner {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;

  display: block;
  height: 200px;

  position: relative;
  z-index: -1;

  @media #{$medium-and-up} {
    height: 250px;
  }

  @media #{$large-and-up} {
    height: 300px;
  }
}
