// Styling for buttons

// Floating action bar
.action-bar {
  position: relative;
  top: - $button-floating-large-size / 2;
}

// FABs with SVGs
.btn-floating.btn-large svg {
  height: $button-floating-large-size;
  padding: $button-floating-large-size / 4;
  width: $button-floating-large-size;
}
