// Styling for buttons

// Floating action bar
.action-bar {
  height: $button-floating-large-size;
  margin-bottom: - $button-floating-large-size;
  position: relative;
  top: - $button-floating-large-size / 2;

  .btn-floating {
    margin-left: 8px;
  }
}

// FABs with SVGs
.btn-floating.btn-large svg {
  height: $button-floating-large-size;
  padding: $button-floating-large-size / 4;
  width: $button-floating-large-size;
}

// Adjust SVG-based icons in button to be vertically centered
.btn > i > svg {
  position: relative;
  top: 3px;
}

// A slimmer version of the button
.btn-slim {
  font-size: 80%;
  height: 28px;
  line-height: 28px;
  padding: 0 12px;
}

// Chip inside button, on the right side
.btn > .chip.slim {
  margin: 0;
  margin-left: 10px;
  position: relative;
  top: 15px;
  vertical-align: top;
}
