// Styling for cards

.card {

  color: inherit;
  display: block;

  .card-title,
  .card-content,
  .card-action {
    padding: 20px;
  }

  .card-title {
    padding-bottom: 0;

    // image within card title
    img {
      height: 40px;
      margin-right: 8px;
      width: 40px;
    }
  }

  .card-action {
    padding-bottom: 4px;
    padding-top: 4px;

    .btn-flat {
      padding: 0;
    }
  }
}
