// Styling for chips

// Truncate chips to single line
.chip {
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

  @mixin slim {
    height: 24px;
    line-height: 24px;

    .icon svg {
      height: 16px;
      width: 16px;
    }

    img {
      height: 100%;
      width: auto;
    }
  }

  &.slim-on-mobile {
    @media #{$medium-and-down} {
      @include slim;
    }
  }

  // Slim chips are 75% as high
  &.slim {
    @include slim;
  }

  &.right {
    margin-left: 5px;
    margin-right: 0;
  }

  // SVG icon inside a chip
  .icon {
    display: inline-block;
    height: inherit;
    line-height: inherit;
    margin-left: -12px;
    margin-right: 8px;
    padding: 4px;
    vertical-align: top;

    svg {
      height: 24px;
      width: 24px;
    }
  }

  // Border radius for image and icon in chip
  .icon,
  img {
    border-bottom-left-radius: inherit;
    border-bottom-right-radius: 0;
    border-top-left-radius: inherit;
    border-top-right-radius: 0;
  }
}
