// Styles relating to the document as a whole

// Set html document to full height of viewport
html {
  height: 100%;
  margin: 0;
}

// Body color should be a slight gray
body {
  background-color: color('gray', 'lighten-4');
}
