// Styling for footer

footer {

  a {
    // transition background color
    transition: background-color .3s;

    // add hover effect
    &:hover {
      background-color: $shadow;
    }
  }

  // style items inside footer
  a,
  .container > span {
    color: inherit;
    display: block;
    font-size: 14px;
    height: 48px;
    line-height: 48px;
  }

  .badge {
    display: inline-block;
    float: none;
  }

  .heading {
    font-weight: 500;
  }
}
