// Styling for forms

// Input elements
.input-field {
  input,
  textarea {
    // Use ~ selector to correctly display input fields with labels for
    // Grammarly users (Grammarly inserts a div each before and after every
    // textarea)
    ~ label {
      // scss-lint:disable ImportantRule
      // we must override any other transform rules to prevent the label from
      // overlapping the input element or textarea
      transform: translateY(-14px) scale(.8) !important;
      transform-origin: 0 0 !important;
    }
  }

  // Multiple input fields in a single line (used for prefix/suffix)
  &.group {
    display: flex;
    flex-direction: row;
  }
}

// scss-lint:disable QualifyingElement
input[type='text'] {

  // Input elements that inherit styling from their parent
  &.inherit {
    // scss-lint:disable ImportantRule
    box-shadow: none !important;
    font-size: inherit;
    height: auto;
    line-height: inherit;
    margin: 0;
    padding: 0;

    &:not(.invalid) {
      border-color: currentColor !important;
    }
  }
}
// scss-lint:enable QualifyingElement

// Placeholders
::placeholder {
  color: currentColor;
  font-size: .8em;
  font-style: italic;
  opacity: .5;
}

// scss-lint:disable PropertyCount
.mock-input {
  background-color: transparent;
  border: 0;
  border-bottom: $input-border;
  border-radius: 0;
  box-shadow: none;
  box-sizing: content-box;
  font-size: $input-font-size;
  height: $input-height;
  line-height: $input-height;
  margin: $input-margin;
  outline: none;
  padding: $input-padding;
  transition: $input-transition;

  // Disabled input style
  &.disabled {
    border-bottom: $input-disabled-border;
    color: $input-disabled-color;
  }
}
// scss-lint:enable PropertyCount

// Adapt materialize textarea to work decently well without JS
.materialize-textarea.noscript {
  height: auto;
  overflow-y: scroll;
  resize: vertical;
}

// reduce opacity on the file upload button
.upload.btn {
  opacity: .5;

  &:hover {
    opacity: 1;
  }
}
