// Styles for the navigation bar

nav {

  // add seam
  @include seam(bottom);

  .nav-overlay {
    background-color: $shadow;
    height: 100%;
    width: 100%;
  }

  .brand-logo {

    // inherit color from navbar
    color: inherit;

    // prevent wrapping of text
    white-space: nowrap;

    // fit logo to navbar height
    img {
      @media #{$small-and-down} {
        height: 42px;
      }

      @media #{$medium-and-up} {
        height: 50px;
      }

      display: inline-block;
      margin-right: 10px;
      margin-top: 7px;
      vertical-align: top;
      width: auto;
    }
  }

  ul a {

    // Links should inherit color from nav
    color: inherit;

    // Links should have a padding of base unit
    padding: 0 $base-unit;
  }

  // Fix positioning to center the icons
  li .material-icons {
    padding-top: 3px;
  }

  // Set height of image to 32px
  li img {
    display: block;
    height: 64px;
    padding: 16px 0;
  }

  li .badge.unread {
    margin-left: 13px;
    margin-top: 8px;
    min-width: unset;
    position: absolute;
    z-index: 10;
  }
}
