// Styles elements related to profiles (user & team)

.profile {

  // create a very slight overlay effect where the author name touches the
  // bottom of the author profile picture
  .profile-name {
    margin-bottom: -10px;
    position: relative;
    top: -10px;
  }
}
