// Styling for tabs

// Static tabs (not dynamic, consisting of real links, no animation) should use
// border to indicate active element
.tabs.static > .tab > .active {
  border-bottom: 2px solid;
  border-color: currentColor;
}

// Remove pointer events from disabled tab bars
.tabs.disabled {
  opacity: .2;
  pointer-events: none;
}

.tabs .badge {
  border-radius: 8px;
  float: none;
  margin-left: 5px;
}
