---
http_interactions:
- request:
    method: patch
    uri: https://www.googleapis.com/drive/v3/files/1wIKt3GD38KsigEaNy5l5NpTUKzkyqnwvqn_Mm4G4SSE?fields=id,name,mimeType,parents
    body:
      encoding: UTF-8
      string: '{"name":"Renamed Test File"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <AUTHORIZATION TOKEN FOR TRACKING ACCOUNT>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "id": "1wIKt3GD38KsigEaNy5l5NpTUKzkyqnwvqn_Mm4G4SSE",
         "name": "Renamed Test File",
         "mimeType": "application/vnd.google-apps.document",
         "parents": [
          "1uEyXV38in7QK8IHiWMjYlIyOUZRgAaMm"
         ]
        }
  recorded_at: Sun, 04 Feb 2018 22:45:21 GMT
[...]
- request:
    method: delete
    uri: https://www.googleapis.com/drive/v3/files/1uEyXV38in7QK8IHiWMjYlIyOUZRgAaMm
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <AUTHORIZATION TOKEN FOR TRACKING ACCOUNT>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 204
      message: No Content
    headers:
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Sun, 04 Feb 2018 22:45:22 GMT
- request:
    method: patch
    uri: https://www.googleapis.com/drive/v3/files/1Kn30mn8_XIbeGOiIp8I10H7pbWGTn877OzrpJgHaiDA?fields=id,name,mimeType,parents
    body:
      encoding: UTF-8
      string: '{"name":"Renamed Test File"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <AUTHORIZATION TOKEN FOR TRACKING ACCOUNT>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "id": "1Kn30mn8_XIbeGOiIp8I10H7pbWGTn877OzrpJgHaiDA",
         "name": "Renamed Test File",
         "mimeType": "application/vnd.google-apps.document",
         "parents": [
          "1b_b0ypoPNeG1PekjNacT4EFvaXqfOLk1"
         ]
        }
  recorded_at: Sun, 04 Feb 2018 22:49:16 GMT
[...]
- request:
    method: delete
    uri: https://www.googleapis.com/drive/v3/files/1b_b0ypoPNeG1PekjNacT4EFvaXqfOLk1
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <AUTHORIZATION TOKEN FOR TRACKING ACCOUNT>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 204
      message: No Content
    headers:
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Sun, 04 Feb 2018 22:49:16 GMT
- request:
    method: post
    uri: https://www.googleapis.com/drive/v3/files?fields=id,name,mimeType,parents
    body:
      encoding: UTF-8
      string: '{"mimeType":"application/vnd.google-apps.folder","name":"Test @ 2018-02-04
        22:49:27 UTC"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <AUTHORIZATION TOKEN FOR TRACKING ACCOUNT>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "id": "1_H5HAW-fX6VpHN6GX6Q8p4FHTvRBy5mS",
         "name": "Test @ 2018-02-04 22:49:27 UTC",
         "mimeType": "application/vnd.google-apps.folder",
         "parents": [
          "0AIeK5UAEPQfeUk9PVA"
         ]
        }
  recorded_at: Sun, 04 Feb 2018 22:49:27 GMT
[...]
- request:
    method: patch
    uri: https://www.googleapis.com/drive/v3/files/1nBHE2Orv30WUjoGpwRz74Pu_2l1lrEROIKB_NIgDTZE?fields=id,name,mimeType,parents
    body:
      encoding: UTF-8
      string: '{"name":"Renamed Test File"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <AUTHORIZATION TOKEN FOR TRACKING ACCOUNT>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "id": "1nBHE2Orv30WUjoGpwRz74Pu_2l1lrEROIKB_NIgDTZE",
         "name": "Renamed Test File",
         "mimeType": "application/vnd.google-apps.document",
         "parents": [
          "1_H5HAW-fX6VpHN6GX6Q8p4FHTvRBy5mS"
         ]
        }
  recorded_at: Sun, 04 Feb 2018 22:49:28 GMT
[...]
- request:
    method: delete
    uri: https://www.googleapis.com/drive/v3/files/1_H5HAW-fX6VpHN6GX6Q8p4FHTvRBy5mS
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <AUTHORIZATION TOKEN FOR TRACKING ACCOUNT>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 204
      message: No Content
    headers:
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Sun, 04 Feb 2018 22:49:28 GMT
recorded_with: VCR 4.0.0
