---
http_interactions:
- request:
    method: post
    uri: https://oauth2.googleapis.com/token
    body:
      encoding: ASCII-8BIT
      string: grant_type=refresh_token&refresh_token=<REFRESH TOKEN FOR TRACKING ACCOUNT>&client_id=<CLIENT
        ID>&client_secret=<CLIENT SECRET>
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "access_token": "<ACCESS TOKEN FOR TRACKING ACCOUNT>",
          "expires_in": 3600,
          "scope": "https://www.googleapis.com/auth/drive",
          "token_type": "Bearer"
        }
  recorded_at: Fri, 04 Jan 2019 15:56:58 GMT
- request:
    method: post
    uri: https://www.googleapis.com/drive/v3/files?fields=id,name,mimeType,parents,permissions,trashed,thumbnailLink,thumbnailVersion
    body:
      encoding: UTF-8
      string: '{"mimeType":"application/vnd.google-apps.folder","name":"Test @ 2019-01-04
        15:56:58 UTC","parents":["root"]}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <ACCESS TOKEN FOR TRACKING ACCOUNT>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "id": "1JFqDYrfNvscvtxXZ-d-imcMpN4hFtUIC",
         "name": "Test @ 2019-01-04 15:56:58 UTC",
         "mimeType": "application/vnd.google-apps.folder",
         "trashed": false,
         "parents": [
          "0AIeK5UAEPQfeUk9PVA"
         ],
         "thumbnailVersion": "0",
         "permissions": [
          {
           "kind": "drive#permission",
           "id": "11673017242486491425",
           "type": "user",
           "emailAddress": "<EMAIL ADDRESS FOR TRACKING ACCOUNT>",
           "role": "owner",
           "displayName": "Upshift One",
           "deleted": false
          }
         ]
        }
  recorded_at: Fri, 04 Jan 2019 15:56:59 GMT
[...]
- request:
    method: post
    uri: https://www.googleapis.com/drive/v3/files/1jfDXtAuZKGavxoo0g7J7umwa-MmuJeJa/permissions?sendNotificationEmail=false
    body:
      encoding: UTF-8
      string: '{"emailAddress":"<EMAIL ADDRESS FOR USER ACCOUNT>","role":"reader","type":"user"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <ACCESS TOKEN FOR TRACKING ACCOUNT>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "drive#permission",
         "id": "13193959451567607887",
         "type": "user",
         "role": "reader"
        }
  recorded_at: Fri, 04 Jan 2019 15:57:02 GMT
- request:
    method: get
    uri: https://www.googleapis.com/drive/v3/files/1uPbEiaj4baR8X4mGKjtHNhhIBanI80FfEwxw83pgIt0?fields=id,name,mimeType,parents,permissions,trashed,thumbnailLink,thumbnailVersion
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR TRACKING ACCOUNT>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "id": "1uPbEiaj4baR8X4mGKjtHNhhIBanI80FfEwxw83pgIt0",
         "name": "original name",
         "mimeType": "application/vnd.google-apps.document",
         "trashed": false,
         "parents": [
          "1fwxruMPln8D1dmyudV5INJcpHFeelgYe"
         ],
         "thumbnailVersion": "0",
         "permissions": [
          {
           "kind": "drive#permission",
           "id": "11673017242486491425",
           "type": "user",
           "emailAddress": "<EMAIL ADDRESS FOR TRACKING ACCOUNT>",
           "role": "owner",
           "displayName": "Upshift One",
           "deleted": false
          }
         ]
        }
  recorded_at: Fri, 04 Jan 2019 15:57:03 GMT
- request:
    method: get
    uri: https://www.googleapis.com/drive/v3/files/1uPbEiaj4baR8X4mGKjtHNhhIBanI80FfEwxw83pgIt0/revisions/head
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR TRACKING ACCOUNT>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "drive#revision",
         "id": "1",
         "mimeType": "application/vnd.google-apps.document",
         "modifiedTime": "2019-01-04T15:57:00.518Z"
        }
  recorded_at: Fri, 04 Jan 2019 15:57:03 GMT
- request:
    method: post
    uri: https://www.googleapis.com/drive/v3/files/1uPbEiaj4baR8X4mGKjtHNhhIBanI80FfEwxw83pgIt0/copy?fields=id,name,mimeType,parents,permissions,trashed,thumbnailLink,thumbnailVersion
    body:
      encoding: UTF-8
      string: '{"name":"original name","parents":["1jfDXtAuZKGavxoo0g7J7umwa-MmuJeJa"]}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <ACCESS TOKEN FOR TRACKING ACCOUNT>
  response:
    status:
      code: 2[...]
[...]
- request:
    method: patch
    uri: https://www.googleapis.com/drive/v3/files/1uPbEiaj4baR8X4mGKjtHNhhIBanI80FfEwxw83pgIt0?addParents=1B-NVgzlMz4DbtcWfklEKxFFYNIMMRJFL&fields=id,name,mimeType,parents,permissions,trashed,thumbnailLink,thumbnailVersion&removeParents=1fwxruMPln8D1dmyudV5INJcpHFeelgYe
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR TRACKING ACCOUNT>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "id": "1uPbEiaj4baR8X4mGKjtHNhhIBanI80FfEwxw83pgIt0",
         "name": "original name",
         "mimeType": "application/vnd.google-apps.document",
         "trashed": false,
         "parents": [
          "1B-NVgzlMz4DbtcWfklEKxFFYNIMMRJFL"
         ],
         "thumbnailVersion": "0",
         "permissions": [
          {
           "kind": "drive#permission",
           "id": "11673017242486491425",
           "type": "user",
           "emailAddress": "<EMAIL ADDRESS FOR TRACKING ACCOUNT>",
           "role": "owner",
           "displayName": "Upshift One",
           "deleted": false
          }
         ]
        }
  recorded_at: Fri, 04 Jan 2019 15:57:05 GMT
[...]
- request:
    method: patch
    uri: https://www.googleapis.com/drive/v3/files/1uPbEiaj4baR8X4mGKjtHNhhIBanI80FfEwxw83pgIt0?addParents=1fwxruMPln8D1dmyudV5INJcpHFeelgYe&fields=id,name,mimeType,parents,permissions,trashed,thumbnailLink,thumbnailVersion&removeParents=1B-NVgzlMz4DbtcWfklEKxFFYNIMMRJFL
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR TRACKING ACCOUNT>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "id": "1uPbEiaj4baR8X4mGKjtHNhhIBanI80FfEwxw83pgIt0",
         "name": "original name",
         "mimeType": "application/vnd.google-apps.document",
         "trashed": false,
         "parents": [
          "1fwxruMPln8D1dmyudV5INJcpHFeelgYe"
         ],
         "thumbnailLink": "https://docs.google.com/feeds/vt?gd=true&id=1uPbEiaj4baR8X4mGKjtHNhhIBanI80FfEwxw83pgIt0&v=1&s=AMedNnoAAAAAXC-edHV8_NhoUMZ7SMSc5Zbc6HXS-3KA&sz=s220",
         "thumbnailVersion": "1",
         "permissions": [
          {
           "kind": "drive#permission",
           "id": "11673017242486491425",
           "type": "user",
           "emailAddress": "<EMAIL ADDRESS FOR TRACKING ACCOUNT>",
           "role": "owner",
           "displayName": "Upshift One",
           "deleted": false
          }
         ]
        }
  recorded_at: Fri, 04 Jan 2019 15:57:08 GMT
[...]
- request:
    method: delete
    uri: https://www.googleapis.com/drive/v3/files/1JFqDYrfNvscvtxXZ-d-imcMpN4hFtUIC
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR TRACKING ACCOUNT>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 204
      message: No Content
    headers:
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Fri, 04 Jan 2019 15:57:09 GMT
recorded_with: VCR 4.0.0
