/ render one entry for every change to the file (i.e. if a document was modified
/ and moved, it will be shown separately on two consecutive lines)
= render partial: 'file_diff_change',
         collection: file_diff.changes,
         locals: { file_diff: file_diff,
                   ancestors: file_diff.ancestors_of_file,
                   project: project }
