/ Renders a single file change of a file

div.file[class=file_diff.symbolic_mime_type
         class=file_diff_change]

  = image_tag file_diff.icon,
             alt: 'File icon',
             size: '30',
             class: 'img-responsive file-icon'

  = render partial: 'revisions/file_diff_change_text',
           locals: { file_diff_change: file_diff_change,
                     file_diff: file_diff,
                     ancestor_path: file_diff.ancestor_path,
                     project: project,
                     show_link_to_file_info: show_link_to_file_info,
                     all_links_in_new_tab: all_links_in_new_tab }
