/ render a button to restore the snapshot/revision

= button_to 'Restore',
            path_to_restore_action,
            class: 'btn-flat primary-color primary-color-text',
            method: :post
