---
http_interactions:
- request:
    method: delete
    uri: https://www.googleapis.com/drive/v3/files/1JERM82RUEKFfdsPXCJBvVDO9nUEdEtgE
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR TRACKING ACCOUNT>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 204
      message: No Content
    headers:
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Sat, 17 Feb 2018 16:09:24 GMT
- request:
    method: delete
    uri: https://www.googleapis.com/drive/v3/files/1i9Ka5mkJbJqujQFC1uuXn_JcelIw0ZUh
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR TRACKING ACCOUNT>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 204
      message: No Content
    headers:
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Sat, 17 Feb 2018 16:10:33 GMT
- request:
    method: get
    uri: https://www.googleapis.com/drive/v3/files/1UyrkeOpOd5Zk7gs-aNQFGql30zP8QQZ2Y3_3iyIPGpo/revisions/head
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR TRACKING ACCOUNT>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "drive#revision",
         "id": "1",
         "mimeType": "application/vnd.google-apps.document",
         "modifiedTime": "2018-02-17T16:10:52.264Z"
        }
  recorded_at: Sat, 17 Feb 2018 16:10:53 GMT
- request:
    method: delete
    uri: https://www.googleapis.com/drive/v3/files/1w2QZIy4SiJuQ78h7F8HkN19AnU0r0cRL
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR TRACKING ACCOUNT>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 204
      message: No Content
    headers:
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Sat, 17 Feb 2018 16:10:53 GMT
- request:
    method: get
    uri: https://www.googleapis.com/drive/v3/files/1x6vVUOcXWoWKwJhRYeNt4d0FAIv4FoBPyTgSe--N-a4/revisions/head
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR TRACKING ACCOUNT>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "drive#revision",
         "id": "1",
         "mimeType": "application/vnd.google-apps.document",
         "modifiedTime": "2018-02-17T16:11:05.241Z"
        }
  recorded_at: Sat, 17 Feb 2018 16:11:06 GMT
- request:
    method: delete
    uri: https://www.googleapis.com/drive/v3/files/17ukiOP4qp9Xpqyy9VO7C5meyXtd1bi_0
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR TRACKING ACCOUNT>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 204
      message: No Content
    headers:
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Sat, 17 Feb 2018 16:11:06 GMT
- request:
    method: post
    uri: https://www.googleapis.com/oauth2/v4/token
    body:
      encoding: ASCII-8BIT
      string: grant_type=refresh_token&refresh_token=<REFRESH TOKEN FOR TRACKING ACCOUNT>&client_id=<CLIENT
        ID>&client_secret=<CLIENT SECRET>
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "access_token": "<ACCESS TOKEN FOR TRACKING ACCOUNT>",
         "token_type": "Bearer",
         "expires_in": 3600
        }
  recorded_at: Sat, 17 Feb 2018 16:11:51 GMT
- request:
    method: post
    uri: https://www.googleapis.com/drive/v3/files?fields=id,name,mimeType,parents,trashed
    body:
      encoding: UTF-8
      string: '{"mimeType":"application/vnd.google-apps.folder","name":"Test @ 2018-02-17
        16:11:51 UTC","parents":["root"]}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <ACCESS TOKEN FOR TRACKING ACCOUNT>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "id": "1_498gje2x_9eYYyhhQfF5s3DJ8EzMt3a",
         "name": "Test @ 2018-02-17 16:11:51 UTC",
         "mimeType": "application/vnd.google-apps.folder",
         "trashed": false,
         "parents": [
          "0AIeK5UAEPQfeUk9PVA"
         ]
        }
  recorded_at: Sat, 17 Feb 2018 16:11:51 GMT
[...]
- request:
    method: get
    uri: https://www.googleapis.com/drive/v3/files/1zwct-uJ5OvSqCGGlVMruwpNkFMd5_Ri0ssxUvaEgWwQ/revisions/head
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR TRACKING ACCOUNT>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "drive#revision",
         "id": "1",
         "mimeType": "application/vnd.google-apps.document",
         "modifiedTime": "2018-02-17T16:11:51.848Z"
        }
  recorded_at: Sat, 17 Feb 2018 16:11:52 GMT
- request:
    method: delete
    uri: https://www.googleapis.com/drive/v3/files/1_498gje2x_9eYYyhhQfF5s3DJ8EzMt3a
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR TRACKING ACCOUNT>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 204
      message: No Content
    headers:
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Sat, 17 Feb 2018 16:11:52 GMT
recorded_with: VCR 4.0.0
