---
http_interactions:
- request:
    method: post
    uri: https://oauth2.googleapis.com/token
    body:
      encoding: ASCII-8BIT
      string: grant_type=refresh_token&refresh_token=<REFRESH TOKEN FOR TRACKING ACCOUNT>&client_id=<CLIENT
        ID>&client_secret=<CLIENT SECRET>
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "access_token": "<ACCESS TOKEN FOR TRACKING ACCOUNT>",
          "expires_in": 3600,
          "scope": "https://www.googleapis.com/auth/drive",
          "token_type": "Bearer"
        }
  recorded_at: Fri, 04 Jan 2019 16:05:01 GMT
- request:
    method: post
    uri: https://www.googleapis.com/drive/v3/files?fields=id,name,mimeType,parents,permissions,trashed,thumbnailLink,thumbnailVersion
    body:
      encoding: UTF-8
      string: '{"mimeType":"application/vnd.google-apps.folder","name":"Test @ 2019-01-04
        16:05:01 UTC","parents":["root"]}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <ACCESS TOKEN FOR TRACKING ACCOUNT>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "id": "1QJx5eLssdOxjtq-LknGpo4zu4hKbB0aT",
         "name": "Test @ 2019-01-04 16:05:01 UTC",
         "mimeType": "application/vnd.google-apps.folder",
         "trashed": false,
         "parents": [
          "0AIeK5UAEPQfeUk9PVA"
         ],
         "thumbnailVersion": "0",
         "permissions": [
          {
           "kind": "drive#permission",
           "id": "11673017242486491425",
           "type": "user",
           "emailAddress": "<EMAIL ADDRESS FOR TRACKING ACCOUNT>",
           "role": "owner",
           "displayName": "Upshift One",
           "deleted": false
          }
         ]
        }
  recorded_at: Fri, 04 Jan 2019 16:05:02 GMT
[...]
- request:
    method: get
    uri: https://www.googleapis.com/drive/v3/files/1-CiEF1GKI6ZWbFsfwTaBH9lxUyzFOxFT?fields=id,name,mimeType,parents,permissions,trashed,thumbnailLink,thumbnailVersion
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR TRACKING ACCOUNT>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "id": "1-CiEF1GKI6ZWbFsfwTaBH9lxUyzFOxFT",
         "name": "Test File",
         "mimeType": "application/vnd.google-apps.folder",
         "trashed": false,
         "parents": [
          "1QJx5eLssdOxjtq-LknGpo4zu4hKbB0aT"
         ],
         "thumbnailVersion": "0",
         "permissions": [
          {
           "kind": "drive#permission",
           "id": "11673017242486491425",
           "type": "user",
           "emailAddress": "<EMAIL ADDRESS FOR TRACKING ACCOUNT>",
           "role": "owner",
           "displayName": "Upshift One",
           "deleted": false
          }
         ]
        }
  recorded_at: Fri, 04 Jan 2019 16:05:04 GMT
- request:
    method: get
    uri: https://www.googleapis.com/drive/v3/files/1-CiEF1GKI6ZWbFsfwTaBH9lxUyzFOxFT/revisions/head
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR TRACKING ACCOUNT>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 403
      message: Forbidden
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "error": {
          "errors": [
           {
            "domain": "global",
            "reason": "revisionsNotSupported",
            "message": "The file does not support revisions."
           }
          ],
          "code": 403,
          "message": "The file does not support revisions."
         }
        }
  recorded_at: Fri, 04 Jan 2019 16:05:04 GMT
- request:
    method: get
    uri: https://www.googleapis.com/drive/v3/files?fields=files/id,files/name,files/mimeType,files/parents,files/permissions,files/trashed,files/thumbnailLink,files/thumbnailVersion&q=%271-CiEF1GKI6ZWbFsfwTaBH9lxUyzFOxFT%27%20in%20parents
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR TRACKING ACCOUNT>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "files": [
          {
           "id": "15QvBRioaJ2cqOiZhPm_JKaLuE3-lUUHX",
           "name": "sub2",
           "mimeType": "application/vnd.google-apps.folder",
           "trashed": false,
           "parents": [
            "1-CiEF1GKI6ZWbFsfwTaBH9lxUyzFOxFT"
           ],
           "thumbnailVersion": "0",
           "permissions": [
            {
             "kind": "drive#permission",
             "id": "11673017242486491425",
             "type": "user",
             "emailAddress": "<EMAIL ADDRESS FOR TRACKING ACCOUNT>",
             "role": "owner",
             "displayName": "Upshift One",
             "deleted": false
            }
           ]
          },
          {
           "id": "1iJ4md5eB4PHkV1uQxrcmkZoJT3YH496n",
           "name": "sub1",
           "mimeType": "application/vnd.google-apps.folder",
           "trashed": false,
           "parents": [
            "1-CiEF1GKI6ZWbFsfwTaBH9lxUyzFOxFT"
           ],
           "thumbnailVersion": "0",
           "permissions": [
            {
             "kind": "drive#permission",
             "id": "11673017242486491425",
             "type": "user",
             "emailAddress": "<EMAIL ADDRESS FOR TRACKING ACCOUNT>",
             "role": "owner",
             "displayName": "Upshift One",
             "deleted": false
            }
           ]
          }
         ]
        }
  recorded_at: Fri, 04 Jan 2019 16:05:04 GMT
- request:
    method: get
    uri: https://www.googleapis.com/drive/v3/files/15QvBRioaJ2cqOiZhPm_JKaLuE3-lUUHX/revisions/head
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR TRACKING ACCOUNT>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 403
      message: Forbidden
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "error": {
          "errors": [
           {
            "domain": "global",
            "reason": "revisionsNotSupported",
            "message": "The file does not support revisions."
           }
          ],
          "code": 403,
          "message": "The file does not support revisions."
         }
        }
  recorded_at: Fri, 04 Jan 2019 16:05:04 GMT
- request:
    method: get
    uri: https://www.googleapis.com/drive/v3/files/1iJ4md5eB4PHkV1uQxrcmkZoJT3YH496n/revisions/head
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR TRACKING ACCOUNT>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 403
      message: Forbidden
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "error": {
          "errors": [
           {
            "domain": "global",
            "reason": "revisionsNotSupported",
            "message": "The file does not support revisions."
           }
          ],
          "code": 403,
          "message": "The file does not support revisions."
         }
        }
  recorded_at: Fri, 04 Jan 2019 16:05:04 GMT
- request:
    method: delete
    uri: https://www.googleapis.com/drive/v3/files/1QJx5eLssdOxjtq-LknGpo4zu4hKbB0aT
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR TRACKING ACCOUNT>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 204
      message: No Content
    headers:
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Fri, 04 Jan 2019 16:05:05 GMT
recorded_with: VCR 4.0.0
