---
http_interactions:
- request:
    method: post
    uri: https://oauth2.googleapis.com/token
    body:
      encoding: ASCII-8BIT
      string: grant_type=refresh_token&refresh_token=<REFRESH TOKEN FOR TRACKING ACCOUNT>&client_id=<CLIENT
        ID>&client_secret=<CLIENT SECRET>
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "access_token": "<ACCESS TOKEN FOR TRACKING ACCOUNT>",
          "expires_in": 3600,
          "scope": "https://www.googleapis.com/auth/drive",
          "token_type": "Bearer"
        }
  recorded_at: Fri, 04 Jan 2019 16:00:45 GMT
[...]
- request:
    method: post
    uri: https://www.googleapis.com/drive/v3/files?fields=id,name,mimeType,parents,permissions,trashed,thumbnailLink,thumbnailVersion
    body:
      encoding: UTF-8
      string: '{"mimeType":"application/vnd.google-apps.folder","name":"Test @ 2019-01-04
        16:00:45 UTC","parents":["root"]}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <ACCESS TOKEN FOR USER ACCOUNT>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "id": "1S5WlFGaI8KHEV7_15w9aHkXY-GDwCfmo",
         "name": "Test @ 2019-01-04 16:00:45 UTC",
         "mimeType": "application/vnd.google-apps.folder",
         "trashed": false,
         "parents": [
          "0AEIi2L68pCuiUk9PVA"
         ],
         "thumbnailVersion": "0",
         "permissions": [
          {
           "kind": "drive#permission",
           "id": "13193959451567607887",
           "type": "user",
           "emailAddress": "<EMAIL ADDRESS FOR USER ACCOUNT>",
           "role": "owner",
           "displayName": "Testuser Upshift One",
           "deleted": false
          }
         ]
        }
  recorded_at: Fri, 04 Jan 2019 16:00:46 GMT
- request:
    method: post
    uri: https://www.googleapis.com/drive/v3/files/1S5WlFGaI8KHEV7_15w9aHkXY-GDwCfmo/permissions?sendNotificationEmail=false
    body:
      encoding: UTF-8
      string: '{"emailAddress":"<EMAIL ADDRESS FOR TRACKING ACCOUNT>","role":"reader","type":"user"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <ACCESS TOKEN FOR USER ACCOUNT>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "drive#permission",
         "id": "11673017242486491425",
         "type": "user",
         "role": "reader"
        }
  recorded_at: Fri, 04 Jan 2019 16:00:47 GMT
[...]
- request:
    method: get
    uri: https://www.googleapis.com/drive/v3/files/1KFhMUKhBNu3tJyepT_mRCOYqpqpa9eJa?fields=id,name,mimeType,parents,permissions,trashed,thumbnailLink,thumbnailVersion
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR TRACKING ACCOUNT>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "id": "1KFhMUKhBNu3tJyepT_mRCOYqpqpa9eJa",
         "name": "Test File",
         "mimeType": "application/vnd.google-apps.folder",
         "trashed": false,
         "parents": [
          "1S5WlFGaI8KHEV7_15w9aHkXY-GDwCfmo"
         ],
         "thumbnailVersion": "0"
        }
  recorded_at: Fri, 04 Jan 2019 16:00:47 GMT
- request:
    method: get
    uri: https://www.googleapis.com/drive/v3/files/1KFhMUKhBNu3tJyepT_mRCOYqpqpa9eJa/revisions/head
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR TRACKING ACCOUNT>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 403
      message: Forbidden
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "error": {
          "errors": [
           {
            "domain": "global",
            "reason": "revisionsNotSupported",
            "message": "The file does not support revisions."
           }
          ],
          "code": 403,
          "message": "The file does not support revisions."
         }
        }
  recorded_at: Fri, 04 Jan 2019 16:00:48 GMT
- request:
    method: delete
    uri: https://www.googleapis.com/drive/v3/files/1S5WlFGaI8KHEV7_15w9aHkXY-GDwCfmo
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR USER ACCOUNT>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 204
      message: No Content
    headers:
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Fri, 04 Jan 2019 16:00:48 GMT
recorded_with: VCR 4.0.0
