---
http_interactions:
- request:
    method: post
    uri: https://www.googleapis.com/oauth2/v4/token
    body:
      encoding: ASCII-8BIT
      string: grant_type=refresh_token&refresh_token=<REFRESH TOKEN FOR TRACKING ACCOUNT>&client_id=<CLIENT
        ID>&client_secret=<CLIENT SECRET>
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "access_token": "<ACCESS TOKEN FOR TRACKING ACCOUNT>",
         "token_type": "Bearer",
         "expires_in": 3600
        }
  recorded_at: Wed, 07 Feb 2018 06:42:26 GMT
[...]
- request:
    method: post
    uri: https://www.googleapis.com/drive/v3/files?fields=id,name,mimeType,parents
    body:
      encoding: UTF-8
      string: '{"mimeType":"application/vnd.google-apps.folder","name":"Test @ 2018-02-07
        06:42:26 UTC","parents":["root"]}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <ACCESS TOKEN FOR USER ACCOUNT>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "id": "1bOdbr2PA0auFKxVZSrGhmQmDVBtF_dn2",
         "name": "Test @ 2018-02-07 06:42:26 UTC",
         "mimeType": "application/vnd.google-apps.folder",
         "parents": [
          "0AEIi2L68pCuiUk9PVA"
         ]
        }
  recorded_at: Wed, 07 Feb 2018 06:42:27 GMT
[...]
- request:
    method: post
    uri: https://www.googleapis.com/drive/v3/files/1bOdbr2PA0auFKxVZSrGhmQmDVBtF_dn2/permissions?sendNotificationEmail=false
    body:
      encoding: UTF-8
      string: '{"emailAddress":"<EMAIL ADDRESS FOR TRACKING ACCOUNT>","role":"reader","type":"user"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <ACCESS TOKEN FOR USER ACCOUNT>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "drive#permission",
         "id": "11673017242486491425",
         "type": "user",
         "role": "reader"
        }
  recorded_at: Wed, 07 Feb 2018 06:42:30 GMT
- request:
    method: get
    uri: https://www.googleapis.com/drive/v3/files/1bOdbr2PA0auFKxVZSrGhmQmDVBtF_dn2?fields=id,%20name,%20mimeType,%20version,%20modifiedTime
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR TRACKING ACCOUNT>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "id": "1bOdbr2PA0auFKxVZSrGhmQmDVBtF_dn2",
         "name": "Test @ 2018-02-07 06:42:26 UTC",
         "mimeType": "application/vnd.google-apps.folder",
         "version": "3",
         "modifiedTime": "2018-02-07T06:42:30.032Z"
        }
  recorded_at: Wed, 07 Feb 2018 06:42:36 GMT
[...]
- request:
    method: get
    uri: https://www.googleapis.com/drive/v3/files?fields=files/id,%20files/version,%20files/mimeType,%20files/name,%20files/modifiedTime&q=%271bOdbr2PA0auFKxVZSrGhmQmDVBtF_dn2%27%20in%20parents
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR TRACKING ACCOUNT>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "files": [
          {
           "id": "1Wl0VBdYm9DldEXckWlSAm01VASm-SlBMR18NcD1rXDk",
           "name": "ipsum.js",
           "mimeType": "application/vnd.google-apps.document",
           "version": "5",
           "modifiedTime": "2018-02-07T06:42:29.584Z"
          },
          {
           "id": "1vws8opCzqnJvL7dxsYOHxbGYSjPse8Ye_ZKDweRkrVg",
           "name": "ad.mp3",
           "mimeType": "application/vnd.google-apps.document",
           "version": "5",
           "modifiedTime": "2018-02-07T06:42:28.638Z"
          },
          {
           "id": "1d332NqymKElMwCl3hpU9GGB48iNlVqVcEcz894d0Fv0",
           "name": "dolorem.bmp",
           "mimeType": "application/vnd.google-apps.document",
           "version": "5",
           "modifiedTime": "2018-02-07T06:42:27.955Z"
          }
         ]
        }
  recorded_at: Wed, 07 Feb 2018 06:42:37 GMT
- request:
    method: delete
    uri: https://www.googleapis.com/drive/v3/files/1bOdbr2PA0auFKxVZSrGhmQmDVBtF_dn2
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR USER ACCOUNT>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 204
      message: No Content
    headers:
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Wed, 07 Feb 2018 06:42:37 GMT
recorded_with: VCR 4.0.0
