---
http_interactions:
- request:
    method: post
    uri: https://www.googleapis.com/oauth2/v4/token
    body:
      encoding: ASCII-8BIT
      string: grant_type=refresh_token&refresh_token=<REFRESH TOKEN FOR TRACKING ACCOUNT>&client_id=<CLIENT
        ID>&client_secret=<CLIENT SECRET>
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "access_token": "<ACCESS TOKEN FOR TRACKING ACCOUNT>",
         "token_type": "Bearer",
         "expires_in": 3600
        }
  recorded_at: Tue, 06 Mar 2018 19:48:35 GMT
[...]
- request:
    method: post
    uri: https://www.googleapis.com/drive/v3/files?fields=id,name,mimeType,parents,trashed
    body:
      encoding: UTF-8
      string: '{"mimeType":"application/vnd.google-apps.folder","name":"Test @ 2018-03-06
        19:48:35 UTC","parents":["root"]}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <ACCESS TOKEN FOR USER ACCOUNT>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "id": "1KBNNQZGDkWtPjzAV5MhGm4P_qWTgqGsn",
         "name": "Test @ 2018-03-06 19:48:35 UTC",
         "mimeType": "application/vnd.google-apps.folder",
         "trashed": false,
         "parents": [
          "0AEIi2L68pCuiUk9PVA"
         ]
        }
  recorded_at: Tue, 06 Mar 2018 19:48:36 GMT
[...]
- request:
    method: post
    uri: https://www.googleapis.com/drive/v3/files/1KBNNQZGDkWtPjzAV5MhGm4P_qWTgqGsn/permissions?sendNotificationEmail=false
    body:
      encoding: UTF-8
      string: '{"emailAddress":"<EMAIL ADDRESS FOR TRACKING ACCOUNT>","role":"reader","type":"user"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <ACCESS TOKEN FOR USER ACCOUNT>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "drive#permission",
         "id": "11673017242486491425",
         "type": "user",
         "role": "reader"
        }
  recorded_at: Tue, 06 Mar 2018 19:48:41 GMT
- request:
    method: get
    uri: https://www.googleapis.com/drive/v3/files/1KBNNQZGDkWtPjzAV5MhGm4P_qWTgqGsn?fields=id,name,mimeType,parents,trashed
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR TRACKING ACCOUNT>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "id": "1KBNNQZGDkWtPjzAV5MhGm4P_qWTgqGsn",
         "name": "Test @ 2018-03-06 19:48:35 UTC",
         "mimeType": "application/vnd.google-apps.folder",
         "trashed": false
        }
  recorded_at: Tue, 06 Mar 2018 19:48:46 GMT
[...]
- request:
    method: get
    uri: https://www.googleapis.com/drive/v3/files/1KBNNQZGDkWtPjzAV5MhGm4P_qWTgqGsn/revisions/head
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR TRACKING ACCOUNT>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 403
      message: Forbidden
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "error": {
          "errors": [
           {
            "domain": "global",
            "reason": "revisionsNotSupported",
            "message": "The file does not support revisions."
           }
          ],
          "code": 403,
          "message": "The file does not support revisions."
         }
        }
  recorded_at: Tue, 06 Mar 2018 19:48:47 GMT
- request:
    method: get
    uri: https://www.googleapis.com/drive/v3/files?fields=files/id,files/name,files/mimeType,files/parents,files/trashed&q=%271KBNNQZGDkWtPjzAV5MhGm4P_qWTgqGsn%27%20in%20parents
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR TRACKING ACCOUNT>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "files": [
          {
           "id": "1XaUCp9B07dGXBjkivt8pSSkTchCyCW_4o-YX3lEy2C8",
           "name": "in.png",
           "mimeType": "application/vnd.google-apps.document",
           "trashed": false,
           "parents": [
            "1KBNNQZGDkWtPjzAV5MhGm4P_qWTgqGsn"
           ]
          },
          {
           "id": "1s8GSrWaktBIcVmtBt0TW9fQA8WYkVjgi_cjPpdS0PJw",
           "name": "odio.pptx",
           "mimeType": "application/vnd.google-apps.document",
           "trashed": false,
           "parents": [
            "1KBNNQZGDkWtPjzAV5MhGm4P_qWTgqGsn"
           ]
          },
          {
           "id": "1sn40nCboq3GoWf4aKQgqsfv4-gIkfL4LXVY9O5_1IgM",
           "name": "amet.ods",
           "mimeType": "application/vnd.google-apps.document",
           "trashed": false,
           "parents": [
            "1KBNNQZGDkWtPjzAV5MhGm4P_qWTgqGsn"
           ]
          }
         ]
        }
  recorded_at: Tue, 06 Mar 2018 19:48:47 GMT
- request:
    method: get
    uri: https://www.googleapis.com/drive/v3/files/1XaUCp9B07dGXBjkivt8pSSkTchCyCW_4o-YX3lEy2C8/revisions/head
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR TRACKING ACCOUNT>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 403
      message: Forbidden
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "error": {
          "errors": [
           {
            "domain": "global",
            "reason": "insufficientFilePermissions",
            "message": "The user does not have sufficient permissions for file 1XaUCp9B07dGXBjkivt8pSSkTchCyCW_4o-YX3lEy2C8.",
            "locationType": "header",
            "location": "Authorization"
           }
          ],
          "code": 403,
          "message": "The user does not have sufficient permissions for file 1XaUCp9B07dGXBjkivt8pSSkTchCyCW_4o-YX3lEy2C8."
         }
        }
  recorded_at: Tue, 06 Mar 2018 19:48:47 GMT
- request:
    method: get
    uri: https://www.googleapis.com/drive/v3/files/1s8GSrWaktBIcVmtBt0TW9fQA8WYkVjgi_cjPpdS0PJw/revisions/head
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR TRACKING ACCOUNT>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 403
      message: Forbidden
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "error": {
          "errors": [
           {
            "domain": "global",
            "reason": "insufficientFilePermissions",
            "message": "The user does not have sufficient permissions for file 1s8GSrWaktBIcVmtBt0TW9fQA8WYkVjgi_cjPpdS0PJw.",
            "locationType": "header",
            "location": "Authorization"
           }
          ],
          "code": 403,
          "message": "The user does not have sufficient permissions for file 1s8GSrWaktBIcVmtBt0TW9fQA8WYkVjgi_cjPpdS0PJw."
         }
        }
  recorded_at: Tue, 06 Mar 2018 19:48:48 GMT
- request:
    method: get
    uri: https://www.googleapis.com/drive/v3/files/1sn40nCboq3GoWf4aKQgqsfv4-gIkfL4LXVY9O5_1IgM/revisions/head
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR TRACKING ACCOUNT>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 403
      message: Forbidden
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "error": {
          "errors": [
           {
            "domain": "global",
            "reason": "insufficientFilePermissions",
            "message": "The user does not have sufficient permissions for file 1sn40nCboq3GoWf4aKQgqsfv4-gIkfL4LXVY9O5_1IgM.",
            "locationType": "header",
            "location": "Authorization"
           }
          ],
          "code": 403,
          "message": "The user does not have sufficient permissions for file 1sn40nCboq3GoWf4aKQgqsfv4-gIkfL4LXVY9O5_1IgM."
         }
        }
  recorded_at: Tue, 06 Mar 2018 19:48:48 GMT
- request:
    method: delete
    uri: https://www.googleapis.com/drive/v3/files/1KBNNQZGDkWtPjzAV5MhGm4P_qWTgqGsn
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR USER ACCOUNT>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 204
      message: No Content
    headers:
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 06 Mar 2018 19:48:49 GMT
recorded_with: VCR 4.0.0
