---
http_interactions:
- request:
    method: post
    uri: https://www.googleapis.com/oauth2/v4/token
    body:
      encoding: ASCII-8BIT
      string: grant_type=refresh_token&refresh_token=<REFRESH TOKEN FOR TRACKING ACCOUNT>&client_id=<CLIENT
        ID>&client_secret=<CLIENT SECRET>
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "access_token": "<ACCESS TOKEN FOR TRACKING ACCOUNT>",
         "token_type": "Bearer",
         "expires_in": 3600
        }
  recorded_at: Tue, 06 Mar 2018 18:09:32 GMT
[...]
- request:
    method: post
    uri: https://www.googleapis.com/drive/v3/files?fields=id,name,mimeType,parents,trashed
    body:
      encoding: UTF-8
      string: '{"mimeType":"application/vnd.google-apps.folder","name":"Test @ 2018-03-06
        18:09:32 UTC","parents":["root"]}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <ACCESS TOKEN FOR USER ACCOUNT>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "id": "1IWvTvvPzfNHOeBBYvEA_AwgdS7NNjbYp",
         "name": "Test @ 2018-03-06 18:09:32 UTC",
         "mimeType": "application/vnd.google-apps.folder",
         "trashed": false,
         "parents": [
          "0AEIi2L68pCuiUk9PVA"
         ]
        }
  recorded_at: Tue, 06 Mar 2018 18:09:33 GMT
[...]
- request:
    method: post
    uri: https://www.googleapis.com/drive/v3/files/1IWvTvvPzfNHOeBBYvEA_AwgdS7NNjbYp/permissions?sendNotificationEmail=false
    body:
      encoding: UTF-8
      string: '{"emailAddress":"<EMAIL ADDRESS FOR TRACKING ACCOUNT>","role":"reader","type":"user"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <ACCESS TOKEN FOR USER ACCOUNT>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "drive#permission",
         "id": "11673017242486491425",
         "type": "user",
         "role": "reader"
        }
  recorded_at: Tue, 06 Mar 2018 18:09:37 GMT
- request:
    method: get
    uri: https://www.googleapis.com/drive/v3/files/1IWvTvvPzfNHOeBBYvEA_AwgdS7NNjbYp?fields=id,%20name,%20mimeType,%20version,%20modifiedTime
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR TRACKING ACCOUNT>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "id": "1IWvTvvPzfNHOeBBYvEA_AwgdS7NNjbYp",
         "name": "Test @ 2018-03-06 18:09:32 UTC",
         "mimeType": "application/vnd.google-apps.folder",
         "version": "3",
         "modifiedTime": "2018-03-06T18:09:36.932Z"
        }
  recorded_at: Tue, 06 Mar 2018 18:09:43 GMT
- request:
    method: get
    uri: https://www.googleapis.com/drive/v3/files/1IWvTvvPzfNHOeBBYvEA_AwgdS7NNjbYp?fields=id,name,mimeType,parents,trashed
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR TRACKING ACCOUNT>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "id": "1IWvTvvPzfNHOeBBYvEA_AwgdS7NNjbYp",
         "name": "Test @ 2018-03-06 18:09:32 UTC",
         "mimeType": "application/vnd.google-apps.folder",
         "trashed": false
        }
  recorded_at: Tue, 06 Mar 2018 18:09:43 GMT
- request:
    method: get
    uri: https://www.googleapis.com/drive/v3/files/1IWvTvvPzfNHOeBBYvEA_AwgdS7NNjbYp/revisions/head
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR TRACKING ACCOUNT>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 403
      message: Forbidden
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "error": {
          "errors": [
           {
            "domain": "global",
            "reason": "revisionsNotSupported",
            "message": "The file does not support revisions."
           }
          ],
          "code": 403,
          "message": "The file does not support revisions."
         }
        }
  recorded_at: Tue, 06 Mar 2018 18:09:43 GMT
- request:
    method: get
    uri: https://www.googleapis.com/drive/v3/files?fields=files/id,files/name,files/mimeType,files/parents,files/trashed&q=%271IWvTvvPzfNHOeBBYvEA_AwgdS7NNjbYp%27%20in%20parents
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR TRACKING ACCOUNT>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "files": [
          {
           "id": "1D79MP9E5HT4--iFXbDbsQQJg7FpCy3e2qDr0sByAGBA",
           "name": "et.jpg",
           "mimeType": "application/vnd.google-apps.document",
           "trashed": false,
           "parents": [
            "1IWvTvvPzfNHOeBBYvEA_AwgdS7NNjbYp"
           ]
          },
          {
           "id": "151yB8SA1R8O-yPrHQ4aLo1g_UdOwre1DSpPaj1xzM8c",
           "name": "et.tiff",
           "mimeType": "application/vnd.google-apps.document",
           "trashed": false,
           "parents": [
            "1IWvTvvPzfNHOeBBYvEA_AwgdS7NNjbYp"
           ]
          },
          {
           "id": "1r1KZr4rQomYmY0efiFrP0WUlm_1bc1ukXU_PKVKzIpI",
           "name": "laborum.ods",
           "mimeType": "application/vnd.google-apps.document",
           "trashed": false,
           "parents": [
            "1IWvTvvPzfNHOeBBYvEA_AwgdS7NNjbYp"
           ]
          }
         ]
        }
  recorded_at: Tue, 06 Mar 2018 18:09:44 GMT
- request:
    method: get
    uri: https://www.googleapis.com/drive/v3/files/1D79MP9E5HT4--iFXbDbsQQJg7FpCy3e2qDr0sByAGBA/revisions/head
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR TRACKING ACCOUNT>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 403
      message: Forbidden
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "error": {
          "errors": [
           {
            "domain": "global",
            "reason": "insufficientFilePermissions",
            "message": "The user does not have sufficient permissions for file 1D79MP9E5HT4--iFXbDbsQQJg7FpCy3e2qDr0sByAGBA.",
            "locationType": "header",
            "location": "Authorization"
           }
          ],
          "code": 403,
          "message": "The user does not have sufficient permissions for file 1D79MP9E5HT4--iFXbDbsQQJg7FpCy3e2qDr0sByAGBA."
         }
        }
  recorded_at: Tue, 06 Mar 2018 18:09:44 GMT
- request:
    method: get
    uri: https://www.googleapis.com/drive/v3/files/151yB8SA1R8O-yPrHQ4aLo1g_UdOwre1DSpPaj1xzM8c/revisions/head
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR TRACKING ACCOUNT>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 403
      message: Forbidden
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "error": {
          "errors": [
           {
            "domain": "global",
            "reason": "insufficientFilePermissions",
            "message": "The user does not have sufficient permissions for file 151yB8SA1R8O-yPrHQ4aLo1g_UdOwre1DSpPaj1xzM8c.",
            "locationType": "header",
            "location": "Authorization"
           }
          ],
          "code": 403,
          "message": "The user does not have sufficient permissions for file 151yB8SA1R8O-yPrHQ4aLo1g_UdOwre1DSpPaj1xzM8c."
         }
        }
  recorded_at: Tue, 06 Mar 2018 18:09:45 GMT
- request:
    method: get
    uri: https://www.googleapis.com/drive/v3/files/1r1KZr4rQomYmY0efiFrP0WUlm_1bc1ukXU_PKVKzIpI/revisions/head
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR TRACKING ACCOUNT>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 403
      message: Forbidden
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "error": {
          "errors": [
           {
            "domain": "global",
            "reason": "insufficientFilePermissions",
            "message": "The user does not have sufficient permissions for file 1r1KZr4rQomYmY0efiFrP0WUlm_1bc1ukXU_PKVKzIpI.",
            "locationType": "header",
            "location": "Authorization"
           }
          ],
          "code": 403,
          "message": "The user does not have sufficient permissions for file 1r1KZr4rQomYmY0efiFrP0WUlm_1bc1ukXU_PKVKzIpI."
         }
        }
  recorded_at: Tue, 06 Mar 2018 18:09:45 GMT
- request:
    method: delete
    uri: https://www.googleapis.com/drive/v3/files/1IWvTvvPzfNHOeBBYvEA_AwgdS7NNjbYp
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR USER ACCOUNT>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 204
      message: No Content
    headers:
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 06 Mar 2018 18:09:46 GMT
recorded_with: VCR 4.0.0
