---
http_interactions:
- request:
    method: post
    uri: https://www.googleapis.com/oauth2/v4/token
    body:
      encoding: ASCII-8BIT
      string: grant_type=refresh_token&refresh_token=<REFRESH TOKEN FOR TRACKING ACCOUNT>&client_id=<CLIENT
        ID>&client_secret=<CLIENT SECRET>
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "access_token": "<ACCESS TOKEN FOR TRACKING ACCOUNT>",
         "token_type": "Bearer",
         "expires_in": 3600
        }
  recorded_at: Wed, 07 Feb 2018 03:56:52 GMT
[...]
- request:
    method: post
    uri: https://www.googleapis.com/drive/v3/files?fields=id,name,mimeType,parents
    body:
      encoding: UTF-8
      string: '{"mimeType":"application/vnd.google-apps.folder","name":"Test @ 2018-02-07
        03:56:52 UTC","parents":["root"]}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <ACCESS TOKEN FOR USER ACCOUNT>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "id": "1dghXdtywoQRXM4Y6SN8PzbuORNVkhnIi",
         "name": "Test @ 2018-02-07 03:56:52 UTC",
         "mimeType": "application/vnd.google-apps.folder",
         "parents": [
          "0AEIi2L68pCuiUk9PVA"
         ]
        }
  recorded_at: Wed, 07 Feb 2018 03:56:53 GMT
[...]
- request:
    method: post
    uri: https://www.googleapis.com/drive/v3/files/1dghXdtywoQRXM4Y6SN8PzbuORNVkhnIi/permissions?sendNotificationEmail=false
    body:
      encoding: UTF-8
      string: '{"emailAddress":"test.upshift.one@gmail.com","role":"reader","type":"user"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <ACCESS TOKEN FOR USER ACCOUNT>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "drive#permission",
         "id": "11673017242486491425",
         "type": "user",
         "role": "reader"
        }
  recorded_at: Wed, 07 Feb 2018 03:56:56 GMT
- request:
    method: get
    uri: https://www.googleapis.com/drive/v3/files/1dghXdtywoQRXM4Y6SN8PzbuORNVkhnIi?fields=id,%20name,%20mimeType,%20version,%20modifiedTime
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR TRACKING ACCOUNT>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "id": "1dghXdtywoQRXM4Y6SN8PzbuORNVkhnIi",
         "name": "Test @ 2018-02-07 03:56:52 UTC",
         "mimeType": "application/vnd.google-apps.folder",
         "version": "3",
         "modifiedTime": "2018-02-07T03:56:55.905Z"
        }
  recorded_at: Wed, 07 Feb 2018 03:57:02 GMT
[...]
- request:
    method: get
    uri: https://www.googleapis.com/drive/v3/files?fields=files/id,%20files/version,%20files/mimeType,%20files/name,%20files/modifiedTime&q=%271dghXdtywoQRXM4Y6SN8PzbuORNVkhnIi%27%20in%20parents
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR TRACKING ACCOUNT>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "files": [
          {
           "id": "1gtFwubHvrtIs93SHJnLpZmxO4QOs3LFxAGVDx3c4kzs",
           "name": "facilis.jpg",
           "mimeType": "application/vnd.google-apps.document",
           "version": "5",
           "modifiedTime": "2018-02-07T03:56:55.395Z"
          },
          {
           "id": "1KMvLo8l5Q9cHEqM_FKVpsJ6vq_rNTnEwzC_w8aFXgnA",
           "name": "accusamus.doc",
           "mimeType": "application/vnd.google-apps.document",
           "version": "5",
           "modifiedTime": "2018-02-07T03:56:54.538Z"
          },
          {
           "id": "1jftm1F502oE1dfqlBPzw6wvx2ppILoUh87fcQQB1eXk",
           "name": "illum.mov",
           "mimeType": "application/vnd.google-apps.document",
           "version": "5",
           "modifiedTime": "2018-02-07T03:56:53.770Z"
          }
         ]
        }
  recorded_at: Wed, 07 Feb 2018 03:57:02 GMT
- request:
    method: delete
    uri: https://www.googleapis.com/drive/v3/files/1dghXdtywoQRXM4Y6SN8PzbuORNVkhnIi
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR USER ACCOUNT>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 204
      message: No Content
    headers:
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Wed, 07 Feb 2018 03:57:02 GMT
recorded_with: VCR 4.0.0
