---
http_interactions:
- request:
    method: post
    uri: https://www.googleapis.com/drive/v3/files/1fkxwOel_hUfq_UY3LcF863heNO0qBWrB/permissions?sendNotificationEmail=false
    body:
      encoding: UTF-8
      string: '{"emailAddress":"<EMAIL ADDRESS FOR TRACKING ACCOUNT>","role":"reader","type":"user"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <ACCESS TOKEN FOR USER ACCOUNT>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "drive#permission",
         "id": "11673017242486491425",
         "type": "user",
         "role": "reader"
        }
  recorded_at: Sun, 11 Feb 2018 14:57:31 GMT
- request:
    method: get
    uri: https://www.googleapis.com/drive/v3/files/1fkxwOel_hUfq_UY3LcF863heNO0qBWrB?fields=id,%20name,%20mimeType,%20version,%20modifiedTime
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR TRACKING ACCOUNT>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "id": "1fkxwOel_hUfq_UY3LcF863heNO0qBWrB",
         "name": "Test @ 2018-02-11 14:57:27 UTC",
         "mimeType": "application/vnd.google-apps.folder",
         "version": "3",
         "modifiedTime": "2018-02-11T14:57:31.375Z"
        }
  recorded_at: Sun, 11 Feb 2018 14:57:37 GMT
[...]
- request:
    method: get
    uri: https://www.googleapis.com/drive/v3/files?fields=files/id,%20files/version,%20files/mimeType,%20files/name,%20files/modifiedTime&q=%271fkxwOel_hUfq_UY3LcF863heNO0qBWrB%27%20in%20parents
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR TRACKING ACCOUNT>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "files": [
          {
           "id": "1CQtQ3Y2uufZtQJlyOvsizCnaJWhG7YdX9n-Y8MFZY4Y",
           "name": "dolores.mov",
           "mimeType": "application/vnd.google-apps.document",
           "version": "5",
           "modifiedTime": "2018-02-11T14:57:30.754Z"
          },
          {
           "id": "1EVJ04xBKYEKJOQ6j5JlHQkgg_gYdTAh_rWW4J6OD-Dw",
           "name": "officia.doc",
           "mimeType": "application/vnd.google-apps.document",
           "version": "5",
           "modifiedTime": "2018-02-11T14:57:29.998Z"
          },
          {
           "id": "1Toz0EXsSP5-bYzf79ynJ7pgBxOXYnc3EzU6821Vs0hs",
           "name": "commodi.odp",
           "mimeType": "application/vnd.google-apps.document",
           "version": "5",
           "modifiedTime": "2018-02-11T14:57:28.606Z"
          }
         ]
        }
  recorded_at: Sun, 11 Feb 2018 14:57:37 GMT
- request:
    method: delete
    uri: https://www.googleapis.com/drive/v3/files/1fkxwOel_hUfq_UY3LcF863heNO0qBWrB
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR USER ACCOUNT>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 204
      message: No Content
    headers:
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Sun, 11 Feb 2018 14:57:38 GMT
- request:
    method: post
    uri: https://www.googleapis.com/drive/v3/files/1MJGM1JIKMW3ZZVSncX0cKc8xmAwzZAdH/permissions?sendNotificationEmail=false
    body:
      encoding: UTF-8
      string: '{"emailAddress":"<EMAIL ADDRESS FOR TRACKING ACCOUNT>","role":"reader","type":"user"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <ACCESS TOKEN FOR USER ACCOUNT>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "drive#permission",
         "id": "11673017242486491425",
         "type": "user",
         "role": "reader"
        }
  recorded_at: Sat, 03 Mar 2018 04:56:26 GMT
- request:
    method: get
    uri: https://www.googleapis.com/drive/v3/files/1MJGM1JIKMW3ZZVSncX0cKc8xmAwzZAdH?fields=id,%20name,%20mimeType,%20version,%20modifiedTime
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR TRACKING ACCOUNT>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "id": "1MJGM1JIKMW3ZZVSncX0cKc8xmAwzZAdH",
         "name": "Test @ 2018-03-03 04:56:21 UTC",
         "mimeType": "application/vnd.google-apps.folder",
         "version": "3",
         "modifiedTime": "2018-03-03T04:56:26.111Z"
        }
  recorded_at: Sat, 03 Mar 2018 04:56:32 GMT
- request:
    method: get
    uri: https://www.googleapis.com/drive/v3/files/1MJGM1JIKMW3ZZVSncX0cKc8xmAwzZAdH?fields=id,name,mimeType,parents,trashed
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR TRACKING ACCOUNT>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "id": "1MJGM1JIKMW3ZZVSncX0cKc8xmAwzZAdH",
         "name": "Test @ 2018-03-03 04:56:21 UTC",
         "mimeType": "application/vnd.google-apps.folder",
         "trashed": false
        }
  recorded_at: Sat, 03 Mar 2018 04:56:32 GMT
- request:
    method: get
    uri: https://www.googleapis.com/drive/v3/files/1MJGM1JIKMW3ZZVSncX0cKc8xmAwzZAdH/revisions/head
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR TRACKING ACCOUNT>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 403
      message: Forbidden
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "error": {
          "errors": [
           {
            "domain": "global",
            "reason": "revisionsNotSupported",
            "message": "The file does not support revisions."
           }
          ],
          "code": 403,
          "message": "The file does not support revisions."
         }
        }
  recorded_at: Sat, 03 Mar 2018 04:56:32 GMT
- request:
    method: get
    uri: https://www.googleapis.com/drive/v3/files?fields=files/id,files/name,files/mimeType,files/parents,files/trashed&q=%271MJGM1JIKMW3ZZVSncX0cKc8xmAwzZAdH%27%20in%20parents
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR TRACKING ACCOUNT>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "files": []
        }
  recorded_at: Sat, 03 Mar 2018 04:56:33 GMT
- request:
    method: delete
    uri: https://www.googleapis.com/drive/v3/files/1MJGM1JIKMW3ZZVSncX0cKc8xmAwzZAdH
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR USER ACCOUNT>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 204
      message: No Content
    headers:
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Sat, 03 Mar 2018 04:56:33 GMT
- request:
    method: post
    uri: https://www.googleapis.com/drive/v3/files/12NQjXwyvKuDC1ebrJaOiFSMEI2OzLq5D/permissions?sendNotificationEmail=false
    body:
      encoding: UTF-8
      string: '{"emailAddress":"<EMAIL ADDRESS FOR TRACKING ACCOUNT>","role":"reader","type":"user"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <ACCESS TOKEN FOR USER ACCOUNT>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "drive#permission",
         "id": "11673017242486491425",
         "type": "user",
         "role": "reader"
        }
  recorded_at: Sun, 04 Mar 2018 05:51:49 GMT
- request:
    method: get
    uri: https://www.googleapis.com/drive/v3/files/12NQjXwyvKuDC1ebrJaOiFSMEI2OzLq5D?fields=id,%20name,%20mimeType,%20version,%20modifiedTime
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR TRACKING ACCOUNT>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "id": "12NQjXwyvKuDC1ebrJaOiFSMEI2OzLq5D",
         "name": "Test @ 2018-03-04 05:51:44 UTC",
         "mimeType": "application/vnd.google-apps.folder",
         "version": "3",
         "modifiedTime": "2018-03-04T05:51:48.817Z"
        }
  recorded_at: Sun, 04 Mar 2018 05:51:54 GMT
- request:
    method: get
    uri: https://www.googleapis.com/drive/v3/files/12NQjXwyvKuDC1ebrJaOiFSMEI2OzLq5D?fields=id,name,mimeType,parents,trashed
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR TRACKING ACCOUNT>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "id": "12NQjXwyvKuDC1ebrJaOiFSMEI2OzLq5D",
         "name": "Test @ 2018-03-04 05:51:44 UTC",
         "mimeType": "application/vnd.google-apps.folder",
         "trashed": false
        }
  recorded_at: Sun, 04 Mar 2018 05:51:55 GMT
- request:
    method: get
    uri: https://www.googleapis.com/drive/v3/files/12NQjXwyvKuDC1ebrJaOiFSMEI2OzLq5D/revisions/head
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR TRACKING ACCOUNT>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 403
      message: Forbidden
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "error": {
          "errors": [
           {
            "domain": "global",
            "reason": "revisionsNotSupported",
            "message": "The file does not support revisions."
           }
          ],
          "code": 403,
          "message": "The file does not support revisions."
         }
        }
  recorded_at: Sun, 04 Mar 2018 05:51:55 GMT
- request:
    method: get
    uri: https://www.googleapis.com/drive/v3/files?fields=files/id,files/name,files/mimeType,files/parents,files/trashed&q=%2712NQjXwyvKuDC1ebrJaOiFSMEI2OzLq5D%27%20in%20parents
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR TRACKING ACCOUNT>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "files": [
          {
           "id": "1o86CJKwpqZlRFIp14empFNMEyHduXlq6Je3UuPEMj1I",
           "name": "debitis.css",
           "mimeType": "application/vnd.google-apps.document",
           "trashed": false,
           "parents": [
            "12NQjXwyvKuDC1ebrJaOiFSMEI2OzLq5D"
           ]
          },
          {
           "id": "1UBDvBHyufw92ejaWHt0N9TAHYGLaRLmovwGTFvQ7vB0",
           "name": "rerum.gif",
           "mimeType": "application/vnd.google-apps.document",
           "trashed": false,
           "parents": [
            "12NQjXwyvKuDC1ebrJaOiFSMEI2OzLq5D"
           ]
          },
          {
           "id": "1sPuobztyGoFJ7T8QJ33tOlERfc0xL447FUH5EVdNhEU",
           "name": "dolore.mov",
           "mimeType": "application/vnd.google-apps.document",
           "trashed": false,
           "parents": [
            "12NQjXwyvKuDC1ebrJaOiFSMEI2OzLq5D"
           ]
          }
         ]
        }
  recorded_at: Sun, 04 Mar 2018 05:52:02 GMT
- request:
    method: get
    uri: https://www.googleapis.com/drive/v3/files/1o86CJKwpqZlRFIp14empFNMEyHduXlq6Je3UuPEMj1I/revisions/head
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR TRACKING ACCOUNT>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 403
      message: Forbidden
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "error": {
          "errors": [
           {
            "domain": "global",
            "reason": "insufficientFilePermissions",
            "message": "The user does not have sufficient permissions for file 1o86CJKwpqZlRFIp14empFNMEyHduXlq6Je3UuPEMj1I.",
            "locationType": "header",
            "location": "Authorization"
           }
          ],
          "code": 403,
          "message": "The user does not have sufficient permissions for file 1o86CJKwpqZlRFIp14empFNMEyHduXlq6Je3UuPEMj1I."
         }
        }
  recorded_at: Sun, 04 Mar 2018 05:52:02 GMT
[...]
- request:
    method: delete
    uri: https://www.googleapis.com/drive/v3/files/12NQjXwyvKuDC1ebrJaOiFSMEI2OzLq5D
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR USER ACCOUNT>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 204
      message: No Content
    headers:
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Sun, 04 Mar 2018 05:56:39 GMT
- request:
    method: post
    uri: https://www.googleapis.com/drive/v3/files/1tEasW6yB3IEh2gT5SBALriBCYa153s8C/permissions?sendNotificationEmail=false
    body:
      encoding: UTF-8
      string: '{"emailAddress":"<EMAIL ADDRESS FOR TRACKING ACCOUNT>","role":"editor","type":"user"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <ACCESS TOKEN FOR USER ACCOUNT>
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "error": {
          "errors": [
           {
            "domain": "global",
            "reason": "invalid",
            "message": "The specified permission role is invalid. Valid values are 'reader', 'commenter', 'writer', and 'owner'.",
            "locationType": "other",
            "location": "permission.role"
           }
          ],
          "code": 400,
          "message": "The specified permission role is invalid. Valid values are 'reader', 'commenter', 'writer', and 'owner'."
         }
        }
  recorded_at: Sun, 04 Mar 2018 05:56:52 GMT
- request:
    method: delete
    uri: https://www.googleapis.com/drive/v3/files/1tEasW6yB3IEh2gT5SBALriBCYa153s8C
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR USER ACCOUNT>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 204
      message: No Content
    headers:
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Sun, 04 Mar 2018 05:56:52 GMT
- request:
    method: post
    uri: https://www.googleapis.com/drive/v3/files/1mAmMarzBkARMs7OaMBBM5h1n46NR7BMa/permissions?sendNotificationEmail=false
    body:
      encoding: UTF-8
      string: '{"emailAddress":"<EMAIL ADDRESS FOR TRACKING ACCOUNT>","role":"reader","type":"user"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <ACCESS TOKEN FOR USER ACCOUNT>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "drive#permission",
         "id": "11673017242486491425",
         "type": "user",
         "role": "reader"
        }
  recorded_at: Sun, 04 Mar 2018 06:01:54 GMT
- request:
    method: get
    uri: https://www.googleapis.com/drive/v3/files/1mAmMarzBkARMs7OaMBBM5h1n46NR7BMa?fields=id,%20name,%20mimeType,%20version,%20modifiedTime
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR TRACKING ACCOUNT>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "id": "1mAmMarzBkARMs7OaMBBM5h1n46NR7BMa",
         "name": "Test @ 2018-03-04 06:01:50 UTC",
         "mimeType": "application/vnd.google-apps.folder",
         "version": "3",
         "modifiedTime": "2018-03-04T06:01:54.312Z"
        }
  recorded_at: Sun, 04 Mar 2018 06:02:00 GMT
- request:
    method: get
    uri: https://www.googleapis.com/drive/v3/files/1mAmMarzBkARMs7OaMBBM5h1n46NR7BMa?fields=id,name,mimeType,parents,trashed
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR TRACKING ACCOUNT>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "id": "1mAmMarzBkARMs7OaMBBM5h1n46NR7BMa",
         "name": "Test @ 2018-03-04 06:01:50 UTC",
         "mimeType": "application/vnd.google-apps.folder",
         "trashed": false
        }
  recorded_at: Sun, 04 Mar 2018 06:02:00 GMT
- request:
    method: get
    uri: https://www.googleapis.com/drive/v3/files/1mAmMarzBkARMs7OaMBBM5h1n46NR7BMa/revisions/head
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR TRACKING ACCOUNT>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 403
      message: Forbidden
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "error": {
          "errors": [
           {
            "domain": "global",
            "reason": "revisionsNotSupported",
            "message": "The file does not support revisions."
           }
          ],
          "code": 403,
          "message": "The file does not support revisions."
         }
        }
  recorded_at: Sun, 04 Mar 2018 06:02:01 GMT
- request:
    method: get
    uri: https://www.googleapis.com/drive/v3/files?fields=files/id,files/name,files/mimeType,files/parents,files/trashed&q=%271mAmMarzBkARMs7OaMBBM5h1n46NR7BMa%27%20in%20parents
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR TRACKING ACCOUNT>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - [...]
- request:
    method: get
    uri: https://www.googleapis.com/drive/v3/files/14HSatS_JExXxZLZuJ3UrHELQpOQ3xiu5gwGztSG2JGE/revisions/head
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR TRACKING ACCOUNT>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 403
      message: Forbidden
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "error": {
          "errors": [
           {
            "domain": "global",
            "reason": "insufficientFilePermissions",
            "message": "The user does not have sufficient permissions for file 14HSatS_JExXxZLZuJ3UrHELQpOQ3xiu5gwGztSG2JGE.",
            "locationType": "header",
            "location": "Authorization"
           }
          ],
          "code": 403,
          "message": "The user does not have sufficient permissions for file 14HSatS_JExXxZLZuJ3UrHELQpOQ3xiu5gwGztSG2JGE."
         }
        }
  recorded_at: Sun, 04 Mar 2018 06:07:47 GMT
- request:
    method: delete
    uri: https://www.googleapis.com/drive/v3/files/1mAmMarzBkARMs7OaMBBM5h1n46NR7BMa
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR USER ACCOUNT>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 204
      message: No Content
    headers:
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Sun, 04 Mar 2018 06:07:48 GMT
- request:
    method: post
    uri: https://www.googleapis.com/oauth2/v4/token
    body:
      encoding: ASCII-8BIT
      string: grant_type=refresh_token&refresh_token=<REFRESH TOKEN FOR TRACKING ACCOUNT>&client_id=<CLIENT
        ID>&client_secret=<CLIENT SECRET>
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "access_token": "<ACCESS TOKEN FOR TRACKING ACCOUNT>",
         "token_type": "Bearer",
         "expires_in": 3600
        }
  recorded_at: Sun, 04 Mar 2018 06:08:01 GMT
[...]
- request:
    method: post
    uri: https://www.googleapis.com/drive/v3/files?fields=id,name,mimeType,parents,trashed
    body:
      encoding: UTF-8
      string: '{"mimeType":"application/vnd.google-apps.folder","name":"Test @ 2018-03-04
        06:08:01 UTC","parents":["root"]}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <ACCESS TOKEN FOR USER ACCOUNT>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "id": "1nxuF53sMZhBXM37ik5RSkdOm8TZHY-Bk",
         "name": "Test @ 2018-03-04 06:08:01 UTC",
         "mimeType": "application/vnd.google-apps.folder",
         "trashed": false,
         "parents": [
          "0AEIi2L68pCuiUk9PVA"
         ]
        }
  recorded_at: Sun, 04 Mar 2018 06:08:02 GMT
[...]
- request:
    method: post
    uri: https://www.googleapis.com/drive/v3/files/1nxuF53sMZhBXM37ik5RSkdOm8TZHY-Bk/permissions?sendNotificationEmail=false
    body:
      encoding: UTF-8
      string: '{"emailAddress":"<EMAIL ADDRESS FOR TRACKING ACCOUNT>","role":"reader","type":"user"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <ACCESS TOKEN FOR USER ACCOUNT>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "drive#permission",
         "id": "11673017242486491425",
         "type": "user",
         "role": "reader"
        }
  recorded_at: Sun, 04 Mar 2018 06:08:06 GMT
- request:
    method: get
    uri: https://www.googleapis.com/drive/v3/files/1nxuF53sMZhBXM37ik5RSkdOm8TZHY-Bk?fields=id,%20name,%20mimeType,%20version,%20modifiedTime
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR TRACKING ACCOUNT>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "id": "1nxuF53sMZhBXM37ik5RSkdOm8TZHY-Bk",
         "name": "Test @ 2018-03-04 06:08:01 UTC",
         "mimeType": "application/vnd.google-apps.folder",
         "version": "3",
         "modifiedTime": "2018-03-04T06:08:06.023Z"
        }
  recorded_at: Sun, 04 Mar 2018 06:08:12 GMT
- request:
    method: get
    uri: https://www.googleapis.com/drive/v3/files/1nxuF53sMZhBXM37ik5RSkdOm8TZHY-Bk?fields=id,name,mimeType,parents,trashed
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR TRACKING ACCOUNT>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "id": "1nxuF53sMZhBXM37ik5RSkdOm8TZHY-Bk",
         "name": "Test @ 2018-03-04 06:08:01 UTC",
         "mimeType": "application/vnd.google-apps.folder",
         "trashed": false
        }
  recorded_at: Sun, 04 Mar 2018 06:08:12 GMT
- request:
    method: get
    uri: https://www.googleapis.com/drive/v3/files/1nxuF53sMZhBXM37ik5RSkdOm8TZHY-Bk/revisions/head
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR TRACKING ACCOUNT>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 403
      message: Forbidden
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "error": {
          "errors": [
           {
            "domain": "global",
            "reason": "revisionsNotSupported",
            "message": "The file does not support revisions."
           }
          ],
          "code": 403,
          "message": "The file does not support revisions."
         }
        }
  recorded_at: Sun, 04 Mar 2018 06:08:12 GMT
- request:
    method: get
    uri: https://www.googleapis.com/drive/v3/files?fields=files/id,files/name,files/mimeType,files/parents,files/trashed&q=%271nxuF53sMZhBXM37ik5RSkdOm8TZHY-Bk%27%20in%20parents
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR TRACKING ACCOUNT>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - [...]
- request:
    method: get
    uri: https://www.googleapis.com/drive/v3/files/1SBnkfk_Tj-wreK2aHkWJinUoSP4mhugsj4rrto9BfhA/revisions/head
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR TRACKING ACCOUNT>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 403
      message: Forbidden
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "error": {
          "errors": [
           {
            "domain": "global",
            "reason": "insufficientFilePermissions",
            "message": "The user does not have sufficient permissions for file 1SBnkfk_Tj-wreK2aHkWJinUoSP4mhugsj4rrto9BfhA.",
            "locationType": "header",
            "location": "Authorization"
           }
          ],
          "code": 403,
          "message": "The user does not have sufficient permissions for file 1SBnkfk_Tj-wreK2aHkWJinUoSP4mhugsj4rrto9BfhA."
         }
        }
  recorded_at: Sun, 04 Mar 2018 06:08:13 GMT
- request:
    method: get
    uri: https://www.googleapis.com/drive/v3/files/12PoRk3fbqilMKcQza-_tfmrtWKBfN5zUds5iaUiBqhM/revisions/head
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR TRACKING ACCOUNT>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 403
      message: Forbidden
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "error": {
          "errors": [
           {
            "domain": "global",
            "reason": "insufficientFilePermissions",
            "message": "The user does not have sufficient permissions for file 12PoRk3fbqilMKcQza-_tfmrtWKBfN5zUds5iaUiBqhM.",
            "locationType": "header",
            "location": "Authorization"
           }
          ],
          "code": 403,
          "message": "The user does not have sufficient permissions for file 12PoRk3fbqilMKcQza-_tfmrtWKBfN5zUds5iaUiBqhM."
         }
        }
  recorded_at: Sun, 04 Mar 2018 06:08:13 GMT
- request:
    method: get
    uri: https://www.googleapis.com/drive/v3/files/10-P6PfH4-QZNBQ4HL34JmF1VHmlRVSJqyyavWUJlDnM/revisions/head
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR TRACKING ACCOUNT>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 403
      message: Forbidden
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "error": {
          "errors": [
           {
            "domain": "global",
            "reason": "insufficientFilePermissions",
[...]
