---
http_interactions:
- request:
    method: post
    uri: https://www.googleapis.com/oauth2/v4/token
    body:
      encoding: ASCII-8BIT
      string: grant_type=refresh_token&refresh_token=<REFRESH TOKEN FOR TRACKING ACCOUNT>&client_id=<CLIENT
        ID>&client_secret=<CLIENT SECRET>
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "access_token": "<ACCESS TOKEN FOR TRACKING ACCOUNT>",
         "token_type": "Bearer",
         "expires_in": 3600
        }
  recorded_at: Sun, 11 Feb 2018 14:57:27 GMT
[...]
- request:
    method: post
    uri: https://www.googleapis.com/drive/v3/files?fields=id,name,mimeType,parents,trashed
    body:
      encoding: UTF-8
      string: '{"mimeType":"application/vnd.google-apps.folder","name":"Test @ 2018-02-11
        14:57:27 UTC","parents":["root"]}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <ACCESS TOKEN FOR USER ACCOUNT>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "id": "1fkxwOel_hUfq_UY3LcF863heNO0qBWrB",
         "name": "Test @ 2018-02-11 14:57:27 UTC",
         "mimeType": "application/vnd.google-apps.folder",
         "trashed": false,
         "parents": [
          "0AEIi2L68pCuiUk9PVA"
         ]
        }
  recorded_at: Sun, 11 Feb 2018 14:57:28 GMT
[...]
- request:
    method: post
    uri: https://www.googleapis.com/drive/v3/files/1fkxwOel_hUfq_UY3LcF863heNO0qBWrB/permissions?sendNotificationEmail=false
    body:
      encoding: UTF-8
      string: '{"emailAddress":"<EMAIL ADDRESS FOR TRACKING ACCOUNT>","role":"reader","type":"user"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <ACCESS TOKEN FOR USER ACCOUNT>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "drive#permission",
         "id": "11673017242486491425",
         "type": "user",
         "role": "reader"
        }
  recorded_at: Sun, 11 Feb 2018 14:57:31 GMT
- request:
    method: get
    uri: https://www.googleapis.com/drive/v3/files/1fkxwOel_hUfq_UY3LcF863heNO0qBWrB?fields=id,%20name,%20mimeType,%20version,%20modifiedTime
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR TRACKING ACCOUNT>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "id": "1fkxwOel_hUfq_UY3LcF863heNO0qBWrB",
         "name": "Test @ 2018-02-11 14:57:27 UTC",
         "mimeType": "application/vnd.google-apps.folder",
         "version": "3",
         "modifiedTime": "2018-02-11T14:57:31.375Z"
        }
  recorded_at: Sun, 11 Feb 2018 14:57:37 GMT
[...]
- request:
    method: get
    uri: https://www.googleapis.com/drive/v3/files?fields=files/id,%20files/version,%20files/mimeType,%20files/name,%20files/modifiedTime&q=%271fkxwOel_hUfq_UY3LcF863heNO0qBWrB%27%20in%20parents
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR TRACKING ACCOUNT>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "files": [
          {
           "id": "1CQtQ3Y2uufZtQJlyOvsizCnaJWhG7YdX9n-Y8MFZY4Y",
           "name": "dolores.mov",
           "mimeType": "application/vnd.google-apps.document",
           "version": "5",
           "modifiedTime": "2018-02-11T14:57:30.754Z"
          },
          {
           "id": "1EVJ04xBKYEKJOQ6j5JlHQkgg_gYdTAh_rWW4J6OD-Dw",
           "name": "officia.doc",
           "mimeType": "application/vnd.google-apps.document",
           "version": "5",
           "modifiedTime": "2018-02-11T14:57:29.998Z"
          },
          {
           "id": "1Toz0EXsSP5-bYzf79ynJ7pgBxOXYnc3EzU6821Vs0hs",
           "name": "commodi.odp",
           "mimeType": "application/vnd.google-apps.document",
           "version": "5",
           "modifiedTime": "2018-02-11T14:57:28.606Z"
          }
         ]
        }
  recorded_at: Sun, 11 Feb 2018 14:57:37 GMT
- request:
    method: delete
    uri: https://www.googleapis.com/drive/v3/files/1fkxwOel_hUfq_UY3LcF863heNO0qBWrB
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR USER ACCOUNT>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 204
      message: No Content
    headers:
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Sun, 11 Feb 2018 14:57:38 GMT
recorded_with: VCR 4.0.0
