---
http_interactions:
- request:
    method: post
    uri: https://www.googleapis.com/oauth2/v4/token
    body:
      encoding: ASCII-8BIT
      string: grant_type=refresh_token&refresh_token=<REFRESH TOKEN FOR TRACKING ACCOUNT>&client_id=<CLIENT
        ID>&client_secret=<CLIENT SECRET>
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "access_token": "<ACCESS TOKEN FOR TRACKING ACCOUNT>",
         "token_type": "Bearer",
         "expires_in": 3600
        }
  recorded_at: Thu, 15 Mar 2018 19:29:47 GMT
[...]
- request:
    method: post
    uri: https://www.googleapis.com/drive/v3/files?fields=id,name,mimeType,parents,trashed
    body:
      encoding: UTF-8
      string: '{"mimeType":"application/vnd.google-apps.folder","name":"Test @ 2018-03-15
        19:29:48 UTC","parents":["root"]}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <ACCESS TOKEN FOR USER ACCOUNT>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "id": "1YlewAN2FGmm22F3YR37tawOSKB2dQuFw",
         "name": "Test @ 2018-03-15 19:29:48 UTC",
         "mimeType": "application/vnd.google-apps.folder",
         "trashed": false,
         "parents": [
          "0AEIi2L68pCuiUk9PVA"
         ]
        }
  recorded_at: Thu, 15 Mar 2018 19:29:49 GMT
[...]
- request:
    method: post
    uri: https://www.googleapis.com/drive/v3/files/1YlewAN2FGmm22F3YR37tawOSKB2dQuFw/permissions?sendNotificationEmail=false
    body:
      encoding: UTF-8
      string: '{"emailAddress":"<EMAIL ADDRESS FOR TRACKING ACCOUNT>","role":"reader","type":"user"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <ACCESS TOKEN FOR USER ACCOUNT>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "drive#permission",
         "id": "11673017242486491425",
         "type": "user",
         "role": "reader"
        }
  recorded_at: Thu, 15 Mar 2018 19:29:55 GMT
- request:
    method: get
    uri: https://www.googleapis.com/drive/v3/files/1YlewAN2FGmm22F3YR37tawOSKB2dQuFw?fields=id,name,mimeType,parents,trashed
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR TRACKING ACCOUNT>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "id": "1YlewAN2FGmm22F3YR37tawOSKB2dQuFw",
         "name": "Test @ 2018-03-15 19:29:48 UTC",
         "mimeType": "application/vnd.google-apps.folder",
         "trashed": false
        }
  recorded_at: Thu, 15 Mar 2018 19:30:01 GMT
- request:
    method: get
    uri: https://www.googleapis.com/drive/v3/files/1YlewAN2FGmm22F3YR37tawOSKB2dQuFw/revisions/head
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR TRACKING ACCOUNT>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 403
      message: Forbidden
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "error": {
          "errors": [
           {
            "domain": "global",
            "reason": "revisionsNotSupported",
            "message": "The file does not support revisions."
           }
          ],
          "code": 403,
          "message": "The file does not support revisions."
         }
        }
  recorded_at: Thu, 15 Mar 2018 19:30:01 GMT
- request:
    method: get
    uri: https://www.googleapis.com/drive/v3/files?fields=files/id,files/name,files/mimeType,files/parents,files/trashed&q=%271YlewAN2FGmm22F3YR37tawOSKB2dQuFw%27%20in%20parents
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR TRACKING ACCOUNT>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "files": [
          {
           "id": "1TJxsZmkNAhBWsSQPk9IWST_WHUBe9g6DbvDs1q-grr8",
           "name": "eius.docx",
           "mimeType": "application/vnd.google-apps.document",
           "trashed": false,
           "parents": [
            "1YlewAN2FGmm22F3YR37tawOSKB2dQuFw"
           ]
          },
          {
           "id": "1-9yhsU2P2ghzcvnpGOthJsGuQvmYbUVnoN6fv8KxrUE",
           "name": "voluptatem.jpg",
           "mimeType": "application/vnd.google-apps.document",
           "trashed": false,
           "parents": [
            "1YlewAN2FGmm22F3YR37tawOSKB2dQuFw"
           ]
          },
          {
           "id": "1vp4N-5U3O_sUpuegAsv7fCIEvSfOw0_De59W3DAPTy0",
           "name": "sit.json",
           "mimeType": "application/vnd.google-apps.document",
           "trashed": false,
           "parents": [
            "1YlewAN2FGmm22F3YR37tawOSKB2dQuFw"
           ]
          }
         ]
        }
  recorded_at: Thu, 15 Mar 2018 19:30:02 GMT
- request:
    method: get
    uri: https://www.googleapis.com/drive/v3/files/1TJxsZmkNAhBWsSQPk9IWST_WHUBe9g6DbvDs1q-grr8/revisions/head
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR TRACKING ACCOUNT>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 403
      message: Forbidden
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "error": {
          "errors": [
           {
            "domain": "global",
            "reason": "insufficientFilePermissions",
            "message": "The user does not have sufficient permissions for file 1TJxsZmkNAhBWsSQPk9IWST_WHUBe9g6DbvDs1q-grr8.",
            "locationType": "header",
            "location": "Authorization"
           }
          ],
          "code": 403,
          "message": "The user does not have sufficient permissions for file 1TJxsZmkNAhBWsSQPk9IWST_WHUBe9g6DbvDs1q-grr8."
         }
        }
  recorded_at: Thu, 15 Mar 2018 19:30:02 GMT
- request:
    method: get
    uri: https://www.googleapis.com/drive/v3/files/1-9yhsU2P2ghzcvnpGOthJsGuQvmYbUVnoN6fv8KxrUE/revisions/head
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR TRACKING ACCOUNT>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 403
      message: Forbidden
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "error": {
          "errors": [
           {
            "domain": "global",
            "reason": "insufficientFilePermissions",
            "message": "The user does not have sufficient permissions for file 1-9yhsU2P2ghzcvnpGOthJsGuQvmYbUVnoN6fv8KxrUE.",
            "locationType": "header",
            "location": "Authorization"
           }
          ],
          "code": 403,
          "message": "The user does not have sufficient permissions for file 1-9yhsU2P2ghzcvnpGOthJsGuQvmYbUVnoN6fv8KxrUE."
         }
        }
  recorded_at: Thu, 15 Mar 2018 19:30:02 GMT
- request:
    method: get
    uri: https://www.googleapis.com/drive/v3/files/1vp4N-5U3O_sUpuegAsv7fCIEvSfOw0_De59W3DAPTy0/revisions/head
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR TRACKING ACCOUNT>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 403
      message: Forbidden
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "error": {
          "errors": [
           {
            "domain": "global",
            "reason": "insufficientFilePermissions",
            "message": "The user does not have sufficient permissions for file 1vp4N-5U3O_sUpuegAsv7fCIEvSfOw0_De59W3DAPTy0.",
            "locationType": "header",
            "location": "Authorization"
           }
          ],
          "code": 403,
          "message": "The user does not have sufficient permissions for file 1vp4N-5U3O_sUpuegAsv7fCIEvSfOw0_De59W3DAPTy0."
         }
        }
  recorded_at: Thu, 15 Mar 2018 19:30:03 GMT
- request:
    method: delete
    uri: https://www.googleapis.com/drive/v3/files/1YlewAN2FGmm22F3YR37tawOSKB2dQuFw
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR USER ACCOUNT>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 204
      message: No Content
    headers:
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Thu, 15 Mar 2018 19:30:03 GMT
recorded_with: VCR 4.0.0
