---
http_interactions:
- request:
    method: post
    uri: https://oauth2.googleapis.com/token
    body:
      encoding: ASCII-8BIT
      string: grant_type=refresh_token&refresh_token=<REFRESH TOKEN FOR TRACKING ACCOUNT>&client_id=<CLIENT
        ID>&client_secret=<CLIENT SECRET>
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "access_token": "<ACCESS TOKEN FOR TRACKING ACCOUNT>",
          "expires_in": 3600,
          "scope": "https://www.googleapis.com/auth/drive",
          "token_type": "Bearer"
        }
  recorded_at: Thu, 17 Jan 2019 13:38:09 GMT
- request:
    method: post
    uri: https://www.googleapis.com/drive/v3/files?fields=id,name,mimeType,parents,permissions,trashed,thumbnailLink,thumbnailVersion
    body:
      encoding: UTF-8
      string: '{"mimeType":"application/vnd.google-apps.folder","name":"Test @ 2019-01-17
        13:38:09 UTC","parents":["root"]}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <ACCESS TOKEN FOR TRACKING ACCOUNT>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "id": "1RJ1vocNgk7u4F8EjYlZjDyeH5h3lbF-7",
         "name": "Test @ 2019-01-17 13:38:09 UTC",
         "mimeType": "application/vnd.google-apps.folder",
         "trashed": false,
         "parents": [
          "0AIeK5UAEPQfeUk9PVA"
         ],
         "thumbnailVersion": "0",
         "permissions": [
          {
           "kind": "drive#permission",
           "id": "11673017242486491425",
           "type": "user",
           "emailAddress": "<EMAIL ADDRESS FOR TRACKING ACCOUNT>",
           "role": "owner",
           "displayName": "Upshift One",
           "deleted": false
          }
         ]
        }
  recorded_at: Thu, 17 Jan 2019 13:38:10 GMT
[...]
- request:
    method: post
    uri: https://www.googleapis.com/drive/v3/files/1G9s80Af8meJs8qS8kKpnG5j8UHpAC91h/permissions?sendNotificationEmail=false
    body:
      encoding: UTF-8
      string: '{"emailAddress":"<EMAIL ADDRESS FOR USER ACCOUNT>","role":"reader","type":"user"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <ACCESS TOKEN FOR TRACKING ACCOUNT>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "drive#permission",
         "id": "13193959451567607887",
         "type": "user",
         "role": "reader"
        }
  recorded_at: Thu, 17 Jan 2019 13:38:13 GMT
- request:
    method: get
    uri: https://www.googleapis.com/drive/v3/files/1C94KufdVooWPQaR5KsVGkmBGMN9U3_kxlQEdhxhKiRc?fields=id,name,mimeType,parents,permissions,trashed,thumbnailLink,thumbnailVersion
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR TRACKING ACCOUNT>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "id": "1C94KufdVooWPQaR5KsVGkmBGMN9U3_kxlQEdhxhKiRc",
         "name": "original name",
         "mimeType": "application/vnd.google-apps.document",
         "trashed": false,
         "parents": [
          "1JvflLyKiTg2cHQKQPsChlrVgGkz-2htu"
         ],
         "thumbnailVersion": "0",
         "permissions": [
          {
           "kind": "drive#permission",
           "id": "11673017242486491425",
           "type": "user",
           "emailAddress": "<EMAIL ADDRESS FOR TRACKING ACCOUNT>",
           "role": "owner",
           "displayName": "Upshift One",
           "deleted": false
          }
         ]
        }
  recorded_at: Thu, 17 Jan 2019 13:38:14 GMT
- request:
    method: get
    uri: https://www.googleapis.com/drive/v3/files/1C94KufdVooWPQaR5KsVGkmBGMN9U3_kxlQEdhxhKiRc/revisions/head
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR TRACKING ACCOUNT>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "drive#revision",
         "id": "1",
         "mimeType": "application/vnd.google-apps.document",
         "modifiedTime": "2019-01-17T13:38:11.084Z"
        }
  recorded_at: Thu, 17 Jan 2019 13:38:14 GMT
- request:
    method: post
    uri: https://www.googleapis.com/drive/v3/files/1C94KufdVooWPQaR5KsVGkmBGMN9U3_kxlQEdhxhKiRc/copy?fields=id,name,mimeType,parents,permissions,trashed,thumbnailLink,thumbnailVersion
    body:
      encoding: UTF-8
      string: '{"name":"original name","parents":["1G9s80Af8meJs8qS8kKpnG5j8UHpAC91h"]}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <ACCESS TOKEN FOR TRACKING ACCOUNT>
  response:
    status:
      code: 2[...]
[...]
- request:
    method: patch
    uri: https://www.googleapis.com/drive/v3/files/1C94KufdVooWPQaR5KsVGkmBGMN9U3_kxlQEdhxhKiRc?fields=id,name,mimeType,parents,permissions,trashed,thumbnailLink,thumbnailVersion&removeParents=1JvflLyKiTg2cHQKQPsChlrVgGkz-2htu
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR TRACKING ACCOUNT>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "id": "1C94KufdVooWPQaR5KsVGkmBGMN9U3_kxlQEdhxhKiRc",
         "name": "original name",
         "mimeType": "application/vnd.google-apps.document",
         "trashed": false,
         "thumbnailLink": "https://docs.google.com/feeds/vt?gd=true&id=1C94KufdVooWPQaR5KsVGkmBGMN9U3_kxlQEdhxhKiRc&v=1&s=AMedNnoAAAAAXEChaw-XshkiTSEIy1PkxB37RSNet08U&sz=s220",
         "thumbnailVersion": "1",
         "permissions": [
          {
           "kind": "drive#permission",
           "id": "11673017242486491425",
           "type": "user",
           "emailAddress": "<EMAIL ADDRESS FOR TRACKING ACCOUNT>",
           "role": "owner",
           "displayName": "Upshift One",
           "deleted": false
          }
         ]
        }
  recorded_at: Thu, 17 Jan 2019 13:38:19 GMT
[...]
- request:
    method: delete
    uri: https://www.googleapis.com/drive/v3/files/1RJ1vocNgk7u4F8EjYlZjDyeH5h3lbF-7
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR TRACKING ACCOUNT>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 204
      message: No Content
    headers:
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Thu, 17 Jan 2019 13:38:20 GMT
recorded_with: VCR 4.0.0
