---
http_interactions:
- request:
    method: post
    uri: https://oauth2.googleapis.com/token
    body:
      encoding: ASCII-8BIT
      string: grant_type=refresh_token&refresh_token=<REFRESH TOKEN FOR TRACKING ACCOUNT>&client_id=<CLIENT
        ID>&client_secret=<CLIENT SECRET>
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "access_token": "<ACCESS TOKEN FOR TRACKING ACCOUNT>",
          "expires_in": 3600,
          "scope": "https://www.googleapis.com/auth/drive",
          "token_type": "Bearer"
        }
  recorded_at: Fri, 04 Jan 2019 15:57:24 GMT
- request:
    method: post
    uri: https://www.googleapis.com/drive/v3/files?fields=id,name,mimeType,parents,permissions,trashed,thumbnailLink,thumbnailVersion
    body:
      encoding: UTF-8
      string: '{"mimeType":"application/vnd.google-apps.folder","name":"Test @ 2019-01-04
        15:57:24 UTC","parents":["root"]}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <ACCESS TOKEN FOR TRACKING ACCOUNT>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "id": "1-N3Z_aOBKGYElXvIV8njs3bR8t4GmbJQ",
         "name": "Test @ 2019-01-04 15:57:24 UTC",
         "mimeType": "application/vnd.google-apps.folder",
         "trashed": false,
         "parents": [
          "0AIeK5UAEPQfeUk9PVA"
         ],
         "thumbnailVersion": "0",
         "permissions": [
          {
           "kind": "drive#permission",
           "id": "11673017242486491425",
           "type": "user",
           "emailAddress": "<EMAIL ADDRESS FOR TRACKING ACCOUNT>",
           "role": "owner",
           "displayName": "Upshift One",
           "deleted": false
          }
         ]
        }
  recorded_at: Fri, 04 Jan 2019 15:57:25 GMT
[...]
- request:
    method: post
    uri: https://www.googleapis.com/drive/v3/files/1XLPfRIwBsFyYDJC2E0JPWB2rD9JZnmY4/permissions?sendNotificationEmail=false
    body:
      encoding: UTF-8
      string: '{"emailAddress":"<EMAIL ADDRESS FOR USER ACCOUNT>","role":"reader","type":"user"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <ACCESS TOKEN FOR TRACKING ACCOUNT>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "drive#permission",
         "id": "13193959451567607887",
         "type": "user",
         "role": "reader"
        }
  recorded_at: Fri, 04 Jan 2019 15:57:28 GMT
- request:
    method: get
    uri: https://www.googleapis.com/drive/v3/files/1rttlxEa-CHj24-Z9YZsuTjRiHAwfPC0YeP5PPEYCMw0?fields=id,name,mimeType,parents,permissions,trashed,thumbnailLink,thumbnailVersion
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR TRACKING ACCOUNT>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "id": "1rttlxEa-CHj24-Z9YZsuTjRiHAwfPC0YeP5PPEYCMw0",
         "name": "original name",
         "mimeType": "application/vnd.google-apps.document",
         "trashed": false,
         "parents": [
          "1tb_G3p0pLUpSKAjZ9cAqOVp89Fvd9H7Q"
         ],
         "thumbnailVersion": "0",
         "permissions": [
          {
           "kind": "drive#permission",
           "id": "11673017242486491425",
           "type": "user",
           "emailAddress": "<EMAIL ADDRESS FOR TRACKING ACCOUNT>",
           "role": "owner",
           "displayName": "Upshift One",
           "deleted": false
          }
         ]
        }
  recorded_at: Fri, 04 Jan 2019 15:57:28 GMT
- request:
    method: get
    uri: https://www.googleapis.com/drive/v3/files/1rttlxEa-CHj24-Z9YZsuTjRiHAwfPC0YeP5PPEYCMw0/revisions/head
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR TRACKING ACCOUNT>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "drive#revision",
         "id": "1",
         "mimeType": "application/vnd.google-apps.document",
         "modifiedTime": "2019-01-04T15:57:26.028Z"
        }
  recorded_at: Fri, 04 Jan 2019 15:57:29 GMT
- request:
    method: post
    uri: https://www.googleapis.com/drive/v3/files/1rttlxEa-CHj24-Z9YZsuTjRiHAwfPC0YeP5PPEYCMw0/copy?fields=id,name,mimeType,parents,permissions,trashed,thumbnailLink,thumbnailVersion
    body:
      encoding: UTF-8
      string: '{"name":"original name","parents":["1XLPfRIwBsFyYDJC2E0JPWB2rD9JZnmY4"]}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <ACCESS TOKEN FOR TRACKING ACCOUNT>
  response:
    status:
      code: 2[...]
[...]
- request:
    method: patch
    uri: https://www.googleapis.com/drive/v3/files/1rttlxEa-CHj24-Z9YZsuTjRiHAwfPC0YeP5PPEYCMw0?fields=id,name,mimeType,parents,permissions,trashed,thumbnailLink,thumbnailVersion&removeParents=1tb_G3p0pLUpSKAjZ9cAqOVp89Fvd9H7Q
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR TRACKING ACCOUNT>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "id": "1rttlxEa-CHj24-Z9YZsuTjRiHAwfPC0YeP5PPEYCMw0",
         "name": "original name",
         "mimeType": "application/vnd.google-apps.document",
         "trashed": false,
         "thumbnailLink": "https://docs.google.com/feeds/vt?gd=true&id=1rttlxEa-CHj24-Z9YZsuTjRiHAwfPC0YeP5PPEYCMw0&v=1&s=AMedNnoAAAAAXC-eixKJI_PtCHTvfhHjZsbq_vNLbQX1&sz=s220",
         "thumbnailVersion": "1",
         "permissions": [
          {
           "kind": "drive#permission",
           "id": "11673017242486491425",
           "type": "user",
           "emailAddress": "<EMAIL ADDRESS FOR TRACKING ACCOUNT>",
           "role": "owner",
           "displayName": "Upshift One",
           "deleted": false
          }
         ]
        }
  recorded_at: Fri, 04 Jan 2019 15:57:31 GMT
[...]
- request:
    method: delete
    uri: https://www.googleapis.com/drive/v3/files/1-N3Z_aOBKGYElXvIV8njs3bR8t4GmbJQ
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR TRACKING ACCOUNT>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 204
      message: No Content
    headers:
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Fri, 04 Jan 2019 15:57:32 GMT
recorded_with: VCR 4.0.0
