---
http_interactions:
- request:
    method: post
    uri: https://oauth2.googleapis.com/token
    body:
      encoding: ASCII-8BIT
      string: grant_type=refresh_token&refresh_token=<REFRESH TOKEN FOR TRACKING ACCOUNT>&client_id=<CLIENT
        ID>&client_secret=<CLIENT SECRET>
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "access_token": "<ACCESS TOKEN FOR TRACKING ACCOUNT>",
          "expires_in": 3600,
          "scope": "https://www.googleapis.com/auth/drive",
          "token_type": "Bearer"
        }
  recorded_at: Fri, 04 Jan 2019 15:56:31 GMT
- request:
    method: post
    uri: https://www.googleapis.com/drive/v3/files?fields=id,name,mimeType,parents,permissions,trashed,thumbnailLink,thumbnailVersion
    body:
      encoding: UTF-8
      string: '{"mimeType":"application/vnd.google-apps.folder","name":"Test @ 2019-01-04
        15:56:31 UTC","parents":["root"]}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <ACCESS TOKEN FOR TRACKING ACCOUNT>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "id": "13pr9AoJVSbe2l6bluiUwtJRpfO8CJ7m6",
         "name": "Test @ 2019-01-04 15:56:31 UTC",
         "mimeType": "application/vnd.google-apps.folder",
         "trashed": false,
         "parents": [
          "0AIeK5UAEPQfeUk9PVA"
         ],
         "thumbnailVersion": "0",
         "permissions": [
          {
           "kind": "drive#permission",
           "id": "11673017242486491425",
           "type": "user",
           "emailAddress": "<EMAIL ADDRESS FOR TRACKING ACCOUNT>",
           "role": "owner",
           "displayName": "Upshift One",
           "deleted": false
          }
         ]
        }
  recorded_at: Fri, 04 Jan 2019 15:56:32 GMT
[...]
- request:
    method: post
    uri: https://www.googleapis.com/drive/v3/files/1xNzXe9U3Y4IQyjQ02_3MCg7oj0SGE98F/permissions?sendNotificationEmail=false
    body:
      encoding: UTF-8
      string: '{"emailAddress":"<EMAIL ADDRESS FOR USER ACCOUNT>","role":"reader","type":"user"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <ACCESS TOKEN FOR TRACKING ACCOUNT>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "drive#permission",
         "id": "13193959451567607887",
         "type": "user",
         "role": "reader"
        }
  recorded_at: Fri, 04 Jan 2019 15:56:35 GMT
- request:
    method: get
    uri: https://www.googleapis.com/drive/v3/files/1rexTJzo2L9I-t9bmD3K9rwIBZFz3p5ySPqMY9JwWn4s?fields=id,name,mimeType,parents,permissions,trashed,thumbnailLink,thumbnailVersion
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR TRACKING ACCOUNT>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "id": "1rexTJzo2L9I-t9bmD3K9rwIBZFz3p5ySPqMY9JwWn4s",
         "name": "original name",
         "mimeType": "application/vnd.google-apps.document",
         "trashed": false,
         "parents": [
          "1H0scnXNS3tNNn3XuKmvpPmxrzL5nJIoJ"
         ],
         "thumbnailVersion": "0",
         "permissions": [
          {
           "kind": "drive#permission",
           "id": "11673017242486491425",
           "type": "user",
           "emailAddress": "<EMAIL ADDRESS FOR TRACKING ACCOUNT>",
           "role": "owner",
           "displayName": "Upshift One",
           "deleted": false
          }
         ]
        }
  recorded_at: Fri, 04 Jan 2019 15:56:35 GMT
- request:
    method: get
    uri: https://www.googleapis.com/drive/v3/files/1rexTJzo2L9I-t9bmD3K9rwIBZFz3p5ySPqMY9JwWn4s/revisions/head
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR TRACKING ACCOUNT>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "drive#revision",
         "id": "1",
         "mimeType": "application/vnd.google-apps.document",
         "modifiedTime": "2019-01-04T15:56:33.011Z"
        }
  recorded_at: Fri, 04 Jan 2019 15:56:35 GMT
- request:
    method: post
    uri: https://www.googleapis.com/drive/v3/files/1rexTJzo2L9I-t9bmD3K9rwIBZFz3p5ySPqMY9JwWn4s/copy?fields=id,name,mimeType,parents,permissions,trashed,thumbnailLink,thumbnailVersion
    body:
      encoding: UTF-8
      string: '{"name":"original name","parents":["1xNzXe9U3Y4IQyjQ02_3MCg7oj0SGE98F"]}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <ACCESS TOKEN FOR TRACKING ACCOUNT>
  response:
    status:
      code: 2[...]
- request:
    method: delete
    uri: https://www.googleapis.com/drive/v3/files/1rexTJzo2L9I-t9bmD3K9rwIBZFz3p5ySPqMY9JwWn4s
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR TRACKING ACCOUNT>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 204
      message: No Content
    headers:
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Fri, 04 Jan 2019 15:56:38 GMT
- request:
    method: get
    uri: https://www.googleapis.com/drive/v3/files/1rexTJzo2L9I-t9bmD3K9rwIBZFz3p5ySPqMY9JwWn4s?fields=id,name,mimeType,parents,permissions,trashed,thumbnailLink,thumbnailVersion
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR TRACKING ACCOUNT>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "error": {
          "errors": [
           {
            "domain": "global",
            "reason": "notFound",
            "message": "File not found: 1rexTJzo2L9I-t9bmD3K9rwIBZFz3p5ySPqMY9JwWn4s.",
            "locationType": "parameter",
            "location": "fileId"
           }
          ],
          "code": 404,
          "message": "File not found: 1rexTJzo2L9I-t9bmD3K9rwIBZFz3p5ySPqMY9JwWn4s."
         }
        }
  recorded_at: Fri, 04 Jan 2019 15:56:38 GMT
- request:
    method: post
    uri: https://www.googleapis.com/drive/v3/files/1h4mWWsKuSsTyvhZMY8cVXSiF8WvwOZ6mFTUZsAEC94Q/copy?fields=id,name,mimeType,parents,permissions,trashed,thumbnailLink,thumbnailVersion
    body:
      encoding: UTF-8
      string: '{"name":"original name","parents":["1H0scnXNS3tNNn3XuKmvpPmxrzL5nJIoJ"]}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <ACCESS TOKEN FOR TRACKING ACCOUNT>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "id": "1CES1HJFdsrWhqC8skMgyRJN2IvTlnxV-gAeCiVP9vJE",
         "name": "original name",
         "mimeType": "application/vnd.google-apps.document",
         "trashed": false,
         "parents": [
          "1H0scnXNS3tNNn3XuKmvpPmxrzL5nJIoJ"
         ],
         "thumbnailVersion": "0",
         "permissions": [
          {
           "kind": "drive#permission",
           "id": "11673017242486491425",
           "type": "user",
           "emailAddress": "<EMAIL ADDRESS FOR TRACKING ACCOUNT>",
           "role": "owner",
           "displayName": "Upshift One",
           "deleted": false
          }
         ]
        }
  recorded_at: Fri, 04 Jan 2019 15:56:40 GMT
- request:
    method: get
    uri: https://www.googleapis.com/drive/v3/files/1CES1HJFdsrWhqC8skMgyRJN2IvTlnxV-gAeCiVP9vJE/revisions/head
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR TRACKING ACCOUNT>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "drive#revision",
         "id": "1",
         "mimeType": "application/vnd.google-apps.document",
         "modifiedTime": "2019-01-04T15:56:39.423Z"
        }
  recorded_at: Fri, 04 Jan 2019 15:56:40 GMT
- request:
    method: get
    uri: https://www.googleapis.com/drive/v3/files/1CES1HJFdsrWhqC8skMgyRJN2IvTlnxV-gAeCiVP9vJE?fields=id,name,mimeType,parents,permissions,trashed,thumbnailLink,thumbnailVersion
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR TRACKING ACCOUNT>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "id": "1CES1HJFdsrWhqC8skMgyRJN2IvTlnxV-gAeCiVP9vJE",
         "name": "original name",
         "mimeType": "application/vnd.google-apps.document",
         "trashed": false,
         "parents": [
          "1H0scnXNS3tNNn3XuKmvpPmxrzL5nJIoJ"
         ],
         "thumbnailVersion": "0",
         "permissions": [
          {
           "kind": "drive#permission",
           "id": "11673017242486491425",
           "type": "user",
           "emailAddress": "<EMAIL ADDRESS FOR TRACKING ACCOUNT>",
           "role": "owner",
           "displayName": "Upshift One",
           "deleted": false
          }
         ]
        }
  recorded_at: Fri, 04 Jan 2019 15:56:40 GMT
[...]
- request:
    method: delete
    uri: https://www.googleapis.com/drive/v3/files/13pr9AoJVSbe2l6bluiUwtJRpfO8CJ7m6
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR TRACKING ACCOUNT>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 204
      message: No Content
    headers:
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Fri, 04 Jan 2019 15:56:41 GMT
recorded_with: VCR 4.0.0
