---
http_interactions:
- request:
    method: post
    uri: https://oauth2.googleapis.com/token
    body:
      encoding: ASCII-8BIT
      string: grant_type=refresh_token&refresh_token=<REFRESH TOKEN FOR TRACKING ACCOUNT>&client_id=<CLIENT
        ID>&client_secret=<CLIENT SECRET>
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "access_token": "<ACCESS TOKEN FOR TRACKING ACCOUNT>",
          "expires_in": 3600,
          "scope": "https://www.googleapis.com/auth/drive",
          "token_type": "Bearer"
        }
  recorded_at: Thu, 08 Nov 2018 01:31:46 GMT
- request:
    method: post
    uri: https://www.googleapis.com/drive/v3/files?fields=id,name,mimeType,parents,permissions,trashed,thumbnailLink,thumbnailVersion
    body:
      encoding: UTF-8
      string: '{"mimeType":"application/vnd.google-apps.folder","name":"Test @ 2018-11-08
        01:31:46 UTC","parents":["root"]}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <ACCESS TOKEN FOR TRACKING ACCOUNT>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "id": "1MzOg_ZfmtQmrQYM1rEMJWFhXSo5scwfJ",
         "name": "Test @ 2018-11-08 01:31:46 UTC",
         "mimeType": "application/vnd.google-apps.folder",
         "trashed": false,
         "parents": [
          "0AIeK5UAEPQfeUk9PVA"
         ],
         "thumbnailVersion": "0",
         "permissions": [
          {
           "kind": "drive#permission",
           "id": "11673017242486491425",
           "type": "user",
           "emailAddress": "<EMAIL ADDRESS FOR TRACKING ACCOUNT>",
           "role": "owner",
           "displayName": "Upshift One",
           "deleted": false
          }
         ]
        }
  recorded_at: Thu, 08 Nov 2018 01:31:47 GMT
[...]
- request:
    method: post
    uri: https://www.googleapis.com/drive/v3/files/19Yp7-xbXk23MnpZZPUVISzRUw4JNQLOy/permissions?sendNotificationEmail=false
    body:
      encoding: UTF-8
      string: '{"emailAddress":"<EMAIL ADDRESS FOR USER ACCOUNT>","role":"reader","type":"user"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <ACCESS TOKEN FOR TRACKING ACCOUNT>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "drive#permission",
         "id": "13193959451567607887",
         "type": "user",
         "role": "reader"
        }
  recorded_at: Thu, 08 Nov 2018 01:31:51 GMT
- request:
    method: get
    uri: https://www.googleapis.com/drive/v3/files/17k3mqD9Fv4nYR8iFJBD57oSoLa1sZn9wRuxMahTrowM?fields=id,name,mimeType,parents,permissions,trashed,thumbnailLink,thumbnailVersion
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR TRACKING ACCOUNT>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "id": "17k3mqD9Fv4nYR8iFJBD57oSoLa1sZn9wRuxMahTrowM",
         "name": "original name",
         "mimeType": "application/vnd.google-apps.document",
         "trashed": false,
         "parents": [
          "18HtjgZumU3ntxfYGAY0x_rzo3Bp0azta"
         ],
         "thumbnailVersion": "0",
         "permissions": [
          {
           "kind": "drive#permission",
           "id": "11673017242486491425",
           "type": "user",
           "emailAddress": "<EMAIL ADDRESS FOR TRACKING ACCOUNT>",
           "role": "owner",
           "displayName": "Upshift One",
           "deleted": false
          }
         ]
        }
  recorded_at: Thu, 08 Nov 2018 01:31:51 GMT
- request:
    method: get
    uri: https://www.googleapis.com/drive/v3/files/17k3mqD9Fv4nYR8iFJBD57oSoLa1sZn9wRuxMahTrowM/revisions/head
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR TRACKING ACCOUNT>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "drive#revision",
         "id": "1",
         "mimeType": "application/vnd.google-apps.document",
         "modifiedTime": "2018-11-08T01:31:48.686Z"
        }
  recorded_at: Thu, 08 Nov 2018 01:31:52 GMT
- request:
    method: post
    uri: https://www.googleapis.com/drive/v3/files/17k3mqD9Fv4nYR8iFJBD57oSoLa1sZn9wRuxMahTrowM/copy?fields=id,name,mimeType,parents,permissions,trashed,thumbnailLink,thumbnailVersion
    body:
      encoding: UTF-8
      string: '{"name":"original name","parents":["19Yp7-xbXk23MnpZZPUVISzRUw4JNQLOy"]}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <ACCESS TOKEN FOR TRACKING ACCOUNT>
  response:
    status:
      code: 2[...]
- request:
    method: delete
    uri: https://www.googleapis.com/drive/v3/files/17k3mqD9Fv4nYR8iFJBD57oSoLa1sZn9wRuxMahTrowM
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR TRACKING ACCOUNT>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 204
      message: No Content
    headers:
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Thu, 08 Nov 2018 01:31:54 GMT
- request:
    method: get
    uri: https://www.googleapis.com/drive/v3/files/17k3mqD9Fv4nYR8iFJBD57oSoLa1sZn9wRuxMahTrowM?fields=id,name,mimeType,parents,permissions,trashed,thumbnailLink,thumbnailVersion
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR TRACKING ACCOUNT>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "error": {
          "errors": [
           {
            "domain": "global",
            "reason": "notFound",
            "message": "File not found: 17k3mqD9Fv4nYR8iFJBD57oSoLa1sZn9wRuxMahTrowM.",
            "locationType": "parameter",
            "location": "fileId"
           }
          ],
          "code": 404,
          "message": "File not found: 17k3mqD9Fv4nYR8iFJBD57oSoLa1sZn9wRuxMahTrowM."
         }
        }
  recorded_at: Thu, 08 Nov 2018 01:31:55 GMT
- request:
    method: post
    uri: https://www.googleapis.com/drive/v3/files/1MiHSos1a7sNWsxpdJZjr8BBukDpFFWODjW1uIssEvFo/copy?fields=id,name,mimeType,parents,permissions,trashed,thumbnailLink,thumbnailVersion
    body:
      encoding: UTF-8
      string: '{"name":"original name","parents":["18HtjgZumU3ntxfYGAY0x_rzo3Bp0azta"]}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <ACCESS TOKEN FOR TRACKING ACCOUNT>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "id": "1Dkyrjx8kZyapXBhxZtWb5R57KnXtCOy_Sa_B3wETchQ",
         "name": "original name",
         "mimeType": "application/vnd.google-apps.document",
         "trashed": false,
         "parents": [
          "18HtjgZumU3ntxfYGAY0x_rzo3Bp0azta"
         ],
         "thumbnailVersion": "0",
         "permissions": [
          {
           "kind": "drive#permission",
           "id": "11673017242486491425",
           "type": "user",
           "emailAddress": "<EMAIL ADDRESS FOR TRACKING ACCOUNT>",
           "role": "owner",
           "displayName": "Upshift One",
           "deleted": false
          }
         ]
        }
  recorded_at: Thu, 08 Nov 2018 01:32:00 GMT
- request:
    method: get
    uri: https://www.googleapis.com/drive/v3/files/1Dkyrjx8kZyapXBhxZtWb5R57KnXtCOy_Sa_B3wETchQ/revisions/head
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR TRACKING ACCOUNT>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "drive#revision",
         "id": "1",
         "mimeType": "application/vnd.google-apps.document",
         "modifiedTime": "2018-11-08T01:31:59.550Z"
        }
  recorded_at: Thu, 08 Nov 2018 01:32:00 GMT
- request:
    method: get
    uri: https://www.googleapis.com/drive/v3/files/1Dkyrjx8kZyapXBhxZtWb5R57KnXtCOy_Sa_B3wETchQ?fields=id,name,mimeType,parents,permissions,trashed,thumbnailLink,thumbnailVersion
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR TRACKING ACCOUNT>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "id": "1Dkyrjx8kZyapXBhxZtWb5R57KnXtCOy_Sa_B3wETchQ",
         "name": "original name",
         "mimeType": "application/vnd.google-apps.document",
         "trashed": false,
         "parents": [
          "18HtjgZumU3ntxfYGAY0x_rzo3Bp0azta"
         ],
         "thumbnailVersion": "0",
         "permissions": [
          {
           "kind": "drive#permission",
           "id": "11673017242486491425",
           "type": "user",
           "emailAddress": "<EMAIL ADDRESS FOR TRACKING ACCOUNT>",
           "role": "owner",
           "displayName": "Upshift One",
           "deleted": false
          }
         ]
        }
  recorded_at: Thu, 08 Nov 2018 01:32:01 GMT
[...]
- request:
    method: delete
    uri: https://www.googleapis.com/drive/v3/files/1MzOg_ZfmtQmrQYM1rEMJWFhXSo5scwfJ
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR TRACKING ACCOUNT>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 204
      message: No Content
    headers:
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Thu, 08 Nov 2018 01:32:02 GMT
recorded_with: VCR 4.0.0
