# Add configuration values here, as shown below.
#
# pusher_app_id: "2954"
# pusher_key: 7381a978f7dd7f9a1117
# pusher_secret: abdc3b896a0ffb85d373
# stripe_api_key: sk_test_2J0l093xOyW72XUYJHE4Dv2r
# stripe_publishable_key: pk_test_ro9jV5SNwGb1yYlQfzG17LHK
#
# production:
#   stripe_api_key: sk_live_EeHnL644i6zo4Iyq4v1KdV9H
#   stripe_publishable_key: pk_live_9lcthxpSIHbGwmdO941O1XVU

GOOGLE_DRIVE_CLIENT_ID: <client id from credentials.json>
GOOGLE_DRIVE_CLIENT_SECRET: <client secret from credentials.json>
GOOGLE_DRIVE_CREDENTIALS_PATH: '/home/user/credentials/google.yaml'
GOOGLE_DRIVE_TRACKING_ACCOUNT: <account used for tracking changes to files>
ROLLBAR_ACCESS_TOKEN: <access token from rollbar: post_server_item>

production:
  DEPLOY_USER: <username of user for deployment>
  SECRET_KEY_BASE: <generate with 'rake secret'>
  UPSHIFT_DATABASE_NAME: <your postgres database>
  UPSHIFT_DATABASE_USERNAME: <your postgres user's username>
  UPSHIFT_DATABASE_PASSWORD: <your postgres user's password>
  GOOGLE_DRIVE_CREDENTIALS_PATH: '/var/apps/app-name/shared/credentials/google-drive.yaml'

test:
  MOCK_GOOGLE_DRIVE_REQUESTS: 'false' # set to 'true' to mock requests
  GOOGLE_DRIVE_TRACKING_ACCOUNT: <optionally, use a different account for tracking file changes in test environment>
  GOOGLE_DRIVE_USER_ACCOUNT: <account to use for simulating user actions in Google Drive>
