# Add configuration values here, as shown below.
#
# pusher_app_id: "2954"
# pusher_key: 7381a978f7dd7f9a1117
# pusher_secret: abdc3b896a0ffb85d373
# stripe_api_key: sk_test_2J0l093xOyW72XUYJHE4Dv2r
# stripe_publishable_key: pk_test_ro9jV5SNwGb1yYlQfzG17LHK
#
# production:
#   stripe_api_key: sk_live_EeHnL644i6zo4Iyq4v1KdV9H
#   stripe_publishable_key: pk_live_9lcthxpSIHbGwmdO941O1XVU

# Use the full domain, not the URL
APPLICATION_DOMAIN: example.com
APPLICATION_NAME: 'Example Application'
APPLICATION_SLUG: example

GOOGLE_DRIVE_CLIENT_ID: <client id from credentials.json>
GOOGLE_DRIVE_CLIENT_SECRET: <client secret from credentials.json>
GOOGLE_DRIVE_CREDENTIALS_PATH: '/home/user/credentials/google.yaml'
GOOGLE_DRIVE_TRACKING_ACCOUNT: <account used for tracking changes to files>
ROLLBAR_ACCESS_TOKEN: <access token from rollbar: post_server_item>
THUMBNAIL_HASH_SECRET: <token for thumbnail path obfuscation>
HASH_ID_SECRET: <token for hash ID obfuscation>

# Email
SMTP_ADDRESS: <example: in-v3.mailjet.com>
SMTP_PORT: <example: '25'>
SMTP_AUTHENTICATION: <example: login>
SMTP_USERNAME: <username for email>
SMTP_PASSWORD: <password for email>


production:
  DEPLOY_USER: <username of user for deployment>
  SECRET_KEY_BASE: <generate with 'rake secret'>
  UPSHIFT_DATABASE_NAME: <your postgres database>
  UPSHIFT_DATABASE_USERNAME: <your postgres user's username>
  UPSHIFT_DATABASE_PASSWORD: <your postgres user's password>
  GOOGLE_DRIVE_CREDENTIALS_PATH: '/var/apps/app-name/shared/credentials/google-drive.yaml'
  THUMBNAIL_HASH_SECRET: <token for thumbnail path obfuscation

test:
  GOOGLE_DRIVE_TRACKING_ACCOUNT: <optionally, use a different account for tracking file changes in test environment>
  GOOGLE_DRIVE_USER_ACCOUNT: <account to use for simulating user actions in Google Drive>
