---
http_interactions:
- request:
    method: post
    uri: https://www.googleapis.com/oauth2/v4/token
    body:
      encoding: ASCII-8BIT
      string: grant_type=refresh_token&refresh_token=<REFRESH TOKEN FOR TRACKING ACCOUNT>&client_id=<CLIENT
        ID>&client_secret=<CLIENT SECRET>
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "access_token": "<ACCESS TOKEN FOR TRACKING ACCOUNT>",
         "token_type": "Bearer",
         "expires_in": 3600
        }
  recorded_at: Tue, 06 Mar 2018 17:56:32 GMT
- request:
    method: post
    uri: https://www.googleapis.com/drive/v3/files?fields=id,name,mimeType,parents,trashed
    body:
      encoding: UTF-8
      string: '{"mimeType":"application/vnd.google-apps.folder","name":"Test @ 2018-03-06
        17:56:32 UTC","parents":["root"]}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <ACCESS TOKEN FOR TRACKING ACCOUNT>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "id": "1NPdulNu3TxB8hg7hNUnsWEiB8ks-ZWWA",
         "name": "Test @ 2018-03-06 17:56:32 UTC",
         "mimeType": "application/vnd.google-apps.folder",
         "trashed": false,
         "parents": [
          "0AIeK5UAEPQfeUk9PVA"
         ]
        }
  recorded_at: Tue, 06 Mar 2018 17:56:32 GMT
[...]
- request:
    method: get
    uri: https://www.googleapis.com/drive/v3/files/1NPdulNu3TxB8hg7hNUnsWEiB8ks-ZWWA?fields=id,name,mimeType,parents,trashed
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR TRACKING ACCOUNT>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "id": "1NPdulNu3TxB8hg7hNUnsWEiB8ks-ZWWA",
         "name": "Test @ 2018-03-06 17:56:32 UTC",
         "mimeType": "application/vnd.google-apps.folder",
         "trashed": false,
         "parents": [
          "0AIeK5UAEPQfeUk9PVA"
         ]
        }
  recorded_at: Tue, 06 Mar 2018 17:56:34 GMT
- request:
    method: get
    uri: https://www.googleapis.com/drive/v3/files/1NPdulNu3TxB8hg7hNUnsWEiB8ks-ZWWA/revisions/head
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR TRACKING ACCOUNT>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 403
      message: Forbidden
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "error": {
          "errors": [
           {
            "domain": "global",
            "reason": "revisionsNotSupported",
            "message": "The file does not support revisions."
           }
          ],
          "code": 403,
          "message": "The file does not support revisions."
         }
        }
  recorded_at: Tue, 06 Mar 2018 17:56:34 GMT
- request:
    method: get
    uri: https://www.googleapis.com/drive/v3/files/1-nmKr6CzniQib2zA0Hm00u4tNIaYwX2GJskb0co1su8?fields=id,name,mimeType,parents,trashed
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR TRACKING ACCOUNT>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "id": "1-nmKr6CzniQib2zA0Hm00u4tNIaYwX2GJskb0co1su8",
         "name": "Test File",
         "mimeType": "application/vnd.google-apps.document",
         "trashed": false,
         "parents": [
          "1NPdulNu3TxB8hg7hNUnsWEiB8ks-ZWWA"
         ]
        }
  recorded_at: Tue, 06 Mar 2018 17:56:34 GMT
- request:
    method: get
    uri: https://www.googleapis.com/drive/v3/files/1-nmKr6CzniQib2zA0Hm00u4tNIaYwX2GJskb0co1su8/revisions/head
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR TRACKING ACCOUNT>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "drive#revision",
         "id": "1",
         "mimeType": "application/vnd.google-apps.document",
         "modifiedTime": "2018-03-06T17:56:33.143Z"
        }
  recorded_at: Tue, 06 Mar 2018 17:56:35 GMT
[...]
- request:
    method: delete
    uri: https://www.googleapis.com/drive/v3/files/1NPdulNu3TxB8hg7hNUnsWEiB8ks-ZWWA
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR TRACKING ACCOUNT>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 204
      message: No Content
    headers:
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 06 Mar 2018 17:56:36 GMT
recorded_with: VCR 4.0.0
