---
http_interactions:
- request:
    method: delete
    uri: https://www.googleapis.com/drive/v3/files/1-rmv2Vyso4nPqz8rqkJztpbZgypPhaUk
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR TRACKING ACCOUNT>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 204
      message: No Content
    headers:
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Sat, 03 Mar 2018 03:45:43 GMT
- request:
    method: delete
    uri: https://www.googleapis.com/drive/v3/files/1_LIThGn_ZxpIq8z428YHeeHzz7RaAnle
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR TRACKING ACCOUNT>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 204
      message: No Content
    headers:
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Sat, 03 Mar 2018 03:51:57 GMT
- request:
    method: delete
    uri: https://www.googleapis.com/drive/v3/files/1K_c2ajeLSfEy1rE4RdHloWSkilcKgrEN
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR TRACKING ACCOUNT>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 204
      message: No Content
    headers:
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Sat, 03 Mar 2018 03:53:02 GMT
- request:
    method: get
    uri: https://www.googleapis.com/drive/v3/files/id?fields=id,name,mimeType,parents,trashed
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR TRACKING ACCOUNT>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "error": {
          "errors": [
           {
            "domain": "global",
            "reason": "notFound",
            "message": "File not found: id.",
            "locationType": "parameter",
            "location": "fileId"
           }
          ],
          "code": 404,
          "message": "File not found: id."
         }
        }
  recorded_at: Sat, 03 Mar 2018 03:55:51 GMT
- request:
    method: get
    uri: https://www.googleapis.com/drive/v3/files?fields=files/id,files/name,files/mimeType,files/parents,files/trashed&q=%27id%27%20in%20parents
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR TRACKING ACCOUNT>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "error": {
          "errors": [
           {
            "domain": "global",
            "reason": "notFound",
            "message": "File not found: .",
            "locationType": "parameter",
            "location": "fileId"
           }
          ],
          "code": 404,
          "message": "File not found: ."
         }
        }
  recorded_at: Sat, 03 Mar 2018 03:55:51 GMT
- request:
    method: delete
    uri: https://www.googleapis.com/drive/v3/files/13f5BONMdnmhLfShxQaI67vl7gq6kqv2P
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR TRACKING ACCOUNT>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 204
      message: No Content
    headers:
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Sat, 03 Mar 2018 03:55:52 GMT
- request:
    method: get
    uri: https://www.googleapis.com/drive/v3/files/1k8IejmkNMEdpXgnLN6D0j2kF_-U0tYI_?fields=id,name,mimeType,parents,trashed
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR TRACKING ACCOUNT>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "id": "1k8IejmkNMEdpXgnLN6D0j2kF_-U0tYI_",
         "name": "Test File",
         "mimeType": "application/vnd.google-apps.folder",
         "trashed": false,
         "parents": [
          "1hcDXXe5YSH2GYiM5WUE68uBLhyZncqNp"
         ]
        }
  recorded_at: Sat, 03 Mar 2018 03:56:05 GMT
- request:
    method: get
    uri: https://www.googleapis.com/drive/v3/files/1k8IejmkNMEdpXgnLN6D0j2kF_-U0tYI_/revisions/head
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR TRACKING ACCOUNT>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 403
      message: Forbidden
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "error": {
          "errors": [
           {
            "domain": "global",
            "reason": "revisionsNotSupported",
            "message": "The file does not support revisions."
           }
          ],
          "code": 403,
          "message": "The file does not support revisions."
         }
        }
  recorded_at: Sat, 03 Mar 2018 03:56:05 GMT
- request:
    method: get
    uri: https://www.googleapis.com/drive/v3/files?fields=files/id,files/name,files/mimeType,files/parents,files/trashed&q=%271k8IejmkNMEdpXgnLN6D0j2kF_-U0tYI_%27%20in%20parents
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR TRACKING ACCOUNT>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "files": []
        }
  recorded_at: Sat, 03 Mar 2018 03:56:05 GMT
- request:
    method: delete
    uri: https://www.googleapis.com/drive/v3/files/1k8IejmkNMEdpXgnLN6D0j2kF_-U0tYI_
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR TRACKING ACCOUNT>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 204
      message: No Content
    headers:
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Sat, 03 Mar 2018 03:56:05 GMT
[...]
- request:
    method: delete
    uri: https://www.googleapis.com/drive/v3/files/1hcDXXe5YSH2GYiM5WUE68uBLhyZncqNp
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR TRACKING ACCOUNT>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 204
      message: No Content
    headers:
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Sat, 03 Mar 2018 03:56:07 GMT
- request:
    method: get
    uri: https://www.googleapis.com/drive/v3/files/1YeW3zDXcWkW1jBiE_V9m3bjCSjFMyxo2?fields=id,name,mimeType,parents,trashed
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR TRACKING ACCOUNT>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "id": "1YeW3zDXcWkW1jBiE_V9m3bjCSjFMyxo2",
         "name": "Test File",
         "mimeType": "application/vnd.google-apps.folder",
         "trashed": false,
         "parents": [
          "1Xy0OyS1IzJdS3A0ZpGrpUNi4EZRFnFfh"
         ]
        }
  recorded_at: Sat, 03 Mar 2018 03:57:03 GMT
- request:
    method: get
    uri: https://www.googleapis.com/drive/v3/files/1YeW3zDXcWkW1jBiE_V9m3bjCSjFMyxo2/revisions/head
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR TRACKING ACCOUNT>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 403
      message: Forbidden
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "error": {
          "errors": [
           {
            "domain": "global",
            "reason": "revisionsNotSupported",
            "message": "The file does not support revisions."
           }
          ],
          "code": 403,
          "message": "The file does not support revisions."
         }
        }
  recorded_at: Sat, 03 Mar 2018 03:57:03 GMT
- request:
    method: get
    uri: https://www.googleapis.com/drive/v3/files?fields=files/id,files/name,files/mimeType,files/parents,files/trashed&q=%271YeW3zDXcWkW1jBiE_V9m3bjCSjFMyxo2%27%20in%20parents
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR TRACKING ACCOUNT>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "files": []
        }
  recorded_at: Sat, 03 Mar 2018 03:57:03 GMT
- request:
    method: delete
    uri: https://www.googleapis.com/drive/v3/files/1YeW3zDXcWkW1jBiE_V9m3bjCSjFMyxo2
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR TRACKING ACCOUNT>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 204
      message: No Content
    headers:
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Sat, 03 Mar 2018 03:57:04 GMT
[...]
- request:
    method: delete
    uri: https://www.googleapis.com/drive/v3/files/1Xy0OyS1IzJdS3A0ZpGrpUNi4EZRFnFfh
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR TRACKING ACCOUNT>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 204
      message: No Content
    headers:
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Sat, 03 Mar 2018 03:57:05 GMT
- request:
    method: get
    uri: https://www.googleapis.com/drive/v3/files/1RYCFtNAimdavxFOlALBPV3QRE2KbaJHe?fields=id,name,mimeType,parents,trashed
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR TRACKING ACCOUNT>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "id": "1RYCFtNAimdavxFOlALBPV3QRE2KbaJHe",
         "name": "Test File",
         "mimeType": "application/vnd.google-apps.folder",
         "trashed": false,
         "parents": [
          "1l2nQ4n1FaiDB0Ijz6aZWXamQgmaErpHA"
         ]
        }
  recorded_at: Sat, 03 Mar 2018 03:58:23 GMT
- request:
    method: get
    uri: https://www.googleapis.com/drive/v3/files/1RYCFtNAimdavxFOlALBPV3QRE2KbaJHe/revisions/head
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR TRACKING ACCOUNT>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 403
      message: Forbidden
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "error": {
          "errors": [
           {
            "domain": "global",
            "reason": "revisionsNotSupported",
            "message": "The file does not support revisions."
           }
          ],
          "code": 403,
          "message": "The file does not support revisions."
         }
        }
  recorded_at: Sat, 03 Mar 2018 03:58:24 GMT
- request:
    method: get
    uri: https://www.googleapis.com/drive/v3/files?fields=files/id,files/name,files/mimeType,files/parents,files/trashed&q=%271RYCFtNAimdavxFOlALBPV3QRE2KbaJHe%27%20in%20parents
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR TRACKING ACCOUNT>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "files": [
          {
           "id": "1nsyV12oX_5lIfZS2x-lBnzcKD6Qu7TJ4",
           "name": "sub2",
           "mimeType": "application/vnd.google-apps.folder",
           "trashed": false,
           "parents": [
            "1RYCFtNAimdavxFOlALBPV3QRE2KbaJHe"
           ]
          },
          {
           "id": "1tY7sUNHm3gAY-2afnHWACE1jU7vZ-IjY",
           "name": "sub1",
           "mimeType": "application/vnd.google-apps.folder",
           "trashed": false,
           "parents": [
            "1RYCFtNAimdavxFOlALBPV3QRE2KbaJHe"
           ]
          }
         ]
        }
  recorded_at: Sat, 03 Mar 2018 03:58:24 GMT
- request:
    method: delete
    uri: https://www.googleapis.com/drive/v3/files/1l2nQ4n1FaiDB0Ijz6aZWXamQgmaErpHA
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR TRACKING ACCOUNT>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 204
      message: No Content
    headers:
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Sat, 03 Mar 2018 03:58:25 GMT
- request:
    method: post
    uri: https://www.googleapis.com/oauth2/v4/token
    body:
      encoding: ASCII-8BIT
      string: grant_type=refresh_token&refresh_token=<REFRESH TOKEN FOR TRACKING ACCOUNT>&client_id=<CLIENT
        ID>&client_secret=<CLIENT SECRET>
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "access_token": "<ACCESS TOKEN FOR TRACKING ACCOUNT>",
         "token_type": "Bearer",
         "expires_in": 3600
        }
  recorded_at: Sat, 03 Mar 2018 03:59:01 GMT
- request:
    method: post
    uri: https://www.googleapis.com/drive/v3/files?fields=id,name,mimeType,parents,trashed
    body:
      encoding: UTF-8
      string: '{"mimeType":"application/vnd.google-apps.folder","name":"Test @ 2018-03-03
        03:59:01 UTC","parents":["root"]}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <ACCESS TOKEN FOR TRACKING ACCOUNT>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "id": "1zAryLL1seYQPzeITkjDSPZe4EKs0nSks",
         "name": "Test @ 2018-03-03 03:59:01 UTC",
         "mimeType": "application/vnd.google-apps.folder",
         "trashed": false,
         "parents": [
          "0AIeK5UAEPQfeUk9PVA"
         ]
        }
  recorded_at: Sat, 03 Mar 2018 03:59:01 GMT
[...]
- request:
    method: get
    uri: https://www.googleapis.com/drive/v3/files/1FQVKLOJCSx4TXVWCPNQoWseiZzZ9FXl0?fields=id,name,mimeType,parents,trashed
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR TRACKING ACCOUNT>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "id": "1FQVKLOJCSx4TXVWCPNQoWseiZzZ9FXl0",
         "name": "Test File",
         "mimeType": "application/vnd.google-apps.folder",
         "trashed": false,
         "parents": [
          "1zAryLL1seYQPzeITkjDSPZe4EKs0nSks"
         ]
        }
  recorded_at: Sat, 03 Mar 2018 03:59:03 GMT
- request:
    method: get
    uri: https://www.googleapis.com/drive/v3/files/1FQVKLOJCSx4TXVWCPNQoWseiZzZ9FXl0/revisions/head
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR TRACKING ACCOUNT>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 403
      message: Forbidden
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "error": {
          "errors": [
           {
            "domain": "global",
            "reason": "revisionsNotSupported",
            "message": "The file does not support revisions."
           }
          ],
          "code": 403,
          "message": "The file does not support revisions."
         }
        }
  recorded_at: Sat, 03 Mar 2018 03:59:03 GMT
- request:
    method: get
    uri: https://www.googleapis.com/drive/v3/files?fields=files/id,files/name,files/mimeType,files/parents,files/trashed&q=%271FQVKLOJCSx4TXVWCPNQoWseiZzZ9FXl0%27%20in%20parents
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR TRACKING ACCOUNT>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "files": [
          {
           "id": "1t3dCBoiaIfcxPqE4GshAUast3hUeaNIa",
           "name": "sub2",
           "mimeType": "application/vnd.google-apps.folder",
           "trashed": false,
           "parents": [
            "1FQVKLOJCSx4TXVWCPNQoWseiZzZ9FXl0"
           ]
          },
          {
           "id": "17plUTluzsuM6ef7LIw22K99jdOpBuBbO",
           "name": "sub1",
           "mimeType": "application/vnd.google-apps.folder",
           "trashed": false,
           "parents": [
            "1FQVKLOJCSx4TXVWCPNQoWseiZzZ9FXl0"
           ]
          }
         ]
        }
  recorded_at: Sat, 03 Mar 2018 03:59:03 GMT
- request:
    method: get
    uri: https://www.googleapis.com/drive/v3/files/1t3dCBoiaIfcxPqE4GshAUast3hUeaNIa/revisions/head
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR TRACKING ACCOUNT>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 403
      message: Forbidden
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "error": {
          "errors": [
           {
            "domain": "global",
            "reason": "revisionsNotSupported",
            "message": "The file does not support revisions."
           }
          ],
          "code": 403,
          "message": "The file does not support revisions."
         }
        }
  recorded_at: Sat, 03 Mar 2018 03:59:03 GMT
- request:
    method: get
    uri: https://www.googleapis.com/drive/v3/files/17plUTluzsuM6ef7LIw22K99jdOpBuBbO/revisions/head
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR TRACKING ACCOUNT>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 403
      message: Forbidden
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "error": {
          "errors": [
           {
            "domain": "global",
            "reason": "revisionsNotSupported",
            "message": "The file does not support revisions."
           }
          ],
          "code": 403,
          "message": "The file does not support revisions."
         }
        }
  recorded_at: Sat, 03 Mar 2018 03:59:04 GMT
- request:
    method: delete
    uri: https://www.googleapis.com/drive/v3/files/1FQVKLOJCSx4TXVWCPNQoWseiZzZ9FXl0
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR TRACKING ACCOUNT>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 204
      message: No Content
    headers:
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Sat, 03 Mar 2018 03:59:04 GMT
[...]
- request:
    method: delete
    uri: https://www.googleapis.com/drive/v3/files/1zAryLL1seYQPzeITkjDSPZe4EKs0nSks
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR TRACKING ACCOUNT>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 204
      message: No Content
    headers:
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Sat, 03 Mar 2018 03:59:04 GMT
recorded_with: VCR 4.0.0
