---
http_interactions:
- request:
    method: post
    uri: https://oauth2.googleapis.com/token
    body:
      encoding: ASCII-8BIT
      string: grant_type=refresh_token&refresh_token=<REFRESH TOKEN FOR TRACKING ACCOUNT>&client_id=<CLIENT
        ID>&client_secret=<CLIENT SECRET>
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "access_token": "<ACCESS TOKEN FOR TRACKING ACCOUNT>",
          "expires_in": 3600,
          "scope": "https://www.googleapis.com/auth/drive",
          "token_type": "Bearer"
        }
  recorded_at: Mon, 04 Mar 2019 01:54:47 GMT
- request:
    method: post
    uri: https://www.googleapis.com/drive/v3/files?fields=id,name,mimeType,parents,permissions,trashed,thumbnailLink,thumbnailVersion
    body:
      encoding: UTF-8
      string: '{"mimeType":"application/vnd.google-apps.folder","name":"Test @ 2019-03-04
        01:54:47 UTC","parents":["root"]}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <ACCESS TOKEN FOR TRACKING ACCOUNT>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "id": "1JlB2HOGcea04Nca6u873GabFbHS2Rhrz",
         "name": "Test @ 2019-03-04 01:54:47 UTC",
         "mimeType": "application/vnd.google-apps.folder",
         "trashed": false,
         "parents": [
          "0AIeK5UAEPQfeUk9PVA"
         ],
         "thumbnailVersion": "0",
         "permissions": [
          {
           "kind": "drive#permission",
           "id": "11673017242486491425",
           "type": "user",
           "emailAddress": "<EMAIL ADDRESS FOR TRACKING ACCOUNT>",
           "role": "owner",
           "displayName": "Upshift One",
           "deleted": false
          }
         ]
        }
  recorded_at: Mon, 04 Mar 2019 01:54:48 GMT
[...]
- request:
    method: get
    uri: https://www.googleapis.com/drive/v3/files/1LkRyELotHzZyW_F72MWdh6XN5CmbIKBc?fields=id,name,mimeType,parents,permissions,trashed,thumbnailLink,thumbnailVersion
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR TRACKING ACCOUNT>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "id": "1LkRyELotHzZyW_F72MWdh6XN5CmbIKBc",
         "name": "Test File",
         "mimeType": "application/vnd.google-apps.folder",
         "trashed": false,
         "parents": [
          "1JlB2HOGcea04Nca6u873GabFbHS2Rhrz"
         ],
         "thumbnailVersion": "0",
         "permissions": [
          {
           "kind": "drive#permission",
           "id": "11673017242486491425",
           "type": "user",
           "emailAddress": "<EMAIL ADDRESS FOR TRACKING ACCOUNT>",
           "role": "owner",
           "displayName": "Upshift One",
           "deleted": false
          }
         ]
        }
  recorded_at: Mon, 04 Mar 2019 01:54:50 GMT
- request:
    method: get
    uri: https://www.googleapis.com/drive/v3/files/1LkRyELotHzZyW_F72MWdh6XN5CmbIKBc/revisions/head
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR TRACKING ACCOUNT>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 403
      message: Forbidden
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "error": {
          "errors": [
           {
            "domain": "global",
            "reason": "revisionsNotSupported",
            "message": "The file does not support revisions."
           }
          ],
          "code": 403,
          "message": "The file does not support revisions."
         }
        }
  recorded_at: Mon, 04 Mar 2019 01:54:50 GMT
- request:
    method: get
    uri: https://www.googleapis.com/drive/v3/files?fields=files/id,files/name,files/mimeType,files/parents,files/permissions,files/trashed,files/thumbnailLink,files/thumbnailVersion&q=%271LkRyELotHzZyW_F72MWdh6XN5CmbIKBc%27%20in%20parents
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR TRACKING ACCOUNT>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "files": [
          {
           "id": "1Ks5D3aQJNZ78Ro8OdncRn65IuB0Pd1Ks",
           "name": "sub2",
           "mimeType": "application/vnd.google-apps.folder",
           "trashed": false,
           "parents": [
            "1LkRyELotHzZyW_F72MWdh6XN5CmbIKBc"
           ],
           "thumbnailVersion": "0",
           "permissions": [
            {
             "kind": "drive#permission",
             "id": "11673017242486491425",
             "type": "user",
             "emailAddress": "<EMAIL ADDRESS FOR TRACKING ACCOUNT>",
             "role": "owner",
             "displayName": "Upshift One",
             "deleted": false
            }
           ]
          },
          {
           "id": "1zv9rYB8KLqUpNtRBgXHQQzeTZWUt0HSL",
           "name": "sub1",
           "mimeType": "application/vnd.google-apps.folder",
           "trashed": false,
           "parents": [
            "1LkRyELotHzZyW_F72MWdh6XN5CmbIKBc"
           ],
           "thumbnailVersion": "0",
           "permissions": [
            {
             "kind": "drive#permission",
             "id": "11673017242486491425",
             "type": "user",
             "emailAddress": "<EMAIL ADDRESS FOR TRACKING ACCOUNT>",
             "role": "owner",
             "displayName": "Upshift One",
             "deleted": false
            }
           ]
          }
         ]
        }
  recorded_at: Mon, 04 Mar 2019 01:54:51 GMT
- request:
    method: get
    uri: https://www.googleapis.com/drive/v3/files/1Ks5D3aQJNZ78Ro8OdncRn65IuB0Pd1Ks/revisions/head
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR TRACKING ACCOUNT>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 403
      message: Forbidden
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "error": {
          "errors": [
           {
            "domain": "global",
            "reason": "revisionsNotSupported",
            "message": "The file does not support revisions."
           }
          ],
          "code": 403,
          "message": "The file does not support revisions."
         }
        }
  recorded_at: Mon, 04 Mar 2019 01:54:51 GMT
- request:
    method: get
    uri: https://www.googleapis.com/drive/v3/files/1zv9rYB8KLqUpNtRBgXHQQzeTZWUt0HSL/revisions/head
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR TRACKING ACCOUNT>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 403
      message: Forbidden
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "error": {
          "errors": [
           {
            "domain": "global",
            "reason": "revisionsNotSupported",
            "message": "The file does not support revisions."
           }
          ],
          "code": 403,
          "message": "The file does not support revisions."
         }
        }
  recorded_at: Mon, 04 Mar 2019 01:54:52 GMT
- request:
    method: delete
    uri: https://www.googleapis.com/drive/v3/files/1zv9rYB8KLqUpNtRBgXHQQzeTZWUt0HSL
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR TRACKING ACCOUNT>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 204
      message: No Content
    headers:
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Mon, 04 Mar 2019 01:54:52 GMT
[...]
- request:
    method: get
    uri: https://www.googleapis.com/drive/v3/files/12sZIeWGsSUP9D85F8qx-lqvMaHvbGHP6/revisions/head
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR TRACKING ACCOUNT>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 403
      message: Forbidden
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "error": {
          "errors": [
           {
            "domain": "global",
            "reason": "revisionsNotSupported",
            "message": "The file does not support revisions."
           }
          ],
          "code": 403,
          "message": "The file does not support revisions."
         }
        }
  recorded_at: Mon, 04 Mar 2019 01:54:53 GMT
- request:
    method: get
    uri: https://www.googleapis.com/drive/v3/files/1zv9rYB8KLqUpNtRBgXHQQzeTZWUt0HSL?fields=id,name,mimeType,parents,permissions,trashed,thumbnailLink,thumbnailVersion
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR TRACKING ACCOUNT>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "error": {
          "errors": [
           {
            "domain": "global",
            "reason": "notFound",
            "message": "File not found: 1zv9rYB8KLqUpNtRBgXHQQzeTZWUt0HSL.",
            "locationType": "parameter",
            "location": "fileId"
           }
          ],
          "code": 404,
          "message": "File not found: 1zv9rYB8KLqUpNtRBgXHQQzeTZWUt0HSL."
         }
        }
  recorded_at: Mon, 04 Mar 2019 01:54:54 GMT
- request:
    method: delete
    uri: https://www.googleapis.com/drive/v3/files/1JlB2HOGcea04Nca6u873GabFbHS2Rhrz
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR TRACKING ACCOUNT>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 204
      message: No Content
    headers:
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Mon, 04 Mar 2019 01:54:54 GMT
recorded_with: VCR 4.0.0
