/ render a single ancestor

/ connector icon: >
svg.separator viewBox='0 0 24 24'
  path[fill='currentColor'
       d="M8.59,16.58L13.17,12L8.59,7.41L10,6L16,12L10,18L8.59,16.58Z"]

/ link to the ancestor
=<> link_to ancestor.name,
            profile_project_revision_folder_path( \
              project.owner,
              project,
              revision,
              ancestor.hashed_file_id \
            ),
            class: "breadcrumb#{ancestor == current_folder ? ' active' : ''}"
