---
http_interactions:
- request:
    method: post
    uri: https://oauth2.googleapis.com/token
    body:
      encoding: ASCII-8BIT
      string: grant_type=refresh_token&refresh_token=<REFRESH TOKEN FOR TRACKING ACCOUNT>&client_id=<CLIENT
        ID>&client_secret=<CLIENT SECRET>
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "access_token": "<ACCESS TOKEN FOR TRACKING ACCOUNT>",
          "expires_in": 3600,
          "scope": "https://www.googleapis.com/auth/drive",
          "token_type": "Bearer"
        }
  recorded_at: Wed, 31 Oct 2018 00:36:37 GMT
- request:
    method: post
    uri: https://www.googleapis.com/drive/v3/files?fields=id,name,mimeType,parents,permissions,trashed,thumbnailLink,thumbnailVersion
    body:
      encoding: UTF-8
      string: '{"mimeType":"application/vnd.google-apps.folder","name":"Test @ 2018-10-31
        00:36:37 UTC","parents":["root"]}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <ACCESS TOKEN FOR TRACKING ACCOUNT>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "id": "1AFMc4utnNLuiXjGTDwwnFTgmq5kj98Zb",
         "name": "Test @ 2018-10-31 00:36:37 UTC",
         "mimeType": "application/vnd.google-apps.folder",
         "trashed": false,
         "parents": [
          "0AIeK5UAEPQfeUk9PVA"
         ],
         "thumbnailVersion": "0",
         "permissions": [
          {
           "kind": "drive#permission",
           "id": "11673017242486491425",
           "type": "user",
           "emailAddress": "<EMAIL ADDRESS FOR TRACKING ACCOUNT>",
           "role": "owner",
           "displayName": "Upshift One",
           "deleted": false
          }
         ]
        }
  recorded_at: Wed, 31 Oct 2018 00:36:37 GMT
[...]
- request:
    method: post
    uri: https://www.googleapis.com/drive/v3/files/1fATrlDRsT9WL8xI0Gtf3eftykmfVsfrA/permissions?sendNotificationEmail=false
    body:
      encoding: UTF-8
      string: '{"emailAddress":"<EMAIL ADDRESS FOR USER ACCOUNT>","role":"reader","type":"user"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <ACCESS TOKEN FOR TRACKING ACCOUNT>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "drive#permission",
         "id": "13193959451567607887",
         "type": "user",
         "role": "reader"
        }
  recorded_at: Wed, 31 Oct 2018 00:36:39 GMT
[...]
- request:
    method: get
    uri: https://www.googleapis.com/drive/v3/files/1Ddpsy6A6UTCdPslmZC9e6UgH76toEtR9a-zVh7owRzQ?fields=id,name,mimeType,parents,permissions,trashed,thumbnailLink,thumbnailVersion
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR TRACKING ACCOUNT>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "id": "1Ddpsy6A6UTCdPslmZC9e6UgH76toEtR9a-zVh7owRzQ",
         "name": "An Awesome File",
         "mimeType": "application/vnd.google-apps.document",
         "trashed": false,
         "parents": [
          "1AFMc4utnNLuiXjGTDwwnFTgmq5kj98Zb"
         ],
         "thumbnailVersion": "0",
         "permissions": [
          {
           "kind": "drive#permission",
           "id": "11673017242486491425",
           "type": "user",
           "emailAddress": "<EMAIL ADDRESS FOR TRACKING ACCOUNT>",
           "role": "owner",
           "displayName": "Upshift One",
           "deleted": false
          }
         ]
        }
  recorded_at: Wed, 31 Oct 2018 00:36:41 GMT
- request:
    method: get
    uri: https://www.googleapis.com/drive/v3/files/1Ddpsy6A6UTCdPslmZC9e6UgH76toEtR9a-zVh7owRzQ/revisions/head
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR TRACKING ACCOUNT>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "drive#revision",
         "id": "1",
         "mimeType": "application/vnd.google-apps.document",
         "modifiedTime": "2018-10-31T00:36:39.629Z"
        }
  recorded_at: Wed, 31 Oct 2018 00:36:41 GMT
- request:
    method: post
    uri: https://www.googleapis.com/drive/v3/files/1Ddpsy6A6UTCdPslmZC9e6UgH76toEtR9a-zVh7owRzQ/copy?fields=id,name,mimeType,parents,permissions,trashed,thumbnailLink,thumbnailVersion
    body:
      encoding: UTF-8
      string: '{"name":"An Awesome File","parents":["1fATrlDRsT9WL8xI0Gtf3eftykmfVsfrA"]}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <ACCESS TOKEN FOR TRACKING ACCOUNT>
  response:
    status:
      code:[...]
- request:
    method: get
    uri: https://www.googleapis.com/drive/v3/files/1lPkrv9vFuYPtNYDXAjaTuUA9fqdMMoWb-8RRxEUtmCc?fields=id,name,mimeType,parents,permissions,trashed,thumbnailLink,thumbnailVersion
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR TRACKING ACCOUNT>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      -[...]
- request:
    method: delete
    uri: https://www.googleapis.com/drive/v3/files/1fATrlDRsT9WL8xI0Gtf3eftykmfVsfrA
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR TRACKING ACCOUNT>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 204
      message: No Content
    headers:
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Wed, 31 Oct 2018 00:36:44 GMT
- request:
    method: delete
    uri: https://www.googleapis.com/drive/v3/files/1AFMc4utnNLuiXjGTDwwnFTgmq5kj98Zb
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR TRACKING ACCOUNT>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 204
      message: No Content
    headers:
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Wed, 31 Oct 2018 00:36:44 GMT
recorded_with: VCR 4.0.0
