---
http_interactions:
- request:
    method: patch
    uri: https://www.googleapis.com/drive/v3/files/1Z3OD8amVurhEb8L6i59ypg8g46Eik2Hjds-tsMg2c0E?addParents=1QWRCUnw_k-qfx2JqcSX2UPgE3yFxvnyk&fields=id,name,mimeType,parents&removeParents=1opxPch5_6he9_D-FX6b153y1drrjK0us
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <AUTHORIZATION TOKEN FOR TRACKING ACCOUNT>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "id": "1Z3OD8amVurhEb8L6i59ypg8g46Eik2Hjds-tsMg2c0E",
         "name": "Test File",
         "mimeType": "application/vnd.google-apps.document",
         "parents": [
          "1QWRCUnw_k-qfx2JqcSX2UPgE3yFxvnyk"
         ]
        }
  recorded_at: Sun, 04 Feb 2018 22:45:19 GMT
- request:
    method: get
    uri: https://www.googleapis.com/drive/v3/files/1Z3OD8amVurhEb8L6i59ypg8g46Eik2Hjds-tsMg2c0E?fields=id,name,mimeType,parents
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <AUTHORIZATION TOKEN FOR TRACKING ACCOUNT>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "id": "1Z3OD8amVurhEb8L6i59ypg8g46Eik2Hjds-tsMg2c0E",
         "name": "Test File",
         "mimeType": "application/vnd.google-apps.document",
         "parents": [
          "1QWRCUnw_k-qfx2JqcSX2UPgE3yFxvnyk"
         ]
        }
  recorded_at: Sun, 04 Feb 2018 22:45:20 GMT
- request:
    method: delete
    uri: https://www.googleapis.com/drive/v3/files/1opxPch5_6he9_D-FX6b153y1drrjK0us
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <AUTHORIZATION TOKEN FOR TRACKING ACCOUNT>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 204
      message: No Content
    headers:
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Sun, 04 Feb 2018 22:45:20 GMT
- request:
    method: patch
    uri: https://www.googleapis.com/drive/v3/files/1_f7gxKRnciO7MVsK8WPOUaMKI_HbKL1u9AF5VXkw7nc?addParents=1JVPfVylVL3jFl6XMp1bfr-Bq7YvubXl_&fields=id,name,mimeType,parents&removeParents=1ckkmtnUqVldqs-I-ndhxgLSq6tXnPnpc
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <AUTHORIZATION TOKEN FOR TRACKING ACCOUNT>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "id": "1_f7gxKRnciO7MVsK8WPOUaMKI_HbKL1u9AF5VXkw7nc",
         "name": "Test File",
         "mimeType": "application/vnd.google-apps.document",
         "parents": [
          "1JVPfVylVL3jFl6XMp1bfr-Bq7YvubXl_"
         ]
        }
  recorded_at: Sun, 04 Feb 2018 22:49:18 GMT
- request:
    method: get
    uri: https://www.googleapis.com/drive/v3/files/1_f7gxKRnciO7MVsK8WPOUaMKI_HbKL1u9AF5VXkw7nc?fields=id,name,mimeType,parents
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <AUTHORIZATION TOKEN FOR TRACKING ACCOUNT>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "id": "1_f7gxKRnciO7MVsK8WPOUaMKI_HbKL1u9AF5VXkw7nc",
         "name": "Test File",
         "mimeType": "application/vnd.google-apps.document",
         "parents": [
          "1JVPfVylVL3jFl6XMp1bfr-Bq7YvubXl_"
         ]
        }
  recorded_at: Sun, 04 Feb 2018 22:49:18 GMT
- request:
    method: delete
    uri: https://www.googleapis.com/drive/v3/files/1ckkmtnUqVldqs-I-ndhxgLSq6tXnPnpc
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <AUTHORIZATION TOKEN FOR TRACKING ACCOUNT>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 204
      message: No Content
    headers:
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Sun, 04 Feb 2018 22:49:18 GMT
- request:
    method: post
    uri: https://www.googleapis.com/drive/v3/files?fields=id,name,mimeType,parents
    body:
      encoding: UTF-8
      string: '{"mimeType":"application/vnd.google-apps.folder","name":"Test @ 2018-02-04
        22:49:28 UTC"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <AUTHORIZATION TOKEN FOR TRACKING ACCOUNT>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "id": "1gsyzg3RkOHhPZQmY8WX5dVaGsiuRaSmb",
         "name": "Test @ 2018-02-04 22:49:28 UTC",
         "mimeType": "application/vnd.google-apps.folder",
         "parents": [
          "0AIeK5UAEPQfeUk9PVA"
         ]
        }
  recorded_at: Sun, 04 Feb 2018 22:49:29 GMT
[...]
- request:
    method: patch
    uri: https://www.googleapis.com/drive/v3/files/1zMv2hTKIBZGd-bf3lTN6rwINEjrrbwOSWIWCK5s1SOw?addParents=1B5fYvcygQAlBZAD40dpSRFjQTs6WekvK&fields=id,name,mimeType,parents&removeParents=1gsyzg3RkOHhPZQmY8WX5dVaGsiuRaSmb
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <AUTHORIZATION TOKEN FOR TRACKING ACCOUNT>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "id": "1zMv2hTKIBZGd-bf3lTN6rwINEjrrbwOSWIWCK5s1SOw",
         "name": "Test File",
         "mimeType": "application/vnd.google-apps.document",
         "parents": [
          "1B5fYvcygQAlBZAD40dpSRFjQTs6WekvK"
         ]
        }
  recorded_at: Sun, 04 Feb 2018 22:49:30 GMT
- request:
    method: get
    uri: https://www.googleapis.com/drive/v3/files/1zMv2hTKIBZGd-bf3lTN6rwINEjrrbwOSWIWCK5s1SOw?fields=id,name,mimeType,parents
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <AUTHORIZATION TOKEN FOR TRACKING ACCOUNT>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "id": "1zMv2hTKIBZGd-bf3lTN6rwINEjrrbwOSWIWCK5s1SOw",
         "name": "Test File",
         "mimeType": "application/vnd.google-apps.document",
         "parents": [
          "1B5fYvcygQAlBZAD40dpSRFjQTs6WekvK"
         ]
        }
  recorded_at: Sun, 04 Feb 2018 22:49:31 GMT
- request:
    method: delete
    uri: https://www.googleapis.com/drive/v3/files/1gsyzg3RkOHhPZQmY8WX5dVaGsiuRaSmb
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <AUTHORIZATION TOKEN FOR TRACKING ACCOUNT>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 204
      message: No Content
    headers:
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Sun, 04 Feb 2018 22:49:31 GMT
recorded_with: VCR 4.0.0
