---
http_interactions:
- request:
    method: post
    uri: https://www.googleapis.com/drive/v3/files?fields=id,name,mimeType,parents
    body:
      encoding: UTF-8
      string: '{"mimeType":"application/vnd.google-apps.folder","name":"Test @ 2018-02-07
        03:33:18 UTC","parents":["root"]}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <ACCESS TOKEN FOR TRACKING ACCOUNT>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "id": "1NixegpNpzjkuZrh-8VOLXAIRZDTr7gKI",
         "name": "Test @ 2018-02-07 03:33:18 UTC",
         "mimeType": "application/vnd.google-apps.folder",
         "parents": [
          "0AIeK5UAEPQfeUk9PVA"
         ]
        }
  recorded_at: Wed, 07 Feb 2018 03:33:18 GMT
[...]
- request:
    method: patch
    uri: https://www.googleapis.com/drive/v3/files/12qRl3DZAx0F0ji2XVPjOGWOfy9FtZb_15HZ81AQaA-g?addParents=1VEnwgQwwgdTdufcffWVhBWOYF63NDkuO&fields=id,name,mimeType,parents&removeParents=1NixegpNpzjkuZrh-8VOLXAIRZDTr7gKI
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR TRACKING ACCOUNT>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "id": "12qRl3DZAx0F0ji2XVPjOGWOfy9FtZb_15HZ81AQaA-g",
         "name": "Test File",
         "mimeType": "application/vnd.google-apps.document",
         "parents": [
          "1VEnwgQwwgdTdufcffWVhBWOYF63NDkuO"
         ]
        }
  recorded_at: Wed, 07 Feb 2018 03:33:21 GMT
- request:
    method: get
    uri: https://www.googleapis.com/drive/v3/files/12qRl3DZAx0F0ji2XVPjOGWOfy9FtZb_15HZ81AQaA-g?fields=id,name,mimeType,parents
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR TRACKING ACCOUNT>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "id": "12qRl3DZAx0F0ji2XVPjOGWOfy9FtZb_15HZ81AQaA-g",
         "name": "Test File",
         "mimeType": "application/vnd.google-apps.document",
         "parents": [
          "1VEnwgQwwgdTdufcffWVhBWOYF63NDkuO"
         ]
        }
  recorded_at: Wed, 07 Feb 2018 03:33:21 GMT
- request:
    method: delete
    uri: https://www.googleapis.com/drive/v3/files/1NixegpNpzjkuZrh-8VOLXAIRZDTr7gKI
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR TRACKING ACCOUNT>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 204
      message: No Content
    headers:
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Wed, 07 Feb 2018 03:33:21 GMT
recorded_with: VCR 4.0.0
