---
http_interactions:
- request:
    method: post
    uri: https://www.googleapis.com/oauth2/v4/token
    body:
      encoding: ASCII-8BIT
      string: grant_type=refresh_token&refresh_token=<REFRESH TOKEN FOR TRACKING ACCOUNT>&client_id=<CLIENT
        ID>&client_secret=<CLIENT SECRET>
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: |-
        {
          "access_token": "<ACCESS TOKEN FOR TRACKING ACCOUNT>",
          "expires_in": 3600,
          "scope": "https://www.googleapis.com/auth/drive",
          "token_type": "Bearer"
        }
  recorded_at: Thu, 18 Oct 2018 09:29:08 GMT
- request:
    method: post
    uri: https://www.googleapis.com/drive/v3/files?fields=id,name,mimeType,parents,permissions,trashed,thumbnailLink,thumbnailVersion
    body:
      encoding: UTF-8
      string: '{"mimeType":"application/vnd.google-apps.folder","name":"Test @ 2018-10-18
        09:29:08 UTC","parents":["root"]}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <ACCESS TOKEN FOR TRACKING ACCOUNT>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "id": "1s1YTCPy9FkyaPgaZ6k5pcFrmiKmnVBup",
         "name": "Test @ 2018-10-18 09:29:08 UTC",
         "mimeType": "application/vnd.google-apps.folder",
         "trashed": false,
         "parents": [
          "0AIeK5UAEPQfeUk9PVA"
         ],
         "thumbnailVersion": "0",
         "permissions": [
          {
           "kind": "drive#permission",
           "id": "11673017242486491425",
           "type": "user",
           "emailAddress": "<EMAIL ADDRESS FOR TRACKING ACCOUNT>",
           "role": "owner",
           "displayName": "Upshift One",
           "deleted": false
          }
         ]
        }
  recorded_at: Thu, 18 Oct 2018 09:29:08 GMT
[...]
- request:
    method: get
    uri: https://www.googleapis.com/drive/v3/files/1vlXBvh1B2yCOXaP8kuW09p7G3fTvmA7m?fields=id,name,mimeType,parents,permissions,trashed,thumbnailLink,thumbnailVersion
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR TRACKING ACCOUNT>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "id": "1vlXBvh1B2yCOXaP8kuW09p7G3fTvmA7m",
         "name": "Test File",
         "mimeType": "application/vnd.google-apps.folder",
         "trashed": false,
         "parents": [
          "1s1YTCPy9FkyaPgaZ6k5pcFrmiKmnVBup"
         ],
         "thumbnailVersion": "0",
         "permissions": [
          {
           "kind": "drive#permission",
           "id": "11673017242486491425",
           "type": "user",
           "emailAddress": "<EMAIL ADDRESS FOR TRACKING ACCOUNT>",
           "role": "owner",
           "displayName": "Upshift One",
           "deleted": false
          }
         ]
        }
  recorded_at: Thu, 18 Oct 2018 09:29:10 GMT
- request:
    method: get
    uri: https://www.googleapis.com/drive/v3/files/1vlXBvh1B2yCOXaP8kuW09p7G3fTvmA7m/revisions/head
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR TRACKING ACCOUNT>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 403
      message: Forbidden
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "error": {
          "errors": [
           {
            "domain": "global",
            "reason": "revisionsNotSupported",
            "message": "The file does not support revisions."
           }
          ],
          "code": 403,
          "message": "The file does not support revisions."
         }
        }
  recorded_at: Thu, 18 Oct 2018 09:29:10 GMT
- request:
    method: get
    uri: https://www.googleapis.com/drive/v3/files?fields=files/id,files/name,files/mimeType,files/parents,files/permissions,files/trashed,files/thumbnailLink,files/thumbnailVersion&q=%271vlXBvh1B2yCOXaP8kuW09p7G3fTvmA7m%27%20in%20parents
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR TRACKING ACCOUNT>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "files": [
          {
           "id": "1ffzJX3Acy_at3rYNW7ZYWwW-dKrUczSH",
           "name": "sub2",
           "mimeType": "application/vnd.google-apps.folder",
           "trashed": false,
           "parents": [
            "1vlXBvh1B2yCOXaP8kuW09p7G3fTvmA7m"
           ],
           "thumbnailVersion": "0",
           "permissions": [
            {
             "kind": "drive#permission",
             "id": "11673017242486491425",
             "type": "user",
             "emailAddress": "<EMAIL ADDRESS FOR TRACKING ACCOUNT>",
             "role": "owner",
             "displayName": "Upshift One",
             "deleted": false
            }
           ]
          },
          {
           "id": "1htwIX-2iKM9D8KofGXUnbVrXaonn7h7v",
           "name": "sub1",
           "mimeType": "application/vnd.google-apps.folder",
           "trashed": false,
           "parents": [
            "1vlXBvh1B2yCOXaP8kuW09p7G3fTvmA7m"
           ],
           "thumbnailVersion": "0",
           "permissions": [
            {
             "kind": "drive#permission",
             "id": "11673017242486491425",
             "type": "user",
             "emailAddress": "<EMAIL ADDRESS FOR TRACKING ACCOUNT>",
             "role": "owner",
             "displayName": "Upshift One",
             "deleted": false
            }
           ]
          }
         ]
        }
  recorded_at: Thu, 18 Oct 2018 09:29:10 GMT
- request:
    method: get
    uri: https://www.googleapis.com/drive/v3/files/1ffzJX3Acy_at3rYNW7ZYWwW-dKrUczSH/revisions/head
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR TRACKING ACCOUNT>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 403
      message: Forbidden
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "error": {
          "errors": [
           {
            "domain": "global",
            "reason": "revisionsNotSupported",
            "message": "The file does not support revisions."
           }
          ],
          "code": 403,
          "message": "The file does not support revisions."
         }
        }
  recorded_at: Thu, 18 Oct 2018 09:29:10 GMT
- request:
    method: get
    uri: https://www.googleapis.com/drive/v3/files/1htwIX-2iKM9D8KofGXUnbVrXaonn7h7v/revisions/head
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR TRACKING ACCOUNT>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 403
      message: Forbidden
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "error": {
          "errors": [
           {
            "domain": "global",
            "reason": "revisionsNotSupported",
            "message": "The file does not support revisions."
           }
          ],
          "code": 403,
          "message": "The file does not support revisions."
         }
        }
  recorded_at: Thu, 18 Oct 2018 09:29:10 GMT
- request:
    method: delete
    uri: https://www.googleapis.com/drive/v3/files/1htwIX-2iKM9D8KofGXUnbVrXaonn7h7v
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR TRACKING ACCOUNT>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 204
      message: No Content
    headers:
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Thu, 18 Oct 2018 09:29:11 GMT
[...]
- request:
    method: get
    uri: https://www.googleapis.com/drive/v3/files/1E01sTfPINVPUiYc8xLWeQStAnVbiZYUw/revisions/head
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR TRACKING ACCOUNT>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 403
      message: Forbidden
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "error": {
          "errors": [
           {
            "domain": "global",
            "reason": "revisionsNotSupported",
            "message": "The file does not support revisions."
           }
          ],
          "code": 403,
          "message": "The file does not support revisions."
         }
        }
  recorded_at: Thu, 18 Oct 2018 09:29:12 GMT
- request:
    method: delete
    uri: https://www.googleapis.com/drive/v3/files/1s1YTCPy9FkyaPgaZ6k5pcFrmiKmnVBup
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR TRACKING ACCOUNT>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 204
      message: No Content
    headers:
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Thu, 18 Oct 2018 09:29:12 GMT
recorded_with: VCR 4.0.0
