---
http_interactions:
- request:
    method: post
    uri: https://oauth2.googleapis.com/token
    body:
      encoding: ASCII-8BIT
      string: grant_type=refresh_token&refresh_token=<REFRESH TOKEN FOR TRACKING ACCOUNT>&client_id=<CLIENT
        ID>&client_secret=<CLIENT SECRET>
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "access_token": "<ACCESS TOKEN FOR TRACKING ACCOUNT>",
          "expires_in": 3600,
          "scope": "https://www.googleapis.com/auth/drive",
          "token_type": "Bearer"
        }
  recorded_at: Mon, 04 Mar 2019 01:55:06 GMT
- request:
    method: post
    uri: https://www.googleapis.com/drive/v3/files?fields=id,name,mimeType,parents,permissions,trashed,thumbnailLink,thumbnailVersion
    body:
      encoding: UTF-8
      string: '{"mimeType":"application/vnd.google-apps.folder","name":"Test @ 2019-03-04
        01:55:06 UTC","parents":["root"]}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <ACCESS TOKEN FOR TRACKING ACCOUNT>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "id": "1FBzTU02VTT_u5HPwTvhSTpkpIcHYqbhq",
         "name": "Test @ 2019-03-04 01:55:06 UTC",
         "mimeType": "application/vnd.google-apps.folder",
         "trashed": false,
         "parents": [
          "0AIeK5UAEPQfeUk9PVA"
         ],
         "thumbnailVersion": "0",
         "permissions": [
          {
           "kind": "drive#permission",
           "id": "11673017242486491425",
           "type": "user",
           "emailAddress": "<EMAIL ADDRESS FOR TRACKING ACCOUNT>",
           "role": "owner",
           "displayName": "Upshift One",
           "deleted": false
          }
         ]
        }
  recorded_at: Mon, 04 Mar 2019 01:55:07 GMT
[...]
- request:
    method: patch
    uri: https://www.googleapis.com/upload/drive/v3/files/1dIqSlfrZrSoh3b-3PG-0Hb8Jq3SIe_uRmbBpIm_VspU
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR TRACKING ACCOUNT>
      X-Goog-Upload-Protocol:
      - resumable
      X-Goog-Upload-Command:
      - start
      X-Goog-Upload-Header-Content-Length:
      - '16'
      X-Goog-Upload-Header-Content-Type:
      - application/octet-stream
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Goog-Upload-Status:
      - active
      X-Goog-Upload-Url:
      - https://www.googleapis.com/upload/drive/v3/files/1dIqSlfrZrSoh3b-3PG-0Hb8Jq3SIe_uRmbBpIm_VspU?upload_id=AEnB2UqSAZ3VgbmEFV_AMqai7989WWB2hhsdh4oAZ5ZtCvNEzhHB73OE0OdHmPdiJcYJ8C8rA2rPJuvr0gV6zaA_Q5_GgsZ7JEvI6EIVDhCfNoEMNXh6C08&upload_protocol=resumable
      X-Goog-Upload-Control-Url:
      - https://www.googleapis.com/upload/drive/v3/files/1dIqSlfrZrSoh3b-3PG-0Hb8Jq3SIe_uRmbBpIm_VspU?upload_id=AEnB2UqSAZ3VgbmEFV_AMqai7989WWB2hhsdh4oAZ5ZtCvNEzhHB73OE0OdHmPdiJcYJ8C8rA2rPJuvr0gV6zaA_Q5_GgsZ7JEvI6EIVDhCfNoEMNXh6C08&upload_protocol=resumable
      X-Goog-Upload-Chunk-Granularity:
      - '262144'
      X-Goog-Upload-Header-Vary:
      - Origin
      - X-Origin
      X-Goog-Upload-Header-X-Google-Backends:
      - ootu18:4443
      X-Goog-Upload-Header-X-Google-Session-Info:
      - CLrLzJuGFRoCGAY6fgoeZHJpdmUtZ2Vub2Etc2VydmVyLWFwaWFyeS1wcm9kEgVkcml2ZRiDqMHn7wUiSDIwMTgxMjEwNDE5NS1pcDNwN2xrcWE1N29lYm84NTkwZXJtZ2E3MjBpMW5uaC5hcHBzLmdvb2dsZXVzZXJjb250ZW50LmNvbTDxDjDvDkqYARKEAXlhMjkuR2wzQ0JtUVlxTkw3bjg1VWprQzFIaF9QM2dtLTNJR3h1NjZSdUo1bzFuUlk5Y3JDc2FQRHNCWmpUcEdiZ1pVQ2QwREhNdklzTWJIbnAtNHhqVTd4VnZ3NVo0bUx4SVQ5MVcyQWxYc1ZhZjNpRXczd2VyM3RiXzRnRUZHT0Z4VTAEOg0xLzJNM1JHd3dWbFp-
      X-Goog-Upload-Header-Cache-Control:
      - no-cache, no-store, max-age=0, must-revalidate
      X-Goog-Upload-Header-Pragma:
      - no-cache
      X-Goog-Upload-Header-Expires:
      - Mon, 01 Jan 1990 00:00:00 GMT
      X-Goog-Upload-Header-Date:
      - Mon, 04 Mar 2019 01:55:09 GMT
      Content-Type:
      - text/html; charset=UTF-8
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Mon, 04 Mar 2019 01:55:10 GMT
- request:
    method: post
    uri: https://www.googleapis.com/upload/drive/v3/files/1dIqSlfrZrSoh3b-3PG-0Hb8Jq3SIe_uRmbBpIm_VspU?upload_id=AEnB2UqSAZ3VgbmEFV_AMqai7989WWB2hhsdh4oAZ5ZtCvNEzhHB73OE0OdHmPdiJcYJ8C8rA2rPJuvr0gV6zaA_Q5_GgsZ7JEvI6EIVDhCfNoEMNXh6C08&upload_protocol=resumable
    body:
      encoding: UTF-8
      string: new file content
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR TRACKING ACCOUNT>
      X-Goog-Upload-Command:
      - upload, finalize
      X-Goog-Upload-Offset:
      - '0'
      Content-Type:
      - application/octet-stream
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Goog-Upload-Status:
      - final
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "drive#file",
         "id": "1dIqSlfrZrSoh3b-3PG-0Hb8Jq3SIe_uRmbBpIm_VspU",
         "name": "Test File",
         "mimeType": "application/vnd.google-apps.document"
        }
  recorded_at: Mon, 04 Mar 2019 01:55:11 GMT
- request:
    method: patch
    uri: https://www.googleapis.com/drive/v3/files/1dIqSlfrZrSoh3b-3PG-0Hb8Jq3SIe_uRmbBpIm_VspU?fields=id,name,mimeType,parents,permissions,trashed,thumbnailLink,thumbnailVersion
    body:
      encoding: UTF-8
      string: '{"trashed":"true"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <ACCESS TOKEN FOR TRACKING ACCOUNT>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "id": "1dIqSlfrZrSoh3b-3PG-0Hb8Jq3SIe_uRmbBpIm_VspU",
         "name": "Test File",
         "mimeType": "application/vnd.google-apps.document",
         "trashed": true,
         "parents": [
          "1FBzTU02VTT_u5HPwTvhSTpkpIcHYqbhq"
         ],
         "thumbnailLink": "https://docs.google.com/feeds/vt?gd=true&id=1dIqSlfrZrSoh3b-3PG-0Hb8Jq3SIe_uRmbBpIm_VspU&v=1&s=AMedNnoAAAAAXHyhpF6qIxcbAfRr5ik4jzQrFbZYI7Rl&sz=s220",
         "thumbnailVersion": "1",
         "permissions": [
          {
           "kind": "drive#permission",
           "id": "11673017242486491425",
           "type": "user",
           "emailAddress": "<EMAIL ADDRESS FOR TRACKING ACCOUNT>",
           "role": "owner",
           "displayName": "Upshift One",
           "deleted": false
          }
         ]
        }
  recorded_at: Mon, 04 Mar 2019 01:55:17 GMT
[...]
- request:
    method: delete
    uri: https://www.googleapis.com/drive/v3/files/1FBzTU02VTT_u5HPwTvhSTpkpIcHYqbhq
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR TRACKING ACCOUNT>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 204
      message: No Content
    headers:
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Mon, 04 Mar 2019 01:55:17 GMT
recorded_with: VCR 4.0.0
