---
http_interactions:
- request:
    method: post
    uri: https://oauth2.googleapis.com/token
    body:
      encoding: ASCII-8BIT
      string: grant_type=refresh_token&refresh_token=<REFRESH TOKEN FOR TRACKING ACCOUNT>&client_id=<CLIENT
        ID>&client_secret=<CLIENT SECRET>
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "access_token": "<ACCESS TOKEN FOR TRACKING ACCOUNT>",
          "expires_in": 3600,
          "scope": "https://www.googleapis.com/auth/drive",
          "token_type": "Bearer"
        }
  recorded_at: Sun, 02 Dec 2018 01:28:25 GMT
- request:
    method: post
    uri: https://www.googleapis.com/drive/v3/files?fields=id,name,mimeType,parents,permissions,trashed,thumbnailLink,thumbnailVersion
    body:
      encoding: UTF-8
      string: '{"mimeType":"application/vnd.google-apps.folder","name":"Test @ 2018-12-02
        01:28:25 UTC","parents":["root"]}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <ACCESS TOKEN FOR TRACKING ACCOUNT>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "id": "17CHX5eSLx_61cCU43Ny4-1bQBuT_bKY3",
         "name": "Test @ 2018-12-02 01:28:25 UTC",
         "mimeType": "application/vnd.google-apps.folder",
         "trashed": false,
         "parents": [
          "0AIeK5UAEPQfeUk9PVA"
         ],
         "thumbnailVersion": "0",
         "permissions": [
          {
           "kind": "drive#permission",
           "id": "11673017242486491425",
           "type": "user",
           "emailAddress": "<EMAIL ADDRESS FOR TRACKING ACCOUNT>",
           "role": "owner",
           "displayName": "Upshift One",
           "deleted": false
          }
         ]
        }
  recorded_at: Sun, 02 Dec 2018 01:28:26 GMT
[...]
- request:
    method: patch
    uri: https://www.googleapis.com/upload/drive/v3/files/1nDQ6Ky7OX4PAUeJI0B6k-t_vNPvr7Mq_uMlIKdJ1lJ4
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR TRACKING ACCOUNT>
      X-Goog-Upload-Protocol:
      - resumable
      X-Goog-Upload-Command:
      - start
      X-Goog-Upload-Header-Content-Length:
      - '16'
      X-Goog-Upload-Header-Content-Type:
      - application/octet-stream
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Goog-Upload-Status:
      - active
      X-Goog-Upload-Url:
      - https://www.googleapis.com/upload/drive/v3/files/1nDQ6Ky7OX4PAUeJI0B6k-t_vNPvr7Mq_uMlIKdJ1lJ4?upload_id=AEnB2UpZYmJAsEafKxDSo_b1hPogDLmds2wbMJLDJbIWMoKgYSyx0fSxsugnr65XtAbK-Zie47vayg8aZ8L8hwRlBvGFjQ9BvQ&upload_protocol=resumable
      X-Goog-Upload-Control-Url:
      - https://www.googleapis.com/upload/drive/v3/files/1nDQ6Ky7OX4PAUeJI0B6k-t_vNPvr7Mq_uMlIKdJ1lJ4?upload_id=AEnB2UpZYmJAsEafKxDSo_b1hPogDLmds2wbMJLDJbIWMoKgYSyx0fSxsugnr65XtAbK-Zie47vayg8aZ8L8hwRlBvGFjQ9BvQ&upload_protocol=resumable
      X-Goog-Upload-Chunk-Granularity:
      - '262144'
      X-Goog-Upload-Header-Vary:
      - Origin
      - X-Origin
      X-Goog-Upload-Header-X-Google-Backends:
      - iofd67:4449
      X-Goog-Upload-Header-X-Google-Session-Info:
      - CLrLzJuGFRoCGAY6fgoeZHJpdmUtZ2Vub2Etc2VydmVyLWFwaWFyeS1wcm9kEgVkcml2ZRiDqMHn7wUiSDIwMTgxMjEwNDE5NS1pcDNwN2xrcWE1N29lYm84NTkwZXJtZ2E3MjBpMW5uaC5hcHBzLmdvb2dsZXVzZXJjb250ZW50LmNvbTDxDjDvDkqYARKEAXlhMjkuR2wxbUJ0YllZR285M1BLeW15U1U5M19yOWZRTUtDOGhyY2pLYzRkZlVtN01Oc2dmZmtQZVRLQnB1Mjl0dk5LUk5iMU93UWJiUXlxYVhkVGZzbGRMS1FIXzhyMm1RclRQb3JwTzJVNTBzMTUyRmR1aTdHVmQ5UTlland6MXVZbzAEOg0xLzJNM1JHd3dWbFp-
      X-Goog-Upload-Header-Cache-Control:
      - no-cache, no-store, max-age=0, must-revalidate
      X-Goog-Upload-Header-Pragma:
      - no-cache
      X-Goog-Upload-Header-Expires:
      - Mon, 01 Jan 1990 00:00:00 GMT
      X-Goog-Upload-Header-Date:
      - Sun, 02 Dec 2018 01:28:27 GMT
      Content-Type:
      - text/html; charset=UTF-8
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Sun, 02 Dec 2018 01:28:27 GMT
- request:
    method: post
    uri: https://www.googleapis.com/upload/drive/v3/files/1nDQ6Ky7OX4PAUeJI0B6k-t_vNPvr7Mq_uMlIKdJ1lJ4?upload_id=AEnB2UpZYmJAsEafKxDSo_b1hPogDLmds2wbMJLDJbIWMoKgYSyx0fSxsugnr65XtAbK-Zie47vayg8aZ8L8hwRlBvGFjQ9BvQ&upload_protocol=resumable
    body:
      encoding: UTF-8
      string: new file content
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR TRACKING ACCOUNT>
      X-Goog-Upload-Command:
      - upload, finalize
      X-Goog-Upload-Offset:
      - '0'
      Content-Type:
      - application/octet-stream
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Goog-Upload-Status:
      - final
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "drive#file",
         "id": "1nDQ6Ky7OX4PAUeJI0B6k-t_vNPvr7Mq_uMlIKdJ1lJ4",
         "name": "Test File",
         "mimeType": "application/vnd.google-apps.document"
        }
  recorded_at: Sun, 02 Dec 2018 01:28:28 GMT
- request:
    method: patch
    uri: https://www.googleapis.com/drive/v3/files/1nDQ6Ky7OX4PAUeJI0B6k-t_vNPvr7Mq_uMlIKdJ1lJ4?fields=id,name,mimeType,parents,permissions,trashed,thumbnailLink,thumbnailVersion
    body:
      encoding: UTF-8
      string: '{"trashed":"true"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <ACCESS TOKEN FOR TRACKING ACCOUNT>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "id": "1nDQ6Ky7OX4PAUeJI0B6k-t_vNPvr7Mq_uMlIKdJ1lJ4",
         "name": "Test File",
         "mimeType": "application/vnd.google-apps.document",
         "trashed": true,
         "parents": [
          "17CHX5eSLx_61cCU43Ny4-1bQBuT_bKY3"
         ],
         "thumbnailLink": "https://docs.google.com/feeds/vt?gd=true&id=1nDQ6Ky7OX4PAUeJI0B6k-t_vNPvr7Mq_uMlIKdJ1lJ4&v=1&s=AMedNnoAAAAAXANRYS2nM8LmFJnobuv03uEozX6bzXAw&sz=s220",
         "thumbnailVersion": "1",
         "permissions": [
          {
           "kind": "drive#permission",
           "id": "11673017242486491425",
           "type": "user",
           "emailAddress": "<EMAIL ADDRESS FOR TRACKING ACCOUNT>",
           "role": "owner",
           "displayName": "Upshift One",
           "deleted": false
          }
         ]
        }
  recorded_at: Sun, 02 Dec 2018 01:28:33 GMT
[...]
- request:
    method: delete
    uri: https://www.googleapis.com/drive/v3/files/17CHX5eSLx_61cCU43Ny4-1bQBuT_bKY3
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR TRACKING ACCOUNT>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 204
      message: No Content
    headers:
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Sun, 02 Dec 2018 01:28:34 GMT
recorded_with: VCR 4.0.0
