---
http_interactions:
- request:
    method: post
    uri: https://oauth2.googleapis.com/token
    body:
      encoding: ASCII-8BIT
      string: grant_type=refresh_token&refresh_token=<REFRESH TOKEN FOR TRACKING ACCOUNT>&client_id=<CLIENT
        ID>&client_secret=<CLIENT SECRET>
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "access_token": "<ACCESS TOKEN FOR TRACKING ACCOUNT>",
          "expires_in": 3600,
          "scope": "https://www.googleapis.com/auth/drive",
          "token_type": "Bearer"
        }
  recorded_at: Fri, 04 Jan 2019 16:04:51 GMT
- request:
    method: post
    uri: https://www.googleapis.com/drive/v3/files?fields=id,name,mimeType,parents,permissions,trashed,thumbnailLink,thumbnailVersion
    body:
      encoding: UTF-8
      string: '{"mimeType":"application/vnd.google-apps.folder","name":"Test @ 2019-01-04
        16:04:51 UTC","parents":["root"]}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <ACCESS TOKEN FOR TRACKING ACCOUNT>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "id": "1OBDRnb-LVRX9Xql5m5HtRjcR5iw-lQBO",
         "name": "Test @ 2019-01-04 16:04:51 UTC",
         "mimeType": "application/vnd.google-apps.folder",
         "trashed": false,
         "parents": [
          "0AIeK5UAEPQfeUk9PVA"
         ],
         "thumbnailVersion": "0",
         "permissions": [
          {
           "kind": "drive#permission",
           "id": "11673017242486491425",
           "type": "user",
           "emailAddress": "<EMAIL ADDRESS FOR TRACKING ACCOUNT>",
           "role": "owner",
           "displayName": "Upshift One",
           "deleted": false
          }
         ]
        }
  recorded_at: Fri, 04 Jan 2019 16:04:52 GMT
[...]
- request:
    method: patch
    uri: https://www.googleapis.com/upload/drive/v3/files/1T4CQkOyoGEnK94zxMOsP2y7F6DOr8CuHz1AF_lvmhS0
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR TRACKING ACCOUNT>
      X-Goog-Upload-Protocol:
      - resumable
      X-Goog-Upload-Command:
      - start
      X-Goog-Upload-Header-Content-Length:
      - '16'
      X-Goog-Upload-Header-Content-Type:
      - application/octet-stream
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Goog-Upload-Status:
      - active
      X-Goog-Upload-Url:
      - https://www.googleapis.com/upload/drive/v3/files/1T4CQkOyoGEnK94zxMOsP2y7F6DOr8CuHz1AF_lvmhS0?upload_id=AEnB2UrzL7XqvHcC9zL6QF3AqqpMzbLcXIT-nhZINSDqj0HtYXJbvowgYQ-IT9cQs6eJdac5_7p641WZh3oHVR3VvrPQ2psuSvh-XDM50xnEMfziZl97yqs&upload_protocol=resumable
      X-Goog-Upload-Control-Url:
      - https://www.googleapis.com/upload/drive/v3/files/1T4CQkOyoGEnK94zxMOsP2y7F6DOr8CuHz1AF_lvmhS0?upload_id=AEnB2UrzL7XqvHcC9zL6QF3AqqpMzbLcXIT-nhZINSDqj0HtYXJbvowgYQ-IT9cQs6eJdac5_7p641WZh3oHVR3VvrPQ2psuSvh-XDM50xnEMfziZl97yqs&upload_protocol=resumable
      X-Goog-Upload-Chunk-Granularity:
      - '262144'
      X-Goog-Upload-Header-Vary:
      - Origin
      - X-Origin
      X-Goog-Upload-Header-X-Google-Backends:
      - qvpb1:4072
      X-Goog-Upload-Header-X-Google-Session-Info:
      - CLrLzJuGFRoCGAY6fgoeZHJpdmUtZ2Vub2Etc2VydmVyLWFwaWFyeS1wcm9kEgVkcml2ZRiDqMHn7wUiSDIwMTgxMjEwNDE5NS1pcDNwN2xrcWE1N29lYm84NTkwZXJtZ2E3MjBpMW5uaC5hcHBzLmdvb2dsZXVzZXJjb250ZW50LmNvbTDxDjDvDkqYARKEAXlhMjkuR2wySEJwZkNhWWpsZ3Bfa3FGZ1JTeEpZOEFzbUxJbTQzNWo5d3prUGVjejZQV0k5UkJRQVotUGJoclFrTWx4Ul8zcHpTMk5qX01pRFpIQ3lmUHdpVXpmVWRCZkk5SEVVX0Ezd0xXZGRpNnliREduTmhHVllELWowa2xnRHI4ZzAEOg0xLzJNM1JHd3dWbFp-
      X-Goog-Upload-Header-Cache-Control:
      - no-cache, no-store, max-age=0, must-revalidate
      X-Goog-Upload-Header-Pragma:
      - no-cache
      X-Goog-Upload-Header-Expires:
      - Mon, 01 Jan 1990 00:00:00 GMT
      X-Goog-Upload-Header-Date:
      - Fri, 04 Jan 2019 16:04:54 GMT
      Content-Type:
      - text/html; charset=UTF-8
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Fri, 04 Jan 2019 16:04:54 GMT
- request:
    method: post
    uri: https://www.googleapis.com/upload/drive/v3/files/1T4CQkOyoGEnK94zxMOsP2y7F6DOr8CuHz1AF_lvmhS0?upload_id=AEnB2UrzL7XqvHcC9zL6QF3AqqpMzbLcXIT-nhZINSDqj0HtYXJbvowgYQ-IT9cQs6eJdac5_7p641WZh3oHVR3VvrPQ2psuSvh-XDM50xnEMfziZl97yqs&upload_protocol=resumable
    body:
      encoding: UTF-8
      string: new file content
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR TRACKING ACCOUNT>
      X-Goog-Upload-Command:
      - upload, finalize
      X-Goog-Upload-Offset:
      - '0'
      Content-Type:
      - application/octet-stream
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Goog-Upload-Status:
      - final
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "drive#file",
         "id": "1T4CQkOyoGEnK94zxMOsP2y7F6DOr8CuHz1AF_lvmhS0",
         "name": "Test File",
         "mimeType": "application/vnd.google-apps.document"
        }
  recorded_at: Fri, 04 Jan 2019 16:04:55 GMT
- request:
    method: patch
    uri: https://www.googleapis.com/drive/v3/files/1T4CQkOyoGEnK94zxMOsP2y7F6DOr8CuHz1AF_lvmhS0?fields=id,name,mimeType,parents,permissions,trashed,thumbnailLink,thumbnailVersion
    body:
      encoding: UTF-8
      string: '{"trashed":"true"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <ACCESS TOKEN FOR TRACKING ACCOUNT>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "id": "1T4CQkOyoGEnK94zxMOsP2y7F6DOr8CuHz1AF_lvmhS0",
         "name": "Test File",
         "mimeType": "application/vnd.google-apps.document",
         "trashed": true,
         "parents": [
          "1OBDRnb-LVRX9Xql5m5HtRjcR5iw-lQBO"
         ],
         "thumbnailLink": "https://docs.google.com/feeds/vt?gd=true&id=1T4CQkOyoGEnK94zxMOsP2y7F6DOr8CuHz1AF_lvmhS0&v=1&s=AMedNnoAAAAAXC-gTImVUddwBxNoevg5CKhxCBH9kPCm&sz=s220",
         "thumbnailVersion": "1",
         "permissions": [
          {
           "kind": "drive#permission",
           "id": "11673017242486491425",
           "type": "user",
           "emailAddress": "<EMAIL ADDRESS FOR TRACKING ACCOUNT>",
           "role": "owner",
           "displayName": "Upshift One",
           "deleted": false
          }
         ]
        }
  recorded_at: Fri, 04 Jan 2019 16:05:00 GMT
[...]
- request:
    method: delete
    uri: https://www.googleapis.com/drive/v3/files/1OBDRnb-LVRX9Xql5m5HtRjcR5iw-lQBO
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR TRACKING ACCOUNT>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 204
      message: No Content
    headers:
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Fri, 04 Jan 2019 16:05:01 GMT
recorded_with: VCR 4.0.0
