// Styling for ProfilesController

.c-file-infos {

  .page-subheading {

    // the file icon
    img {
      height: 1em;
      position: relative;
      top: 2px;
      width: auto;
    }

    // the actual heading
    span {
      display: block;
      padding-left: 1.3em;
    }
  }
}
