// Styling for ProfilesController

.c-folders {

  // show file info icon on hover
  .file:hover .info {
    display: block;
  }

  .file {
    // scss-lint:disable NestingDepth

    .info {
      height: 24px;
      margin-left: -24px;
      width: 24px;

      // on mobile and tablet, hide info icon by default
      @media #{$large-and-up} {
        display: none;
      }

      // black color for icon on hover
      &:hover {
        // scss-lint:disable ImportantRule
        color: color('shades', 'black') !important;
      }
    }

    // links should take up full width of column
    a:not(.info) {
      display: block;
    }

    // reduce opacity for deleted files
    &.changed.deleted {
      opacity: .5;
    }

    // bolden file name if file has been modified
    &.changed .file-name {
      font-weight: bold;
    }

    // specify positioning of indicators
    .indicators {
      top: -8px;
      width: 120px;
    }

    // for docs, sheets, and such, use different height & width settings
    &.document,
    &.spreadsheet,
    &.presentation,
    &.drawing,
    &.form {
      .indicators {
        top: 0;
        width: 90px;
      }
    }

    &.folder {
      .indicators {
        top: 4px;
        width: 114px;
      }
    }

  }

  // contains the various file indicators (modification, etc...)
  .indicators {

    display: block;
    height: 0;
    margin: auto;
    position: relative;
    text-align: left;
    z-index: 100;

    svg {
      border-radius: 100%;
      margin-right: 5px;
      padding: 4px;
    }
  }
}
