// Styling for ProfilesController

// Size of the picture on large screens
$picture-size-large: 150px;
// Size of the picture on tablets and mobile screens
$picture-size-small: 100px;


.c-profiles {
  .profile-picture {
    display: block;
    margin-bottom: - $picture-size-small / 2;
    position: relative;
    top: - $picture-size-small / 2;
    width: $picture-size-small;

    // Set dimensions for the actual image
    > img,
    > .img {
      height: $picture-size-small;
      width: $picture-size-small;
    }

    // Position the upload button
    .upload.btn {
      padding: 0 1rem;
      position: relative;
      top: $picture-size-large / 2 - 18px;
    }

    // Increase picture size on large screens
    @media #{$large-and-up} {
      margin-bottom: - $picture-size-large / 2;
      top: - $picture-size-large / 2;
      width: $picture-size-large;

      > img,
      > .img {
        height: $picture-size-large;
        width: $picture-size-large;
      }

      .upload.btn {
        top: $picture-size-large / 2 - 18px;
      }
    }
  }

  .social-links {
    a {
      display: inline-block;
      margin-left: 16px;
      margin-top: 16px;

      // scss-lint:disable SelectorDepth, NestingDepth
      &:hover svg {
        // scss-lint:disable ImportantRule
        background-color: color('shades', 'black') !important;
        color: color('shades', 'white') !important;
      }
    }

    svg {
      height: 32px;
      padding: 6px;
      width: 32px;
    }
  }

  // set explicit max-width on this element, so that we can show the optional
  // uncaptured changes indicator
  .project {
    .title {
      display: inline-block;
      max-width: calc(100% - 48px - 16px);
      vertical-align: top;
      width: auto;
    }

    .uncaptured-changes-indicator {
      border-radius: 100%;
      display: inline-block;
      height: 8px;
      margin-left: 8px;
      position: relative;
      top: -2px;
      vertical-align: middle;
      width: 8px;
    }
  }
}
