// Styling for ProfilesController

.c-profiles {
  .profile-picture {
    display: block;
    margin-bottom: -50px;
    position: relative;
    top: -50px;
    width: 100px;

    @media #{$large-and-up} {
      margin-bottom: -75px;
      top: -75px;
      width: 150px;
    }
  }
}
