// Styling for project setups

.file-import-count,
.file-import-count-description {
  display: inline-block;
}

.file-import-count {
  font-size: 400%;
  padding-right: 15px;
}

.file-import-count-description {
  padding-top: 15px;
}
