// Styling for RevisionsController
// Also shared by FileInfosController

.c-revisions,
.c-file-infos {

  .revision .title {
    line-height: 32px; // match line height of timestamp
    margin-bottom: 15px; // match p tag
  }

  .file-checkbox {
    // expand the height of the file wrapper to the height of its content
    // (overriding default height of checkbox labels)
    .file-wrapper {
      height: auto;
    }

    // files wrapper inside a checkbox need to be positioned up by 4px to
    // vertically align centrally with the checkbox
    .file {
      position: relative;
      top: -4px;
    }
  }

  .file {
    // scss-lint:disable NestingDepth

    margin-bottom: 2px;
    margin-top: 2px;

    // for desktop devices, show info button on hover
    &:hover {
      .options-on-hover {
        display: inline-block;
      }
    }

    .file-icon {
      float: left;
      height: 30px;
      width: 30px;
    }

    .file-name {
      display: block;
      line-height: 20px;
      // allow words to break within if they won't fit on a single line
      // otherwise
      overflow-wrap: break-word;
      // paddding left for the file icon
      padding: 5px 0 5px 35px;

      // padding right for the mobile/tablet file info button
      @media #{$medium-and-down} {
        padding-right: 30px;
      }
    }

    // hide options by default
    .options-on-hover {
      display: none;
    }

    a {
      color: inherit;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
