// Styling for StaticController

.c-static.a-index {

  $hero-darken-alpha: .35;
  $hero-darken-color: rgba(0, 0, 0, $hero-darken-alpha);

  // Set the height of body and main to 100% so that our #hero banner
  // automatically fills the full viewport height
  height: 100%;

  > main {
    height: 100%;
  }

  // Style signup form
  form input {
    border-radius: 5px;
  }

  // Full height banner on top
  .hero {
    // Background pattern
    background-image: image-url('static/desk.jpg');
    background-position: center center;
    background-repeat: no-repeat;

    // Scale background image to cover screen
    background-size: cover;

    // Vertical padding
    padding: 50px 0;

    // To enable absolute positioning of .hero-darken
    position: relative;

    // Fill viewport height (minus navbar)
    &.full-height {
      min-height: calc(100% - #{$navbar-height-mobile});

      @media #{$medium-and-up} {
        min-height: calc(100% - #{$navbar-height});
      }

    }
  }

  // Background darkener for cover image
  .hero-darken {
    background-color: $hero-darken-color;
    height: 100%;
    position: absolute;
    top: 0;
    width: 100%;
  }

  // Text on hero banner
  .hero-content {
    position: relative;

    .content-text-shadow {
      position: relative;
      // for text legibility
      text-shadow: 0 0 5px $black, 0 0 10px $black, 0 0 20px $black,
                   0 0 40px $black, 0 0 40px $black, 0 0 40px $black;
    }

    // overlay text again on top of text shadow to prevent shadow from
    // overlapping text
    .content-text {
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
    }
  }

  // Disable the default footer because it is not positioned correctly
  // We are instead adding our own under the <main> element
  > footer {
    display: none;
  }
}
