---
http_interactions:
- request:
    method: post
    uri: https://oauth2.googleapis.com/token
    body:
      encoding: ASCII-8BIT
      string: grant_type=refresh_token&refresh_token=<REFRESH TOKEN FOR TRACKING ACCOUNT>&client_id=<CLIENT
        ID>&client_secret=<CLIENT SECRET>
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "access_token": "<ACCESS TOKEN FOR TRACKING ACCOUNT>",
          "expires_in": 3600,
          "scope": "https://www.googleapis.com/auth/drive",
          "token_type": "Bearer"
        }
  recorded_at: Sun, 16 Dec 2018 20:44:36 GMT
- request:
    method: post
    uri: https://www.googleapis.com/drive/v3/files?fields=id,name,mimeType,parents,permissions,trashed,thumbnailLink,thumbnailVersion
    body:
      encoding: UTF-8
      string: '{"mimeType":"application/vnd.google-apps.folder","name":"Test @ 2018-12-16
        20:44:36 UTC","parents":["root"]}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <ACCESS TOKEN FOR TRACKING ACCOUNT>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "id": "1wVQgcyULE1OXn9NDYgg52Sd0ob0SK304",
         "name": "Test @ 2018-12-16 20:44:36 UTC",
         "mimeType": "application/vnd.google-apps.folder",
         "trashed": false,
         "parents": [
          "0AIeK5UAEPQfeUk9PVA"
         ],
         "thumbnailVersion": "0",
         "permissions": [
          {
           "kind": "drive#permission",
           "id": "11673017242486491425",
           "type": "user",
           "emailAddress": "<EMAIL ADDRESS FOR TRACKING ACCOUNT>",
           "role": "owner",
           "displayName": "Upshift One",
           "deleted": false
          }
         ]
        }
  recorded_at: Sun, 16 Dec 2018 20:44:37 GMT
[...]
- request:
    method: get
    uri: https://www.googleapis.com/drive/v3/files?fields=files/id,files/name,files/mimeType,files/parents,files/permissions,files/trashed,files/thumbnailLink,files/thumbnailVersion&q=%271zSkkZzYiApuYTfSZBriFG-xIhSF2vXQd%27%20in%20parents
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR TRACKING ACCOUNT>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "files": [
          {
           "id": "1rSbsBqP77VSiWzb5O09tb2qukf2i9wHs3TYpU8aVzAQ",
           "name": "Remote Subfile 2",
           "mimeType": "application/vnd.google-apps.document",
           "trashed": false,
           "parents": [
            "1zSkkZzYiApuYTfSZBriFG-xIhSF2vXQd"
           ],
           "thumbnailVersion": "0",
           "permissions": [
            {
             "kind": "drive#permission",
             "id": "11673017242486491425",
             "type": "user",
             "emailAddress": "<EMAIL ADDRESS FOR TRACKING ACCOUNT>",
             "role": "owner",
             "displayName": "Upshift One",
             "deleted": false
            }
           ]
          },
          {
           "id": "1aphgnA0etFeyOi90Zmh0OkVN_oPDgINH5XzU05Okio4",
           "name": "Remote Subfile 1",
           "mimeType": "application/vnd.google-apps.document",
           "trashed": false,
           "parents": [
            "1zSkkZzYiApuYTfSZBriFG-xIhSF2vXQd"
           ],
           "thumbnailVersion": "0",
           "permissions": [
            {
             "kind": "drive#permission",
             "id": "11673017242486491425",
             "type": "user",
             "emailAddress": "<EMAIL ADDRESS FOR TRACKING ACCOUNT>",
             "role": "owner",
             "displayName": "Upshift One",
             "deleted": false
            }
           ]
          }
         ]
        }
  recorded_at: Sun, 16 Dec 2018 20:44:42 GMT
- request:
    method: get
    uri: https://www.googleapis.com/drive/v3/files/1rSbsBqP77VSiWzb5O09tb2qukf2i9wHs3TYpU8aVzAQ?fields=id,name,mimeType,parents,permissions,trashed,thumbnailLink,thumbnailVersion
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR TRACKING ACCOUNT>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "id": "1rSbsBqP77VSiWzb5O09tb2qukf2i9wHs3TYpU8aVzAQ",
         "name": "Remote Subfile 2",
         "mimeType": "application/vnd.google-apps.document",
         "trashed": false,
         "parents": [
          "1zSkkZzYiApuYTfSZBriFG-xIhSF2vXQd"
         ],
         "thumbnailVersion": "0",
         "permissions": [
          {
           "kind": "drive#permission",
           "id": "11673017242486491425",
           "type": "user",
           "emailAddress": "<EMAIL ADDRESS FOR TRACKING ACCOUNT>",
           "role": "owner",
           "displayName": "Upshift One",
           "deleted": false
          }
         ]
        }
  recorded_at: Sun, 16 Dec 2018 20:44:42 GMT
- request:
    method: get
    uri: https://www.googleapis.com/drive/v3/files/1rSbsBqP77VSiWzb5O09tb2qukf2i9wHs3TYpU8aVzAQ/revisions/head
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR TRACKING ACCOUNT>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "drive#revision",
         "id": "1",
         "mimeType": "application/vnd.google-apps.document",
         "modifiedTime": "2018-12-16T20:44:41.007Z"
        }
  recorded_at: Sun, 16 Dec 2018 20:44:43 GMT
- request:
    method: get
    uri: https://www.googleapis.com/drive/v3/files/1aphgnA0etFeyOi90Zmh0OkVN_oPDgINH5XzU05Okio4?fields=id,name,mimeType,parents,permissions,trashed,thumbnailLink,thumbnailVersion
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR TRACKING ACCOUNT>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "id": "1aphgnA0etFeyOi90Zmh0OkVN_oPDgINH5XzU05Okio4",
         "name": "Remote Subfile 1",
         "mimeType": "application/vnd.google-apps.document",
         "trashed": false,
         "parents": [
          "1zSkkZzYiApuYTfSZBriFG-xIhSF2vXQd"
         ],
         "thumbnailVersion": "0",
         "permissions": [
          {
           "kind": "drive#permission",
           "id": "11673017242486491425",
           "type": "user",
           "emailAddress": "<EMAIL ADDRESS FOR TRACKING ACCOUNT>",
           "role": "owner",
           "displayName": "Upshift One",
           "deleted": false
          }
         ]
        }
  recorded_at: Sun, 16 Dec 2018 20:44:43 GMT
- request:
    method: get
    uri: https://www.googleapis.com/drive/v3/files/1aphgnA0etFeyOi90Zmh0OkVN_oPDgINH5XzU05Okio4/revisions/head
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR TRACKING ACCOUNT>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "drive#revision",
         "id": "1",
         "mimeType": "application/vnd.google-apps.document",
         "modifiedTime": "2018-12-16T20:44:39.015Z"
        }
  recorded_at: Sun, 16 Dec 2018 20:44:44 GMT
- request:
    method: delete
    uri: https://www.googleapis.com/drive/v3/files/1wVQgcyULE1OXn9NDYgg52Sd0ob0SK304
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR TRACKING ACCOUNT>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 204
      message: No Content
    headers:
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Sun, 16 Dec 2018 20:44:44 GMT
recorded_with: VCR 4.0.0
