// MaterializeCSS
@import 'materialize/components/color';
$primary-color: color('red', 'base');
$secondary-color: $primary-color;
$input-focus-color: color('grey', 'darken-4');
@import 'materialize';
@import 'fix_materialize';

@import 'shared';
@import 'color_scheme';
@import 'static';
