// Variable declarations go here

// The application's background color
$background-color: color('grey', 'lighten-4');

// The color of dividers
$divider-color: color('grey', 'lighten-2');

// The basic unit of Material Design
$base-unit: 16px;

// The color of shadow (e.g for seams and hover effects)
$shadow: rgba(0, 0, 0, .12);
