// Variable declarations go here

// The application's background color
$background-color: color('grey', 'lighten-4');

// The color of dividers
$divider-color: color('grey', 'lighten-2');

// The basic unit of Material Design
$base-unit: 16px;

// The color of shadow (e.g for seams and hover effects)
$shadow: rgba(0, 0, 0, .12);

// The color of light shadow (e.g. for seams on dark backgrounds)
$light-shadow: rgba(255, 255, 255, .12);

// Default transition
$input-transition: all .3s;

// Helper method for black color
$black: color('shades', 'black');
