---
http_interactions:
- request:
    method: post
    uri: https://www.googleapis.com/oauth2/v4/token
    body:
      encoding: ASCII-8BIT
      string: grant_type=refresh_token&refresh_token=<REFRESH TOKEN FOR TRACKING ACCOUNT>&client_id=<CLIENT
        ID>&client_secret=<CLIENT SECRET>
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "access_token": "<ACCESS TOKEN FOR TRACKING ACCOUNT>",
         "token_type": "Bearer",
         "expires_in": 3600
        }
  recorded_at: Thu, 15 Mar 2018 19:31:59 GMT
[...]
- request:
    method: post
    uri: https://www.googleapis.com/drive/v3/files?fields=id,name,mimeType,parents,trashed
    body:
      encoding: UTF-8
      string: '{"mimeType":"application/vnd.google-apps.folder","name":"Test @ 2018-03-15
        19:31:59 UTC","parents":["root"]}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <ACCESS TOKEN FOR USER ACCOUNT>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "id": "1H5czcytv9bvh1x_UW7WseEDv6ImfW4Ci",
         "name": "Test @ 2018-03-15 19:31:59 UTC",
         "mimeType": "application/vnd.google-apps.folder",
         "trashed": false,
         "parents": [
          "0AEIi2L68pCuiUk9PVA"
         ]
        }
  recorded_at: Thu, 15 Mar 2018 19:32:00 GMT
[...]
- request:
    method: get
    uri: https://www.googleapis.com/drive/v3/files/1__ytwmsRuUHTeCClwBXApZ30SVJG3kkF?fields=id,name,mimeType,parents,trashed
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR TRACKING ACCOUNT>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "error": {
          "errors": [
           {
            "domain": "global",
            "reason": "notFound",
            "message": "File not found: 1__ytwmsRuUHTeCClwBXApZ30SVJG3kkF.",
            "locationType": "parameter",
            "location": "fileId"
           }
          ],
          "code": 404,
          "message": "File not found: 1__ytwmsRuUHTeCClwBXApZ30SVJG3kkF."
         }
        }
  recorded_at: Thu, 15 Mar 2018 19:32:01 GMT
- request:
    method: delete
    uri: https://www.googleapis.com/drive/v3/files/1H5czcytv9bvh1x_UW7WseEDv6ImfW4Ci
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS TOKEN FOR USER ACCOUNT>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 204
      message: No Content
    headers:
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Thu, 15 Mar 2018 19:32:01 GMT
recorded_with: VCR 4.0.0
