= render partial: 'projects/head', object: @project, as: :project,
         locals: { active_tab: action_name == 'index' ? @discussion_type.pluralize.to_sym : nil }

= yield

= parent_layout 'application'
