= render partial: 'projects/head', object: @project, as: :project,
         locals: { \
           active_tab: [:new, :create].include?(action_name.to_sym) ? :files : :revisions,
           can_collaborate: @can_collaborate \
         }

= yield

= parent_layout 'application'
